Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tsc, frontend-eslint, frontend-prettier, backend-mypy, openapi-sync

.pre-commit-config.yaml:

# リポジトリ直下の .pre-commit-config.yaml
#
# 設計方針:
#   - pass_filenames: false でプロジェクト全体チェック（パス操作の罠を回避）
#   - npm run / uv run 経由でツール実行（環境依存を最小化）
#   - TypeScript型チェックをフロントエンドに追加（最重要）

repos:
  # --------------------------------------------------------------------------
  # Frontend Checks
  # --------------------------------------------------------------------------
  - repo: local
    hooks:
      # 1. TypeScript 型チェック（最重要: 論理的な型整合性）
      - id: frontend-tsc
        name: TypeScript Check (Frontend)
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      # 2. ESLint（コード品質・行儀作法）
      - id: frontend-eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint -- --fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        types: [file]
        pass_filenames: false

      # 3. Prettier（フォーマット・見た目）
      - id: frontend-prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # --------------------------------------------------------------------------
  # Backend Checks
  # --------------------------------------------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  - repo: local
    hooks:
      # 4. Mypy（型チェック）
      - id: backend-mypy
        name: Mypy (Backend)
        entry: bash -c 'cd backend && uv run mypy app/'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # --------------------------------------------------------------------------
  # Automation & Sync
  # --------------------------------------------------------------------------
  - repo: local
    hooks:
      # 5. OpenAPI Schema Sync
      # npm run fe:typegen 相当（frontend/package.json の typegen:full を使用）
      - id: openapi-sync
        name: OpenAPI Schema Sync
        entry: bash -c 'cd frontend && npm run typegen:full >/dev/null 2>&1 && git add ../backend/openapi.json src/types/api.d.ts'
        language: system
        files: ^backend/app/(presentation/(schemas|api/routes)|schemas)/.*\.py$
        pass_filenames: false

refactor: Phase 3 完了 - 超深度解体により ESLint 規約と型チェックを完全遵守
  frontend/eslint.config.js
  frontend/src/features/allocations/components/lots/LotAllocationHeader.tsx
  frontend/src/features/customers/components/CustomerActionDialogs.tsx
  frontend/src/features/customers/components/CustomerBulkActionBar.tsx
  frontend/src/features/customers/components/CustomerBulkDialogs.tsx
  frontend/src/features/customers/components/CustomerCreateImportDialogs.tsx
  frontend/src/features/customers/components/CustomerListFilters.tsx
  frontend/src/features/customers/components/CustomerListPageHeader.tsx
  frontend/src/features/customers/components/CustomerListStats.tsx
  frontend/src/features/customers/components/CustomerTableColumns.tsx
  frontend/src/features/customers/hooks/useCustomerListPage.ts
  frontend/src/features/customers/hooks/useCustomerListResources.ts
  frontend/src/features/customers/pages/CustomersListPage.tsx
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/types.ts
  frontend/src/features/orders/api.ts
  frontend/src/features/orders/hooks/useOrderLineComputed.ts
  frontend/src/features/orders/types.ts
Due: frontend-tsc, frontend-eslint, frontend-prettier

refactor: Phase 2 完了と CustomersListPage の究極スリム化
  frontend/eslint.config.js
  frontend/src/features/customers/components/CustomerDialogContainer.tsx
  frontend/src/features/customers/components/CustomerTableSection.tsx
  frontend/src/features/customers/pages/CustomersListPage.tsx
  frontend/src/features/inbound-plans/api.ts
  frontend/src/features/operation-logs/api.ts
  frontend/src/features/orders/api.ts
  frontend/src/features/orders/hooks/useOrderLineComputed.ts
Due: frontend-tsc, frontend-eslint, frontend-prettier

refactor: Phase 3 - SuppliersListPage の深度解体と規約適合化
  frontend/src/features/customers/components/CustomerDialogContainer.tsx
  frontend/src/features/customers/components/CustomerTableSection.tsx
  frontend/src/features/inbound-plans/api.ts
  frontend/src/features/operation-logs/api.ts
  frontend/src/features/suppliers/components/SupplierDialogContainer.tsx
  frontend/src/features/suppliers/components/SupplierTableColumns.tsx
  frontend/src/features/suppliers/components/SupplierTableSection.tsx
  frontend/src/features/suppliers/hooks/useSupplierListPage.ts
  frontend/src/features/suppliers/pages/SuppliersListPage.tsx
Due: frontend-tsc, frontend-eslint, frontend-prettier

refactor: Phase 3 - SuppliersListPage の深度解体完了 (80行制限遵守)
  frontend/eslint.config.js
  frontend/src/features/suppliers/components/SupplierBulkDialog.tsx
  frontend/src/features/suppliers/components/SupplierDialogContainer.tsx
  frontend/src/features/suppliers/hooks/useSupplierListPage.ts
  frontend/src/features/suppliers/hooks/useSupplierListResources.ts
Due: frontend-tsc, frontend-eslint, frontend-prettier

refactor: Phase 3 - WarehousesListPage の最終調整
  frontend/src/features/warehouses/components/WarehouseDialogContainer.tsx
  frontend/src/features/warehouses/components/WarehouseTableSection.tsx
  frontend/src/features/warehouses/hooks/useWarehouseListPage.ts
  frontend/src/features/warehouses/hooks/useWarehouseListResources.ts
  frontend/src/features/warehouses/pages/WarehousesListPage.tsx
  frontend/src/features/warehouses/pages/columns.tsx
Due: frontend-tsc, frontend-eslint, frontend-prettier

refactor: Phase 3 完了 - DSLint 緩和リストからの全削除完了
  frontend/eslint.config.js
Due: frontend-eslint, frontend-prettier

refactor: Phase 4 - DataTable.tsx の解体完了 (80行制限遵守)
  frontend/src/shared/components/data/DataTable.test.tsx
  frontend/src/shared/components/data/DataTable.tsx
  frontend/src/shared/components/data/DataTable/DataTableHeader.tsx
  frontend/src/shared/components/data/DataTable/DataTableRow.tsx
  frontend/src/shared/components/data/DataTable/DataTableStates.tsx
  frontend/src/shared/components/data/DataTable/DataTableToolbar.tsx
  frontend/src/shared/components/data/DataTable/useDataTable.ts
Due: frontend-tsc, frontend-eslint, frontend-prettier

style: フォーマット修正と軽微な改善の反映 (Supplier/Warehouse/DataTable)
  frontend/src/features/customers/components/CustomerDetailActions.tsx
  frontend/src/features/customers/components/CustomerDetailDialog.tsx
  frontend/src/features/customers/components/CustomerDetailView.tsx
  frontend/src/features/customers/hooks/useCustomerDetail.ts
  frontend/src/features/suppliers/components/SupplierBulkDialog.tsx
  frontend/src/features/suppliers/components/SupplierDialogContainer.tsx
  frontend/src/features/suppliers/hooks/useSupplierListPage.ts
  frontend/src/features/suppliers/hooks/useSupplierListResources.ts
  frontend/src/features/warehouses/components/WarehouseDialogContainer.tsx
  frontend/src/features/warehouses/components/WarehouseTableSection.tsx
  frontend/src/features/warehouses/hooks/useWarehouseListPage.ts
  frontend/src/features/warehouses/hooks/useWarehouseListResources.ts
  frontend/src/features/warehouses/pages/columns.tsx
  frontend/src/shared/components/data/DataTable.tsx
  frontend/src/shared/components/data/DataTable/DataTableHeader.tsx
  frontend/src/shared/components/data/DataTable/DataTableRow.tsx
  frontend/src/shared/components/data/DataTable/DataTableStates.tsx
  frontend/src/shared/components/data/DataTable/DataTableToolbar.tsx
  frontend/src/shared/components/data/DataTable/types.ts
  frontend/src/shared/components/data/DataTable/useDataTable.ts
Due: frontend-tsc, frontend-eslint, frontend-prettier

docs: バックログ更新とESLint緩和設定の現状反映 (44ファイル)
  docs/project/BACKLOG.md
  frontend/eslint.config.js
Due: frontend-eslint, frontend-prettier

fix(test-data): enforce jiku_code format (A123) and add baseline sql
  backend/app/application/services/test_data/masters.py
Due: backend-mypy

fix(schema): enforce non-empty jiku_code in delivery_places
  backend/alembic/versions/4f7c1b2d9eaa_enforce_non_empty_delivery_place_jiku_code.py
  backend/app/infrastructure/persistence/models/masters_models.py
Due: backend-mypy

fix(schema): remove nullable fallback from DeliveryPlace jiku_code response
  backend/app/presentation/schemas/masters/masters_schema.py
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: frontend-tsc, frontend-eslint, frontend-prettier, backend-mypy, openapi-sync

docs: add help page design and update backlog
  docs/project/BACKLOG.md
  docs/project/plans/help-markdown-rendering-design.md
Due: none

fix: 納入先マスタ jiku_code 必須化の最終仕上げ (1-B完了) (#559)
  backend/alembic/versions/4f7c1b2d9eaa_enforce_non_empty_delivery_place_jiku_code.py
  backend/app/application/services/test_data/masters.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/presentation/schemas/masters/masters_schema.py
  backend/openapi.json
  docs/project/BACKLOG.md
  docs/project/plans/help-markdown-rendering-design.md
  frontend/src/types/api.d.ts
Due: frontend-tsc, frontend-eslint, frontend-prettier, backend-mypy, openapi-sync

chore: 完了済みタスクをARCHIVE.mdへ移動
  docs/project/ARCHIVE.md
  docs/project/BACKLOG.md
Due: none

chore: 完了済みタスクをARCHIVE.mdへ移動 (#560)
  docs/project/ARCHIVE.md
  docs/project/BACKLOG.md
Due: none

feat: BACKLOG 3-0 後続タスクの遂行
  backend/app/application/services/smartread/admin_upload_service.py
  backend/app/application/services/smartread/completion_service.py
  backend/app/application/services/smartread/export_service.py
  backend/app/application/services/smartread/pad_runner_service.py
  backend/app/application/services/smartread/simple_sync_service.py
  backend/pyproject.toml
  backend/uv.lock
  docs/project/BACKLOG.md
  docs/project/plans/strictness-robustness-plan.md
  frontend/eslint.config.js
  frontend/lint_warnings.txt
  frontend/lint_warnings_2.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/allocations/hooks/state/useAutoSelection.ts
  frontend/src/features/customers/hooks/useCustomerListPage.ts
  frontend/src/features/inbound-plans/api.ts
  frontend/src/features/inventory/api.ts
  frontend/src/features/operation-logs/api.ts
  frontend/src/features/orders/api.ts
  frontend/src/features/orders/hooks/useOrderLineComputed.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: frontend-tsc, frontend-eslint, frontend-prettier, backend-mypy

chore: 一時ファイルを追跡から除外
  frontend/lint_warnings.txt
  frontend/lint_warnings_2.txt
Due: none

refactor: 共通UIコンポーネント (EditableCells, PageNotes) の抽出と適用
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/shared/components/data/EditableCells/index.tsx
  frontend/src/shared/components/data/PageNotes/index.tsx
  frontend/src/shared/utils/keyboard-navigation.ts
Due: frontend-tsc, frontend-eslint, frontend-prettier

refactor: MainRoutes.tsx を機能別ファイルに分割
  frontend/src/MainRoutes.tsx
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/routes/admin-routes.tsx
  frontend/src/routes/inventory-routes.tsx
  frontend/src/routes/master-routes.tsx
  frontend/src/routes/report-routes.tsx
  frontend/src/routes/rpa-routes.tsx
  frontend/src/shared/components/data/EditableCells/index.tsx
  frontend/src/shared/components/data/PageNotes/index.tsx
  frontend/src/shared/utils/keyboard-navigation.ts
Due: frontend-tsc, frontend-eslint, frontend-prettier

refactor: SystemSettingsPage.tsx のコンポーネント分割とロジックの抽出
  frontend/src/features/admin/components/system-settings/DiagnosticsSection.tsx
  frontend/src/features/admin/components/system-settings/SettingSection.tsx
  frontend/src/features/admin/constants/settings.ts
  frontend/src/features/admin/hooks/useSystemSettings.ts
  frontend/src/features/admin/pages/SystemSettingsPage.tsx
Due: frontend-tsc, frontend-eslint, frontend-prettier

fix: DataTable の仮想化行に data-index を追加し、警告を解消
  frontend/src/features/admin/components/system-settings/DiagnosticsSection.tsx
  frontend/src/features/admin/components/system-settings/SettingSection.tsx
  frontend/src/shared/components/data/DataTable/DataTableRow.tsx
Due: frontend-tsc, frontend-eslint, frontend-prettier

refactor: MasterPageTemplate を導入し、マスタ一覧ページ (仕入先、倉庫、メーカー) を共通化
  frontend/src/features/makers/pages/MakersPage.tsx
  frontend/src/features/suppliers/components/SupplierTableSection.tsx
  frontend/src/features/suppliers/pages/SuppliersListPage.tsx
  frontend/src/features/warehouses/components/WarehouseTableSection.tsx
  frontend/src/features/warehouses/pages/WarehousesListPage.tsx
  frontend/src/shared/components/layout/MasterPageTemplate.tsx
  frontend/src/shared/components/layout/PageHeader.tsx
Due: frontend-tsc, frontend-eslint, frontend-prettier

fix: 統計カードのレイアウト崩れ（文字の縦揺れ）を修正し、視認性を向上
  frontend/src/features/makers/components/MakerStats.tsx
  frontend/src/features/suppliers/pages/SuppliersListPage.tsx
  frontend/src/features/warehouses/pages/styles.ts
  frontend/src/shared/components/layout/MasterPageTemplate.tsx
Due: frontend-tsc, frontend-eslint, frontend-prettier

refactor: ExcelViewPage.tsx を分割リファクタリング (useExcelView, Header, Dialogs, Utils)
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/components/ExcelViewDialogs.tsx
  frontend/src/features/inventory/components/excel-view/components/ExcelViewHeader.tsx
  frontend/src/features/inventory/components/excel-view/hooks/useExcelView.ts
  frontend/src/features/inventory/components/excel-view/utils/destination-utils.ts
Due: frontend-tsc, frontend-eslint, frontend-prettier

fix: リファクタリング後のインポートパス不整合と exactOptionalPropertyTypes による型エラーを修正
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/components/ExcelViewDialogs.tsx
  frontend/src/features/inventory/components/excel-view/hooks/useExcelView.ts
Due: frontend-tsc, frontend-eslint, frontend-prettier

docs: ExcelView の在庫計算に関する不備をバックログに追加
  docs/project/BACKLOG.md
Due: none

fix: デバッグロガーを console.debug から既存の logInfo に統一
  frontend/package-lock.json
  frontend/src/MainRoutes.tsx
  frontend/src/features/admin/components/system-settings/DiagnosticsSection.tsx
  frontend/src/features/admin/components/system-settings/SettingSection.tsx
  frontend/src/features/admin/constants/settings.ts
  frontend/src/features/admin/hooks/useSystemSettings.ts
  frontend/src/features/admin/pages/SystemSettingsPage.tsx
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/components/ExcelViewDialogs.tsx
  frontend/src/features/inventory/components/excel-view/components/ExcelViewHeader.tsx
  frontend/src/features/inventory/components/excel-view/hooks/useExcelView.ts
  frontend/src/features/inventory/components/excel-view/utils/destination-utils.ts
  frontend/src/features/makers/hooks/useMakersPageModel.ts
  frontend/src/features/makers/pages/MakersPage.tsx
  frontend/src/features/suppliers/components/SupplierBulkDialog.tsx
  frontend/src/features/suppliers/components/SupplierDialogContainer.tsx
  frontend/src/features/suppliers/hooks/useSupplierListPage.ts
  frontend/src/features/suppliers/hooks/useSupplierListResources.ts
  frontend/src/features/suppliers/pages/SuppliersListPage.tsx
  frontend/src/features/warehouses/components/WarehouseDialogContainer.tsx
  frontend/src/features/warehouses/hooks/useWarehouseListPage.ts
  frontend/src/features/warehouses/hooks/useWarehouseListResources.ts
  frontend/src/features/warehouses/pages/WarehousesListPage.tsx
  frontend/src/hooks/ui/useMasterBulkActions.ts
  frontend/src/hooks/ui/useMasterListPage.ts
  frontend/src/routes/admin-routes.tsx
  frontend/src/routes/inventory-routes.tsx
  frontend/src/routes/master-routes.tsx
  frontend/src/routes/report-routes.tsx
  frontend/src/routes/rpa-routes.tsx
  frontend/src/shared/components/data/DataTable/DataTableRow.tsx
  frontend/src/shared/components/layout/MasterBulkDialog.tsx
  frontend/src/shared/components/layout/MasterDialogContainer.tsx
  frontend/src/shared/components/layout/MasterPageTemplate.tsx
Due: frontend-tsc, frontend-eslint, frontend-prettier

refactor: フロントエンドのコード品質向上とLint/型エラー修正
  frontend/src/factories/order-factory.ts
  frontend/src/features/intake-history/components/IntakeHistoryCalendar.tsx
  frontend/src/features/intake-history/components/IntakeHistoryCalendarCell.tsx
  frontend/src/features/intake-history/components/IntakeHistoryColumns.tsx
  frontend/src/features/intake-history/components/IntakeHistoryList.tsx
  frontend/src/features/intake-history/hooks/useIntakeCalendarLogic.ts
  frontend/src/features/intake-history/hooks/useIntakeTable.ts
  frontend/src/features/inventory/components/excel-view/hooks/useExcelView.ts
  frontend/src/shared/components/data/DataTable.tsx
  frontend/src/shared/components/data/DataTable/useDataTable.ts
  frontend/src/shared/components/layout/MasterDialogContainer.tsx
  frontend/src/shared/libs/normalize.ts
Due: frontend-tsc, frontend-eslint, frontend-prettier

refactor: フロントエンド共通化Part1 - InboundPlans分割・共通コンポーネント抽出
  frontend/src/features/inbound-plans/api.ts
  frontend/src/features/inbound-plans/components/InboundPlansFilter.tsx
  frontend/src/features/inbound-plans/components/InboundPlansList.tsx
  frontend/src/features/inbound-plans/components/columns.tsx
  frontend/src/features/inbound-plans/hooks/index.ts
  frontend/src/features/inbound-plans/hooks/useInboundPlansFilterLogic.ts
  frontend/src/features/inbound-plans/hooks/useInboundPlansListPage.ts
  frontend/src/features/inbound-plans/pages/InboundPlansListPage.tsx
  frontend/src/features/inbound-plans/types.ts
  frontend/src/features/operation-logs/api.ts
  frontend/src/features/orders/api.ts
  frontend/src/features/orders/hooks/orderLineUtils.ts
  frontend/src/features/orders/hooks/useOrderLineComputed.ts
  frontend/src/shared/components/data/DataTable.tsx
  frontend/src/shared/components/data/DataTable/useDataTable.ts
  frontend/src/shared/components/feedback/QueryErrorFallback.tsx
  frontend/src/shared/components/layout/MasterPageTable.tsx
  frontend/src/shared/components/layout/MasterPageTemplate.tsx
  frontend/src/shared/components/layout/MasterPageToolbar.tsx
  frontend/src/shared/components/layout/PageHeader.tsx
  frontend/src/shared/libs/url-utils.ts
  frontend/src/shared/types/aliases.ts
Due: frontend-tsc, frontend-eslint, frontend-prettier

fix: MasterChangeLogResponse の validation_alias 欠落を修正
  backend/app/presentation/schemas/system/operation_logs_schema.py
Due: backend-mypy, openapi-sync

docs: BACKLOG更新 - 1-A完了、3-4型定義タスク追加、完了ドキュメントをアーカイブ
  docs/archive/README.md
  docs/archive/backlog/SUPPRESSION_RESOLUTION_ROUND3.md
  docs/archive/backlog/strictness-robustness-plan.md
  docs/project/BACKLOG.md
Due: none

chore: Gemini作業一時ファイルを追跡から除外
  .gitignore
  frontend/tsc_errors.txt
  frontend/tsc_errors_round10.txt
  frontend/tsc_errors_round11.txt
  frontend/tsc_errors_round12.txt
  frontend/tsc_errors_round13.txt
  frontend/tsc_errors_round14.txt
  frontend/tsc_errors_round2.txt
  frontend/tsc_errors_round3.txt
  frontend/tsc_errors_round4.txt
  frontend/tsc_errors_round5.txt
  frontend/tsc_errors_round6.txt
  frontend/tsc_errors_round7.txt
  frontend/tsc_errors_round8.txt
  frontend/tsc_errors_round9.txt
  frontend/tsc_output_round15.txt
Due: none

fix: 循環依存2件を解消（CI madge チェック対応）
  frontend/src/features/inbound-plans/hooks/index.ts
  frontend/src/features/inbound-plans/hooks/useInboundPlansHooks.ts
  frontend/src/features/inbound-plans/hooks/useInboundPlansListPage.ts
  frontend/src/features/orders/hooks/orderLineUtils.ts
  frontend/src/features/orders/hooks/useOrderLineComputed.ts
Due: frontend-tsc, frontend-eslint, frontend-prettier

chore: 循環依存チェックをpre-commitフックに追加
  .pre-commit-config.yaml
  frontend/package.json
  package.json
Due: frontend-prettier
