Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

.pre-commit-config.yaml:

# リポジトリ直下の .pre-commit-config.yaml
repos:
  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true

      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

  # Backend - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend - Mypy (Type Check)
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (Backend)
        entry: bash -c 'cd backend && uv run mypy app/' --
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # OpenAPI Schema Sync - regenerate when backend schemas change
  - repo: local
    hooks:
      - id: openapi-sync
        name: OpenAPI Schema Sync
        entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
        language: system
        files: ^backend/app/presentation/schemas/.*\.py$
        pass_filenames: false

feat(rpa): implement smartread watch folder and remove request_type
  backend/alembic/versions/fe8a7a830d22_remove_smartread_request_type.py
  backend/app/application/services/smartread/smartread_service.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/infrastructure/smartread/client.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/smartread_schema.py
  backend/openapi.json
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadSettingsModal.test.tsx
  frontend/src/features/rpa/smartread/components/SmartReadSettingsModal.tsx
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix(rpa): move rpa system settings to material delivery note page
  frontend/src/features/rpa/material-delivery-note/pages/MaterialDeliveryNotePage.tsx
  frontend/src/features/rpa/pages/RPAPage.tsx
Due: prettier, eslint

refactor(rpa): lazy load rpa settings to prevent immediate api calls
  frontend/src/features/rpa/components/RpaSettingsModal.tsx
Due: prettier, eslint

fix(ui): resolve console errors and warnings in dashboard and lists
  backend/app/presentation/api/routes/__init__.py
  frontend/src/features/dashboard/components/TopProductsChart.tsx
  frontend/src/features/inbound-plans/components/InboundPlansList.tsx
Due: prettier, eslint, mypy

fix(ui): ensure definite height for dashboard charts to fix warnings and visibility
  frontend/src/features/dashboard/components/TopProductsChart.tsx
  frontend/src/features/dashboard/components/WarehouseDistributionChart.tsx
Due: prettier, eslint

fix(ui): suppress recharts warnings with minWidth/minHeight props
  frontend/src/features/dashboard/components/InventoryTrendChart.tsx
  frontend/src/features/dashboard/components/TopProductsChart.tsx
  frontend/src/features/dashboard/components/WarehouseDistributionChart.tsx
Due: prettier, eslint

feat(db): B案DBマイグレーション - Phase1-5
  backend/alembic/versions/b1_prep_short_names.py
  backend/alembic/versions/b2_lot_master_tables.py
  backend/alembic/versions/b3_lot_receipts_rename.py
  backend/alembic/versions/b4_data_migration.py
  backend/alembic/versions/b5_refresh_views.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/lot_master_model.py
  backend/app/infrastructure/persistence/models/lot_receipt_models.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/infrastructure/persistence/models/missing_mapping_model.py
  backend/app/infrastructure/persistence/models/withdrawal_line_model.py
  backend/app/infrastructure/persistence/models/withdrawal_models.py
Due: mypy

fix(migration): down_revisionを正しいhead(29360a34fdee)に修正
  backend/alembic/versions/b1_prep_short_names.py
  backend/alembic/versions/b2_lot_master_tables.py
  backend/alembic/versions/b3_lot_receipts_rename.py
  backend/alembic/versions/b4_data_migration.py
  backend/alembic/versions/b5_refresh_views.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/lot_receipt_models.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/infrastructure/persistence/models/withdrawal_models.py
Due: mypy

fix(migration): Phase 5ビューSQLの曖昧なカラム参照を修正
  backend/alembic/versions/b5_refresh_views.py
Due: mypy

Fix backend tests for LotReceipt migration: Add LotMaster linkage and update views (skip-checks)
  backend/alembic/versions/b5_refresh_views.py
  backend/app/application/services/allocations/cancel.py
  backend/app/application/services/allocations/confirm.py
  backend/app/application/services/batch/inventory_sync_service.py
  backend/app/application/services/inventory/inbound_receiving_service.py
  backend/app/application/services/inventory/inventory_service.py
  backend/app/application/services/inventory/lot_reservation_service.py
  backend/app/application/services/orders/order_service.py
  backend/app/application/services/rpa/orchestrator.py
  backend/app/application/services/test_data/inventory.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/inbound_models.py
  backend/app/infrastructure/persistence/models/inventory_models.py
  backend/app/infrastructure/persistence/models/lot_receipt_models.py
  backend/app/infrastructure/persistence/models/lot_reservations_model.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/infrastructure/persistence/models/withdrawal_models.py
  backend/app/infrastructure/persistence/repositories/rpa_repository.py
  backend/app/presentation/api/routes/allocations/allocations_router.py
  backend/sql/views/create_views.sql
  backend/tests/api/test_adjustments.py
  backend/tests/api/test_allocation_suggestions.py
  backend/tests/api/test_allocations.py
  backend/tests/api/test_inventory_sync_api.py
  backend/tests/api/test_lots.py
  backend/tests/api/test_multi_lot_allocation.py
  backend/tests/api/v2/test_inventory_api_v2.py
  backend/tests/api/v2/test_lot_api_v2.py
  backend/tests/db_utils.py
  backend/tests/integration/admin/test_bulk_export_integration.py
  backend/tests/services/test_adjustment_service.py
  backend/tests/services/test_customer_deletion.py
  backend/tests/services/test_inventory_service.py
  backend/tests/services/test_inventory_sync_service.py
  backend/tests/services/test_lot_service.py
  backend/tests/test_allocation_suggestions_v2.py
  backend/tests/test_allocations_refactored.py
  backend/tests/test_order_auto_allocation.py
Due: mypy

fix: resolve Lot to LotReceipt migration references in backend models and tests
  backend/app/application/services/inventory/inbound_receiving_service.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/inbound_models.py
  backend/app/infrastructure/persistence/models/inventory_models.py
  backend/app/infrastructure/persistence/models/lot_receipt_models.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/infrastructure/persistence/models/withdrawal_models.py
  backend/app/presentation/api/routes/admin/admin_healthcheck_router.py
  backend/tests/api/test_inventory_sync_api.py
  backend/tests/api/test_multi_lot_allocation.py
  backend/tests/api/v2/test_inventory_api_v2.py
  backend/tests/api/v2/test_lot_api_v2.py
  backend/tests/integration/admin/test_bulk_export_integration.py
  backend/tests/services/test_inventory_sync_service.py
  backend/tests/test_allocation_suggestions_v2.py
  backend/tests/test_allocations_refactored.py
Due: mypy

feat(inventory): add 'My Suppliers Only' filter and 'Reset Filter' UI
  backend/app/application/services/inventory/inventory_service.py
  backend/app/presentation/api/v2/inventory/router.py
  backend/tests/services/test_inventory_service_primary_staff.py
  backend/tests/services/test_lot_service_list_lots.py
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/hooks/useInventoryPageState.ts
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/inventory/state.ts
Due: prettier, eslint, mypy

chore: fix static analysis errors in inventory service and bulk export
  backend/app/application/services/inventory/inventory_service.py
  backend/app/presentation/api/routes/admin/bulk_export_router.py
Due: mypy

chore: formatting
  backend/app/infrastructure/persistence/models/inventory_models.py
  backend/app/presentation/api/routes/admin/admin_healthcheck_router.py
Due: mypy

chore: merge alembic heads
  backend/alembic/versions/d8f000e7240b_merge_heads.py
Due: mypy

feat: UI/UX gap filling - mutual filtering, date picker, calendar history, auto customer selection
  backend/alembic/versions/000000000000_initial_schema.py
  backend/app/application/services/inventory/inventory_service.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/application/services/test_data/masters.py
  backend/app/application/services/test_data_generator.py
  backend/app/presentation/api/routes/inventory/withdrawals_router.py
  backend/app/presentation/api/v2/__init__.py
  backend/app/presentation/api/v2/inventory/router.py
  backend/app/presentation/api/v2/withdrawals/default_destination_router.py
  backend/app/presentation/schemas/inventory/filter_options_schema.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/app/presentation/schemas/inventory/withdrawal_schema.py
  backend/tests/api/test_inventory_sync_api.py
  backend/tests/services/test_lot_service_list_lots.py
  backend/tests/services/test_order_validation.py
  frontend/src/components/ui/date-picker.tsx
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/components/StatCard.tsx
  frontend/src/features/inventory/hooks/useFilterOptions.ts
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/withdrawals/api.ts
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.tsx
  frontend/src/features/withdrawals/components/WithdrawalBasicInfo.tsx
  frontend/src/shared/components/data/DataTable.tsx
Due: prettier, eslint, mypy, openapi-sync

fix(mypy): reduce mypy errors from 53 to 26 (~50% reduction)
  backend/app/application/services/allocations/fefo.py
  backend/app/application/services/common/soft_delete_utils.py
  backend/app/application/services/inventory/inventory_service.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/domain/allocation/calculator.py
  backend/app/infrastructure/rpa/flow_client.py
  backend/app/infrastructure/smartread/client.py
Due: mypy

fix(ci): fix frontend lint and backend mypy errors
  backend/app/application/services/admin/operation_logs_service.py
  backend/app/application/services/allocations/suggestion.py
  backend/app/application/services/common/base_service.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/application/services/masters/products_service.py
  backend/app/infrastructure/persistence/models/lot_receipt_models.py
  backend/app/infrastructure/persistence/repositories/allocation_repository.py
  backend/app/presentation/schemas/masters/products_schema.py
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint, mypy, openapi-sync

fix(backend): correct syntax error and missing imports
  backend/app/application/services/allocations/suggestion.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/infrastructure/persistence/models/lot_receipt_models.py
Due: mypy

fix(backend,frontend): resolve all remaining mypy errors and frontend lint warnings (formatted)
  backend/app/application/services/admin/operation_logs_service.py
  backend/app/application/services/allocations/auto.py
  backend/app/application/services/cloud_flow_service.py
  backend/app/application/services/common/export_service.py
  backend/app/application/services/common/relation_check_service.py
  backend/app/application/services/inventory/inbound_receiving_service.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/application/services/master_import/import_service.py
  backend/app/infrastructure/persistence/models/product_supplier_models.py
  backend/app/infrastructure/persistence/repositories/allocation_repository.py
  backend/app/presentation/api/routes/allocations/allocations_router.py
  backend/app/presentation/api/routes/masters/product_mappings_router.py
  backend/app/presentation/api/routes/masters/products_router.py
  backend/app/presentation/api/v2/allocation/router.py
  frontend/src/features/rpa/smartread/components/SmartReadSettingsModal.tsx
Due: prettier, eslint, mypy

fix(backend,frontend): fix ruff import order and vitest mock for quick withdrawal
  backend/app/infrastructure/persistence/models/__init__.py
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.test.tsx
Due: prettier, eslint, mypy

fix(backend): resolve all remaining ruff errors in utility scripts and models (formatted)
  backend/alembic/versions/d8f000e7240b_merge_heads.py
  backend/tests/services/test_inventory_service_primary_staff.py
  backend/verify_bulk_export.py
  backend/verify_db_schema.py
  backend/verify_list_lots.py
Due: mypy

style(backend): apply ruff format to app directory
  backend/app/application/services/allocations/suggestion.py
  backend/app/application/services/common/soft_delete_utils.py
  backend/app/application/services/inventory/inventory_service.py
  backend/app/infrastructure/rpa/flow_client.py
Due: mypy

feat: 入庫履歴機能を追加
  backend/app/application/services/inventory/intake_history_service.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/inventory/__init__.py
  backend/app/presentation/api/routes/inventory/intake_history_router.py
  backend/app/presentation/schemas/inventory/intake_history_schema.py
  frontend/src/features/intake-history/api.ts
  frontend/src/features/intake-history/components/IntakeHistoryCalendar.tsx
  frontend/src/features/intake-history/components/IntakeHistoryList.tsx
  frontend/src/features/intake-history/components/index.ts
  frontend/src/features/intake-history/hooks/index.ts
  frontend/src/features/intake-history/hooks/useIntakeHistory.ts
  frontend/src/features/intake-history/index.ts
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/inventory/state.ts
Due: prettier, eslint, mypy, openapi-sync

fix: ロット作成時にStockHistory INBOUNDレコードを作成
  backend/app/application/services/inventory/lot_service.py
  docs/tasks/INTAKE_HISTORY_INVESTIGATION.md
  frontend/src/features/inventory/pages/InventoryPage.tsx
Due: prettier, eslint, mypy

fix: 入庫履歴・出庫履歴ボタンをアイコンから文字列表示に変更
  frontend/src/features/inventory/pages/InventoryPage.tsx
Due: prettier, eslint

feat: 既存ロットの入庫履歴をバックフィルするマイグレーション追加
  backend/alembic/versions/z4a5b6c7d8e9_backfill_stock_history_inbound.py
Due: mypy

feat: 在庫詳細への入庫履歴の追加、DataTableのキー重複修正、AI-OCRページとクライアントログのUI改善 (Formatting込)
  backend/alembic/versions/26bb6924c845_merge_stock_history_backfill.py
  backend/alembic/versions/3762f908f9df_fix_v_lot_details_received_quantity_.py
  backend/alembic/versions/f1e2d3c4b5a6_refresh_views.py
  backend/alembic/versions/z4a5b6c7d8e9_backfill_stock_history_inbound.py
  frontend/src/features/client-logs/components/ClientLogDetailDialog.tsx
  frontend/src/features/client-logs/pages/ClientLogsPage.tsx
  frontend/src/features/intake-history/components/IntakeHistoryList.tsx
  frontend/src/features/inventory/components/LotTable.tsx
  frontend/src/features/inventory/pages/InventoryItemDetailPage.tsx
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  frontend/src/features/withdrawals/components/WithdrawalHistoryList.tsx
Due: prettier, eslint, mypy

feat(withdrawals): implement quick mapping setup dialog and fix default destination API path
  backend/app/presentation/api/v2/__init__.py
  backend/app/presentation/api/v2/withdrawals/default_destination_router.py
  frontend/src/features/withdrawals/api.ts
  frontend/src/features/withdrawals/components/QuickMappingSetupDialog.tsx
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.tsx
Due: prettier, eslint, mypy

test(frontend): add warning to sonner toast mocks to fix CI failure
  frontend/src/features/allocations/components/ReservationCancelDialog.test.tsx
  frontend/src/features/rpa/material-delivery-note/hooks/hooks.test.tsx
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.test.tsx
  frontend/src/features/withdrawals/components/WithdrawalCancelDialog.test.tsx
Due: prettier, eslint

fix(frontend): lint and format intake-history
  frontend/src/features/intake-history/api.ts
  frontend/src/features/intake-history/components/IntakeHistoryCalendar.tsx
  frontend/src/features/intake-history/hooks/useIntakeHistory.ts
Due: prettier, eslint

style(frontend): run prettier format to fix CI
  frontend/src/features/inventory/pages/InventoryPage.tsx
Due: prettier, eslint

feat(withdrawals): implement quick mapping setup dialog and fix default destination API path (#410)
  backend/alembic/versions/26bb6924c845_merge_stock_history_backfill.py
  backend/alembic/versions/3762f908f9df_fix_v_lot_details_received_quantity_.py
  backend/alembic/versions/f1e2d3c4b5a6_refresh_views.py
  backend/alembic/versions/z4a5b6c7d8e9_backfill_stock_history_inbound.py
  backend/app/application/services/inventory/intake_history_service.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/inventory/__init__.py
  backend/app/presentation/api/routes/inventory/intake_history_router.py
  backend/app/presentation/api/v2/__init__.py
  backend/app/presentation/api/v2/withdrawals/default_destination_router.py
  backend/app/presentation/schemas/inventory/intake_history_schema.py
  docs/tasks/INTAKE_HISTORY_INVESTIGATION.md
  frontend/src/features/allocations/components/ReservationCancelDialog.test.tsx
  frontend/src/features/client-logs/components/ClientLogDetailDialog.tsx
  frontend/src/features/client-logs/pages/ClientLogsPage.tsx
  frontend/src/features/intake-history/api.ts
  frontend/src/features/intake-history/components/IntakeHistoryCalendar.tsx
  frontend/src/features/intake-history/components/IntakeHistoryList.tsx
  frontend/src/features/intake-history/components/index.ts
  frontend/src/features/intake-history/hooks/index.ts
  frontend/src/features/intake-history/hooks/useIntakeHistory.ts
  frontend/src/features/intake-history/index.ts
  frontend/src/features/inventory/components/LotTable.tsx
  frontend/src/features/inventory/pages/InventoryItemDetailPage.tsx
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/inventory/state.ts
  frontend/src/features/rpa/material-delivery-note/hooks/hooks.test.tsx
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  frontend/src/features/withdrawals/api.ts
  frontend/src/features/withdrawals/components/QuickMappingSetupDialog.tsx
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.test.tsx
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.tsx
  frontend/src/features/withdrawals/components/WithdrawalCancelDialog.test.tsx
  frontend/src/features/withdrawals/components/WithdrawalHistoryList.tsx
Due: prettier, eslint, mypy, openapi-sync

Fix lot receipts fallback in stock history backfill
  backend/alembic/versions/z4a5b6c7d8e9_backfill_stock_history_inbound.py
  backend/app/presentation/api/v2/withdrawals/default_destination_router.py
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.tsx
  frontend/src/services/api/lot-service.ts
Due: prettier, eslint, mypy

fix: Add missing allocated_quantity and locked_quantity fields to QuickLotIntakeDialog
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
Due: prettier, eslint

fix(backend): Resolve migration errors in backfill and view creation
  backend/alembic/versions/f1e2d3c4b5a6_refresh_views.py
  backend/alembic/versions/z4a5b6c7d8e9_backfill_stock_history_inbound.py
Due: mypy

fix(frontend): Resolve lint errors and refactor QuickLotIntakeDialog to pass CI
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
  frontend/src/features/inventory/components/forms/ExistingLotIntakeForm.tsx
  frontend/src/features/inventory/components/forms/NewLotIntakeForm.tsx
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.tsx
Due: prettier, eslint

Backfill migration fallback + quick lot intake UI, stock-movement API, and missing-mapping recording (#411)
  backend/alembic/versions/f1e2d3c4b5a6_refresh_views.py
  backend/alembic/versions/z4a5b6c7d8e9_backfill_stock_history_inbound.py
  backend/app/presentation/api/v2/withdrawals/default_destination_router.py
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
  frontend/src/features/inventory/components/forms/ExistingLotIntakeForm.tsx
  frontend/src/features/inventory/components/forms/NewLotIntakeForm.tsx
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.tsx
  frontend/src/services/api/lot-service.ts
Due: prettier, eslint, mypy
