Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

prettier:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
  language: system
  pass_filenames: true

mypy:
  name: Mypy (Backend)
  entry: bash -c 'cd backend && uv run mypy app/' --
  language: system
  pass_filenames: false

openapi-sync:
  name: OpenAPI Schema Sync
  entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
  ...

feat: 通知機能の実装
  backend/alembic/versions/4c8a76985218_create_notification_table.py
  backend/app/application/services/notification_service.py
  backend/app/application/services/smartread/simple_sync_service.py
  backend/app/application/services/smartread/watch_service.py
  backend/app/infrastructure/persistence/models/notification_model.py
  backend/app/infrastructure/persistence/repositories/notification_repository.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/notification_router.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/notification_schema.py
  backend/openapi.json
  backend/tests/api/test_notifications.py
  backend/tests/conftest.py
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/features/notifications/api/index.ts
  frontend/src/features/notifications/components/NotificationBell.tsx
  frontend/src/features/notifications/components/index.ts
  frontend/src/features/notifications/hooks/useNotifications.ts
  frontend/src/features/notifications/types.ts
  frontend/src/shared/api/http-client.ts
  frontend/src/types/api.d.ts
  frontend/vite.config.ts
Due: prettier, eslint, mypy, openapi-sync

Show SmartRead job steps progress
  frontend/src/features/rpa/smartread/components/SmartReadImportTab.tsx
  frontend/src/features/rpa/smartread/components/SmartReadPadRunStatusList.tsx
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  frontend/src/features/rpa/smartread/utils/pad-run-steps.ts
Due: prettier, eslint

Expose SmartRead test button and gate notifications
  frontend/src/features/notifications/hooks/useNotifications.ts
  frontend/src/features/rpa/smartread/components/SmartReadImportTab.tsx
Due: prettier, eslint

fix: 通知機能の修正とSmartReadテスト完了通知の実装
  backend/app/presentation/api/routes/notification_router.py
  backend/openapi.json
  frontend/src/features/notifications/api/index.ts
  frontend/src/features/notifications/hooks/useNotifications.ts
  frontend/src/features/rpa/smartread/components/SmartReadImportTab.tsx
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

fix: 通知API接続エラーの根本原因を修正とUIの改善
  docker-compose.yml
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  frontend/vite.config.ts
Due: prettier, eslint

docs: 開発環境の統一と改善をバックログに追加 (優先度: 高)
  docs/project/BACKLOG.md
Due: none

fix: .envファイルがDockerコンテナに混入する問題を修正
  .gitignore
  frontend/.dockerignore
  frontend/.gitignore
Due: none

Add progress tracking design for material delivery
  docs/material-delivery-note-progress-tracking.md
Due: none

fix: 通知API接続エラー（ERR_NAME_NOT_RESOLVED）を修正
  backend/app/presentation/api/routes/assignments/assignment_router.py
  backend/app/presentation/api/routes/notification_router.py
  docs/rpa/material-delivery-progress-tracking-usage.md
  docs/troubleshooting/notification-api-error.md
  frontend/src/features/masters/hooks/useMasterImport.ts
  frontend/src/features/rpa/material-delivery-note/components/MaterialDeliveryRunProgress.tsx
  frontend/src/features/rpa/material-delivery-note/pages/RunMonitorPage.tsx
  frontend/src/features/rpa/material-delivery-note/utils/run-steps.ts
  frontend/src/services/api/alerts.ts
Due: prettier, eslint, mypy

docs: FastAPI APIRouterのベストプラクティスをCLAUDE.mdに追加
  CLAUDE.md
Due: none

chore: OpenAPI型定義の同期とPrettierフォーマット修正
  frontend/src/features/rpa/smartread/components/SmartReadPadRunStatusList.tsx
Due: prettier, eslint

fix: TypeError in phase1_sku_enforcement migration
  backend/alembic/versions/phase1_sku_enforcement.py
Due: mypy

fix: Add constraint existence check to migrations
  backend/alembic/versions/products_to_product_groups.py
Due: mypy

feat: Add auto-mapping to phase1_sku_enforcement migration
  backend/alembic/versions/phase1_sku_enforcement.py
Due: mypy

fix: Use product_id instead of product_group_id in phase1 migration
  backend/alembic/versions/phase1_sku_enforcement.py
Due: mypy

fix: Remove product_group_id requirement from customer_items schema
  backend/app/presentation/schemas/masters/customer_items_schema.py
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix(phase1): remove obsolete customer_items columns - P0 critical files
  backend/alembic/versions/b2cabaab67f5_remove_obsolete_customer_items_columns.py
  backend/app/application/services/allocations/mapping_validator.py
  backend/app/application/services/master_import/import_service.py
  backend/app/application/services/masters/customer_items_service.py
  backend/app/application/services/ocr/ocr_import_service.py
  backend/app/application/services/ocr/ocr_sap_complement_service.py
  backend/app/application/services/rpa/orchestrator.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/infrastructure/persistence/models/supplier_item_model.py
  backend/app/infrastructure/persistence/repositories/customer_item_delivery_setting_repository.py
  backend/app/presentation/api/routes/masters/customer_items_router.py
  backend/app/presentation/api/routes/masters/status_router.py
  backend/app/presentation/api/v2/withdrawals/default_destination_router.py
  backend/app/presentation/schemas/ocr_import_schema.py
  backend/openapi.json
  docs/project/PHASE1_CLEANUP_TASKS.md
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

docs: add Phase1 cleanup verification report
  docs/project/PHASE1_VERIFICATION_REPORT.md
Due: none

fix: remove trailing slash from assignments POST endpoint
  frontend/src/shared/api/assignments.ts
Due: prettier, eslint

wip: rename product_group_id to supplier_item_id in frontend (Phase1)
  frontend/src/features/allocations/api.ts
  frontend/src/features/allocations/components/allocation-list/line-based/helpers.ts
  frontend/src/features/allocations/components/lots/AllocationRowContainer.tsx
  frontend/src/features/allocations/components/lots/LotAllocationPanel.tsx
  frontend/src/features/allocations/components/lots/hooks/useForecastData.ts
  frontend/src/features/allocations/components/orders/OrderAndLineListPane.tsx
  frontend/src/features/allocations/components/orders/OrderLinesPaneView.tsx
  frontend/src/features/allocations/hooks/api/useAllocationCandidates.ts
  frontend/src/features/allocations/hooks/api/useAllocationSuggestions.ts
  frontend/src/features/allocations/hooks/state/useAllocations.ts
  frontend/src/features/allocations/hooks/state/useAutoSelection.ts
  frontend/src/features/allocations/hooks/useAllocationSaver.ts
  frontend/src/features/allocations/hooks/useAutoAllocateHandler.test.ts
  frontend/src/features/allocations/hooks/useAutoAllocateHandler.ts
  frontend/src/features/allocations/hooks/useCandidateLotFetcher.ts
  frontend/src/features/allocations/hooks/useChangeAllocationHandler.ts
  frontend/src/features/allocations/hooks/useLotAllocation.test.tsx
  frontend/src/features/allocations/hooks/useLotAllocationLogic.ts
  frontend/src/features/allocations/store/allocation-context.ts
  frontend/src/features/allocations/utils/allocationCalculations.test.ts
  frontend/src/features/allocations/utils/priority.ts
  frontend/src/features/dashboard/components/TopProductsChart.tsx
  frontend/src/features/forecasts/api.ts
  frontend/src/features/inbound-plans/api.ts
  frontend/src/features/intake-history/api.ts
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
  frontend/src/features/inventory/state.ts
  frontend/src/features/inventory/utils/filterCandidates.test.ts
  frontend/src/features/inventory/utils/filterCandidates.ts
  frontend/src/features/inventory/utils/groupLots.ts
  frontend/src/features/uom-conversions/api.ts
  frontend/src/features/uom-conversions/components/UomConversionForm.tsx
  frontend/src/features/uom-conversions/hooks/useUomConversionsPageState.ts
  frontend/src/features/warehouse-delivery-routes/api.ts
  frontend/src/features/warehouse-delivery-routes/components/WarehouseDeliveryRouteForm.tsx
  frontend/src/features/warehouse-delivery-routes/pages/columns.tsx
  frontend/src/features/withdrawals/api.ts
  frontend/src/mocks/handlers/lot-handlers.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint

docs: Add Gemini handoff document for Phase1 backend migration
  docs/project/HANDOFF_TO_GEMINI.md
Due: none

docs: Add Gemini prompt for backend P1 migration
  PROMPT_FOR_GEMINI.md
Due: none

chore: allocations_router.py および auto.py の引当呼び出しを supplier_item_id に修正
  backend/app/application/services/allocations/auto.py
  backend/app/application/services/allocations/candidate_service.py
  backend/app/application/services/allocations/fefo.py
  backend/app/application/services/allocations/suggestion_base.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/infrastructure/persistence/repositories/lot_repository.py
  backend/app/presentation/api/routes/allocations/allocations_router.py
Due: mypy

chore: forecasts_router.py の product_group_id を supplier_item_id に修正
  backend/app/application/services/allocations/group_suggestion.py
  backend/app/application/services/allocations/suggestion.py
  backend/app/application/services/forecasts/forecast_service.py
  backend/app/presentation/api/routes/forecasts/forecasts_router.py
  backend/app/presentation/api/v2/forecast/router.py
Due: mypy

chore: 引当および予測関連の product_group_id を supplier_item_id に置換 (Phase 1)
  backend/app/application/services/allocations/auto.py
  backend/app/application/services/allocations/fefo.py
  backend/app/application/services/allocations/schemas.py
  backend/app/application/services/allocations/search.py
  backend/app/application/services/allocations/suggestion.py
  backend/app/application/services/allocations/suggestion_base.py
  backend/app/application/services/forecasts/forecast_service.py
  backend/app/presentation/api/routes/allocations/allocations_router.py
  backend/app/presentation/api/v2/allocation/router.py
  backend/app/presentation/schemas/allocations/allocation_suggestions_schema.py
  backend/app/presentation/schemas/allocations/allocations_schema.py
  backend/app/presentation/schemas/forecasts/forecast_schema.py
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix(inventory): Excelビューの不具合修正 (得意先品番表示、在庫なし時の404回避)
  backend/app/application/services/inventory/inventory_service.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/masters/customer_items_service.py
  backend/app/infrastructure/clients/lot_client.py
  backend/app/presentation/api/routes/inventory/lots_router.py
  backend/app/presentation/api/v2/inventory/router.py
  backend/app/presentation/api/v2/lot/router.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/app/presentation/schemas/masters/customer_items_schema.py
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

Unify supplier item identifiers in frontend
  frontend/src/features/batch-jobs/api.ts
  frontend/src/features/batch-jobs/pages/BatchJobsPage.tsx
  frontend/src/features/customer-items/api.ts
  frontend/src/features/help/components/TerminologyTab.tsx
  frontend/src/features/help/components/database-terms.ts
  frontend/src/features/inventory/components/InventoryTableColumns.tsx
  frontend/src/features/inventory/components/InventoryTableComponents.tsx
  frontend/src/features/inventory/pages/InventoryItemDetailPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint

feat: Docker統一開発環境の整備
  CLAUDE.md
  Makefile
  README.md
  frontend/package.json
Due: prettier

fix: Docker統一開発環境の改善
  Makefile
  backend/openapi.json
  frontend/Dockerfile
  frontend/package.json
  frontend/src/types/api.d.ts
Due: prettier, eslint

fix: Phase1移行完了 - すべてのmypyエラー解消
  backend/app/application/services/allocations/auto.py
  backend/app/application/services/allocations/group_suggestion.py
  backend/app/application/services/allocations/manual.py
  backend/app/application/services/allocations/period_suggestion.py
  backend/app/application/services/allocations/search.py
  backend/app/application/services/allocations/suggestion_base.py
  backend/app/application/services/allocations/utils.py
  backend/app/application/services/batch/inventory_sync_service.py
  backend/app/application/services/common/relation_check_service.py
  backend/app/application/services/demand/repository.py
  backend/app/application/services/forecasts/forecast_import_service.py
  backend/app/application/services/forecasts/forecast_service.py
  backend/app/application/services/inventory/intake_history_service.py
  backend/app/application/services/inventory/inventory_service.py
  backend/app/application/services/inventory/label_service.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/application/services/replenishment/engine.py
  backend/app/application/services/test_data/forecasts.py
  backend/app/application/services/test_data/inbound.py
  backend/app/application/services/test_data/inventory.py
  backend/app/application/services/test_data/inventory_scenarios.py
  backend/app/application/services/test_data/orders.py
  backend/app/application/services/test_data/withdrawals.py
  backend/app/infrastructure/persistence/models/forecast_models.py
  backend/app/infrastructure/persistence/models/lot_receipt_models.py
  backend/app/infrastructure/persistence/models/order_groups_models.py
  backend/app/infrastructure/persistence/models/supplier_item_model.py
  backend/app/infrastructure/persistence/repositories/lot_repository.py
  backend/app/infrastructure/persistence/repositories/order_repository.py
  backend/app/infrastructure/persistence/repositories/stock_repository.py
Due: mypy

fix(migration): Add supplier_item_id to v_lot_receipt_stock view
  backend/alembic/versions/products_to_product_groups.py
  fix_view.sql
Due: mypy

fix(migration): SAWarning解消 (product_group_id/supplier_item_idの重複定義修正)
  backend/app/infrastructure/persistence/models/forecast_models.py
  backend/app/infrastructure/persistence/models/inbound_models.py
  backend/app/infrastructure/persistence/models/inventory_models.py
  backend/app/infrastructure/persistence/models/lot_master_model.py
  backend/app/infrastructure/persistence/models/orders_models.py
Due: mypy

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  mypy: any of: ^backend/ and \.py$
  openapi-sync: any of: ^backend/app/presentation/schemas/.*\.py$
