Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

.pre-commit-config.yaml:

# リポジトリ直下の .pre-commit-config.yaml
repos:
  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true

      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

  # Backend - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend - Mypy (Type Check)
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (Backend)
        entry: bash -c 'cd backend && uv run mypy app/' --
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # OpenAPI Schema Sync - regenerate when backend schemas change
  - repo: local
    hooks:
      - id: openapi-sync
        name: OpenAPI Schema Sync
        entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
        language: system
        files: ^backend/app/presentation/schemas/.*\.py$
        pass_filenames: false

feat: MaterialOrderForecast テストデータ生成器を追加
  backend/app/application/services/test_data/material_order_forecasts.py
  backend/app/application/services/test_data/utils.py
  backend/app/application/services/test_data_generator.py
Due: mypy

feat: P0優先度テーブルのテストデータ生成器を追加
  backend/app/application/services/test_data/adjustments.py
  backend/app/application/services/test_data/forecasts.py
  backend/app/application/services/test_data/masters.py
  backend/app/application/services/test_data/user_assignments.py
  backend/app/application/services/test_data/utils.py
  backend/app/application/services/test_data_generator.py
Due: mypy

feat: P1テーブルのテストデータ生成器を作成
  backend/app/application/services/test_data/audit_logs.py
  backend/app/application/services/test_data/cloud_flow.py
  backend/app/application/services/test_data/missing_mappings.py
  backend/app/application/services/test_data/notifications.py
  backend/app/application/services/test_data/utils.py
  backend/app/application/services/test_data_generator.py
Due: mypy

docs: P2テーブルのテストデータ生成器タスクをバックログに追加
  docs/project/BACKLOG.md
Due: none

feat: テストデータ生成器の包括的な実装 (P0/P1テーブル) (#547)
  backend/app/application/services/test_data/adjustments.py
  backend/app/application/services/test_data/audit_logs.py
  backend/app/application/services/test_data/cloud_flow.py
  backend/app/application/services/test_data/forecasts.py
  backend/app/application/services/test_data/masters.py
  backend/app/application/services/test_data/material_order_forecasts.py
  backend/app/application/services/test_data/missing_mappings.py
  backend/app/application/services/test_data/notifications.py
  backend/app/application/services/test_data/user_assignments.py
  backend/app/application/services/test_data/utils.py
  backend/app/application/services/test_data_generator.py
  backend/uv.lock
  docs/project/BACKLOG.md
Due: mypy

refactor: 抑制された警告・エラーの解消（第2弾）
  backend/app/infrastructure/external/sap_gateway.py
  backend/app/infrastructure/persistence/repositories/order_repository.py
  backend/tests/integration/test_smartread_integration.py
  frontend/src/features/delivery-places/hooks/useDeliveryPlacesPageState.ts
Due: prettier, eslint, mypy

docs: DDL参照を実テーブルスキーマに整合
  backend/app/infrastructure/persistence/models/auth_models.py
  backend/app/infrastructure/persistence/models/inventory_models.py
  backend/app/infrastructure/persistence/models/logs_models.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/infrastructure/persistence/models/orders_models.py
  backend/app/infrastructure/persistence/models/system_config_model.py
  backend/app/infrastructure/persistence/repositories/order_repository.py
Due: mypy

refactor: docstringからバージョン情報を削除
  backend/app/infrastructure/persistence/models/orders_models.py
Due: mypy

refactor: 抑制された警告・エラーの解消（第2弾） + DDL実態整合 (#548)
  backend/app/infrastructure/external/sap_gateway.py
  backend/app/infrastructure/persistence/models/auth_models.py
  backend/app/infrastructure/persistence/models/inventory_models.py
  backend/app/infrastructure/persistence/models/logs_models.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/infrastructure/persistence/models/orders_models.py
  backend/app/infrastructure/persistence/models/system_config_model.py
  backend/app/infrastructure/persistence/repositories/order_repository.py
  backend/tests/integration/test_smartread_integration.py
  frontend/src/features/delivery-places/hooks/useDeliveryPlacesPageState.ts
Due: prettier, eslint, mypy

docs: 残存するDDL v2.2参照を削除
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/masters_models.py
  tools/schema_consistency_check_v2.py
Due: mypy

docs: 第3弾の作業プロンプトを追加
  docs/project/SUPPRESSION_RESOLUTION_ROUND3.md
Due: none

refactor: remove backend suppressions and strengthen typing
  backend/app/application/services/admin/batch_jobs_service.py
  backend/app/application/services/admin/business_rules_service.py
  backend/app/application/services/admin/operation_logs_service.py
  backend/app/application/services/allocations/commit.py
  backend/app/application/services/allocations/utils.py
  backend/app/application/services/calendar_service.py
  backend/app/application/services/common/base_service.py
  backend/app/application/services/common/relation_check_service.py
  backend/app/application/services/forecasts/forecast_generator.py
  backend/app/application/services/forecasts/forecast_service.py
  backend/app/application/services/inventory/label_service.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/application/services/master_import/file_handlers.py
  backend/app/application/services/masters/customer_items_service.py
  backend/app/application/services/masters/uom_conversion_service.py
  backend/app/application/services/orders/order_import_service.py
  backend/app/domain/events/dispatcher.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/infrastructure/persistence/models/supplier_item_model.py
  backend/app/infrastructure/persistence/repositories/allocation_repository.py
  backend/app/infrastructure/persistence/repositories/notification_repository.py
  backend/app/infrastructure/persistence/repositories/rpa_repository.py
  backend/app/infrastructure/smartread/client.py
  backend/app/main.py
  backend/app/middleware/logging.py
  backend/app/middleware/metrics.py
  backend/app/presentation/api/routes/admin/admin_router.py
  backend/app/presentation/api/routes/admin/batch_jobs_router.py
  backend/app/presentation/api/routes/admin/bulk_export_router.py
  backend/app/presentation/api/routes/admin/business_rules_router.py
  backend/app/presentation/api/routes/alerts/alerts_router.py
  backend/app/presentation/api/routes/allocations/allocations_router.py
  backend/app/presentation/api/routes/dashboard/dashboard_router.py
  backend/app/presentation/api/routes/masters/customer_items_router.py
  backend/app/presentation/api/routes/masters/warehouse_delivery_routes_router.py
  backend/app/presentation/api/v2/allocation/router.py
  backend/app/presentation/schemas/admin/admin_schema.py
  backend/app/presentation/schemas/allocations/allocations_schema.py
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

refactor: remove frontend ts-expect-error and explicit-any usages
  frontend/src/components/error/ErrorBoundary.test.tsx
  frontend/src/features/dashboard/components/TopProductsChart.tsx
  frontend/src/features/dashboard/components/WarehouseDistributionChart.tsx
  frontend/src/features/debug-db/pages/DbBrowserPage.tsx
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/hooks/useLotActions.ts
  frontend/src/features/ocr-results/utils/ocr-utils.ts
  frontend/src/features/operation-logs/pages/OperationLogsPage.tsx
  frontend/src/features/supplier-products/components/SupplierProductForm.tsx
  frontend/src/utils/validators/lot-schemas.ts
Due: prettier, eslint

refactor: tighten smartread frontend cache and query key types
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
  frontend/src/features/rpa/smartread/db/export-cache.ts
  frontend/src/features/rpa/smartread/hooks/query-keys.ts
Due: prettier, eslint

refactor: SmartReadのany抑制を解消
  frontend/src/features/rpa/smartread/hooks/export-hooks.ts
  frontend/src/features/rpa/smartread/hooks/sync-hooks.ts
  frontend/src/features/rpa/smartread/utils/csv-transformer.ts
Due: prettier, eslint

refactor: backendのnoqa抑制を整理
  backend/app/application/services/admin/__init__.py
  backend/app/application/services/allocations/schemas.py
  backend/app/application/services/auth/__init__.py
  backend/app/application/services/common/__init__.py
  backend/app/application/services/common/base_service.py
  backend/app/application/services/common/export_service.py
  backend/app/application/services/inventory/__init__.py
  backend/app/application/services/master_import/import_service.py
  backend/app/application/services/masters/__init__.py
  backend/app/application/services/orders/__init__.py
  backend/app/application/services/shipping_master/shipping_master_service.py
  backend/app/core/database.py
  backend/app/domain/allocation/exceptions.py
  backend/app/domain/events/handlers.py
  backend/app/main.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/router.py
  backend/app/presentation/schemas/admin/__init__.py
  backend/app/presentation/schemas/allocations/__init__.py
  backend/app/presentation/schemas/common/__init__.py
  backend/app/presentation/schemas/forecasts/__init__.py
  backend/app/presentation/schemas/inventory/__init__.py
  backend/app/presentation/schemas/masters/__init__.py
  backend/app/presentation/schemas/orders/__init__.py
  backend/app/presentation/schemas/orders/order_group_schema.py
  backend/app/presentation/schemas/system/__init__.py
Due: mypy, openapi-sync

refactor: RPA系eslint抑制に理由を明記
  frontend/src/features/rpa/material-delivery-note/components/MaterialDeliveryRunProgress.tsx
  frontend/src/features/rpa/material-delivery-note/pages/LayerCodeMappingsPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/MaterialDeliveryNotePage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/RunDetailPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/RunMonitorPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/RunsListPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step1Page.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step2CheckListPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3DetailPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3ExecuteListPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3ExecutePage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3SelectPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step4DetailPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step4ListPage.tsx
  frontend/src/features/rpa/smartread/components/SmartReadImportTab.tsx
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
  frontend/src/features/rpa/smartread/components/SmartReadSavedDataList.tsx
  frontend/src/features/rpa/smartread/components/SmartReadSettingsModal.tsx
  frontend/src/features/rpa/smartread/components/SmartReadTaskList.tsx
  frontend/src/features/rpa/smartread/components/SmartReadUploadPanel.tsx
  frontend/src/features/rpa/smartread/hooks/sync-hooks.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint

refactor: DataTableのa11y抑制を削減
  frontend/src/shared/components/data/DataTable.tsx
Due: prettier, eslint

refactor: 追加で削除可能な抑制を解消
  frontend/src/components/common/DeleteDialog.tsx
  frontend/src/features/adjustments/pages/AdjustmentsListPage.tsx
  frontend/src/features/allocations/components/ReservationCancelDialog.test.tsx
  frontend/src/features/inbound-plans/components/InboundPlansList.tsx
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/features/rpa/material-delivery-note/pages/MaterialDeliveryNotePage.tsx
  frontend/src/features/warehouse-delivery-routes/pages/WarehouseDeliveryRoutesListPage.tsx
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.test.tsx
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.tsx
  frontend/src/features/withdrawals/components/WithdrawalCancelDialog.test.tsx
Due: prettier, eslint

refactor: as any を型安全なコードに修正 + ESLint設定改善
  backend/openapi.json
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/components/error/ErrorBoundary.test.tsx
  frontend/src/features/allocations/components/ReservationCancelDialog.test.tsx
  frontend/src/features/dashboard/components/TopProductsChart.tsx
  frontend/src/features/dashboard/components/WarehouseDistributionChart.tsx
  frontend/src/features/rpa/smartread/db/export-cache.ts
  frontend/src/features/supplier-products/components/SupplierProductForm.tsx
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.test.tsx
  frontend/src/features/withdrawals/components/WithdrawalCancelDialog.test.tsx
Due: prettier, eslint

docs: バックログに設定ファイルレビュータスクを追加 + コード品質基準を外部化
  docs/project/BACKLOG.md
  docs/project/CODE_STANDARDS.md
Due: none

docs: CLAUDE.mdをリファクタリングしてGitワークフローガイドを外部化
  CLAUDE.md
  docs/project/GIT_WORKFLOW.md
Due: none

refactor: 小規模コンポーネントの抑制コメントを削減
  frontend/src/components/ui/date-range-picker.tsx
  frontend/src/components/ui/form/SearchableSelect.tsx
  frontend/src/features/admin/pages/BulkExportPage.tsx
  frontend/src/features/assignments/components/AddAssignmentDialog.tsx
  frontend/src/features/customer-items/components/CustomerItemTable.tsx
  frontend/src/features/debug-db/components/DbObjectList.tsx
  frontend/src/features/inbound-plans/components/InboundPlanLinesTable.tsx
Due: prettier, eslint

refactor: 小規模フォームとCSV処理の抑制を解消
  frontend/src/features/inventory/components/LotEditFields.tsx
  frontend/src/features/suppliers/components/SupplierForm.tsx
  frontend/src/features/uom-conversions/utils/uom-conversion-csv.ts
Due: prettier, eslint

refactor: テーブル/リスト系の構造抑制を追加解消
  frontend/src/features/forecasts/components/ForecastDetailCard/useLotCandidateRow.ts
  frontend/src/features/inventory/components/InventoryBySupplierTable.tsx
  frontend/src/features/inventory/components/InventoryByWarehouseTable.tsx
  frontend/src/features/orders/components/OrderInfoColumns.tsx
  frontend/src/features/orders/components/filters/OrderFilters.tsx
  frontend/src/features/rpa/smartread/components/SmartReadTaskList.tsx
  frontend/src/features/withdrawals/components/WithdrawalHistoryList.tsx
Due: prettier, eslint

refactor: 在庫・受注周辺の抑制コメントを追加解消
  frontend/src/features/inventory/components/InboundPlanTable.tsx
  frontend/src/features/inventory/components/InventoryByProductTable.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/AddDestinationDialog.tsx
  frontend/src/features/inventory/hooks/useLotColumns.tsx
  frontend/src/features/ocr-results/hooks/useOcrRowInputs.ts
  frontend/src/features/orders/components/AllocationDialog.tsx
  frontend/src/features/orders/components/OrdersFilters.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3SelectPage.tsx
  frontend/src/features/warehouse-delivery-routes/pages/columns.tsx
  frontend/src/shared/components/alerts/AlertTable.tsx
Due: prettier, eslint

refactor: ダイアログ/フォームの抑制を段階解消
  frontend/src/features/assignments/components/SupplierAssignmentEditDialog.tsx
  frontend/src/features/assignments/components/UserSupplierAssignmentDialog.tsx
  frontend/src/features/calendar/components/BusinessDayCalcCard.tsx
  frontend/src/features/makers/components/MakerForm.tsx
  frontend/src/features/orders/components/ConfirmedLinesTable.tsx
Due: prettier, eslint

refactor: フロントエンドテストのany抑制を解消
  frontend/src/features/allocations/components/ReservationCancelDialog.test.tsx
  frontend/src/features/allocations/components/allocation-list/LineBasedAllocationList.test.tsx
  frontend/src/features/allocations/hooks/useLotAllocation.test.tsx
  frontend/src/features/auth/permissions/rbac.test.ts
  frontend/src/features/inventory/components/AdhocLotCreateForm.test.tsx
  frontend/src/features/inventory/components/InventoryTable.test.tsx
  frontend/src/features/orders/components/OrderLineCard/index.test.tsx
  frontend/src/features/orders/hooks/useOrders.test.tsx
  frontend/src/features/rpa/smartread/components/SmartReadSettingsModal.test.tsx
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.test.tsx
  frontend/src/features/withdrawals/components/WithdrawalCancelDialog.test.tsx
  frontend/src/shared/libs/allocations.test.ts
Due: prettier, eslint

refactor: SupplierProductFormのany抑制を撤去
  frontend/src/features/supplier-products/components/SupplierProductForm.tsx
Due: prettier, eslint

refactor: 構造系eslint抑制を3箇所解消
  frontend/src/components/layouts/GlobalNavigation.config.ts
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/features/allocations/hooks/useLotAllocationLogic.ts
  frontend/src/features/delivery-places/hooks/useDeliveryPlacesPageState.ts
Due: prettier, eslint

refactor: 置換ルールUIの関数分割
  frontend/src/features/ocr-results/components/ShippingTextReplacementRules.tsx
Due: prettier, eslint

refactor: 出庫フォームの状態参照を整理
  frontend/src/features/withdrawals/components/WithdrawalFormFiltered.tsx
Due: prettier, eslint

refactor: 仕入先商品CSV解析の分岐を分離
  frontend/src/features/supplier-products/utils/supplier-product-csv.ts
Due: prettier, eslint

refactor: メーカーページの表示と状態を分離
  frontend/src/features/makers/pages/MakersPage.tsx
Due: prettier, eslint

refactor: OCR一覧の操作ボタン分岐を分離
  frontend/src/features/ocr-results/components/ActionButtons.tsx
Due: prettier, eslint

refactor: 在庫テーブルロジックを分割
  frontend/src/features/inventory/hooks/useInventoryTableLogic.ts
Due: prettier, eslint

refactor: 商品ヘッダ表示をセクション分割
  frontend/src/features/inventory/components/excel-view/ProductHeader.tsx
Due: prettier, eslint

refactor: 素材納品書簡易ページを部品化
  frontend/src/features/rpa/pages/MaterialDeliverySimplePage.tsx
Due: prettier, eslint

refactor: 汎用クラウドフロー実行画面を分割
  frontend/src/features/rpa/pages/GenericCloudFlowExecutePage.tsx
Due: prettier, eslint
