Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

.pre-commit-config.yaml:

# リポジトリ直下の .pre-commit-config.yaml
repos:
  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true

      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

  # Backend - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend - Mypy (Type Check)
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (Backend)
        entry: bash -c 'cd backend && uv run mypy app/' --
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # OpenAPI Schema Sync - regenerate when backend schemas change
  - repo: local
    hooks:
      - id: openapi-sync
        name: OpenAPI Schema Sync
        entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
        language: system
        files: ^backend/app/presentation/schemas/.*\.py$
        pass_filenames: false

feat(ui): update inventory page menu icon and filter order
  frontend/src/features/inventory/pages/InventoryPage.tsx
Due: prettier, eslint

chore(data): enhance test data generation with varied order types and statuses
  backend/scripts/generate_test_data.py
Due: mypy

fix(ui): replace inventory table action buttons with icons
  frontend/src/features/inventory/components/InventoryTable.tsx
Due: prettier, eslint

fix(api): allow on_hold status in order validation schema
  backend/app/presentation/schemas/orders/orders_schema.py
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat: Enhance test data generation and fix UI issues
  backend/app/application/services/inventory/inventory_service.py
  backend/app/application/services/test_data/forecasts.py
  backend/app/application/services/test_data/inventory.py
  backend/app/application/services/test_data/orders.py
  backend/app/application/services/test_data/withdrawals.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/app/presentation/schemas/orders/orders_schema.py
  backend/openapi.json
  backend/scripts/generate_test_data.py
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/hooks/useInventoryTableLogic.ts
  frontend/src/features/orders/components/OrderLineColumns.tsx
  frontend/src/shared/components/data/DataTable.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix: Lot count query alignment and test file fix
  backend/app/application/services/inventory/inventory_service.py
  frontend/src/features/inventory/components/InventoryTable.test.tsx
Due: prettier, eslint, mypy

fix: Align lot count query with lots API default (with_stock=True)
  backend/app/application/services/inventory/inventory_service.py
Due: mypy

fix: Add warehouse_id to lots API and document remaining issues
  backend/app/application/services/inventory/lot_service.py
  backend/app/presentation/api/v2/lot/router.py
Due: mypy

docs: Add WIP document for lot count fix handover
  docs/WIP_LOT_COUNT_FIX.md
Due: none

Fetch lots on demand in inventory table
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/hooks/useInventoryTableLogic.ts
  frontend/src/features/inventory/hooks/useLotActions.ts
Due: prettier, eslint

feat: Add 'no_lots' edge case to test data generation
  backend/app/application/services/test_data/inventory.py
Due: mypy

feat: Implement product_warehouse based inventory with zero-lot support
  backend/alembic/versions/29360a34fdee_add_product_warehouse_table.py
  backend/app/application/services/inventory/inventory_service.py
  backend/app/application/services/test_data/inventory.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/product_warehouse_model.py
  backend/app/infrastructure/persistence/models/views_models.py
  backend/app/presentation/api/v2/inventory/router.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/sql/views/create_views.sql
  backend/tests/api/v2/test_inventory_api_v2.py
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/components/InventoryTable.test.tsx
  frontend/src/features/inventory/components/InventoryTable.tsx
Due: prettier, eslint, mypy, openapi-sync

fix: Add status filter to lot API to align with active_lot_count
  backend/app/application/services/inventory/lot_service.py
  backend/app/presentation/api/v2/lot/router.py
  frontend/src/features/inventory/hooks/useInventoryTableLogic.ts
Due: prettier, eslint, mypy

chore: Regenerate OpenAPI types with status and tab parameters
  frontend/src/types/api.d.ts
Due: prettier, eslint

fix: Add status parameter to getLots API function
  frontend/src/features/inventory/api.ts
Due: prettier, eslint

feat: Add tab filter UI for inventory items
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/hooks/useInventoryPageState.ts
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/inventory/state.ts
Due: prettier, eslint

feat: Add action branching for no_lots inventory items
  frontend/src/features/inventory/components/InventoryTable.tsx
Due: prettier, eslint

fix: Use vertical stack for action buttons to prevent overflow
  frontend/src/features/inventory/components/InventoryTable.tsx
Due: prettier, eslint

fix: Right-align inventory action buttons
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/shared/components/data/DataTable.tsx
Due: prettier, eslint

ci: Add codex branches to CI/Quality triggers
  .github/workflows/ci.yml
  .github/workflows/quality.yml
Due: none

fix(ci): Fix lint and format errors to pass CI/QA
  backend/alembic/versions/29360a34fdee_add_product_warehouse_table.py
  backend/app/infrastructure/persistence/models/product_warehouse_model.py
  backend/app/infrastructure/persistence/models/views_models.py
  frontend/src/features/inventory/hooks/useInventoryTableLogic.ts
Due: prettier, eslint, mypy

test(backend): Register ProductWarehouse validation in service tests
  backend/tests/services/test_inventory_service.py
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/shared/components/data/DataTable.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

test(frontend): Fix InventoryTable test by wrapping in MemoryRouter
  frontend/src/features/inventory/components/InventoryTable.test.tsx
Due: prettier, eslint

style(frontend): Fix Prettier formatting in InventoryTable.test.tsx
  frontend/src/features/inventory/components/InventoryTable.test.tsx
Due: prettier, eslint

feat: Enhance Inventory Management (Product-Warehouse, Tabs, On-demand) (#405)
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  backend/alembic/versions/29360a34fdee_add_product_warehouse_table.py
  backend/app/application/services/inventory/inventory_service.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/test_data/forecasts.py
  backend/app/application/services/test_data/inventory.py
  backend/app/application/services/test_data/orders.py
  backend/app/application/services/test_data/withdrawals.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/product_warehouse_model.py
  backend/app/infrastructure/persistence/models/views_models.py
  backend/app/presentation/api/v2/inventory/router.py
  backend/app/presentation/api/v2/lot/router.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/app/presentation/schemas/orders/orders_schema.py
  backend/openapi.json
  backend/scripts/generate_test_data.py
  backend/sql/views/create_views.sql
  backend/tests/api/v2/test_inventory_api_v2.py
  backend/tests/services/test_inventory_service.py
  docs/WIP_LOT_COUNT_FIX.md
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/components/InventoryTable.test.tsx
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/hooks/useInventoryPageState.ts
  frontend/src/features/inventory/hooks/useInventoryTableLogic.ts
  frontend/src/features/inventory/hooks/useLotActions.ts
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/inventory/state.ts
  frontend/src/features/orders/components/OrderLineColumns.tsx
  frontend/src/shared/components/data/DataTable.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix(backend): correct system_client_logs migration to avoid table duplication
  backend/alembic/versions/9decff574dcb_add_system_client_logs_table.py
Due: mypy

fix(backend): correct system_client_logs migration to avoid table duplication (#406)
  backend/alembic/versions/9decff574dcb_add_system_client_logs_table.py
Due: mypy

fix(backend): make system_client_logs migration idempotent
  backend/alembic/versions/9decff574dcb_add_system_client_logs_table.py
Due: mypy

fix(backend): make system_client_logs migration idempotent (#407)
  backend/alembic/versions/9decff574dcb_add_system_client_logs_table.py
Due: mypy

fix(backend): force refresh database views to ensure latest schema using migration f1e2d3c4b5a6
  backend/alembic/versions/f1e2d3c4b5a6_refresh_views.py
Due: mypy

fix(backend): resolve multiple heads in refresh_views migration
  backend/alembic/versions/f1e2d3c4b5a6_refresh_views.py
Due: mypy

chore: add verification script for v_lot_details schema
  backend/verify_list_lots.py
Due: mypy

fix(chore): fix verification script variable initialization
  backend/verify_list_lots.py
Due: mypy

chore: add full database schema verification script
  backend/verify_db_schema.py
Due: mypy

chore: update verify_list_lots.py with full column check
  backend/verify_list_lots.py
Due: mypy

fix(chore): use correct DATABASE_URL setting in schema verification script
  backend/verify_db_schema.py
Due: mypy

fix(backend): add missing columns active_lot_count and inventory_state to v_inventory_summary
  backend/alembic/versions/f1e2d3c4b5a6_refresh_views.py
Due: mypy

chore: add bulk export verification script
  backend/verify_bulk_export.py
Due: mypy

fix(backend): add missing /targets endpoint to bulk_export_router
  backend/app/presentation/api/routes/admin/bulk_export_router.py
Due: mypy

fix(backend): upgrade SmartRead client to v3 API
  backend/app/infrastructure/smartread/client.py
Due: mypy
