Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

prettier:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
  language: system
  pass_filenames: true

mypy:
  name: Mypy (Backend)
  entry: bash -c 'cd backend && uv run mypy app/' --
  language: system
  pass_filenames: false

openapi-sync:
  name: OpenAPI Schema Sync
  entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
  ...

fix: Correct migration dependencies for consumed_quantity
  backend/alembic/versions/a1b2c3d4e5f7_add_consumed_quantity.py
Due: mypy

docs: Add migration baseline and patch management guide
  docs/operations/MIGRATION_BASELINE.md
Due: none

fix: デフォルトのグループ化とマイグレーション修正 (#438)
  backend/alembic/versions/a1b2c3d4e5f7_add_consumed_quantity.py
  backend/app/application/services/inventory/inventory_service.py
  docs/fixes/CI_TYPECHECK_ISSUE.md
  docs/operations/MIGRATION_BASELINE.md
Due: mypy

Reorganize docs tasks and plans
  docs/README.md
  docs/plan/comprehensive-test-strategy.md
  docs/plan/inventory-lot-improvement-plan-additional.md
  docs/plan/inventory-lot-improvement-plan.md
  docs/plan/test-data-generation-plan-additional.md
  docs/plan/test-data-generation-plan.md
  docs/plan/ui_and_lifecycle_plan.md
  docs/tasks/BUSINESS_CONTEXT_NEEDED.md
  docs/tasks/FUTURE_IMPROVEMENTS.md
  docs/tasks/TODO.md
  docs/tasks/WIP_LOT_COUNT_FIX.md
  docs/tasks/any-type-reduction.md
  docs/tasks/backlog.md
  docs/tasks/next_reviews_ja.md
  docs/test-review.md
  docs/testing.md
Due: none

Reorganize docs tasks and plans (#439)
  docs/README.md
  docs/plan/comprehensive-test-strategy.md
  docs/plan/inventory-lot-improvement-plan-additional.md
  docs/plan/inventory-lot-improvement-plan.md
  docs/plan/test-data-generation-plan-additional.md
  docs/plan/test-data-generation-plan.md
  docs/plan/ui_and_lifecycle_plan.md
  docs/tasks/BUSINESS_CONTEXT_NEEDED.md
  docs/tasks/FUTURE_IMPROVEMENTS.md
  docs/tasks/TODO.md
  docs/tasks/WIP_LOT_COUNT_FIX.md
  docs/tasks/any-type-reduction.md
  docs/tasks/backlog.md
  docs/tasks/next_reviews_ja.md
  docs/test-review.md
  docs/testing.md
Due: none

refactor: convert init_db.sh to init_db.py for Windows compatibility
  backend/scripts/init_db.py
  backend/scripts/init_db.sh
Due: mypy

fix: add baseline migration for fresh database support
  backend/alembic/versions/baseline_20260119.py
  backend/alembic/versions/f30373801237_fix_withdrawals_dates_and_archive_view.py
Due: mypy

feat(smartread): 複数ファイル選択とエンドポイント選択UIを実装
  backend/app/application/services/smartread/smartread_service.py
  backend/app/infrastructure/smartread/client.py
  frontend/src/features/rpa/smartread/components/SmartReadSettingsModal.tsx
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint, mypy

fix(smartread): レビュー指摘対応 - 複数ファイル処理とエラー時の部分成功保持
  backend/app/infrastructure/smartread/client.py
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint, mypy

feat(smartread): 複数ファイル選択とエンドポイント選択UIを実装 (#441)
  backend/app/application/services/smartread/smartread_service.py
  backend/app/infrastructure/smartread/client.py
  frontend/src/features/rpa/smartread/components/SmartReadSettingsModal.tsx
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint, mypy

fix(smartread): エンドポイントURLのバージョン重複を修正
  backend/app/infrastructure/smartread/client.py
Due: mypy

fix(smartread): ページ読み込み時のエラーアラート表示を削除
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint

fix(http-client): 認証エラー(401/403)のコンソールログを抑制
  frontend/src/shared/api/http-client.ts
Due: prettier, eslint

fix(alembic): version_locationsにarchiveを追加して既存DBをサポート
  backend/alembic.ini
Due: none

fix(smartread): エンドポイントURLのバージョン重複を修正 (#444)
  backend/app/infrastructure/smartread/client.py
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  frontend/src/shared/api/http-client.ts
Due: prettier, eslint, mypy

fix(smartread): Refactor UI to use tabs and fix import errors
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadCsvTable.tsx
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
  frontend/src/features/rpa/smartread/components/SmartReadTaskList.tsx
  frontend/src/features/rpa/smartread/components/SmartReadUploadPanel.tsx
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint

fix(smartread): Replace ScrollArea with div in TaskList to fix visibility issue
  frontend/src/features/rpa/smartread/components/SmartReadTaskList.tsx
Due: prettier, eslint

fix(smartread): Add debug logs for task fetching
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadTaskList.tsx
Due: prettier, eslint

fix(smartread): Add logs to SmartReadPage for debugging
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint

fix(smartread): Add comprehensive API logs
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint

fix(smartread): Log full API response and apply formatting
  backend/app/infrastructure/smartread/client.py
Due: mypy

fix(smartread): Fix API response parsing to match v3 schema
  backend/app/infrastructure/smartread/client.py
Due: mypy

feat(smartread): Disable auto-fetch tasks and add debug logs for result view
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
  frontend/src/features/rpa/smartread/components/SmartReadTaskList.tsx
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint

fix(smartread): Add detailed logging for export download and zip extraction
  backend/app/infrastructure/smartread/client.py
Due: mypy

fix(smartread): Add debug prints and fix client implementation
  backend/app/infrastructure/smartread/client.py
Due: mypy

fix(smartread): Update export status check to match API response (DONE -> COMPLETED)
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
Due: prettier, eslint

feat(smartread): Implement default config selection
  backend/alembic.ini
  backend/alembic/archive/__init__.py
  backend/alembic/versions/8232dddf590e_add_is_default_to_smartread_config.py
  backend/alembic/versions/__init__.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/presentation/schemas/smartread_schema.py
  backend/openapi.json
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat(smartread): Implement data persistence for SmartRead exports
  backend/alembic/versions/a165e5cc9eb4_add_smartread_data_management_tables.py
  backend/app/application/services/smartread/smartread_service.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/smartread_schema.py
  backend/openapi.json
  docs/smartread_data_management_plan.md
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat(smartread): Add auto-save long data to export_dir and task management APIs
  backend/app/application/services/smartread/smartread_service.py
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
  frontend/src/features/rpa/smartread/hooks.ts
Due: prettier, eslint, mypy

feat(smartread): Add managed task list UI with skip_today toggle
  frontend/src/features/rpa/smartread/components/SmartReadManagedTaskList.tsx
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint

feat(smartread): Add export history tracking and mock tests
  backend/alembic/versions/d1922e5e679c_add_smartread_export_history_table.py
  backend/app/application/services/smartread/smartread_service.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/tests/test_smartread_service.py
Due: mypy

fix(smartread): Handle SUCCEEDED state and fix error row indexing
  frontend/src/features/rpa/smartread/components/SmartReadCsvTable.tsx
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
Due: prettier, eslint

Enhance logging correlation and persistence
  backend/alembic/versions/e4c1a2b3c4d5_add_server_logs_table.py
  backend/app/core/logging.py
  backend/app/core/server_log_handler.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/logs_models.py
  backend/app/infrastructure/persistence/models/system_models.py
  backend/app/main.py
  backend/app/middleware/logging.py
  backend/app/presentation/api/routes/system/system_router.py
  backend/app/presentation/schemas/system/system_schemas.py
  backend/pyproject.toml
  frontend/src/features/client-logs/api.ts
  frontend/src/features/client-logs/pages/ClientLogsPage.tsx
  frontend/src/shared/api/http-client.ts
  frontend/src/shared/utils/logger.ts
  frontend/src/shared/utils/request-id.ts
Due: prettier, eslint, mypy, openapi-sync

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  mypy: any of: ^backend/ and \.py$
  openapi-sync: any of: ^backend/app/presentation/schemas/.*\.py$
