Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

prettier:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
  language: system
  pass_filenames: true

mypy:
  name: Mypy (Backend)
  entry: bash -c 'cd backend && uv run mypy app/' --
  language: system
  pass_filenames: false

openapi-sync:
  name: OpenAPI Schema Sync
  entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
  ...

fix: correct supplier-items endpoint in export route test
  backend/tests/integration/test_export_route_resolution.py
Due: mypy

docs: add CI/CD testing gaps to backlog (priority: high)
  docs/project/BACKLOG.md
Due: none

fix: enable TypeScript typecheck in CI workflow
  .github/workflows/ci.yml
  docs/project/BACKLOG.md
Due: none

fix: ensure DB browser is re-enabled after test
  backend/tests/api/test_debug_db_browser.py
Due: mypy

fix: remove leading slashes from admin API URLs
  frontend/src/features/admin/pages/AdminPage.tsx
Due: prettier, eslint

fix: improve test data generation and dialog UX
  backend/app/application/services/test_data/users.py
  backend/app/application/services/test_data_generator.py
  frontend/src/features/admin/pages/AdminPage.tsx
Due: prettier, eslint, mypy

fix: remove duplicate user generation and improve dialog close behavior
  backend/app/application/services/test_data/users.py
  backend/app/application/services/test_data_generator.py
  frontend/src/features/admin/pages/AdminPage.tsx
Due: prettier, eslint, mypy

エラーハンドリングとログ機能の改善 (#514)
  docs/project/BACKLOG.md
  frontend/src/features/client-logs/pages/ClientLogsPage.tsx
Due: prettier, eslint

refactor: decompose SmartReadPage and SystemSettingsPage, fix CI lint errors, and update style guide
  CLAUDE.md
  backend/alembic/sql/add_table_column_comments.sql
  backend/alembic/versions/73e14976215a_add_all_table_and_column_comments.py
  backend/app/infrastructure/persistence/models/auth_models.py
  backend/app/infrastructure/persistence/models/lot_receipt_models.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/schema_router.py
  backend/openapi.json
  docs/database/TABLE_COMMENTS_DRAFT.md
  docs/database/TERMINOLOGY_GUIDE.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/docs/database/TERMINOLOGY_GUIDE.md
  frontend/src/MainRoutes.tsx
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/config/feature-config.ts
  frontend/src/constants/features.ts
  frontend/src/constants/routes.ts
  frontend/src/contexts/SystemSettingsContext.tsx
  frontend/src/features/admin/pages/SystemSettingsPage.tsx
  frontend/src/features/auth/permissions/config.ts
  frontend/src/features/auth/permissions/rbac.test.ts
  frontend/src/features/auth/permissions/utils.ts
  frontend/src/features/auth/permissions/validate-features.test.ts
  frontend/src/features/debug-db/pages/DbBrowserPage.tsx
  frontend/src/features/help/components/DynamicERDiagram.tsx
  frontend/src/features/help/components/OverviewTab.tsx
  frontend/src/features/help/components/TablesTab.tsx
  frontend/src/features/help/components/TerminologyTab.tsx
  frontend/src/features/help/components/database-terms.ts
  frontend/src/features/help/components/table-groups.ts
  frontend/src/features/help/components/types.ts
  frontend/src/features/help/pages/DatabaseSchemaPage.css
  frontend/src/features/help/pages/DatabaseSchemaPage.tsx
  frontend/src/features/inventory/pages/InventoryItemDetailPage.tsx
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  frontend/src/features/sap-integration/pages/SapIntegrationPage.tsx
  frontend/src/types/api.d.ts
  frontend/vite.config.ts
Due: prettier, eslint, mypy

refactor(backend): improve robustness based on review findings
  CLAUDE.md
  backend/app/application/services/allocations/allocator.py
  backend/app/application/services/auth/user_service.py
  backend/app/application/services/common/base_service.py
  backend/app/application/services/masters/customer_service.py
  backend/app/application/services/orders/order_service.py
  backend/app/core/database.py
  backend/app/presentation/api/routes/inventory/lots_router.py
  docs/architecture/robustness_refactoring_20260131.md
Due: mypy

refactor(admin): decompose SystemSettingsPage into smaller components
  frontend/src/features/admin/components/PageVisibilityEditor.tsx
  frontend/src/features/admin/components/SystemSettingItem.tsx
  frontend/src/features/admin/pages/SystemSettingsPage.tsx
  frontend/src/features/admin/types.ts
Due: prettier, eslint

refactor(frontend): decompose CalendarSettingsPage and SmartReadPage
  frontend/src/features/calendar/components/BusinessDayCalcCard.tsx
  frontend/src/features/calendar/components/CompanyCalendarCard.tsx
  frontend/src/features/calendar/components/DeliveryCalendarCard.tsx
  frontend/src/features/calendar/components/HolidayCalendarCard.tsx
  frontend/src/features/calendar/pages/CalendarSettingsPage.tsx
  frontend/src/features/rpa/smartread/components/SmartReadImportTab.tsx
  frontend/src/features/rpa/smartread/components/SmartReadSavedTab.tsx
  frontend/src/features/rpa/smartread/components/SmartReadTasksTab.tsx
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint

feat: Implement SQL Profiler for performance monitoring
  backend/app/core/config.py
  backend/app/infrastructure/monitoring/__init__.py
  backend/app/infrastructure/monitoring/sql_profiler.py
  backend/app/main.py
Due: mypy

feat: Add SQL Profiler settings to System Settings UI
  backend/app/application/services/system_config_service.py
  backend/app/main.py
  backend/app/presentation/api/routes/admin/system_settings_router.py
  frontend/src/features/admin/components/SystemSettingItem.tsx
  frontend/src/features/admin/pages/SystemSettingsPage.tsx
  frontend/src/features/admin/types.ts
Due: prettier, eslint, mypy

feat(profiler): Improve SQL normalization and Async support
  backend/app/infrastructure/monitoring/sql_profiler.py
Due: mypy

feat(test): Add automated N+1 query detection fixture
  backend/tests/conftest.py
Due: mypy

chore: Finalize SQL Profiler implementation and cleanup
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/services/test_order_service.py
  backend/uv.lock
  docs/project/BACKLOG.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/MainRoutes.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/masters/pages/MastersPage.tsx
  frontend/src/features/product-mappings/api.ts
  frontend/src/features/product-mappings/components/ProductMappingForm.tsx
  frontend/src/features/product-mappings/components/index.ts
  frontend/src/features/product-mappings/hooks/index.ts
  frontend/src/features/product-mappings/hooks/useProductMappings.ts
  frontend/src/features/product-mappings/index.ts
  frontend/src/features/product-mappings/pages/ProductMappingsListPage.tsx
  frontend/src/features/product-mappings/pages/index.ts
  scripts/build_deploy_package.py
Due: prettier, eslint, mypy

chore(deps): Add requirements_freeze.txt
  backend/requirements_freeze.txt
Due: none

docs: update shipping text replacement spec with finalized rules
  docs/project/shipping_text_replacement_spec.md
Due: none

docs: add robustness and UI requirements to shipping text spec
  docs/project/shipping_text_replacement_spec.md
Due: none

feat: 出荷票テキスト仕様更新とレスポンシブUI改善
  docs/project/shipping_text_replacement_spec.md
  frontend/src/features/inventory/components/LotFilterBar.tsx
  frontend/src/features/ocr-results/components/FilterCard.tsx
  frontend/src/features/ocr-results/components/ShippingTextReplacementRules.tsx
  frontend/src/features/ocr-results/pages/OcrResultEditModal.tsx
  frontend/src/features/orders/components/filters/OrderFilters.tsx
  frontend/src/features/shipping-master/components/ShippingMasterFilters.tsx
  frontend/src/shared/components/data/FilterContainer.tsx
Due: prettier, eslint

refactor(ocr-results): OCR結果一覧のレイアウト最適化
  frontend/src/features/ocr-results/components/FilterCard.tsx
  frontend/src/features/ocr-results/components/OcrResultsTable.tsx
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  frontend/src/features/ocr-results/pages/useOcrColumns.tsx
Due: prettier, eslint

feat(ocr-results): 変換ルールとデータ件数の配置最適化
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

feat: update shipping text replacement UI and backend logic
  backend/app/presentation/api/routes/ocr_results_router.py
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint, mypy

refactor: OCR編集UI改善とテンプレート修正
  backend/app/application/services/order_register/order_register_service.py
  backend/app/application/services/test_data/shipping_master.py
  frontend/src/features/ocr-results/pages/OcrResultEditModal.tsx
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
Due: prettier, eslint, mypy

refactor: OCR結果のロット・入庫番号・数量を横並びに再配置
  frontend/src/features/ocr-results/pages/OcrResultEditModal.tsx
  frontend/src/features/ocr-results/pages/useOcrColumns.tsx
Due: prettier, eslint

refactor: OCR一覧のロット情報を2行表示に変更＋モーダルに区切り線追加
  frontend/src/features/ocr-results/pages/OcrResultEditModal.tsx
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/features/ocr-results/pages/useOcrColumns.tsx
Due: prettier, eslint

fix: 出荷票テキスト置換ロジックのCase A修正
  backend/app/presentation/api/routes/ocr_results_router.py
  docs/project/shipping_text_replacement_spec.md
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint, mypy

refactor: 詳細モーダルから出荷票テキスト置換ルールを削除
  frontend/src/features/ocr-results/pages/OcrResultEditModal.tsx
Due: prettier, eslint

Update OpenAPI schema and frontend type definitions
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint

feat: 出荷票テキスト置換仕様の最終化とUI改善 (#516)
  backend/app/application/services/order_register/order_register_service.py
  backend/app/application/services/test_data/shipping_master.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/openapi.json
  docs/project/shipping_text_replacement_spec.md
  frontend/src/features/inventory/components/LotFilterBar.tsx
  frontend/src/features/ocr-results/components/FilterCard.tsx
  frontend/src/features/ocr-results/components/OcrResultsTable.tsx
  frontend/src/features/ocr-results/components/ShippingTextReplacementRules.tsx
  frontend/src/features/ocr-results/pages/OcrResultEditModal.tsx
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/features/ocr-results/pages/useOcrColumns.tsx
  frontend/src/features/orders/components/filters/OrderFilters.tsx
  frontend/src/features/shipping-master/components/ShippingMasterFilters.tsx
  frontend/src/shared/components/data/FilterContainer.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

Implement inline OCR results editing
  frontend/src/features/ocr-results/components/OcrResultsTable.tsx
  frontend/src/features/ocr-results/pages/OcrResultEditModal.tsx
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/features/ocr-results/pages/useOcrColumns.tsx
  frontend/src/index.css
  frontend/src/shared/components/data/DataTable.tsx
Due: prettier, eslint

Refine OCR results layout
  frontend/src/features/ocr-results/components/OcrResultsTable.tsx
  frontend/src/features/ocr-results/pages/OcrResultEditModal.tsx
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/features/ocr-results/pages/useOcrColumns.tsx
Due: prettier, eslint

feat(backend): 仕入先別担当者の複数担当対応
  backend/alembic/versions/c80c28cd0a5a_allow_multiple_primary_per_supplier.py
  backend/app/application/services/assignments/assignment_service.py
  backend/app/presentation/api/routes/assignments/assignment_router.py
Due: mypy

feat(frontend): 受注管理画面に担当仕入先フィルタの自動適用を実装
  frontend/src/features/orders/components/OrdersFilters.tsx
  frontend/src/features/orders/hooks/useOrdersListLogic.ts
  frontend/src/features/orders/pages/OrdersListPage.tsx
Due: prettier, eslint

feat(frontend): 入荷予定管理画面に担当仕入先フィルタの自動適用を実装
  frontend/src/features/inbound-plans/components/InboundPlansList.tsx
  frontend/src/features/inbound-plans/pages/InboundPlansListPage.tsx
Due: prettier, eslint

feat(frontend): 入庫履歴タブに担当仕入先の自動選択を実装
  frontend/src/features/inventory/components/IntakeHistoryTab.tsx
Due: prettier, eslint

feat(frontend): 出庫登録フォームに担当仕入先の自動選択を実装
  frontend/src/features/withdrawals/hooks/useWithdrawalFormState.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  mypy: any of: ^backend/ and \.py$
  openapi-sync: any of: ^backend/app/presentation/schemas/.*\.py$
