Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

.pre-commit-config.yaml:

# リポジトリ直下の .pre-commit-config.yaml
repos:
  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true

      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

  # Backend - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend - Mypy (Type Check)
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (Backend)
        entry: bash -c 'cd backend && uv run mypy app/' --
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # OpenAPI Schema Sync - regenerate when backend schemas change
  - repo: local
    hooks:
      - id: openapi-sync
        name: OpenAPI Schema Sync
        entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
        language: system
        files: ^backend/app/presentation/schemas/.*\.py$
        pass_filenames: false

chore: archive blocking Phase 1 migrations to temp folder and rebase OCR migration
  backend/alembic/temp_archive/ccc835b9204e_merge_heads.py
  backend/alembic/temp_archive/g1h2i3j4k5l6_supplier_customer_items_migration.py
  backend/alembic/temp_archive/h2i3j4k5l6m7_remove_customer_items_ocr_sap_fields.py
  backend/alembic/temp_archive/i3j4k5l6m7n8_phase1_check_maker_part_no.py
  backend/alembic/temp_archive/j4k5l6m7n8o9_phase1_maker_part_no_not_null.py
  backend/alembic/temp_archive/k5l6m7n8o9p0_phase1_check_supplier_item_id.py
  backend/alembic/temp_archive/l6m7n8o9p0q1_phase1_supplier_item_id_not_null.py
  backend/alembic/versions/123456789abc_expand_forecast_period_in_allocation_suggestions.py
  backend/alembic/versions/975743e7c919_merge_supplier_items_and_delivery_date_.py
  backend/alembic/versions/ff46774c6969_add_inbound_no_2_and_update_v_ocr_.py
Due: mypy

fix: resolve production migration conflict by chaining forecast migration to h2 cleanup migration
  backend/alembic/temp_archive/ccc835b9204e_merge_heads.py
  backend/alembic/temp_archive/g1h2i3j4k5l6_supplier_customer_items_migration.py
  backend/alembic/temp_archive/i3j4k5l6m7n8_phase1_check_maker_part_no.py
  backend/alembic/temp_archive/j4k5l6m7n8o9_phase1_maker_part_no_not_null.py
  backend/alembic/temp_archive/k5l6m7n8o9p0_phase1_check_supplier_item_id.py
  backend/alembic/temp_archive/l6m7n8o9p0q1_phase1_supplier_item_id_not_null.py
  backend/alembic/versions/123456789abc_expand_forecast_period_in_allocation_suggestions.py
  backend/alembic/versions/h2i3j4k5l6m7_remove_customer_items_ocr_sap_fields.py
Due: mypy

maint: finalize migration cleanup and baseline scripts
  backend/scripts/stamp_baseline.py
Due: mypy

feat(rpa/smartread): implementation audit, cleanup, and automatic navigation
  backend/app/application/services/smartread/pad_runner_service.py
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint, mypy

fix(rpa/smartread): fix redirection loop and refine backend execution atomicity
  backend/app/application/services/smartread/pad_runner_service.py
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint, mypy

fix(rpa/smartread): optimize data saving performance and strengthen navigation guard
  backend/app/application/services/smartread/export_service.py
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint, mypy

Use cloud flow configs for step3 URL
  backend/app/application/services/rpa/orchestrator.py
  backend/tests/unit/test_material_delivery_orchestrator.py
Due: mypy

Execute step1 cloud flow in RPA service
  backend/app/application/services/rpa/rpa_service.py
Due: mypy

Add simple material delivery step1/step2 page
  backend/app/application/services/rpa/material_delivery_simple_service.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/rpa/__init__.py
  backend/app/presentation/api/routes/rpa/material_delivery_simple_router.py
  backend/app/presentation/schemas/rpa_schema.py
  frontend/src/MainRoutes.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/auth/permissions/config.ts
  frontend/src/features/rpa/api.ts
  frontend/src/features/rpa/hooks.ts
  frontend/src/features/rpa/pages/MaterialDeliverySimplePage.tsx
  frontend/src/features/rpa/pages/RPAPage.tsx
Due: prettier, eslint, mypy, openapi-sync

feat: Implement Material Delivery Simple Page (UI refactor + delete + help)
  backend/app/application/services/rpa/material_delivery_simple_service.py
  backend/app/application/services/rpa/orchestrator.py
  backend/app/application/services/rpa/rpa_service.py
  backend/app/presentation/api/routes/rpa/material_delivery_simple_router.py
  backend/openapi.json
  backend/tests/api/test_rpa_material_delivery_simple.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/MainRoutes.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/features/rpa/api.ts
  frontend/src/features/rpa/components/CloudFlowHelp.tsx
  frontend/src/features/rpa/components/ConfigDialog.tsx
  frontend/src/features/rpa/components/HistoryTable.tsx
  frontend/src/features/rpa/hooks.ts
  frontend/src/features/rpa/pages/MaterialDeliverySimplePage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

feat: 簡易版ページの実装とRPA設定参照の適正化 (#505)
  backend/app/application/services/rpa/material_delivery_simple_service.py
  backend/app/application/services/rpa/orchestrator.py
  backend/app/application/services/rpa/rpa_service.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/rpa/__init__.py
  backend/app/presentation/api/routes/rpa/material_delivery_simple_router.py
  backend/app/presentation/schemas/rpa_schema.py
  backend/openapi.json
  backend/tests/api/test_rpa_material_delivery_simple.py
  backend/tests/unit/test_material_delivery_orchestrator.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/MainRoutes.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/auth/permissions/config.ts
  frontend/src/features/rpa/api.ts
  frontend/src/features/rpa/components/CloudFlowHelp.tsx
  frontend/src/features/rpa/components/ConfigDialog.tsx
  frontend/src/features/rpa/components/HistoryTable.tsx
  frontend/src/features/rpa/hooks.ts
  frontend/src/features/rpa/pages/MaterialDeliverySimplePage.tsx
  frontend/src/features/rpa/pages/RPAPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

Add forecast provisional order tests
  backend/app/application/services/allocations/commit.py
  backend/app/application/services/forecasts/forecast_service.py
  backend/app/domain/events/dispatcher.py
  backend/app/presentation/api/routes/allocations/allocations_router.py
  backend/tests/unit/test_forecast_provisional_orders.py
Due: mypy

fix(backend): improve exception handling and test dependencies
  backend/app/domain/events/dispatcher.py
  docs/project/BACKLOG.md
Due: mypy

docs: remove completed tasks (5-3, 5-4, 8-9) from backlog
  docs/project/BACKLOG.md
Due: none

fix(backend): catch AllocationCommitError in forecast service
  backend/app/application/services/forecasts/forecast_service.py
Due: mypy

docs: add failure investigation report from stash
  docs/issues/20260128_RPA_MaterialDelivery_Step1_Failure.md
Due: none

style(backend): force update to trigger CI check for import order
  backend/app/application/services/forecasts/forecast_service.py
Due: mypy

Refine exception handling for allocations/forecasts and add forecast provisional-order tests (#506)
  backend/app/application/services/allocations/commit.py
  backend/app/application/services/forecasts/forecast_service.py
  backend/app/domain/events/dispatcher.py
  backend/app/presentation/api/routes/allocations/allocations_router.py
  backend/tests/unit/test_forecast_provisional_orders.py
  docs/issues/20260128_RPA_MaterialDelivery_Step1_Failure.md
  docs/project/BACKLOG.md
Due: mypy

fix(excel-export): implement partial replacement for shipping slip text and fix column mappings
  backend/app/presentation/api/routes/ocr_results_router.py
Due: mypy

fix(excel-export): implement partial replacement for shipping slip text and fix column mappings (#507)
  backend/app/presentation/api/routes/ocr_results_router.py
Due: mypy

feat(rpa-frontend): add execution confirmation dialogs for step1 and step2
  frontend/src/features/rpa/components/HistoryTable.tsx
  frontend/src/features/rpa/pages/MaterialDeliverySimplePage.tsx
Due: prettier, eslint

feat(frontend): RPA実行確認ダイアログ実装 (Frontend) (#508)
  frontend/src/features/rpa/components/HistoryTable.tsx
  frontend/src/features/rpa/pages/MaterialDeliverySimplePage.tsx
Due: prettier, eslint

temp: WIP ocr-completion-archiving for branch switch
  backend/alembic/versions/70cdb27f5363_add_smartread_completion_history_tables.py
  backend/alembic/versions/cbaa7f63bde3_add_sap_snapshot_columns_to_completed_.py
  backend/app/application/services/smartread/completion_service.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/presentation/api/routes/completed_route.txt
  backend/app/presentation/api/routes/export_route.txt
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/app/presentation/schemas/smartread_schema.py
  backend/openapi.json
  backend/tests/services/test_smartread_completion.py
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/components/ActionButtons.tsx
  frontend/src/features/ocr-results/components/ExportDialog.tsx
  frontend/src/features/ocr-results/components/FilterCard.tsx
  frontend/src/features/ocr-results/components/OcrResultsTable.tsx
  frontend/src/features/ocr-results/components/StatsDisplay.tsx
  frontend/src/features/ocr-results/components/ViewModeToggle.tsx
  frontend/src/features/ocr-results/hooks/useOcrActions.ts
  frontend/src/features/ocr-results/hooks/useOcrData.ts
  frontend/src/features/ocr-results/hooks/useOcrRowInputs.ts
  frontend/src/features/ocr-results/pages/OcrResultEditModal.tsx
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/features/ocr-results/pages/useOcrColumns.tsx
  frontend/src/features/ocr-results/utils/ocr-utils.ts
  frontend/src/types/api.d.ts
  scripts/seed_sap_data.py
Due: prettier, eslint, mypy, openapi-sync

feat: enhance RPA integration with logging, testing and refactor frontend hooks
  backend/alembic/versions/4e9ab10f6031_add_rpa_jobs_and_sap_linkage_support.py
  backend/alembic/versions/cbaa7f63bde3_add_sap_snapshot_columns_to_completed_.py
  backend/app/application/services/smartread/completion_service.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/rpa/__init__.py
  backend/app/presentation/api/routes/rpa/sap_orders.py
  backend/app/presentation/schemas/rpa_schema.py
  backend/openapi.json
  backend/tests/api/test_rpa_sap_orders.py
  frontend/src/features/ocr-results/components/ActionButtons.tsx
  frontend/src/features/ocr-results/components/OcrResultsTable.tsx
  frontend/src/features/ocr-results/components/ViewModeToggle.tsx
  frontend/src/features/ocr-results/hooks/useOcrActions.ts
  frontend/src/features/ocr-results/hooks/useOcrEditPersistence.ts
  frontend/src/features/ocr-results/hooks/useOcrExportOperations.ts
  frontend/src/features/ocr-results/hooks/useOcrFiltersState.ts
  frontend/src/features/ocr-results/hooks/useOcrPageLogic.ts
  frontend/src/features/ocr-results/hooks/useOcrRowInputs.ts
  frontend/src/features/ocr-results/hooks/useOcrRpaOperations.ts
  frontend/src/features/ocr-results/hooks/useOcrStatusOperations.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/features/rpa/api.ts
  frontend/src/shared/components/data/DataTable.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat: SAP RPA連携の強化とマイグレーションの統合 (#509)
  backend/alembic/versions/4e9ab10f6031_add_rpa_jobs_and_sap_linkage_support.py
  backend/app/application/services/smartread/completion_service.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/completed_route.txt
  backend/app/presentation/api/routes/export_route.txt
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/app/presentation/api/routes/rpa/__init__.py
  backend/app/presentation/api/routes/rpa/sap_orders.py
  backend/app/presentation/schemas/rpa_schema.py
  backend/app/presentation/schemas/smartread_schema.py
  backend/openapi.json
  backend/tests/api/test_rpa_sap_orders.py
  backend/tests/services/test_smartread_completion.py
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/components/ActionButtons.tsx
  frontend/src/features/ocr-results/components/ExportDialog.tsx
  frontend/src/features/ocr-results/components/FilterCard.tsx
  frontend/src/features/ocr-results/components/OcrResultsTable.tsx
  frontend/src/features/ocr-results/components/StatsDisplay.tsx
  frontend/src/features/ocr-results/components/ViewModeToggle.tsx
  frontend/src/features/ocr-results/hooks/useOcrActions.ts
  frontend/src/features/ocr-results/hooks/useOcrData.ts
  frontend/src/features/ocr-results/hooks/useOcrEditPersistence.ts
  frontend/src/features/ocr-results/hooks/useOcrExportOperations.ts
  frontend/src/features/ocr-results/hooks/useOcrFiltersState.ts
  frontend/src/features/ocr-results/hooks/useOcrPageLogic.ts
  frontend/src/features/ocr-results/hooks/useOcrRowInputs.ts
  frontend/src/features/ocr-results/hooks/useOcrRpaOperations.ts
  frontend/src/features/ocr-results/hooks/useOcrStatusOperations.ts
  frontend/src/features/ocr-results/pages/OcrResultEditModal.tsx
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/features/ocr-results/pages/useOcrColumns.tsx
  frontend/src/features/ocr-results/utils/ocr-utils.ts
  frontend/src/features/rpa/api.ts
  frontend/src/shared/components/data/DataTable.tsx
  frontend/src/types/api.d.ts
  scripts/seed_sap_data.py
Due: prettier, eslint, mypy, openapi-sync

feat(auth/calendar): add route protection, holiday sync/import, and document password auth plan
  backend/app/application/services/calendar_service.py
  backend/app/presentation/api/routes/system/calendar_router.py
  backend/app/presentation/schemas/calendar/calendar_schemas.py
  backend/openapi.json
  backend/tests/services/test_calendar_service_sync.py
  docs/auth/password_auth_upgrade_plan.md
  docs/features/rpa/rpa_integration_spec.md
  frontend/src/MainRoutes.tsx
  frontend/src/contexts/SystemSettingsContext.tsx
  frontend/src/features/calendar/api.ts
  frontend/src/features/calendar/hooks.ts
  frontend/src/features/calendar/pages/CalendarSettingsPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix(pr-review): address review comments and lint errors
  backend/app/application/services/calendar_service.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/app/presentation/api/routes/rpa/sap_orders.py
  frontend/src/features/auth/permissions/config.ts
Due: prettier, eslint, mypy

feat: Add holiday sync/import and enhance route protection (#510)
  backend/app/application/services/calendar_service.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/app/presentation/api/routes/rpa/sap_orders.py
  backend/app/presentation/api/routes/system/calendar_router.py
  backend/app/presentation/schemas/calendar/calendar_schemas.py
  backend/openapi.json
  backend/tests/services/test_calendar_service_sync.py
  docs/auth/password_auth_upgrade_plan.md
  docs/features/rpa/rpa_integration_spec.md
  frontend/src/MainRoutes.tsx
  frontend/src/contexts/SystemSettingsContext.tsx
  frontend/src/features/auth/permissions/config.ts
  frontend/src/features/calendar/api.ts
  frontend/src/features/calendar/hooks.ts
  frontend/src/features/calendar/pages/CalendarSettingsPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat(phase1): SKU-driven inventory management enforcement
  backend/alembic/versions/phase1_sku_enforcement.py
  backend/app/application/services/masters/customer_items_service.py
  backend/app/presentation/api/routes/masters/customer_items_router.py
  backend/app/presentation/schemas/masters/supplier_items_schema.py
  backend/openapi.json
  frontend/src/features/customer-items/api.ts
  frontend/src/features/customer-items/components/CustomerItemFormBasicSection.tsx
  frontend/src/features/customer-items/components/CustomerItemsTable.tsx
  frontend/src/features/customer-items/components/customerItemFormSchema.ts
  frontend/src/features/customer-items/pages/CustomerItemsListPage.tsx
  frontend/src/features/inventory/pages/ExcelPortalPage.tsx
  frontend/src/features/masters/pages/MastersPage.tsx
  frontend/src/features/supplier-products/components/SupplierProductForm.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat: Add Phase1 data audit and backfill scripts
  backend/app/scripts/__init__.py
  backend/app/scripts/phase1_audit.py
  backend/app/scripts/phase1_backfill_mapping.py
Due: mypy

fix(frontend): Fix SearchableSelect empty string error in all forms
  frontend/src/features/customer-items/components/CustomerItemFormBasicSection.tsx
Due: prettier, eslint

docs: Add Phase1 implementation completion summary
  docs/project/PHASE1_COMPLETION_SUMMARY.md
Due: none

docs: Add session handoff prompt for Phase2 continuation
  docs/project/SESSION_HANDOFF_PHASE2.md
Due: none

fix(frontend): Fix Select empty string validation in SupplierProductForm
  frontend/src/features/supplier-products/components/SupplierProductForm.tsx
Due: prettier, eslint

fix(data): Correct supplier_items.maker_part_no to use unique supplier-specific codes
  backend/fix_supplier_part_numbers.py
  docs/project/PHASE1_ARCHITECTURAL_ISSUE.md
  frontend/src/features/customer-items/components/CustomerItemForm.tsx
  frontend/src/features/supplier-products/components/SupplierProductForm.tsx
Due: prettier, eslint, mypy

fix(frontend): Fix supplier_item_id validation error in customer-items forms
  frontend/src/features/customer-items/components/CustomerItemForm.tsx
  frontend/src/features/customer-items/components/CustomerItemFormDialog.tsx
Due: prettier, eslint

fix(frontend): Clarify product code labels as メーカー品番 in inventory views
  frontend/src/features/inventory/components/InventoryByProductTable.tsx
  frontend/src/features/inventory/components/InventoryTableColumns.tsx
  frontend/src/features/inventory/components/ProductGroupHeader.tsx
  frontend/src/features/inventory/pages/LotDetailPage.tsx
Due: prettier, eslint
