Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

.pre-commit-config.yaml:

# リポジトリ直下の .pre-commit-config.yaml
repos:
  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true

      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

  # Backend - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend - Mypy (Type Check)
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (Backend)
        entry: bash -c 'cd backend && uv run mypy app/' --
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # OpenAPI Schema Sync - regenerate when backend schemas change
  - repo: local
    hooks:
      - id: openapi-sync
        name: OpenAPI Schema Sync
        entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
        language: system
        files: ^backend/app/presentation/schemas/.*\.py$
        pass_filenames: false

Add SAP reconciliation logic Phase 1
  backend/alembic/versions/c1d2e3f4g5h6_add_sap_integration_tables.py
  backend/alembic/versions/d2e3f4g5h6i7_add_sap_status_to_v_ocr_results.py
  backend/app/application/services/sap/__init__.py
  backend/app/application/services/sap/sap_material_service.py
  backend/app/application/services/sap/sap_reconciliation_service.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/sap_models.py
  backend/app/presentation/api/routes/integration/sap_router.py
  backend/app/presentation/schemas/integration/sap_schema.py
Due: mypy, openapi-sync

fix(backend): fix dataclass typing and mypy errors in SAP services
  backend/app/application/services/sap/sap_material_service.py
  backend/app/application/services/sap/sap_reconciliation_service.py
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

Enable real SAP connection based on DB password setting
  backend/app/application/services/sap/sap_reconciliation_service.py
  backend/app/presentation/api/routes/integration/sap_router.py
Due: mypy

Add SmartRead PAD compatibility review and implementation plan
  docs/smartread/archive/smartread_sync_issue_report.md
  docs/smartread/pad_compatibility_review.md
  docs/smartread/pad_runner_implementation_plan.md
Due: none

Update PAD runner implementation plan with review feedback
  docs/smartread/pad_runner_implementation_plan.md
Due: none

Address 3 additional review points in PAD runner plan
  docs/smartread/pad_runner_implementation_plan.md
Due: none

Document thread lifecycle limitation as accepted trade-off
  docs/smartread/pad_runner_implementation_plan.md
Due: none

Phase 0: Disable dangerous /tasks/{id}/sync API path in UI
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
Due: prettier, eslint

Phase 1: Add SmartReadPadRun model and migration
  backend/alembic/versions/c8d9e0f1a2b3_add_smartread_pad_runs_table.py
  backend/app/infrastructure/persistence/models/smartread_models.py
Due: mypy

Phase 2: Implement SmartReadPadRunnerService
  backend/app/application/services/smartread/pad_runner_service.py
Due: mypy

Phase 3: Add PAD-runs API endpoints
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/smartread_schema.py
Due: mypy, openapi-sync

Phase 3: Add frontend API and hooks for PAD runs
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/hooks/index.ts
  frontend/src/features/rpa/smartread/hooks/pad-run-hooks.ts
  frontend/src/features/rpa/smartread/hooks/query-keys.ts
Due: prettier, eslint

Phase 3: Switch SmartReadPage to use /pad-runs API
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint

fix(backend): fix mypy errors in SmartReadPadRun and pad_runner_service
  backend/app/application/services/smartread/pad_runner_service.py
  backend/app/infrastructure/persistence/models/smartread_models.py
Due: mypy

refactor(frontend): split SmartReadPage into smaller components and extract types
  backend/MagicMock/mock.get().export_dir/4675476112/long_data_task_001_20250101.csv
  backend/openapi.json
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadConfigSelector.tsx
  frontend/src/features/rpa/smartread/components/SmartReadPadRunStatusList.tsx
  frontend/src/features/rpa/smartread/components/SmartReadSavedDataList.tsx
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  frontend/src/features/rpa/smartread/types.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint

refactor(smartread): fix pad script flow and split components (#485)
  backend/MagicMock/mock.get().export_dir/4675476112/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4748302320/long_data_task_001_20250101.csv
  backend/alembic/versions/c8d9e0f1a2b3_add_smartread_pad_runs_table.py
  backend/app/application/services/smartread/pad_runner_service.py
  backend/app/core/config.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/debug/__init__.py
  backend/app/presentation/api/routes/debug/db_browser_router.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/smartread_schema.py
  backend/openapi.json
  backend/tests/api/test_debug_db_browser.py
  backend/tests/conftest.py
  docs/smartread/archive/smartread_sync_issue_report.md
  docs/smartread/pad_compatibility_review.md
  docs/smartread/pad_runner_implementation_plan.md
  frontend/src/MainRoutes.tsx
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/debug-db/api.ts
  frontend/src/features/debug-db/components/DbObjectDetail.tsx
  frontend/src/features/debug-db/components/DbObjectList.tsx
  frontend/src/features/debug-db/hooks.ts
  frontend/src/features/debug-db/pages/DbBrowserPage.tsx
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadConfigSelector.tsx
  frontend/src/features/rpa/smartread/components/SmartReadPadRunStatusList.tsx
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
  frontend/src/features/rpa/smartread/components/SmartReadSavedDataList.tsx
  frontend/src/features/rpa/smartread/hooks/index.ts
  frontend/src/features/rpa/smartread/hooks/pad-run-hooks.ts
  frontend/src/features/rpa/smartread/hooks/query-keys.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  frontend/src/features/rpa/smartread/types.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix(migration): resolve multiple heads and SQL errors in v_ocr_results view
  backend/alembic/versions/d2e3f4g5h6i7_add_sap_status_to_v_ocr_results.py
  backend/alembic/versions/eaa941fd2224_merge_multiple_heads.py
Due: mypy

chore: update openapi schema and type definitions
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint

feat(ocr): 出荷票置換ロジックの改善および納入量の編集機能を追加
  backend/MagicMock/mock.get().export_dir/4675511568/long_data_task_001_20250101.csv
  backend/alembic/versions/8a09ac586cc7_add_delivery_quantity_to_ocr_result_.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/sql/views/create_views.sql
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint, mypy

feat(sap): add master-via SAP matching for items with branch numbers
  backend/app/application/services/sap/sap_reconciliation_service.py
Due: mypy

feat(sap): add complete SAP field mapping from ET_DATA
  backend/app/application/services/sap/sap_material_service.py
Due: mypy

feat(sap): add SAP integration management UI
  backend/app/presentation/api/routes/integration/sap_router.py
  backend/app/presentation/schemas/integration/sap_schema.py
  frontend/src/MainRoutes.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/sap-integration/api.ts
  frontend/src/features/sap-integration/components/ConnectionForm.tsx
  frontend/src/features/sap-integration/components/ConnectionsTab.tsx
  frontend/src/features/sap-integration/components/DataFetchTab.tsx
  frontend/src/features/sap-integration/components/LogsTab.tsx
  frontend/src/features/sap-integration/index.ts
  frontend/src/features/sap-integration/pages/SapIntegrationPage.tsx
Due: prettier, eslint, mypy, openapi-sync

fix: resolve systematic import errors and lint violations in sap-integration feature
  frontend/src/MainRoutes.tsx
  frontend/src/features/sap-integration/api.ts
  frontend/src/features/sap-integration/components/ConnectionForm.tsx
  frontend/src/features/sap-integration/components/ConnectionsTab.tsx
  frontend/src/features/sap-integration/components/DataFetchTab.tsx
  frontend/src/features/sap-integration/components/LogsTab.tsx
  frontend/src/features/sap-integration/pages/SapIntegrationPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint

feat(smartread): update CSV structure for decimal quantity handling
  backend/app/application/services/smartread/csv_transformer.py
  backend/openapi.json
  backend/tests/conftest.py
  backend/tests/services/test_csv_transformer.py
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

test(smartread): add edge case tests for empty decimal fields
  backend/tests/services/test_csv_transformer.py
Due: mypy

test: fix expectation for 納入量 to match implementation behavior (remove trailing zeros)
  backend/tests/services/test_csv_transformer.py
Due: mypy

feat(sap): add pagination support for SAP cache API
  backend/app/presentation/api/routes/integration/sap_router.py
  backend/app/presentation/schemas/integration/sap_schema.py
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat(sap): add frontend pagination and column selection for SAP cache
  frontend/src/features/sap-integration/api.ts
  frontend/src/features/sap-integration/components/DataFetchTab.tsx
Due: prettier, eslint

fix(frontend): correct popover import path in DataFetchTab
  frontend/src/features/sap-integration/components/DataFetchTab.tsx
Due: prettier, eslint

feat(sap): add delivery_date to OCR edits and implement master reverse matching
  backend/alembic/versions/271b5b7afd1d_add_delivery_date_to_ocr_edits.py
  backend/app/application/services/sap/sap_reconciliation_service.py
Due: mypy

feat(ocr-results): add SAP matching info to OCR results API
  backend/app/presentation/api/routes/ocr_results_router.py
Due: mypy

feat(ocr-results): add SAP matching columns and icons to frontend
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

feat(shipping-master): add edit and create functionality
  frontend/src/features/shipping-master/components/ShippingMasterEditDialog.tsx
  frontend/src/features/shipping-master/pages/ShippingMasterListPage.tsx
Due: prettier, eslint

Add RBAC guard scaffolding and auth error handling
  backend/app/presentation/api/routes/auth/auth_router.py
  docs/rbac-implementation-plan.md
  frontend/src/App.tsx
  frontend/src/components/auth/AccessGuard.tsx
  frontend/src/components/auth/AdminGuard.test.tsx
  frontend/src/components/auth/AdminGuard.tsx
  frontend/src/components/auth/AuthErrorOverlay.tsx
  frontend/src/components/auth/RoleGuard.tsx
  frontend/src/features/auth/AuthContext.tsx
  frontend/src/features/auth/pages/ForbiddenPage.tsx
  frontend/src/features/auth/pages/LoginPage.tsx
  frontend/src/features/rpa/material-delivery-note/hooks/useCloudFlow.ts
  frontend/src/features/rpa/material-delivery-note/pages/RunDetailPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/RunMonitorPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3DetailPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3ExecuteListPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step4DetailPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step4ListPage.tsx
  frontend/src/features/rpa/smartread/hooks/export-hooks.ts
  frontend/src/features/rpa/smartread/hooks/pad-run-hooks.ts
  frontend/src/features/rpa/smartread/hooks/task-hooks.ts
  frontend/src/features/system/SystemStatus.tsx
  frontend/src/hooks/useConfirmedOrderLines.ts
  frontend/src/shared/api/http-client.ts
  frontend/src/shared/auth/auth-status.ts
  frontend/src/shared/libs/query-client.ts
  frontend/src/shared/libs/query-utils.ts
Due: prettier, eslint, mypy

chore: update api types from openapi schema
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint

Fix TanStack Query typing for RBAC branch
  frontend/src/features/auth/AuthContext.tsx
  frontend/src/features/auth/pages/LoginPage.tsx
  frontend/src/features/rpa/material-delivery-note/hooks/useCloudFlow.ts
  frontend/src/features/rpa/material-delivery-note/pages/RunDetailPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/RunMonitorPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3DetailPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3ExecuteListPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step4DetailPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step4ListPage.tsx
  frontend/src/features/rpa/smartread/hooks/export-hooks.ts
  frontend/src/features/rpa/smartread/hooks/pad-run-hooks.ts
  frontend/src/features/rpa/smartread/hooks/task-hooks.ts
  frontend/src/features/system/SystemStatus.tsx
  frontend/src/hooks/useConfirmedOrderLines.ts
  frontend/src/shared/libs/query-client.ts
  frontend/src/shared/libs/query-utils.ts
Due: prettier, eslint

feat(shipping-master): add change history display and optimistic locking
  backend/app/presentation/api/routes/shipping_master_router.py
  backend/app/presentation/schemas/shipping_master_schema.py
  backend/openapi.json
  frontend/src/features/shipping-master/components/ShippingMasterEditDialog.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat(ocr-results): add manual data refresh button
  docs/tasks/FUTURE_IMPROVEMENTS.md
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

feat(ocr-results): make delivery_date editable
  backend/app/presentation/api/routes/ocr_results_router.py
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint, mypy
