Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

.pre-commit-config.yaml:

# リポジトリ直下の .pre-commit-config.yaml
repos:
  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true

      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

  # Backend - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend - Mypy (Type Check)
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (Backend)
        entry: bash -c 'cd backend && uv run mypy app/' --
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # OpenAPI Schema Sync - regenerate when backend schemas change
  - repo: local
    hooks:
      - id: openapi-sync
        name: OpenAPI Schema Sync
        entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
        language: system
        files: ^backend/app/presentation/schemas/.*\.py$
        pass_filenames: false

ci: Temporarily disable E2E and Schema Sync checks
  .github/workflows/ci.yml
  .github/workflows/quality.yml
Due: none

Fix withdrawal auth and delivery place handling
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/presentation/api/routes/inventory/withdrawals_router.py
  backend/scripts/check_codex_fixes.py
  frontend/src/features/withdrawals/api.ts
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.tsx
  frontend/src/features/withdrawals/components/WithdrawalForm.tsx
  frontend/src/features/withdrawals/hooks/useWithdrawalForm.ts
  frontend/src/features/withdrawals/hooks/useWithdrawalFormState.ts
Due: prettier, eslint, mypy

Fix consumed_quantity NOT NULL constraint violation and code quality issues
  backend/app/application/services/inventory/inbound_receiving_service.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/presentation/api/routes/inventory/withdrawals_router.py
  frontend/src/features/withdrawals/components/WithdrawalForm.tsx
Due: prettier, eslint, mypy

docs: Add future improvements documentation for test DB migration setup
  docs/tasks/FUTURE_IMPROVEMENTS.md
Due: none

fix: Remove duplicate comment in QuickWithdrawalDialog
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.tsx
Due: prettier, eslint

Enforce authenticated withdrawals, remove client withdrawn_by, and fix delivery-place race/reset (#430)
  backend/app/application/services/inventory/inbound_receiving_service.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/presentation/api/routes/inventory/withdrawals_router.py
  backend/scripts/check_codex_fixes.py
  docs/tasks/FUTURE_IMPROVEMENTS.md
  frontend/src/features/withdrawals/api.ts
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.tsx
  frontend/src/features/withdrawals/components/WithdrawalForm.tsx
  frontend/src/features/withdrawals/hooks/useWithdrawalForm.ts
  frontend/src/features/withdrawals/hooks/useWithdrawalFormState.ts
Due: prettier, eslint, mypy

refactor withdrawal dialog state handling
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.tsx
  frontend/src/features/withdrawals/hooks/useWithdrawalFormState.ts
Due: prettier, eslint

refactor withdrawal dialog state handling (#431)
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.tsx
  frontend/src/features/withdrawals/hooks/useWithdrawalFormState.ts
Due: prettier, eslint

Fix supplier persistence and intake history refresh
  backend/app/application/services/inventory/lot_service.py
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
Due: prettier, eslint, mypy

Fix supplier persistence and intake history refresh (#432)
  backend/app/application/services/inventory/lot_service.py
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
Due: prettier, eslint, mypy

Add inventory lot derived atoms
  frontend/src/features/inventory/hooks/useLotListLogic.ts
  frontend/src/features/inventory/state/atoms.test.ts
  frontend/src/features/inventory/state/atoms.ts
Due: prettier, eslint

docs: add comprehensive Jotai migration plan and review
  docs/migration/inventory-jotai-review.md
  docs/migration/jotai-atoms-migration-plan.md
  frontend/src/features/inventory/hooks/useLotDataProcessing.ts
  frontend/src/features/inventory/state/atoms.test.ts
  frontend/src/features/inventory/state/atoms.ts
Due: prettier, eslint

Move inventory lot processing into Jotai derived atoms (#433)
  docs/migration/inventory-jotai-review.md
  docs/migration/jotai-atoms-migration-plan.md
  frontend/src/features/inventory/hooks/useLotDataProcessing.ts
  frontend/src/features/inventory/hooks/useLotListLogic.ts
  frontend/src/features/inventory/state/atoms.test.ts
  frontend/src/features/inventory/state/atoms.ts
Due: prettier, eslint

Improve UI consistency: navigation, pagination, and lot details
  frontend/src/features/customers/pages/CustomerDetailPage.tsx
  frontend/src/features/intake-history/components/IntakeHistoryList.tsx
  frontend/src/features/inventory/pages/InventoryItemDetailPage.tsx
  frontend/src/features/inventory/pages/LotDetailPage.tsx
  frontend/src/features/products/pages/ProductDetailPage.tsx
  frontend/src/features/suppliers/pages/SupplierDetailPage.tsx
  frontend/src/features/warehouses/pages/WarehouseDetailPage.tsx
Due: prettier, eslint

Fix: Remove quantity editing from lot update to maintain data integrity
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/openapi.json
  frontend/src/features/inventory/components/LotEditFields.tsx
  frontend/src/features/inventory/components/LotEditForm.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

Fix archive lot API path error
  frontend/src/services/api/lot-service.ts
Due: prettier, eslint

Add archived lots to test data
  backend/app/application/services/test_data/inventory.py
Due: mypy

Implement lot archive with confirmation for inventory lots
  backend/app/application/services/inventory/lot_service.py
  backend/app/presentation/api/routes/inventory/lots_router.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/openapi.json
  frontend/src/features/inventory/components/LotArchiveDialog.tsx
  frontend/src/features/inventory/hooks/useLotActions.ts
  frontend/src/features/inventory/pages/InventoryItemDetailPage.tsx
  frontend/src/hooks/api/useLotMutations.ts
  frontend/src/services/api/lot-service.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

Add 'archived' status to lot_receipts check constraint
  backend/alembic/versions/dfd667b4da21_add_archived_status_to_lot_receipts.py
Due: mypy

Fix inventory lot list filtering and display issues
  frontend/src/features/inventory/components/InventoryTableComponents.tsx
  frontend/src/features/inventory/pages/InventoryItemDetailPage.tsx
  frontend/src/hooks/api/useLotsQuery.ts
Due: prettier, eslint

feat: add pagination to inventory item detail and improve ui
  frontend/src/features/inventory/pages/InventoryItemDetailPage.tsx
Due: prettier, eslint

feat: add pagination to main inventory page
  frontend/src/features/inventory/pages/InventoryPage.tsx
Due: prettier, eslint

fix(inventory-ui): correct confusing count display in inventory table
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/pages/InventoryPage.tsx
Due: prettier, eslint

fix(ui): prevent duplicate key errors in lists by deduplicating data
  frontend/src/features/intake-history/components/IntakeHistoryList.tsx
  frontend/src/features/inventory/components/InboundPlanTable.tsx
  frontend/src/features/withdrawals/components/WithdrawalHistoryList.tsx
Due: prettier, eslint

docs: add next action items in Japanese
  docs/tasks/next_reviews_ja.md
Due: none

feat: Improve Inventory UI Consistency and Pagination (#434)
  backend/alembic/versions/dfd667b4da21_add_archived_status_to_lot_receipts.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/test_data/inventory.py
  backend/app/presentation/api/routes/inventory/lots_router.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/openapi.json
  docs/tasks/next_reviews_ja.md
  frontend/src/features/customers/pages/CustomerDetailPage.tsx
  frontend/src/features/intake-history/components/IntakeHistoryList.tsx
  frontend/src/features/inventory/components/InboundPlanTable.tsx
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/components/InventoryTableComponents.tsx
  frontend/src/features/inventory/components/LotArchiveDialog.tsx
  frontend/src/features/inventory/components/LotEditFields.tsx
  frontend/src/features/inventory/components/LotEditForm.tsx
  frontend/src/features/inventory/hooks/useLotActions.ts
  frontend/src/features/inventory/pages/InventoryItemDetailPage.tsx
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/inventory/pages/LotDetailPage.tsx
  frontend/src/features/products/pages/ProductDetailPage.tsx
  frontend/src/features/suppliers/pages/SupplierDetailPage.tsx
  frontend/src/features/warehouses/pages/WarehouseDetailPage.tsx
  frontend/src/features/withdrawals/components/WithdrawalHistoryList.tsx
  frontend/src/hooks/api/useLotMutations.ts
  frontend/src/hooks/api/useLotsQuery.ts
  frontend/src/services/api/lot-service.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat: Standardize timestamps and enhance inventory/withdrawal features
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  backend/alembic/versions/5de742979df0_merge_heads.py
  backend/alembic/versions/c1bde3065827_fix_v_inventory_summary_status.py
  backend/alembic/versions/f30373801237_fix_withdrawals_dates_and_archive_view.py
  backend/app/application/services/forecasts/forecast_generator.py
  backend/app/application/services/inventory/inventory_service.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/application/services/job_manager.py
  backend/app/application/services/masters/products_service.py
  backend/app/application/services/test_data/inventory_scenarios.py
  backend/app/application/services/test_data/withdrawals.py
  backend/app/infrastructure/clients/inventory_client.py
  backend/app/infrastructure/persistence/models/withdrawal_models.py
  backend/app/middleware/metrics.py
  backend/app/presentation/api/routes/masters/warehouse_delivery_routes_router.py
  backend/app/presentation/api/v2/inventory/router.py
  backend/app/presentation/api/v2/lot/router.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/app/presentation/schemas/inventory/withdrawal_schema.py
  backend/openapi.json
  backend/tests/api/test_allocation_suggestions.py
  backend/tests/api/test_allocations.py
  backend/tests/api/test_order_locks.py
  backend/tests/api/v2/test_inventory_api_v2.py
  backend/tests/services/test_inventory_service.py
  backend/tests/services/test_inventory_service_primary_staff.py
  backend/tests/services/test_withdrawal_service.py
  backend/tests/unit/test_material_delivery_orchestrator.py
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/hooks/useLotActions.ts
  frontend/src/features/inventory/pages/InventoryItemDetailPage.tsx
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/withdrawals/api.ts
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.tsx
  frontend/src/features/withdrawals/components/WithdrawalBasicInfo.tsx
  frontend/src/features/withdrawals/components/WithdrawalForm.tsx
  frontend/src/features/withdrawals/components/withdrawalFormSchema.ts
  frontend/src/features/withdrawals/hooks/useWithdrawalFormState.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix: Resolve CI schema mismatch and standardize schema names
  backend/app/application/services/inventory/inventory_service.py
  backend/app/main.py
  backend/app/presentation/api/routes/admin/bulk_export_router.py
  backend/app/presentation/api/routes/admin/users_router.py
  backend/app/presentation/api/routes/auth/auth_router.py
  backend/app/presentation/api/v2/inventory/router.py
  backend/app/presentation/schemas/auth/auth_schemas.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/app/presentation/schemas/system/operation_logs_schema.py
  backend/app/presentation/schemas/system/users_schema.py
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

Expose effective tab for filter options
  backend/app/application/services/inventory/inventory_service.py
  backend/app/presentation/api/v2/inventory/router.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/tests/services/test_inventory_service.py
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/components/IntakeHistoryTab.tsx
  frontend/src/features/inventory/hooks/useFilterOptions.test.tsx
  frontend/src/features/inventory/hooks/useFilterOptions.ts
  frontend/src/features/inventory/hooks/useInventoryPageState.ts
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/inventory/state.ts
  frontend/src/features/inventory/utils/filterCandidates.test.ts
  frontend/src/features/inventory/utils/filterCandidates.ts
Due: prettier, eslint, mypy, openapi-sync

feat(inventory): 仕入先中心ビュー実装 (group_by parameter)
  backend/app/application/services/inventory/inventory_service.py
  backend/app/presentation/api/v2/inventory/router.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/openapi.json
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/components/InventoryTableColumns.tsx
  frontend/src/features/inventory/hooks/useInventoryPageState.ts
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/inventory/state.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat(inventory): Implement supplier-centric view improvements
  backend/tests/services/test_inventory_service.py
  frontend/src/features/inventory/components/InventoryTable.test.tsx
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
  frontend/src/features/inventory/components/forms/NewLotIntakeForm.tsx
  frontend/src/features/inventory/hooks/useFilterOptions.test.tsx
  frontend/src/features/inventory/hooks/useInventoryPageState.ts
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/inventory/state.ts
  frontend/src/features/inventory/utils/filterCandidates.test.ts
  frontend/src/features/inventory/utils/filterCandidates.ts
Due: prettier, eslint, mypy

fix(inventory): Prevent infinite loop in filter auto-clear
  frontend/src/features/inventory/pages/InventoryPage.tsx
Due: prettier, eslint

fix(inventory): Remove filter auto-clear logic entirely
  frontend/src/features/inventory/pages/InventoryPage.tsx
Due: prettier, eslint

fix: Ruff import order and formatting in inventory_service
  backend/app/application/services/inventory/inventory_service.py
Due: mypy

ci: Temporarily disable frontend type check
  .github/workflows/ci.yml
Due: none

feat(inventory): Complete supplier-centric view implementation (#437)
  .github/workflows/ci.yml
  backend/app/application/services/inventory/inventory_service.py
  backend/app/presentation/api/v2/inventory/router.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/openapi.json
  backend/tests/services/test_inventory_service.py
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/components/IntakeHistoryTab.tsx
  frontend/src/features/inventory/components/InventoryTable.test.tsx
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/components/InventoryTableColumns.tsx
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
  frontend/src/features/inventory/components/forms/NewLotIntakeForm.tsx
  frontend/src/features/inventory/hooks/useFilterOptions.test.tsx
  frontend/src/features/inventory/hooks/useFilterOptions.ts
  frontend/src/features/inventory/hooks/useInventoryPageState.ts
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/inventory/state.ts
  frontend/src/features/inventory/utils/filterCandidates.test.ts
  frontend/src/features/inventory/utils/filterCandidates.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix: Change default group_by to product_warehouse
  backend/app/application/services/inventory/inventory_service.py
Due: mypy

docs: Add CI type check issue investigation document
  docs/fixes/CI_TYPECHECK_ISSUE.md
Due: none
