Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

.pre-commit-config.yaml:

# リポジトリ直下の .pre-commit-config.yaml
repos:
  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true

      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

  # Backend - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend - Mypy (Type Check)
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (Backend)
        entry: bash -c 'cd backend && uv run mypy app/' --
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # OpenAPI Schema Sync - regenerate when backend schemas change
  - repo: local
    hooks:
      - id: openapi-sync
        name: OpenAPI Schema Sync
        entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
        language: system
        files: ^backend/app/presentation/schemas/.*\.py$
        pass_filenames: false

chore: sync OpenAPI schema and regenerate frontend types
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint

docs(backlog): Add error handling and logging review findings
  docs/project/BACKLOG.md
Due: none

fix(backend): Add comprehensive logging to critical components
  backend/app/application/services/allocations/auto.py
  backend/app/application/services/allocations/cancel.py
  backend/app/application/services/allocations/commit.py
  backend/app/application/services/allocations/confirm.py
  backend/app/application/services/allocations/fefo.py
  backend/app/application/services/common/uow_service.py
  backend/app/infrastructure/persistence/repositories/allocation_repository.py
  backend/app/infrastructure/persistence/repositories/lot_repository.py
  backend/app/presentation/api/middleware/maintenance_middleware.py
Due: mypy

fix: Add medium priority error handling improvements
  backend/app/main.py
  docs/development/standards/error-handling.md
  frontend/src/features/auth/AuthContext.tsx
Due: prettier, eslint, mypy

docs(backlog): Mark error handling/logging tasks as completed
  docs/project/BACKLOG.md
Due: none

chore: apply lint/format fixes and update openapi.json
  backend/app/application/services/allocations/cancel.py
  backend/openapi.json
Due: mypy

fix(smartread): Enhance error handling and logging
  backend/app/infrastructure/smartread/client.py
Due: mypy

fix: Improve error handling, logging, and security
  backend/app/application/services/smartread/simple_sync_service.py
  backend/app/application/services/test_data_generator.py
  backend/app/core/errors.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/item_routes.py
Due: mypy

feat: Add comprehensive logging to critical business operations
  backend/app/application/services/allocations/candidate_service.py
  backend/app/application/services/allocations/confirm.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/smartread/auto_sync_runner.py
  backend/app/infrastructure/external/sap_gateway.py
  backend/app/infrastructure/rpa/flow_client.py
Due: mypy

feat: Add real-time log viewer for browser-based debugging
  CLAUDE.md
  backend/app/core/log_broadcaster.py
  backend/app/main.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/logs.py
  frontend/src/MainRoutes.tsx
  frontend/src/pages/LogViewer.tsx
Due: prettier, eslint, mypy

fix: Add /logs route permissions and system settings default schema
  backend/app/application/services/system_config_service.py
  backend/app/application/services/test_data/system_config.py
  backend/app/application/services/test_data_generator.py
  frontend/src/features/auth/permissions/config.ts
Due: prettier, eslint, mypy

docs(CLAUDE.md): Add comprehensive error handling and guard guidelines
  CLAUDE.md
Due: none

fix(system-settings): Allow null id in SystemSettingResponse schema
  backend/app/presentation/schemas/admin/system_setting_schema.py
  backend/openapi.json
  frontend/src/features/admin/pages/SystemSettingsPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

docs(CLAUDE.md): Add Common Tasks Checklists section
  CLAUDE.md
Due: none

fix(logs): Add real-time log viewer to GlobalNav and fix pong parse error
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/pages/LogViewer.tsx
Due: prettier, eslint

feat(logs): Enhance client logs with filters and reorganize log navigation
  backend/app/presentation/api/routes/system/system_router.py
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/constants/features.ts
  frontend/src/features/client-logs/api.ts
  frontend/src/features/client-logs/pages/ClientLogsPage.tsx
Due: prettier, eslint, mypy

fix(backend): データベースビュー復元と外部キー修正のマイグレーション
  backend/alembic/versions/af2153ad0efc_restore_views_and_fix_fk_typo.py
Due: mypy

fix(frontend): 製品マスタAPIエンドポイントの修正 (404エラー解消)
  frontend/src/hooks/api/useMastersQuery.ts
  frontend/src/services/api/query-keys.ts
Due: prettier, eslint

fix(frontend): ダッシュボードチャートの警告修正
  frontend/src/features/dashboard/components/InventoryTrendChart.tsx
  frontend/src/features/dashboard/components/TopProductsChart.tsx
  frontend/src/features/dashboard/components/WarehouseDistributionChart.tsx
Due: prettier, eslint

feat(frontend): 業務フローガイドの刷新と名称変更
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/data/graph.json
  frontend/src/features/help/pages/FlowMapHelpPage.tsx
  frontend/src/features/help/types/flowMap.ts
Due: prettier, eslint

fix: Resolve WebSocket port mismatch and redesign ClientLogsPage
  frontend/src/features/client-logs/pages/ClientLogsPage.tsx
  frontend/src/pages/LogViewer.tsx
Due: prettier, eslint

refactor(client-logs): メッセージを全文表示に変更
  frontend/src/features/client-logs/pages/ClientLogsPage.tsx
Due: prettier, eslint

refactor(client-logs): UI改善 - ボタンデザインとクリック動作
  frontend/src/features/client-logs/pages/ClientLogsPage.tsx
Due: prettier, eslint

feat(logs): リアルタイムログに直近200件取得機能とエラーファイル情報を追加
  backend/app/presentation/api/routes/system/system_router.py
  frontend/src/pages/LogViewer.tsx
  frontend/src/services/error-logger.ts
Due: prettier, eslint, mypy

fix(logs): LogViewerのログエントリ型の不一致を修正
  backend/app/presentation/api/routes/system/system_router.py
  frontend/src/pages/LogViewer.tsx
Due: prettier, eslint, mypy

fix(logs): リアルタイムログビューアの配列チェックを強化
  frontend/src/pages/LogViewer.tsx
Due: prettier, eslint

fix: add authentication to log viewer API and websocket
  backend/app/presentation/api/routes/logs.py
  backend/tests/api/test_logs_websocket.py
  frontend/src/pages/LogViewer.tsx
Due: prettier, eslint, mypy

fix: improve websocket connection management and suppress noise logs
  frontend/src/pages/LogViewer.tsx
Due: prettier, eslint

fix: suppress WebSocket connection warning in Strict Mode
  frontend/src/pages/LogViewer.tsx
Due: prettier, eslint

fix(bulk-export): fix 500 error when exporting products
  backend/app/presentation/api/routes/admin/bulk_export_router.py
  backend/tests/conftest.py
  backend/tests/integration/admin/test_bulk_export_integration.py
Due: mypy

fix: frontend type error and partial backend test refactoring for SupplierItem
  backend/app/application/services/inventory/lot_service.py
  backend/app/infrastructure/persistence/models/views_models.py
  backend/app/presentation/api/routes/admin/bulk_export_router.py
  backend/app/presentation/api/routes/masters/uom_conversions_router.py
  backend/app/presentation/api/routes/system/system_router.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/openapi.json
  backend/tests/infrastructure/test_db_triggers.py
  backend/tests/services/test_ocr_sap_complement_service.py
  backend/tests/services/test_products_service.py
  backend/tests/test_allocation_suggestions_v2.py
  docs/project/BACKLOG.md
  frontend/src/features/inventory/components/AdhocLotCreateForm.test.tsx
  frontend/src/features/inventory/pages/LotDetailPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

test: fix remaining supplier_id NOT NULL constraint violations
  backend/tests/api/test_allocations.py
  backend/tests/api/test_masters_permanent_delete_auth.py
  backend/tests/services/test_lot_service.py
  backend/tests/services/test_order_validation.py
Due: mypy

test: fix authentication and last integrity constraint error
  backend/tests/conftest.py
  backend/tests/integration/admin/test_bulk_export_integration.py
Due: mypy

test: fix route registration test and mark deprecated Product tests as skipped
  backend/tests/error_scenarios/test_bad_request_errors.py
  backend/tests/test_routes_registered.py
Due: mypy

fix(test): resolve 5 backend test failures by addressing root causes (with lint fixes)
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/system_config_service.py
  backend/app/presentation/api/routes/debug/db_browser_router.py
  backend/tests/api/test_allocations.py
  backend/tests/api/test_debug_db_browser.py
  backend/tests/api/test_logs_websocket.py
  backend/tests/api/test_masters_permanent_delete_auth.py
  backend/tests/conftest.py
  backend/tests/integration/admin/test_bulk_export_integration.py
  backend/tests/services/test_customer_deletion.py
  backend/tests/services/test_inventory_service_primary_staff.py
  backend/tests/services/test_lot_display.py
  backend/tests/services/test_order_service.py
  backend/tests/services/test_system_config_service.py
  backend/tests/test_allocation_suggestions_v2.py
Due: mypy

fix: backend tests cleanup - fix SAWarning, restore skipped tests, remove obsolete endpoint tests
  backend/app/presentation/api/routes/rpa/material_delivery_note/item_routes.py
  backend/tests/api/test_allocations.py
  backend/tests/api/test_bulk_auto_allocate.py
  backend/tests/api/test_rpa_material_delivery.py
  backend/tests/api/test_warehouses.py
  backend/tests/conftest.py
  backend/tests/error_scenarios/test_bad_request_errors.py
  backend/tests/test_allocations_refactored.py
  backend/tests/unit/test_material_delivery_orchestrator.py
Due: mypy

fix: enable skipped useOrdersList test
  frontend/src/features/orders/hooks/useOrders.test.tsx
Due: prettier, eslint

refactor: remove complex UI form submission tests, add E2E backlog item
  backend/app/core/database.py
  backend/app/core/errors.py
  backend/app/presentation/api/routes/admin/admin_router.py
  docs/project/BACKLOG.md
  frontend/e2e/fixtures/api-client.ts
  frontend/e2e/specs/p0/e2e-01-order-flow.spec.ts
  frontend/src/features/rpa/smartread/components/SmartReadSettingsModal.test.tsx
Due: prettier, eslint, mypy
