Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

.pre-commit-config.yaml:

# リポジトリ直下の .pre-commit-config.yaml
repos:
  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true

      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

  # Backend - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend - Mypy (Type Check)
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (Backend)
        entry: bash -c 'cd backend && uv run mypy app/' --
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # OpenAPI Schema Sync - regenerate when backend schemas change
  - repo: local
    hooks:
      - id: openapi-sync
        name: OpenAPI Schema Sync
        entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
        language: system
        files: ^backend/app/presentation/schemas/.*\.py$
        pass_filenames: false

fix(db): DBリセット処理の根本対策 - アドバイザリロック廃止とエラーハンドリング改善
  backend/app/core/database.py
  backend/app/presentation/api/routes/admin/admin_router.py
  docs/project/BACKLOG.md
  frontend/e2e/fixtures/api-client.ts
  frontend/e2e/fixtures/db-reset.ts
Due: prettier, eslint, mypy

fix(e2e): DBリセット時のセッションロック競合を解消 + workers=1に変更
  backend/app/presentation/api/routes/admin/admin_router.py
  frontend/playwright.config.ts
Due: prettier, eslint, mypy

feat(e2e): globalSetupでDBリセットを1回だけ実行する方式に変更
  frontend/e2e/fixtures/db-reset.ts
  frontend/e2e/global-setup.ts
  frontend/e2e/specs/p0/e2e-01-order-flow.spec.ts
  frontend/e2e/specs/p0/e2e-02-save-persistence.spec.ts
  frontend/e2e/specs/p0/e2e-03-double-submit.spec.ts
  frontend/e2e/specs/p0/e2e-04-permission.spec.ts
  frontend/e2e/specs/p0/e2e-05-list-filter.spec.ts
  frontend/playwright.config.ts
Due: prettier, eslint

fix(e2e): globalSetupでテストデータ生成とダイアログ処理を改善
  frontend/e2e/global-setup.ts
  frontend/e2e/specs/p0/e2e-01-order-flow.spec.ts
  frontend/e2e/specs/p0/e2e-02-save-persistence.spec.ts
Due: prettier, eslint

fix(e2e): e2e-02テストを一時的にスキップ（テストデータ生成の問題）
  frontend/e2e/specs/p0/e2e-02-save-persistence.spec.ts
Due: prettier, eslint

fix(e2e): add missing ApiClient import in e2e-04-permission.spec.ts
  frontend/e2e/specs/p0/e2e-04-permission.spec.ts
Due: prettier, eslint

docs: update BACKLOG.md with E2E test improvements and resolution status
  docs/project/BACKLOG.md
Due: none

fix(frontend): E2Eテストの安定性向上とマスタAPIフックの認証対応改善
  frontend/e2e/specs/p0/e2e-02-save-persistence.spec.ts
  frontend/e2e/specs/p0/e2e-04-permission.spec.ts
  frontend/src/features/supplier-products/components/SupplierProductsTable.tsx
  frontend/src/shared/hooks/useMasterApi.ts
Due: prettier, eslint

fix(frontend): E2EテストのDB接続先修正とログイン操作改善
  backend/app/presentation/api/routes/admin/admin_router.py
  frontend/e2e/fixtures/login-helper.ts
  frontend/playwright.config.ts
Due: prettier, eslint, mypy

E2Eテストの安定化と永続化検証の不備を修正
  backend/app/application/services/common/base_service.py
  frontend/e2e/current_status.md
  frontend/e2e/fixtures/api-client.ts
  frontend/e2e/global-setup.ts
  frontend/e2e/specs/p0/e2e-01-order-flow.spec.ts
  frontend/e2e/specs/p0/e2e-02-save-persistence.spec.ts
  frontend/e2e/specs/p0/e2e-03-double-submit.spec.ts
  frontend/playwright.config.ts
Due: prettier, eslint, mypy

chore: バックログの整理と完了済みタスクのアーカイブ化
  docs/project/ARCHIVE.md
  docs/project/BACKLOG.md
Due: none

fix(frontend): 入荷予定一覧のソート機能が動作しない問題を修正
  frontend/src/features/inbound-plans/components/InboundPlansList.tsx
Due: prettier, eslint

refactor(frontend): フィルタのリセットボタンとコンテナの共通化
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/withdrawals/pages/WithdrawalsListPage.tsx
Due: prettier, eslint

feat(frontend): 得意先品番マッピングの保存操作にToast通知を追加
  frontend/src/features/customer-items/hooks/index.ts
Due: prettier, eslint

refactor(frontend): チャートコンポーネントのany型を排除
  frontend/src/features/dashboard/components/TopProductsChart.tsx
  frontend/src/features/dashboard/components/WarehouseDistributionChart.tsx
Due: prettier, eslint

refactor(frontend): Dashboardのチャートコンポーネントの型安全性向上
  frontend/src/features/dashboard/components/TopProductsChart.tsx
  frontend/src/features/dashboard/components/WarehouseDistributionChart.tsx
  frontend/src/features/rpa/smartread/components/SmartReadSettingsModal.tsx
  frontend/src/features/warehouses/components/WarehouseForm.tsx
Due: prettier, eslint

docs: Quick Winsタスクをアーカイブに移動
  docs/project/ARCHIVE.md
Due: none

docs: 検証済みタスクをアーカイブに移動（入庫履歴・在庫計算SSOT）
  docs/project/ARCHIVE.md
  docs/project/BACKLOG.md
Due: none

docs: 検証済みタスクをアーカイブに移動
  docs/project/ARCHIVE.md
  docs/project/BACKLOG.md
Due: none

fix: allow archived lots in v2 search
  backend/app/presentation/api/v2/lot/router.py
  docs/project/ARCHIVE.md
  docs/project/BACKLOG.md
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/components/LotSearchPanel.tsx
Due: prettier, eslint, mypy

docs: archive inventory total count task
  docs/project/ARCHIVE.md
  docs/project/BACKLOG.md
Due: none

docs: archive inventory filter and lot status tasks
  docs/project/ARCHIVE.md
  docs/project/BACKLOG.md
  frontend/src/features/inventory/pages/InventoryItemDetailPage.tsx
  frontend/src/features/inventory/pages/LotDetailPage.tsx
Due: prettier, eslint

docs: archive date utility consolidation task
  docs/project/ARCHIVE.md
  docs/project/BACKLOG.md
Due: none

docs: archive duplicate and completed tasks from BACKLOG
  docs/project/ARCHIVE.md
  docs/project/BACKLOG.md
Due: none

debug: add detailed logging for lot archive 401 error investigation
  backend/app/presentation/api/routes/inventory/lots_router.py
  frontend/src/services/api/lot-service.ts
  frontend/src/shared/api/http-client.ts
Due: prettier, eslint, mypy

docs: add investigation report for lot archive 401 error
  docs/issues/20260201_lot_archive_401_investigation.md
Due: none

docs: update investigation report with root cause and solution
  docs/issues/20260201_lot_archive_401_investigation.md
Due: none

feat(frontend): add RefreshButton component and integrate across pages
  frontend/src/components/ui/data/RefreshButton.tsx
  frontend/src/components/ui/data/index.ts
  frontend/src/components/ui/index.ts
  frontend/src/features/customers/pages/CustomersListPage.tsx
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/ocr-results/components/ActionButtons.tsx
  frontend/src/features/orders/OrdersPage.tsx
  frontend/src/features/suppliers/pages/SuppliersListPage.tsx
Due: prettier, eslint

feat: add SAP supplier and quantity unit test data
  backend/app/application/services/test_data/sap.py
  backend/app/application/services/test_data/smartread.py
  backend/test_sap_data.py
Due: mypy

feat: display shipping_document_text in order detail page
  frontend/src/features/orders/pages/OrderDetailPage.tsx
Due: prettier, eslint

fix: replace zodResolver 'as any' with proper Resolver type (5 files)
  frontend/src/features/delivery-places/components/DeliveryPlaceForm.tsx
  frontend/src/features/rpa/smartread/components/SmartReadSettingsModal.tsx
  frontend/src/features/uom-conversions/components/UomConversionForm.tsx
  frontend/src/features/warehouse-delivery-routes/components/WarehouseDeliveryRouteForm.tsx
  frontend/src/features/warehouses/components/WarehouseForm.tsx
Due: prettier, eslint

docs: add explanatory docstrings to 28 empty schema classes
  backend/app/presentation/schemas/allocations/allocation_suggestions_schema.py
  backend/app/presentation/schemas/assignments/assignment_schema.py
  backend/app/presentation/schemas/calendar/calendar_schemas.py
  backend/app/presentation/schemas/forecasts/forecast_schema.py
  backend/app/presentation/schemas/inventory/inbound_schema.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/app/presentation/schemas/layer_code_schema.py
  backend/app/presentation/schemas/masters/customer_items_schema.py
  backend/app/presentation/schemas/masters/masters_schema.py
  backend/app/presentation/schemas/masters/product_suppliers_schema.py
  backend/app/presentation/schemas/masters/supplier_items_schema.py
  backend/app/presentation/schemas/masters/uom_conversions_schema.py
  backend/app/presentation/schemas/masters/warehouse_delivery_routes_schema.py
  backend/app/presentation/schemas/orders/order_group_schema.py
  backend/app/presentation/schemas/orders/orders_schema.py
  backend/app/presentation/schemas/shipping_master_schema.py
  backend/app/presentation/schemas/system/batch_jobs_schema.py
  backend/app/presentation/schemas/system/business_rules_schema.py
  backend/app/presentation/schemas/system/roles_schema.py
  backend/app/presentation/schemas/system/system_configs_schema.py
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

docs: archive completed tasks (2-11, 2-12, 3-2, 4-5, 9-12)
  docs/project/ARCHIVE.md
  docs/project/BACKLOG.md
Due: none

fix: ロットアーカイブ時の401エラー修正と認証ロジックの統合
  backend/app/application/services/auth/auth_service.py
  backend/app/core/config.py
  backend/app/core/security.py
  backend/app/presentation/api/routes/allocations/allocations_router.py
  backend/app/presentation/api/routes/auth/auth_router.py
  backend/app/presentation/api/routes/inventory/lots_router.py
  docs/operations/PRODUCTION_SETUP.md
  docs/operations/PRODUCTION_UPDATE_GUIDE.md
  docs/project/BACKLOG.md
Due: mypy

chore: LotDetailPage.tsx の複雑度に関する Lint エラーを抑制
  frontend/src/features/inventory/pages/LotDetailPage.tsx
Due: prettier, eslint

chore(api): update openapi schema and typescript definitions
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint

fix(e2e): fix parallel execution db reset issue and add persistence failure investigation report
  docs/investigation/e2e_persistence_failure_report.md
  docs/project/BACKLOG.md
  frontend/e2e/specs/p0/e2e-02-save-persistence.spec.ts
  frontend/e2e/specs/p0/e2e-04-permission.spec.ts
Due: prettier, eslint

Fix parallel E2E test execution and investigate persistence failures (#523)
  backend/app/application/services/common/base_service.py
  backend/app/core/database.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/admin/admin_router.py
  backend/app/presentation/api/routes/dashboard/dashboard_router.py
  backend/openapi.json
  docs/investigation/e2e-socket-hang-up-investigation.md
  docs/investigation/e2e_persistence_failure_report.md
  docs/project/BACKLOG.md
  frontend/e2e/current_status.md
  frontend/e2e/fixtures/api-client.ts
  frontend/e2e/fixtures/db-reset.ts
  frontend/e2e/fixtures/login-helper.ts
  frontend/e2e/global-setup.ts
  frontend/e2e/specs/p0/e2e-01-order-flow.spec.ts
  frontend/e2e/specs/p0/e2e-02-save-persistence.spec.ts
  frontend/e2e/specs/p0/e2e-03-double-submit.spec.ts
  frontend/e2e/specs/p0/e2e-04-permission.spec.ts
  frontend/e2e/specs/p0/e2e-05-list-filter.spec.ts
  frontend/playwright.config.ts
  frontend/src/features/supplier-products/components/SupplierProductsTable.tsx
  frontend/src/services/api.ts
  frontend/src/shared/hooks/useMasterApi.ts
  frontend/src/shared/libs/admin-api.ts
  frontend/src/types/api.d.ts
  permission_test_result.txt
  reset_db_result.txt
  test_reset_db.py
Due: prettier, eslint, mypy
