Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

.pre-commit-config.yaml:

# リポジトリ直下の .pre-commit-config.yaml
repos:
  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true

      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

  # Backend - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend - Mypy (Type Check)
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (Backend)
        entry: bash -c 'cd backend && uv run mypy app/' --
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # OpenAPI Schema Sync - regenerate when backend schemas change
  - repo: local
    hooks:
      - id: openapi-sync
        name: OpenAPI Schema Sync
        entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
        language: system
        files: ^backend/app/presentation/schemas/.*\.py$
        pass_filenames: false

Speed up deploy package build by skipping npm ci
  scripts/build_deploy_package.py
Due: none

Add simple SmartRead sync flow based on reference code
  backend/app/application/services/smartread/simple_sync_service.py
  backend/app/application/services/smartread/smartread_service.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
Due: mypy

Make analyze-simple run in background
  backend/app/presentation/api/routes/rpa/smartread_router.py
Due: mypy

Improve OCR timeout handling and build script efficiency (#477)
  backend/app/application/services/smartread/client_service.py
  backend/app/application/services/smartread/simple_sync_service.py
  backend/app/application/services/smartread/smartread_service.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  frontend/src/features/rpa/smartread/api.ts
  scripts/build_deploy_package.py
Due: prettier, eslint, mypy

Unify watch dir processing with simple sync
  backend/app/application/services/smartread/watch_service.py
Due: mypy

Force CSV export for watch dir sync
  backend/app/application/services/smartread/simple_sync_service.py
  backend/app/application/services/smartread/watch_service.py
Due: mypy

Force INFO logging level in production
  backend/app/core/logging.py
Due: mypy

Fix SmartRead upload to use background processing and add OCR result editing
  backend/alembic/versions/5dd0b2432e9a_add_jiku_material_code_to_ocr_result_.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/pyproject.toml
  backend/sql/views/create_views.sql
  backend/uv.lock
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  frontend/src/features/rpa/smartread/api.ts
Due: prettier, eslint, mypy

Fix SyntaxWarning in alembic migration for regex escape sequences
  backend/alembic/versions/5dd0b2432e9a_add_jiku_material_code_to_ocr_result_.py
  frontend/package-lock.json
Due: prettier, mypy

Add package-lock.json back
  frontend/package-lock.json
Due: prettier

Fix TypeScript build errors
  frontend/src/features/demand/components/DemandForecastChart.tsx
  frontend/src/features/rpa/smartread/api.ts
Due: prettier, eslint

Use process-auto flow for watch dir file processing
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/smartread_schema.py
Due: mypy, openapi-sync

fix(frontend): resolve lint errors and test failures in OCR results and allocations
  frontend/src/features/allocations/hooks/mutations/useAllocationMutation.test.tsx
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  frontend/src/features/rpa/smartread/components/SmartReadSavedDataList.tsx
  frontend/src/services/error-logger.ts
Due: prettier, eslint

fix(backend): address ruff/mypy errors and implement missing background process
  backend/app/application/services/smartread/request_service.py
  backend/app/application/services/smartread/simple_sync_service.py
  backend/app/application/services/smartread/watch_service.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
Due: mypy

chore: update API types and backend dependencies
  backend/openapi.json
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/types/api.d.ts
Due: prettier, eslint

Use simple sync flow for SmartRead watch directory processing (#478)
  backend/alembic/versions/5dd0b2432e9a_add_jiku_material_code_to_ocr_result_.py
  backend/app/application/services/smartread/request_service.py
  backend/app/application/services/smartread/simple_sync_service.py
  backend/app/application/services/smartread/watch_service.py
  backend/app/core/logging.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/smartread_schema.py
  backend/openapi.json
  backend/pyproject.toml
  backend/sql/views/create_views.sql
  backend/uv.lock
  frontend/package-lock.json
  frontend/src/features/allocations/hooks/mutations/useAllocationMutation.test.tsx
  frontend/src/features/demand/components/DemandForecastChart.tsx
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadSavedDataList.tsx
  frontend/src/services/error-logger.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

SmartRead: エクスポート前に request 完了をポーリングするよう変更 (#476)
  backend/alembic/versions/5dd0b2432e9a_add_jiku_material_code_to_ocr_result_.py
  backend/app/application/services/smartread/client_service.py
  backend/app/application/services/smartread/request_service.py
  backend/app/application/services/smartread/simple_sync_service.py
  backend/app/application/services/smartread/smartread_service.py
  backend/app/application/services/smartread/watch_service.py
  backend/app/core/logging.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/smartread_schema.py
  backend/openapi.json
  backend/pyproject.toml
  backend/sql/views/create_views.sql
  backend/uv.lock
  frontend/package-lock.json
  frontend/src/features/allocations/hooks/mutations/useAllocationMutation.test.tsx
  frontend/src/features/demand/components/DemandForecastChart.tsx
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadSavedDataList.tsx
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  frontend/src/services/error-logger.ts
  frontend/src/types/api.d.ts
  scripts/build_deploy_package.py
Due: prettier, eslint, mypy, openapi-sync

Remove process-auto endpoint
  backend/MagicMock/mock.get().export_dir/4754361712/long_data_task_001_20250101.csv
  backend/app/presentation/api/routes/rpa/smartread_router.py
Due: mypy

Clean up SmartRead watch dir process endpoint
  backend/app/application/services/smartread/request_service.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/hooks/sync-hooks.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint, mypy

Clean up SmartRead watch dir process endpoint (#480)
  backend/app/application/services/smartread/request_service.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/hooks/sync-hooks.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint, mypy

chore: Ruffフォーマットの適用
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

Remove process-auto endpoint (#479)
  backend/MagicMock/mock.get().export_dir/4754361712/long_data_task_001_20250101.csv
  backend/app/application/services/smartread/request_service.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/openapi.json
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/hooks/sync-hooks.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

Ensure OCR edits refresh and export latest data
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

Ensure OCR edits refresh and export latest data (#481)
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

Add SmartRead-only logging filter
  backend/app/application/services/smartread/request_service.py
  backend/app/core/config.py
  backend/app/core/logging.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
Due: mypy

Fix ruff lint for SmartRead changes
  backend/app/application/services/smartread/request_service.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
Due: mypy

Add SmartRead-only log filter and fix SmartRead background DB session usage (#482)
  backend/app/application/services/smartread/request_service.py
  backend/app/core/config.py
  backend/app/core/logging.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
Due: mypy

Simplify SmartRead watch dir batch sync
  backend/app/application/services/smartread/simple_sync_service.py
  backend/app/application/services/smartread/watch_service.py
Due: mypy

Remove unused import in watch service
  backend/app/application/services/smartread/watch_service.py
Due: mypy

Fix os import placement in watch service
  backend/app/application/services/smartread/watch_service.py
Due: mypy

Move processed watch dir files
  backend/app/application/services/smartread/watch_service.py
Due: mypy

Wrap template id parsing for formatter
  backend/app/application/services/smartread/simple_sync_service.py
Due: mypy

Apply ruff formatting fixes and add type stub
  backend/app/application/services/smartread/simple_sync_service.py
  backend/app/application/services/smartread/watch_service.py
  backend/tests/api/test_rpa_material_delivery.py
Due: mypy

Simplify SmartRead watch dir batch sync (#483)
  backend/app/application/services/smartread/simple_sync_service.py
  backend/app/application/services/smartread/watch_service.py
  backend/tests/api/test_rpa_material_delivery.py
Due: mypy

Add debug DB browser API and UI
  backend/app/core/config.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/debug/__init__.py
  backend/app/presentation/api/routes/debug/db_browser_router.py
  backend/tests/api/test_debug_db_browser.py
  backend/tests/conftest.py
  frontend/src/MainRoutes.tsx
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/debug-db/api.ts
  frontend/src/features/debug-db/hooks.ts
  frontend/src/features/debug-db/pages/DbBrowserPage.tsx
Due: prettier, eslint, mypy

Enable debug DB browser by default in non-prod
  backend/app/core/config.py
Due: mypy

Always register debug DB router
  backend/app/presentation/api/routes/__init__.py
Due: mypy

Fix debug DB rows timeout and definition fetch
  backend/app/presentation/api/routes/debug/db_browser_router.py
  frontend/src/features/debug-db/hooks.ts
  frontend/src/features/debug-db/pages/DbBrowserPage.tsx
Due: prettier, eslint, mypy

fix: backend/frontendのCIエラー修正とDBブラウザのUI/UX改善
  backend/MagicMock/mock.get().export_dir/4748302320/long_data_task_001_20250101.csv
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/debug/__init__.py
  backend/app/presentation/api/routes/debug/db_browser_router.py
  frontend/src/features/debug-db/components/DbObjectDetail.tsx
  frontend/src/features/debug-db/components/DbObjectList.tsx
  frontend/src/features/debug-db/hooks.ts
  frontend/src/features/debug-db/pages/DbBrowserPage.tsx
Due: prettier, eslint, mypy

Add debug DB browser API and admin UI (Postgres introspection) (#484)
  backend/MagicMock/mock.get().export_dir/4748302320/long_data_task_001_20250101.csv
  backend/app/core/config.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/debug/__init__.py
  backend/app/presentation/api/routes/debug/db_browser_router.py
  backend/tests/api/test_debug_db_browser.py
  backend/tests/conftest.py
  frontend/src/MainRoutes.tsx
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/debug-db/api.ts
  frontend/src/features/debug-db/components/DbObjectDetail.tsx
  frontend/src/features/debug-db/components/DbObjectList.tsx
  frontend/src/features/debug-db/hooks.ts
  frontend/src/features/debug-db/pages/DbBrowserPage.tsx
Due: prettier, eslint, mypy
