Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

prettier:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
  language: system
  pass_filenames: true

mypy:
  name: Mypy (Backend)
  entry: bash -c 'cd backend && uv run mypy app/' --
  language: system
  pass_filenames: false

openapi-sync:
  name: OpenAPI Schema Sync
  entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
  ...

docs: Archive Phase 2-1 implementation plan and cleanup tasks
  docs/archive/README.md
  docs/archive/design/supplier_customer_items_implementation_plan_v2.1.md
  docs/project/task.md
Due: none

docs: Archive Phase 2-1 implementation plan and cleanup tasks (#495)
  docs/archive/README.md
  docs/archive/design/supplier_customer_items_implementation_plan_v2.1.md
  docs/project/task.md
Due: none

feat: Drop legacy product columns (Phase 3 Close-out)
  backend/alembic/versions/7469e861ca23_drop_legacy_product_columns.py
  backend/app/application/services/inventory/intake_history_service.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/tests/api/test_debug_db_browser.py
  docs/project/task.md
  frontend/src/features/inventory/components/InventoryTable.tsx
Due: prettier, eslint, mypy

feat: Drop legacy product columns (Phase 3 Close-out) (#496)
  backend/alembic/versions/7469e861ca23_drop_legacy_product_columns.py
  backend/app/application/services/inventory/intake_history_service.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/tests/api/test_debug_db_browser.py
  docs/project/task.md
  frontend/src/features/inventory/components/InventoryTable.tsx
Due: prettier, eslint, mypy

refactor: customer_item_delivery_settings SSOT統一 (customer_item_id)
  backend/app/application/services/masters/customer_item_delivery_setting_service.py
  backend/app/infrastructure/persistence/repositories/customer_item_delivery_setting_repository.py
  backend/app/presentation/api/routes/masters/customer_item_delivery_settings_router.py
  backend/app/presentation/schemas/masters/customer_item_delivery_setting_schema.py
  backend/openapi.json
  docs/project/BACKLOG.md
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

refactor: customer_item_delivery_settings SSOT統一 (customer_item_id) (#497)
  backend/app/application/services/masters/customer_item_delivery_setting_service.py
  backend/app/infrastructure/persistence/repositories/customer_item_delivery_setting_repository.py
  backend/app/presentation/api/routes/masters/customer_item_delivery_settings_router.py
  backend/app/presentation/schemas/masters/customer_item_delivery_setting_schema.py
  backend/openapi.json
  docs/project/BACKLOG.md
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

docs: コード品質監査タスクをBACKLOGに追加
  docs/project/BACKLOG.md
Due: none

refactor: print文をlogger呼び出しに置換
  backend/app/application/services/rpa/csv_parser.py
  backend/app/application/services/rpa/rpa_service.py
  backend/app/infrastructure/smartread/client.py
Due: mypy

docs: コード品質監査タスクをBACKLOGに追加 (#498)
  docs/project/BACKLOG.md
Due: none

refactor: print文をlogger呼び出しに置換 (#499)
  backend/app/application/services/rpa/csv_parser.py
  backend/app/application/services/rpa/rpa_service.py
  backend/app/infrastructure/smartread/client.py
Due: mypy

fix(inventory): ロット展開のキー形式不一致を修正
  docs/project/BACKLOG.md
  frontend/src/features/inventory/components/InventoryTable.tsx
Due: prettier, eslint

fix(inventory): ロット展開のキー形式不一致を修正 (#500)
  docs/project/BACKLOG.md
  frontend/src/features/inventory/components/InventoryTable.tsx
Due: prettier, eslint

chore: backlog quick wins (1-4, 2-2)
  backend/app/application/services/rpa/orchestrator.py
  frontend/src/features/inbound-plans/components/InboundPlansList.tsx
Due: prettier, eslint, mypy

docs: update BACKLOG.md with completed items
  docs/project/BACKLOG.md
Due: none

feat(ocr): update supplier_name source and export columns
  backend/alembic/versions/a1b2c3d4e5f6_update_v_ocr_results_supplier_name.py
  backend/app/presentation/api/routes/ocr_results_router.py
Due: mypy

fix(ocr-export): correct shipping_date and status fields
  backend/app/presentation/api/routes/ocr_results_router.py
Due: mypy

fix(ocr-export): 出荷日エクスポート時の自動計算を削除
  backend/app/presentation/api/routes/ocr_results_router.py
Due: mypy

feat(ocr): PRレビュー指摘対応
  backend/alembic/versions/a1b2c3d4e5f6_update_v_ocr_results_supplier_name.py
  backend/alembic/versions/b2c3d4e5f6g7_add_process_status_to_ocr_edits.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/sql/views/create_views.sql
Due: mypy

fix(frontend): 納期フィールドの日付形式をHTML input用に変換
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

fix(backend): Excelエクスポート時の出荷日をスラッシュ区切りに変換
  backend/app/presentation/api/routes/ocr_results_router.py
Due: mypy

feat(ocr): improve result management with process status, error persistence and edit support for delivery date
  backend/alembic/versions/777b9fe6c637_add_delivery_date_to_ocr_result_edits_.py
  backend/alembic/versions/a32530da9211_add_error_flags_to_v_ocr_results.py
  backend/alembic/versions/c9b23065f819_fix_v_ocr_results_delivery_quantity_.py
  backend/alembic/versions/e218bf23049b_add_error_flags_and_fix_process_status.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/presentation/api/routes/ocr_results_router.py
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint, mypy

refactor(migration): unify redundant migrations and fix view definition
  backend/alembic/versions/777b9fe6c637_add_delivery_date_to_ocr_result_edits_.py
  backend/alembic/versions/a1b2c3d4e5f6_update_v_ocr_results_supplier_name.py
  backend/alembic/versions/b2c3d4e5f6g7_add_process_status_to_ocr_edits.py
  backend/sql/views/create_views.sql
Due: mypy

feat: バックログクイックウィン + OCRエクスポート改善 (#501)
  backend/alembic/versions/777b9fe6c637_add_delivery_date_to_ocr_result_edits_.py
  backend/alembic/versions/a1b2c3d4e5f6_update_v_ocr_results_supplier_name.py
  backend/alembic/versions/a32530da9211_add_error_flags_to_v_ocr_results.py
  backend/alembic/versions/c9b23065f819_fix_v_ocr_results_delivery_quantity_.py
  backend/alembic/versions/e218bf23049b_add_error_flags_and_fix_process_status.py
  backend/app/application/services/rpa/orchestrator.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/sql/views/create_views.sql
  docs/project/BACKLOG.md
  frontend/src/features/inbound-plans/components/InboundPlansList.tsx
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint, mypy

feat: Implement Dynamic Configuration System
  backend/alembic/versions/7b2ae6b36a5b_add_enable_db_browser_setting.py
  backend/alembic/versions/85aaf971a93f_add_system_settings_for_maintenance_log_.py
  backend/app/application/services/system_config_service.py
  backend/app/main.py
  backend/app/presentation/api/middleware/maintenance_middleware.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/admin/system_settings_router.py
  backend/app/presentation/api/routes/debug/db_browser_router.py
  backend/app/presentation/api/routes/system/system_router.py
  backend/app/presentation/schemas/admin/system_setting_schema.py
  backend/openapi.json
  backend/tests/api/test_system_settings.py
  frontend/src/App.tsx
  frontend/src/MainRoutes.tsx
  frontend/src/components/auth/FeatureGuard.tsx
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/constants/routes.ts
  frontend/src/contexts/SystemSettingsContext.tsx
  frontend/src/features/admin/pages/AdminPage.tsx
  frontend/src/features/admin/pages/SystemSettingsPage.tsx
  frontend/src/features/debug-db/pages/DbBrowserPage.tsx
  frontend/src/features/debug-db/useDbObjectFilter.ts
  frontend/src/types/api.d.ts
  frontend/src/types/system.ts
  verify_maintenance.py
Due: prettier, eslint, mypy, openapi-sync

fix: update updated_at and restore variable definition
  backend/app/application/services/system_config_service.py
Due: mypy

feat: Implement Dynamic Configuration System (#502)
  backend/alembic/versions/7b2ae6b36a5b_add_enable_db_browser_setting.py
  backend/alembic/versions/85aaf971a93f_add_system_settings_for_maintenance_log_.py
  backend/app/application/services/system_config_service.py
  backend/app/main.py
  backend/app/presentation/api/middleware/maintenance_middleware.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/admin/system_settings_router.py
  backend/app/presentation/api/routes/debug/db_browser_router.py
  backend/app/presentation/api/routes/system/system_router.py
  backend/app/presentation/schemas/admin/system_setting_schema.py
  backend/openapi.json
  backend/tests/api/test_system_settings.py
  frontend/src/App.tsx
  frontend/src/MainRoutes.tsx
  frontend/src/components/auth/FeatureGuard.tsx
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/constants/routes.ts
  frontend/src/contexts/SystemSettingsContext.tsx
  frontend/src/features/admin/pages/AdminPage.tsx
  frontend/src/features/admin/pages/SystemSettingsPage.tsx
  frontend/src/features/debug-db/pages/DbBrowserPage.tsx
  frontend/src/features/debug-db/useDbObjectFilter.ts
  frontend/src/types/api.d.ts
  frontend/src/types/system.ts
  verify_maintenance.py
Due: prettier, eslint, mypy, openapi-sync

feat: implement interaction and batch save for Excel-like view (Phase 3) - final submission
  backend/app/application/services/allocations/suggestion.py
  backend/app/presentation/api/v2/forecast/router.py
  backend/app/presentation/schemas/allocations/allocation_suggestions_schema.py
  backend/openapi.json
  frontend/src/features/allocations/api.ts
  frontend/src/features/allocations/hooks/api/useAllocationSuggestions.ts
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/ShipmentTable.tsx
  frontend/src/features/inventory/components/excel-view/types.ts
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat: add collapsible customer info to Excel-like view header - formatting
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/ProductHeader.tsx
  frontend/src/features/inventory/components/excel-view/types.ts
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
Due: prettier, eslint

fix: resolve 422 errors and broken navigation in Excel view (v2.2) - committed eslint fixes
  frontend/src/MainRoutes.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/allocations/api.ts
  frontend/src/features/allocations/hooks/api/useAllocationSuggestions.ts
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/components/InventoryTableRowActions.tsx
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/hooks/api/useLotsQuery.ts
Due: prettier, eslint

feat: implement real data integration for Excel-like view (Phase 2) - formatting
  frontend/src/features/allocations/hooks/api/useAllocationSuggestions.ts
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/ProductHeader.tsx
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
Due: prettier, eslint

feat: implement Excel-like lot management view (Phase 1 UI Mock) - with lint fixes
  frontend/src/MainRoutes.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/features/inventory/components/excel-view/ProductHeader.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/BigStatColumn.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/LotInfoGroups.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/ShipmentTable.tsx
  frontend/src/features/inventory/components/excel-view/types.ts
  frontend/src/features/inventory/pages/InventoryPage.tsx
Due: prettier, eslint

fix: sort lots by received_date so new lots appear at bottom
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
Due: prettier, eslint

feat: Implement Excel Portal and fix layout overflow
  frontend/src/MainRoutes.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/inventory/components/InventoryTableRowActions.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/BigStatColumn.tsx
  frontend/src/features/inventory/pages/ExcelPortalPage.tsx
  frontend/src/features/inventory/pages/InventoryPage.tsx
Due: prettier, eslint

feat: Implement Excel View portal entry, test data generation, and layout fixes
  backend/scripts/generate_excel_view_data.py
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/NewWithdrawalDialog.tsx
Due: prettier, eslint, mypy

feat: add new lot intake button to Excel view
  backend/app/application/services/inventory/inventory_service.py
  docs/project/BACKLOG.md
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
Due: prettier, eslint, mypy

feat: add customer item (先方品番) selection to Excel view portal
  frontend/src/MainRoutes.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/ProductHeader.tsx
  frontend/src/features/inventory/components/excel-view/types.ts
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
  frontend/src/features/inventory/pages/ExcelPortalPage.tsx
Due: prettier, eslint

feat: Improve date column addition UX and fix backend schema mismatch
  backend/alembic/versions/123456789abc_expand_forecast_period_in_allocation_suggestions.py
  backend/alembic/versions/h2i3j4k5l6m7_remove_customer_items_ocr_sap_fields.py
  backend/app/application/services/masters/customer_item_delivery_setting_service.py
  backend/app/application/services/masters/customer_items_service.py
  backend/app/infrastructure/persistence/models/inventory_models.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/infrastructure/persistence/repositories/customer_item_delivery_setting_repository.py
  backend/app/presentation/schemas/allocations/allocation_suggestions_schema.py
  backend/app/presentation/schemas/masters/customer_items_schema.py
  backend/openapi.json
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/features/customer-items/api.ts
  frontend/src/features/customer-items/components/CustomerItemDetailDialog.tsx
  frontend/src/features/customer-items/components/CustomerItemForm.tsx
  frontend/src/features/customer-items/components/CustomerItemFormBasicSection.tsx
  frontend/src/features/customer-items/components/CustomerItemFormDialog.tsx
  frontend/src/features/customer-items/components/CustomerItemFormOcrSapSection.tsx
  frontend/src/features/customer-items/components/CustomerItemFormSapCacheSection.tsx
  frontend/src/features/customer-items/components/CustomerItemOcrSapTab.tsx
  frontend/src/features/customer-items/components/CustomerItemsTable.tsx
  frontend/src/features/customer-items/components/customerItemFormSchema.ts
  frontend/src/features/customer-items/pages/CustomerItemsListPage.tsx
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/NewWithdrawalDialog.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat: update OCR result page columns and excel export
  backend/alembic/versions/ccc835b9204e_merge_heads.py
  backend/alembic/versions/ff46774c6969_add_inbound_no_2_and_update_v_ocr_.py
  backend/alembic/versions/i3j4k5l6m7n8_phase1_check_maker_part_no.py
  backend/alembic/versions/j4k5l6m7n8o9_phase1_maker_part_no_not_null.py
  backend/alembic/versions/k5l6m7n8o9p0_phase1_check_supplier_item_id.py
  backend/alembic/versions/l6m7n8o9p0q1_phase1_supplier_item_id_not_null.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/sql/views/create_views.sql
  docs/issues/Phase1実装計画_SKU駆動による在庫管理修正.md
  docs/issues/品番マスタ設計の矛盾と問題点.md
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint, mypy

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  mypy: any of: ^backend/ and \.py$
  openapi-sync: any of: ^backend/app/presentation/schemas/.*\.py$
