Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tsc, frontend-eslint, frontend-prettier, backend-mypy, openapi-sync

.pre-commit-config.yaml:

# リポジトリ直下の .pre-commit-config.yaml
#
# 設計方針:
#   - pass_filenames: false でプロジェクト全体チェック（パス操作の罠を回避）
#   - npm run / uv run 経由でツール実行（環境依存を最小化）
#   - TypeScript型チェックをフロントエンドに追加（最重要）

repos:
  # --------------------------------------------------------------------------
  # Frontend Checks
  # --------------------------------------------------------------------------
  - repo: local
    hooks:
      # 1. TypeScript 型チェック（最重要: 論理的な型整合性）
      - id: frontend-tsc
        name: TypeScript Check (Frontend)
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      # 2. ESLint（コード品質・行儀作法）
      - id: frontend-eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint -- --fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        types: [file]
        pass_filenames: false

      # 3. Prettier（フォーマット・見た目）
      - id: frontend-prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # --------------------------------------------------------------------------
  # Backend Checks
  # --------------------------------------------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  - repo: local
    hooks:
      # 4. Mypy（型チェック）
      - id: backend-mypy
        name: Mypy (Backend)
        entry: bash -c 'cd backend && uv run mypy app/'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # --------------------------------------------------------------------------
  # Automation & Sync
  # --------------------------------------------------------------------------
  - repo: local
    hooks:
      # 5. OpenAPI Schema Sync
      # npm run fe:typegen 相当（frontend/package.json の typegen:full を使用）
      - id: openapi-sync
        name: OpenAPI Schema Sync
        entry: bash -c 'cd frontend && npm run typegen:full >/dev/null 2>&1 && git add ../backend/openapi.json src/types/api.d.ts'
        language: system
        files: ^backend/app/(presentation/(schemas|api/routes)|schemas)/.*\.py$
        pass_filenames: false

refactor: no-explicit-any eslint-disable を全件解消 (8→0件)
  frontend/src/features/allocations/hooks/state/useAutoSelection.ts
  frontend/src/features/inventory/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadSettingsModal.test.tsx
  frontend/src/features/rpa/smartread/hooks/export-hooks.ts
  frontend/src/features/supplier-products/components/SupplierProductForm.tsx
  frontend/src/features/suppliers/components/SupplierDialogContainer.tsx
  frontend/src/features/suppliers/hooks/useSupplierListPage.ts
  frontend/src/features/warehouses/components/WarehouseDialogContainer.tsx
  frontend/src/features/warehouses/hooks/useWarehouseListPage.ts
  frontend/src/shared/components/layout/MasterDialogContainer.tsx
Due: frontend-tsc, frontend-eslint, frontend-prettier

refactor: no-explicit-any eslint-disable を全件解消 (8→0件) (#562)
  frontend/src/features/allocations/hooks/state/useAutoSelection.ts
  frontend/src/features/inventory/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadSettingsModal.test.tsx
  frontend/src/features/rpa/smartread/hooks/export-hooks.ts
  frontend/src/features/supplier-products/components/SupplierProductForm.tsx
  frontend/src/features/suppliers/components/SupplierDialogContainer.tsx
  frontend/src/features/suppliers/hooks/useSupplierListPage.ts
  frontend/src/features/warehouses/components/WarehouseDialogContainer.tsx
  frontend/src/features/warehouses/hooks/useWarehouseListPage.ts
  frontend/src/shared/components/layout/MasterDialogContainer.tsx
Due: frontend-tsc, frontend-eslint, frontend-prettier

feat: Execution Queue機能を追加
  backend/alembic/versions/5d946032d272_add_execution_queue.py
  backend/app/application/services/execution_queue_service.py
  backend/app/application/services/rpa/rpa_service.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/execution_queue_model.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/execution_queue_router.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/execute_routes.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/execution_queue_schema.py
  backend/openapi.json
  backend/tests/services/test_execution_queue_service.py
  frontend/src/components/features/ExecutionQueueBanner.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3ExecutePage.tsx
  frontend/src/features/rpa/smartread/components/SmartReadUploadPanel.tsx
  frontend/src/hooks/useExecutionQueue.ts
  frontend/src/types/api.d.ts
  frontend/src/types/executionQueue.ts
  frontend/src/utils/errors/api-error-handler.ts
Due: frontend-tsc, frontend-eslint, frontend-prettier, backend-mypy, openapi-sync

chore: コード品質ツールを追加・設定
  backend/pyproject.toml
  docs/project/BACKLOG.md
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend-eslint, frontend-prettier

refactor: SonarJS auto-fix適用
  frontend/e2e/fixtures/pages/BasePage.ts
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/useOcrColumns.tsx
  frontend/src/hooks/useSAPBatchRegistration.ts
Due: frontend-tsc, frontend-eslint, frontend-prettier

fix: SonarJSの主要な指摘事項を修正 (Round 1)
  docs/project/BACKLOG.md
  frontend/e2e/specs/p0/e2e-06-error-handling.spec.ts
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/features/allocations/components/ReservationCancelDialog.tsx
  frontend/src/features/allocations/components/orders/OrderAndLineListPane.tsx
  frontend/src/features/allocations/components/orders/OrderCard.tsx
  frontend/src/features/allocations/hooks/api/useAllocationSuggestions.ts
  frontend/src/features/allocations/hooks/useChangeAllocationHandler.ts
  frontend/src/features/allocations/hooks/useLotAllocation.ts
  frontend/src/features/allocations/hooks/useLotAllocationLogic.ts
  frontend/src/features/allocations/index.ts
  frontend/src/features/auth/permissions/utils.ts
  frontend/src/features/customers/index.ts
  frontend/src/features/debug-db/components/DbObjectDetail.tsx
  frontend/src/features/forecasts/pages/ForecastListPage.tsx
  frontend/src/features/inventory/pages/ExcelPortalPage.tsx
  frontend/src/features/notifications/hooks/useNotifications.ts
  frontend/src/features/ocr-results/utils/ocr-utils.ts
  frontend/src/features/sap-integration/components/ConnectionForm.tsx
  frontend/src/features/shipping-master/pages/ShippingMasterListPage.tsx
  frontend/src/features/suppliers/utils/supplier-csv.ts
  frontend/src/features/withdrawals/components/WithdrawalCancelDialog.tsx
  frontend/src/shared/types/aliases.ts
  frontend/src/shared/types/schema.ts
Due: frontend-tsc, frontend-eslint, frontend-prettier
