Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

.pre-commit-config.yaml:

# リポジトリ直下の .pre-commit-config.yaml
repos:
  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true

      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

  # Backend - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend - Mypy (Type Check)
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (Backend)
        entry: bash -c 'cd backend && uv run mypy app/' --
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # OpenAPI Schema Sync - regenerate when backend schemas change
  - repo: local
    hooks:
      - id: openapi-sync
        name: OpenAPI Schema Sync
        entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
        language: system
        files: ^backend/app/presentation/schemas/.*\.py$
        pass_filenames: false

docs: Phase 10-11 ロギング・テスト追加タスクの引き継ぎプロンプトを作成
  docs/project/HANDOFF_PHASE10_11_LOGGING_TESTS.md
Due: none

feat(lot-service): Phase 10-11にロギングとエラーハンドリングを追加
  backend/app/application/services/inventory/lot_service.py
Due: mypy

feat(lot-service): Phase 10-11のロギング、エラーハンドリング、およびユニットテストの追加
  backend/app/application/services/inventory/lot_service.py
  backend/tests/services/test_lot_service_quantity_adjustment.py
  backend/tests/services/test_lot_service_smart_split.py
Due: mypy

docs: Excel View全フェーズ(Phase 1-11)総合レビュー依頼プロンプトを作成
  docs/project/COMPLETE_EXCEL_VIEW_REVIEW.md
Due: none

fix(excel-view): コメント三角形を左上に移動
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
Due: prettier, eslint

chore: Ruffによるコードフォーマットの修正
  backend/alembic/versions/c2f9f55b2f6a_add_remarks_to_v_lot_details.py
  backend/app/application/services/allocations/suggestion.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/infrastructure/persistence/models/views_models.py
  backend/app/presentation/api/routes/inventory/lots_router.py
  backend/sql/views/create_views.sql
  deploy/lot-management-deploy-20260202/backend/sql/views/create_views.sql
  docs/archive/excel-view/EXCEL_VIEW_IMPROVEMENT_PLAN.md
  docs/archive/excel-view/EXCEL_VIEW_NEXT_STEPS.md
  docs/archive/handoff/HANDOFF_EXCEL_VIEW_PHASE9_REMAINING.md
  docs/archive/handoff/HANDOFF_PHASE10_11_LOGGING_TESTS.md
  docs/archive/handoff/HANDOFF_PHASE9_11_REVIEW.md
  docs/archive/handoff/HANDOFF_SUPPLIER_CUSTOMER_ITEMS.md
  docs/archive/handoff/HANDOFF_TO_GEMINI.md
  docs/archive/handoff/NEW_SESSION_PROMPT.md
  docs/project/BACKLOG.md
  docs/project/COMPLETE_EXCEL_VIEW_REVIEW.md
  docs/project/EXCEL_VIEW_SPEC.md
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
Due: prettier, eslint, mypy

fix(backend): 最近の変更に伴うテストコードの不整合を修正 (フォーマット修正含む)
  backend/tests/services/test_lot_display.py
  backend/tests/services/test_lot_service_smart_split.py
Due: mypy

feat(excel-view): Excel View全フェーズ(Phase 1-11)完了 - 収容数・保証期間・発注NO表示、スマート分割、理由付き調整
  backend/alembic/versions/2d9f9a0b6b1c_add_order_no_to_lot_master.py
  backend/alembic/versions/4b1a9c7d2e10_move_order_no_to_lot_receipts_and_unique_received_date.py
  backend/alembic/versions/df2c7a6b5a9c_add_capacity_warranty_to_supplier_items.py
  backend/app/application/services/allocations/suggestion.py
  backend/app/application/services/inventory/inventory_service.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/infrastructure/persistence/models/lot_receipt_models.py
  backend/app/infrastructure/persistence/models/supplier_item_model.py
  backend/app/infrastructure/persistence/models/views_models.py
  backend/app/presentation/api/routes/masters/supplier_items_router.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/app/presentation/schemas/masters/masters_schema.py
  backend/app/presentation/schemas/masters/supplier_items_schema.py
  backend/recreate_inventory_views.sql
  backend/sql/views/create_views.sql
  backend/tests/api/v2/test_lot_api_v2.py
  backend/tests/services/test_lot_display.py
  backend/tests/services/test_lot_service.py
  deploy/lot-management-deploy-20260202/backend/sql/views/create_views.sql
  docs/project/BACKLOG.md
  docs/project/EXCEL_VIEW_SPEC.md
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/features/inventory/components/excel-view/ProductHeader.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/LotInfoGroups.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/ShipmentTable.tsx
  frontend/src/features/inventory/components/excel-view/types.ts
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
  frontend/src/features/inventory/hooks/useLotFilters.test.ts
  frontend/src/features/inventory/state/atoms.test.ts
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.test.tsx
  frontend/src/shared/libs/normalize.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

docs: SmartRead実行画面の受注管理ページ統合タスクを追加
  docs/project/BACKLOG.md
Due: none

feat: Phase 3 - システム管理メニュー分割
  backend/alembic/versions/b5945cb23f8d_add_display_strategy_to_notifications.py
  backend/app/application/services/smartread/simple_sync_service.py
  backend/app/infrastructure/persistence/models/notification_model.py
  backend/app/infrastructure/persistence/repositories/notification_repository.py
  backend/app/presentation/api/routes/notification_router.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/notification_schema.py
  backend/tests/api/test_notifications.py
  frontend/src/App.tsx
  frontend/src/MainRoutes.tsx
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/config/feature-config.ts
  frontend/src/constants/routes.ts
  frontend/src/features/admin/pages/NotificationSettingsPage.tsx
  frontend/src/features/admin/pages/UsersManagementPage.tsx
  frontend/src/features/auth/permissions/config.ts
  frontend/src/features/notifications/hooks/useNotifications.ts
  frontend/src/features/notifications/types.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix: グローバルナビゲーションのメニュー修正
  frontend/src/components/layouts/GlobalNavigation.tsx
Due: prettier, eslint

docs: Phase 1-3実装完了 + Phase 4調査完了レポート
  docs/project/PHASE1-4_IMPLEMENTATION_PLAN.md
  docs/project/PHASE4_CONCURRENCY_CONTROL_INVESTIGATION.md
Due: none

docs: Phase 4タスクをバックログに追加
  docs/project/BACKLOG.md
Due: none

feat: 通知ポーリングロジックの改善と通知設定ページのコンポーネント分割（Lintエラー修正）
  backend/app/infrastructure/persistence/repositories/notification_repository.py
  backend/openapi.json
  frontend/src/features/admin/pages/NotificationSettingsPage.tsx
  frontend/src/features/notifications/hooks/useNotifications.ts
Due: prettier, eslint, mypy

Phase 1-4: 通知システム改善・ナビゲーション再編・システム管理分割・排他制御調査 (#542)
  backend/alembic/versions/b5945cb23f8d_add_display_strategy_to_notifications.py
  backend/app/application/services/smartread/simple_sync_service.py
  backend/app/infrastructure/persistence/models/notification_model.py
  backend/app/infrastructure/persistence/repositories/notification_repository.py
  backend/app/presentation/api/routes/notification_router.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/notification_schema.py
  backend/openapi.json
  backend/tests/api/test_notifications.py
  docs/project/BACKLOG.md
  docs/project/PHASE1-4_IMPLEMENTATION_PLAN.md
  docs/project/PHASE4_CONCURRENCY_CONTROL_INVESTIGATION.md
  frontend/src/App.tsx
  frontend/src/MainRoutes.tsx
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/config/feature-config.ts
  frontend/src/constants/routes.ts
  frontend/src/features/admin/pages/NotificationSettingsPage.tsx
  frontend/src/features/admin/pages/UsersManagementPage.tsx
  frontend/src/features/auth/permissions/config.ts
  frontend/src/features/notifications/hooks/useNotifications.ts
  frontend/src/features/notifications/types.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

build: websocketsを16.0.0にメジャーアップデート
  backend/pyproject.toml
  backend/uv.lock
Due: none

build: pandasを3.0.0にメジャーアップデート
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix: pandas 3.0.0 の str 型定義に伴う iloc 代入エラーを修正
  backend/app/application/services/material_order_forecast_service.py
Due: mypy

docs: 完了済みタスク（ライブラリ更新等）を ARCHIVE.md へ移動し、BACKLOG.md を整理
  docs/project/ARCHIVE.md
  docs/project/BACKLOG.md
Due: none

build: uv.lock から requirements.txt を更新
  backend/requirements.txt
Due: none

build: ライブラリのメジャーアップデート (pandas 3.0.0, websockets 16.0.0) (#543)
  backend/app/application/services/material_order_forecast_service.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/uv.lock
  docs/project/ARCHIVE.md
  docs/project/BACKLOG.md
Due: mypy

test: Add version parameter to update/delete API tests for optimistic locking
  backend/tests/api/test_masters_permanent_delete_auth.py
  backend/tests/api/test_supplier_items.py
  backend/tests/api/test_suppliers.py
  backend/tests/api/test_warehouses.py
Due: mypy

test: 楽観的ロックの動作確認テスト追加
  backend/tests/services/test_optimistic_lock.py
Due: mypy

fix: MyPyエラーとテスト失敗を修正
  backend/app/application/services/assignments/assignment_service.py
  backend/app/application/services/common/optimistic_lock.py
  backend/app/application/services/masters/customer_items_service.py
  backend/app/application/services/masters/customer_service.py
  backend/app/application/services/masters/supplier_service.py
  backend/app/application/services/masters/uom_conversion_service.py
  backend/app/application/services/masters/warehouse_service.py
  backend/app/application/services/smartread/export_service.py
  backend/app/application/services/smartread/simple_sync_service.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/infrastructure/persistence/models/supplier_item_model.py
  backend/app/presentation/api/routes/masters/supplier_items_router.py
  backend/app/presentation/api/routes/masters/uom_conversions_router.py
  backend/app/presentation/api/routes/masters/warehouse_delivery_routes_router.py
  backend/app/presentation/api/routes/material_order_forecast_router.py
  backend/tests/api/test_customer_items.py
  backend/tests/api/test_customers.py
  backend/tests/api/test_suppliers.py
  backend/tests/api/test_warehouses.py
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

fix(ci): 型定義不整合の修正および Lint エラーの解消
  backend/openapi.json
  frontend/src/features/ocr-results/hooks/useOcrRowInputs.ts
  frontend/src/features/warehouses/components/WarehouseDetailDialog.tsx
  frontend/src/shared/hooks/useMasterApi.ts
Due: prettier, eslint

fix(tests): SQLAlchemy の警告 (SAWarning) を解消
  backend/tests/api/test_logs_websocket.py
  backend/tests/api/v2/test_priority_sorting.py
  backend/tests/conftest.py
  backend/tests/test_orders_refactored.py
Due: mypy

fix(backend): export_service.py の Mypy エラー (union-attr) を解消
  backend/app/application/services/common/export_service.py
  backend/app/application/services/common/optimistic_lock.py
  backend/app/application/services/orders/order_service.py
  backend/app/application/services/sap/sap_material_service.py
  backend/app/presentation/api/routes/integration/sap_router.py
  backend/app/presentation/api/routes/masters/warehouse_delivery_routes_router.py
  backend/app/presentation/api/v2/withdrawals/default_destination_router.py
Due: mypy

feat(frontend): refactor BatchJobsPage with custom hooks and sub-components and fix formatting
  frontend/src/features/batch-jobs/components/BatchJobColumns.tsx
  frontend/src/features/batch-jobs/components/BatchJobsList.tsx
  frontend/src/features/batch-jobs/components/InventorySyncSection.tsx
  frontend/src/features/batch-jobs/components/index.ts
  frontend/src/features/batch-jobs/hooks/index.ts
  frontend/src/features/batch-jobs/hooks/useBatchJobsPage.ts
  frontend/src/features/batch-jobs/pages/BatchJobsPage.tsx
  frontend/src/features/orders/components/OrderLinesTable.tsx
  frontend/src/features/orders/components/index.ts
  frontend/src/features/orders/pages/OrderDetailPage.tsx
Due: prettier, eslint

refactor(frontend): useMasterApi を分割して複雑度を解消、および型安全性の向上
  frontend/src/shared/hooks/useMasterApi.ts
Due: prettier, eslint

refactor(backend): Ruff・Mypy 指摘の解消、型安全性の向上
  backend/alembic/versions/7556ff2f06c0_merge_phase1_branches.py
  backend/alembic/versions/fe5ee626e71c_fix_view_aliases_phase1.py
  backend/alembic/versions/phase1_complete_migration.py
  backend/alembic/versions/products_to_product_groups.py
  backend/app/application/services/common/optimistic_lock.py
  backend/app/application/services/material_order_forecast_service.py
  backend/check_and_fix_view.py
  backend/dump_view_definition.py
  backend/scripts/generate_excel_view_data.py
  backend/verify_view_fix.py
  frontend/src/features/batch-jobs/components/BatchJobsList.tsx
  frontend/src/features/batch-jobs/hooks/index.ts
  frontend/src/features/batch-jobs/hooks/useBatchJobsHooks.ts
  frontend/src/features/batch-jobs/hooks/useBatchJobsPage.ts
  frontend/src/pages/LogViewer.tsx
  frontend/src/shared/components/data/DataTable.tsx
  frontend/src/types/external-modules.d.ts
  lint_output.txt
  typecheck_output.txt
Due: prettier, eslint, mypy

feat(frontend): DataTable・DeleteDialog のアクセシビリティ改善（ステータス通知・ラベル関連付け）およびリファクタリングの完了
  frontend/src/components/common/DeleteDialog.tsx
  frontend/src/shared/components/data/DataTable.tsx
Due: prettier, eslint

refactor: 抑制された警告・エラーの解消とコード品質の向上
  frontend/src/features/inventory/components/InventoryTable.test.tsx
  frontend/src/shared/components/data/DataTable.tsx
  frontend/src/shared/hooks/useMasterApi.ts
Due: prettier, eslint

refactor: 抑制された警告・エラーの解消とコード品質の向上 (#545)
  backend/alembic/versions/7556ff2f06c0_merge_phase1_branches.py
  backend/alembic/versions/fe5ee626e71c_fix_view_aliases_phase1.py
  backend/alembic/versions/phase1_complete_migration.py
  backend/alembic/versions/products_to_product_groups.py
  backend/app/application/services/common/export_service.py
  backend/app/application/services/common/optimistic_lock.py
  backend/app/application/services/material_order_forecast_service.py
  backend/app/application/services/orders/order_service.py
  backend/app/application/services/sap/sap_material_service.py
  backend/app/presentation/api/routes/integration/sap_router.py
  backend/app/presentation/api/routes/masters/warehouse_delivery_routes_router.py
  backend/app/presentation/api/v2/withdrawals/default_destination_router.py
  backend/check_and_fix_view.py
  backend/dump_view_definition.py
  backend/scripts/generate_excel_view_data.py
  backend/tests/api/test_logs_websocket.py
  backend/tests/api/v2/test_priority_sorting.py
  backend/tests/conftest.py
  backend/tests/test_orders_refactored.py
  backend/verify_view_fix.py
  frontend/src/components/common/DeleteDialog.tsx
  frontend/src/features/batch-jobs/components/BatchJobColumns.tsx
  frontend/src/features/batch-jobs/components/BatchJobsList.tsx
  frontend/src/features/batch-jobs/components/InventorySyncSection.tsx
  frontend/src/features/batch-jobs/components/index.ts
  frontend/src/features/batch-jobs/hooks/index.ts
  frontend/src/features/batch-jobs/hooks/useBatchJobsHooks.ts
  frontend/src/features/batch-jobs/hooks/useBatchJobsPage.ts
  frontend/src/features/batch-jobs/pages/BatchJobsPage.tsx
  frontend/src/features/inventory/components/InventoryTable.test.tsx
  frontend/src/features/orders/components/OrderLinesTable.tsx
  frontend/src/features/orders/components/index.ts
  frontend/src/features/orders/pages/OrderDetailPage.tsx
  frontend/src/pages/LogViewer.tsx
  frontend/src/shared/components/data/DataTable.tsx
  frontend/src/shared/hooks/useMasterApi.ts
  frontend/src/types/external-modules.d.ts
  lint_output.txt
  typecheck_output.txt
Due: prettier, eslint, mypy

feat: テスト戦略の策定とスモークテストの実装
  CLAUDE.md
  Makefile
  README.md
  backend/tests/integration/test_smartread_integration.py
  docs/project/BACKLOG.md
  docs/project/TESTING_QUICKSTART.md
  docs/project/TESTING_STRATEGY.md
  frontend/e2e/specs/smoke/excel-view-smoke.spec.ts
  frontend/e2e/specs/smoke/masters-smoke.spec.ts
  frontend/e2e/specs/smoke/smartread-smoke.spec.ts
  frontend/playwright.config.ts
Due: prettier, eslint, mypy

feat: タスクランナーの統一化 (npm scripts + poethepoet)
  CLAUDE.md
  README.md
  backend/pyproject.toml
  docs/project/COMMAND_CHEATSHEET.md
  docs/project/POE_MIGRATION_GUIDE.md
  frontend/package.json
  package.json
  scripts/db-helper.py
Due: prettier

feat: テスト戦略の策定 + タスクランナー統一化 (npm scripts + poe) (#546)
  CLAUDE.md
  Makefile
  README.md
  backend/pyproject.toml
  backend/tests/integration/test_smartread_integration.py
  docs/project/BACKLOG.md
  docs/project/COMMAND_CHEATSHEET.md
  docs/project/POE_MIGRATION_GUIDE.md
  docs/project/TESTING_QUICKSTART.md
  docs/project/TESTING_STRATEGY.md
  frontend/e2e/specs/smoke/excel-view-smoke.spec.ts
  frontend/e2e/specs/smoke/masters-smoke.spec.ts
  frontend/e2e/specs/smoke/smartread-smoke.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
  package.json
  scripts/db-helper.py
Due: prettier, eslint, mypy

fix: テストデータ生成器のgenerate_customer_items関数を完全書き直し
  backend/app/application/services/test_data/masters.py
  backend/uv.lock
Due: mypy
