Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

prettier:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
  language: system
  pass_filenames: true

mypy:
  name: Mypy (Backend)
  entry: bash -c 'cd backend && uv run mypy app/' --
  language: system
  pass_filenames: false

openapi-sync:
  name: OpenAPI Schema Sync
  entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
  ...

Standardize auth-aware http clients
  frontend/src/features/auth/AuthContext.tsx
  frontend/src/features/auth/pages/LoginPage.tsx
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  frontend/src/features/orders/hooks/useOrderLock.ts
  frontend/src/features/rpa/material-delivery-note/hooks/useCloudFlow.ts
  frontend/src/features/system/SystemStatus.tsx
  frontend/src/hooks/mutations/useAllocationMutations.ts
  frontend/src/hooks/useConfirmedOrderLines.ts
  frontend/src/shared/api/http-client.ts
  frontend/src/shared/auth/token.ts
  frontend/src/shared/hooks/useMasterApi.ts
  frontend/src/shared/libs/admin-api.ts
  frontend/src/shared/libs/query-client.ts
  frontend/src/shared/utils/logger.ts
Due: prettier, eslint

feat(ocr-results): implement Phase 1 shipping date auto-calc and slip text improvements
  backend/app/presentation/api/routes/ocr_results_router.py
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint, mypy

fix(ocr-results): improve lot entry validation and visual feedback
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

fix(ocr-results): change lot separator to slash and add comprehensive spec doc
  docs/specifications/OCR_RESULTS_SPECIFICATIONS.md
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

docs: add refresh button common component task to future improvements
  docs/tasks/FUTURE_IMPROVEMENTS.md
Due: none

docs: FUTURE_IMPROVEMENTS.mdを更新 (Phase 3, 4追加) & fix: フロントエンド型定義の同期
  docs/tasks/FUTURE_IMPROVEMENTS.md
  frontend/src/types/api.d.ts
Due: prettier, eslint

feat: Phase 1 - OCR Results SAP Integration Complete (#488)
  backend/alembic/versions/271b5b7afd1d_add_delivery_date_to_ocr_edits.py
  backend/app/application/services/sap/sap_reconciliation_service.py
  backend/app/presentation/api/routes/integration/sap_router.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/app/presentation/api/routes/shipping_master_router.py
  backend/app/presentation/schemas/integration/sap_schema.py
  backend/app/presentation/schemas/shipping_master_schema.py
  backend/openapi.json
  docs/specifications/OCR_RESULTS_SPECIFICATIONS.md
  docs/tasks/FUTURE_IMPROVEMENTS.md
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  frontend/src/features/sap-integration/api.ts
  frontend/src/features/sap-integration/components/DataFetchTab.tsx
  frontend/src/features/shipping-master/components/ShippingMasterEditDialog.tsx
  frontend/src/features/shipping-master/pages/ShippingMasterListPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

docs: add future improvements for SAP integration test data and OCR
  docs/tasks/FUTURE_IMPROVEMENTS.md
Due: none

docs: add task for scripts/tools organization to future improvements
  docs/project/tasks/FUTURE_IMPROVEMENTS.md
Due: none

docs: ドキュメントの整理・統合（インベントリおよびテストデータ計画の統合、不要ファイルのアーカイブ）
  docs/archive/fixes/CI_TYPECHECK_ISSUE.md
  docs/archive/fixes/ENV_FILE_LOADING_FIX.md
  docs/archive/inventory-jotai-review.md
  docs/archive/jotai-atoms-migration-plan.md
  docs/archive/reviews/PROJECT_REVIEW_REPORT_20251222.md
  docs/archive/reviews/PROJECT_REVIEW_REPORT_claude.md
  docs/archive/reviews/PROJECT_REVIEW_REPORT_codex.md
  docs/archive/reviews/PROJECT_REVIEW_REPORT_gemini.md
  docs/archive/reviews/PROJECT_REVIEW_REPORT_local_claude.md
  docs/archive/task_WIP_LOT_COUNT_FIX.md
  docs/archive/ui_rpa_material_delivery_note_wireframe.md
  docs/design/ocr_sap_complement_master.md
  docs/development/architecture/layer-dependencies.md
  docs/development/quality/frontend-layout.md
  docs/development/standards/frontend-style-guide.md
  docs/development/standards/jotai-derived-atoms.md
  docs/development/standards/state-management.md
  docs/features/shipping/HANDOFF.md
  docs/features/shipping/implementation_plan.md
  docs/features/shipping/task.md
  docs/features/smartread/archive/smartread_sync_issue_report.md
  docs/project/plans/SUPPLIER_ITEMS_MIGRATION_PLAN.md
  docs/project/plans/inventory-lot-improvement-master-plan.md
  docs/project/plans/inventory-lot-improvement-plan-additional.md
  docs/project/plans/inventory-lot-improvement-plan.md
  docs/project/plans/supplier_customer_item_migration_plan.md
  docs/project/plans/supplier_customer_items_implementation_plan_v2.md
  docs/project/plans/test-data-generation-master-plan.md
  docs/project/plans/test-data-generation-plan-additional.md
  docs/project/plans/test-data-generation-plan.md
  docs/project/reviews/PR_SUMMARY_453.md
Due: none

docs: consolidate past reviews into REVIEW_HISTORY_CONSOLIDATED.md and update FUTURE_IMPROVEMENTS.md
  docs/project/decisions/20260118_review_findings.md
  docs/project/reviews/PRODUCT_IDENTIFICATION_DESIGN_REVIEW.md
  docs/project/reviews/REVIEW_HISTORY_CONSOLIDATED.md
  docs/project/reviews/inventory-lot-management-review.md
  docs/project/reviews/inventory-lot-management-review_merged.md
  docs/project/reviews/inventory_lot_review.md
  docs/project/tasks/FUTURE_IMPROVEMENTS.md
Due: none

docs: consolidate tasks into plans/backlog and update all links
  docs/README.md
  docs/archive/task_WIP_LOT_COUNT_FIX.md
  docs/archive/ui_rpa_material_delivery_note_wireframe.md
  docs/project/plans/backlog/BUSINESS_CONTEXT_NEEDED.md
  docs/project/plans/backlog/FUTURE_IMPROVEMENTS.md
  docs/project/plans/backlog/MASTER_DATA_FIELD_ALIGNMENT_TASKS.md
  docs/project/plans/backlog/TODO.md
  docs/project/plans/backlog/any-type-reduction.md
  docs/project/plans/backlog/backlog.md
  docs/project/plans/backlog/next_reviews_ja.md
  docs/project/plans/backlog/smartread-cache-db-save-inconsistency.md
  docs/project/plans/backlog/smartread-logging-gaps.md
Due: none

docs: finalize links and documentation reorganization
  docs/project/reviews/REVIEW_HISTORY_CONSOLIDATED.md
Due: none

docs: add lot registration UI improvement tasks
  docs/project/plans/tasks/ui_improvements.md
Due: none

feat(ui): improve lot registration form layout and remove unused fields
  docs/project/plans/backlog/TODO.md
  docs/project/plans/backlog/backlog.md
  docs/project/plans/backlog/next_reviews_ja.md
  docs/project/plans/backlog/smartread-cache-db-save-inconsistency.md
  docs/project/plans/backlog/smartread-logging-gaps.md
  docs/project/plans/features/customer-items.md
  docs/project/plans/features/inventory-lot.md
  docs/project/plans/features/ui-lifecycle.md
  docs/project/plans/tasks/general_backlog.md
  docs/project/plans/tasks/master_data_alignment.md
  docs/project/plans/tasks/requirements_clarification.md
  docs/project/plans/tasks/smartread_issues.md
  docs/project/plans/tasks/technical_debt.md
  docs/project/plans/testing/data-generation.md
  docs/project/plans/testing/strategy.md
  frontend/src/features/inventory/components/AdhocLotCreateForm.tsx
  frontend/src/features/inventory/components/AdhocLotFormFinancials.tsx
  frontend/src/features/inventory/components/adhocLotCreateSchema.ts
Due: prettier, eslint

feat: アーカイブ復元機能の実装、表示改善、およびリファクタリング
  backend/openapi.json
  frontend/src/features/inventory/components/InventoryLotActions.tsx
  frontend/src/features/inventory/components/InventoryLotList.tsx
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
  frontend/src/features/inventory/hooks/useInventoryTableLogic.ts
  frontend/src/features/inventory/hooks/useLotActions.ts
  frontend/src/features/inventory/pages/InventoryItemDetailPage.tsx
  frontend/src/shared/components/data/LotStatusIcon.tsx
  frontend/src/shared/utils/status.ts
Due: prettier, eslint

feat: アーカイブ復元機能の実装、表示改善、およびリファクタリング (#492)
  backend/openapi.json
  frontend/src/features/inventory/components/InventoryLotActions.tsx
  frontend/src/features/inventory/components/InventoryLotList.tsx
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
  frontend/src/features/inventory/hooks/useInventoryTableLogic.ts
  frontend/src/features/inventory/hooks/useLotActions.ts
  frontend/src/features/inventory/pages/InventoryItemDetailPage.tsx
  frontend/src/shared/components/data/LotStatusIcon.tsx
  frontend/src/shared/utils/status.ts
Due: prettier, eslint

feat(rbac): Implement role-based access control with default-deny policy
  frontend/docs/rbac/README.md
  frontend/src/components/auth/AccessGuard.tsx
  frontend/src/components/auth/OperationGuard.tsx
  frontend/src/components/auth/RoleGuard.tsx
  frontend/src/components/auth/TabGuard.tsx
  frontend/src/features/auth/AuthContext.tsx
  frontend/src/features/auth/permissions/config.ts
  frontend/src/features/auth/permissions/index.ts
  frontend/src/features/auth/permissions/types.ts
  frontend/src/features/auth/permissions/utils.ts
  frontend/src/features/auth/permissions/validate-routes.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  frontend/src/features/rpa/material-delivery-note/hooks/useCloudFlow.ts
  frontend/src/hooks/useConfirmedOrderLines.ts
  frontend/src/shared/api/http-client.ts
  frontend/src/shared/hooks/useAuthenticatedQuery.ts
  frontend/src/shared/hooks/useMasterApi.ts
Due: prettier, eslint

style: Fix Prettier formatting and ESLint max-lines issue
  frontend/src/features/auth/pages/ForbiddenPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/RunDetailPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/RunMonitorPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3DetailPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step4DetailPage.tsx
  frontend/src/features/rpa/smartread/hooks/export-hooks.ts
  frontend/src/features/system/SystemStatus.tsx
Due: prettier, eslint

feat(ui): ロット登録フォームのレイアウト改善と未使用フィールドの削除
  frontend/src/features/inventory/components/AdhocLotCreateForm.tsx
  frontend/src/features/inventory/components/AdhocLotFormFinancials.tsx
  frontend/src/features/inventory/components/adhocLotCreateSchema.ts
Due: prettier, eslint

feat(ui): ロット登録フォームのレイアウト改善と未使用フィールドの削除 (#493)
  frontend/src/features/inventory/components/AdhocLotCreateForm.tsx
  frontend/src/features/inventory/components/AdhocLotFormFinancials.tsx
  frontend/src/features/inventory/components/adhocLotCreateSchema.ts
Due: prettier, eslint

docs: archive obsolete documentation (15 files)
  docs/REORGANIZATION_PROPOSAL.md
  docs/archive/README.md
  docs/archive/design/inventory_view_strategy.md
  docs/archive/design/rpa_material_delivery_cloud_flow_spec.md
  docs/archive/design/rpa_material_delivery_run_control_plan.md
  docs/archive/features/ocr/ocr-results-column-customization.md
  docs/archive/features/rpa/material_delivery_note_step_db_api.md
  docs/archive/features/rpa/pad_minimization_material_delivery_note.md
  docs/archive/features/shipping/ocr_order_register_ai_handoff.md
  docs/archive/features/smartread/pad_compatibility_review.md
  docs/archive/features/smartread/pad_runner_implementation_plan.md
  docs/archive/features/smartread/smartread_data_management_plan.md
  docs/archive/features/smartread/smartread_prompt_requestid_autorun.md
  docs/archive/features/smartread/smartread_watchdir_handoff.md
  docs/archive/operations/FRONTEND_DB_CONNECTION_CHECK.md
  docs/archive/operations/MIGRATION_BASELINE.md
  docs/archive/operations/PRODUCTION_DEPLOYMENT.md
Due: none

docs: consolidate backlog into single file (Option A)
  CLAUDE.md
  docs/README.md
  docs/archive/backlog/BUSINESS_CONTEXT_NEEDED.md
  docs/archive/backlog/FUTURE_IMPROVEMENTS.md
  docs/archive/backlog/MASTER_DATA_FIELD_ALIGNMENT_TASKS.md
  docs/archive/backlog/TODO.md
  docs/archive/backlog/any-type-reduction.md
  docs/archive/backlog/backlog.md
  docs/archive/backlog/next_reviews_ja.md
  docs/archive/backlog/smartread-cache-db-save-inconsistency.md
  docs/archive/backlog/smartread-logging-gaps.md
  docs/project/BACKLOG.md
Due: none

docs: update backlog references in REVIEW_HISTORY_CONSOLIDATED
  docs/project/reviews/REVIEW_HISTORY_CONSOLIDATED.md
Due: none

docs: cleanup empty directories and update implementation plan paths
  docs/project/plans/supplier_customer_items_implementation_plan_v2.1.md
Due: none

feat(phase2): verify and sync views with new schema and stabilize phase2-1 changes
  backend/MagicMock/mock.get().export_dir/4655859088/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4657107296/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4657236352/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4661733968/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4662055264/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4681309824/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4696134992/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4700198224/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4718228016/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4720550176/long_data_task_001_20250101.csv
  backend/alembic/versions/6e445ed948cf_sync_views_phase2_1b.py
  backend/alembic/versions/8319618fc680_make_supplier_items_product_id_nullable_.py
  backend/app/application/services/ocr/ocr_import_service.py
  backend/app/application/services/ocr/ocr_sap_complement_service.py
  backend/app/application/services/replenishment/engine.py
  backend/app/infrastructure/persistence/models/supplier_item_model.py
  backend/app/infrastructure/persistence/models/views_models.py
  backend/sql/views/create_views.sql
  backend/tests/integration/admin/test_bulk_export_integration.py
  backend/tests/services/test_ocr_sap_complement_service.py
  docs/project/MASTER_ALIGNMENT_PLAN.md
Due: mypy

feat(phase2): complete Phase 2 - unmapped item blocking and inventory display
  .gitignore
  backend/MagicMock/mock.get().export_dir/4655859088/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4657107296/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4657236352/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4661733968/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4662055264/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4681309824/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4696134992/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4700198224/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4718228016/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4720550176/long_data_task_001_20250101.csv
  backend/alembic/versions/e51f979ad44d_phase2_views_customer_part_no.py
  backend/app/application/services/allocations/commit.py
  backend/app/application/services/allocations/confirm.py
  backend/app/application/services/allocations/mapping_validator.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/domain/errors.py
  backend/app/infrastructure/persistence/models/views_models.py
  backend/sql/views/create_views.sql
Due: mypy

feat(phase2): verify and sync views with new schema and stabilize phase2-1 changes
  backend/alembic/versions/e51f979ad44d_phase2_views_customer_part_no.py
  docs/project/MASTER_ALIGNMENT_PLAN.md
  docs/project/task.md
Due: mypy

feat(backend): complete Phase 2-2 rename of external_product_code to customer_part_no and related refactors
  backend/alembic/versions/0b86a5a7236d_rename_order_lines_external_product_.py
  backend/alembic/versions/7c11d91ddeab_rename_external_product_code_to_.py
  backend/app/application/services/master_import/file_handlers.py
  backend/app/application/services/master_import/import_service.py
  backend/app/application/services/masters/customer_item_delivery_setting_service.py
  backend/app/application/services/ocr/ocr_import_service.py
  backend/app/application/services/ocr/ocr_sap_complement_service.py
  backend/app/infrastructure/persistence/models/orders_models.py
  backend/app/infrastructure/persistence/repositories/customer_item_delivery_setting_repository.py
  backend/app/presentation/api/routes/masters/customer_item_delivery_settings_router.py
  backend/app/presentation/api/v2/withdrawals/default_destination_router.py
  backend/app/presentation/schemas/import_schema.py
  backend/app/presentation/schemas/masters/customer_item_delivery_setting_schema.py
  backend/app/presentation/schemas/ocr_import_schema.py
  backend/app/presentation/schemas/orders/orders_schema.py
  backend/openapi.json
  backend/tests/api/test_customer_items.py
  backend/tests/api/test_masters_permanent_delete_auth.py
  backend/tests/conftest.py
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat: Phase 2-3 Backfill and Strict Mode
  backend/alembic/versions/fcb64f0fe213_backfill_supplier_item_id_and_primary.py
  backend/app/application/services/allocations/mapping_validator.py
  backend/tests/api/test_allocations.py
Due: mypy

feat: remove maker_item_code/customer_part_no from products API and regenerate openapi.json
  backend/app/application/services/masters/products_service.py
  backend/app/openapi.json
  backend/app/presentation/api/routes/masters/products_router.py
  backend/app/presentation/schemas/masters/products_schema.py
  backend/openapi.json
  backend/tests/api/test_products.py
  backend/tests/services/test_products_service.py
  docs/followups/phase3-closeout-followups.md
  frontend/e2e/customer-items.spec.ts
  frontend/src/features/customer-items/components/CustomerItemForm.tsx
  frontend/src/features/products/api.ts
  frontend/src/features/products/components/ProductDetailDialog.tsx
  frontend/src/features/products/components/ProductForm.test.tsx
  frontend/src/features/products/components/ProductForm.tsx
  frontend/src/features/products/pages/ProductsListPage.tsx
  frontend/src/features/products/pages/columns.tsx
  frontend/src/features/products/types/bulk-operation.ts
  frontend/src/features/products/utils/product-csv.ts
  frontend/src/features/supplier-products/components/SupplierProductForm.tsx
  frontend/src/features/supplier-products/components/SupplierProductsTable.tsx
  frontend/src/features/supplier-products/hooks/useSupplierProductsPageState.ts
  frontend/src/shared/libs/normalize.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat: add Phase 3 view migration for v_lot_receipt_stock
  backend/alembic/versions/phase3_monitor_view_update.py
Due: mypy

fix(inventory): fix TypeScript errors in tests and update LotResponse schema for Phase 2 alignment
  backend/app/application/services/inventory/lot_service.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/openapi.json
  frontend/src/features/inventory/hooks/useLotFilters.test.ts
  frontend/src/features/inventory/state/atoms.test.ts
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.test.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

style(frontend): fix prettier formatting in products columns
  frontend/src/features/products/pages/columns.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  mypy: any of: ^backend/ and \.py$
  openapi-sync: any of: ^backend/app/presentation/schemas/.*\.py$
