Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

prettier:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
  language: system
  pass_filenames: true

mypy:
  name: Mypy (Backend)
  entry: bash -c 'cd backend && uv run mypy app/' --
  language: system
  pass_filenames: false

openapi-sync:
  name: OpenAPI Schema Sync
  entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
  ...

feat(inventory): reorganize history pages and add row-level intake action
  frontend/src/MainRoutes.tsx
  frontend/src/features/inventory/components/IntakeHistoryTab.tsx
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
  frontend/src/features/inventory/components/WithdrawalHistoryTab.tsx
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/inventory/pages/StockHistoryPage.tsx
  frontend/src/features/inventory/state.ts
Due: prettier, eslint

fix(inventory): pass supplier filter to quick intake dialog
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/pages/InventoryPage.tsx
Due: prettier, eslint

fix: Mock QuickLotIntakeDialog in InventoryTable test
  frontend/src/features/inventory/components/IntakeHistoryTab.tsx
  frontend/src/features/inventory/components/InventoryTable.test.tsx
  frontend/src/features/inventory/components/WithdrawalHistoryTab.tsx
  frontend/src/features/inventory/pages/InventoryPage.tsx
Due: prettier, eslint

feat: Reorganize Inventory History and Quick Intake (#413)
  frontend/src/MainRoutes.tsx
  frontend/src/features/inventory/components/IntakeHistoryTab.tsx
  frontend/src/features/inventory/components/InventoryTable.test.tsx
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
  frontend/src/features/inventory/components/WithdrawalHistoryTab.tsx
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/inventory/pages/StockHistoryPage.tsx
  frontend/src/features/inventory/state.ts
Due: prettier, eslint

chore: add UI screenshot generator and mypy report (fix formatting)
  frontend/e2e/screenshot-generator.spec.ts
Due: prettier, eslint

chore: code quality improvements and test enhancements
  backend/alembic/versions/9decff574dcb_add_system_client_logs_table.py
  backend/alembic/versions/d2aec7a236f4_update_rparun_step3_step4_fields.py
  backend/app/presentation/api/v2/inventory/router.py
  backend/scripts/check_state_transitions.py
  backend/scripts/migrate_allocations_to_reservations.py
  frontend/e2e/allocation.spec.ts
  frontend/e2e/screenshot-generator.spec.ts
  frontend/e2e/shortage-auto-order.spec.ts
  tools/find_orphans.py
Due: prettier, eslint, mypy

chore: Code quality improvements and test enhancements (#414)
  backend/alembic/versions/9decff574dcb_add_system_client_logs_table.py
  backend/alembic/versions/d2aec7a236f4_update_rparun_step3_step4_fields.py
  backend/app/presentation/api/v2/inventory/router.py
  backend/scripts/check_state_transitions.py
  backend/scripts/migrate_allocations_to_reservations.py
  frontend/e2e/allocation.spec.ts
  frontend/e2e/screenshot-generator.spec.ts
  frontend/e2e/shortage-auto-order.spec.ts
  tools/find_orphans.py
Due: prettier, eslint, mypy

docs: Add comprehensive review of inventory/lot management pages
  docs/reviews/inventory-lot-management-review.md
Due: none

docs: Update review with decided improvement policies
  docs/reviews/inventory-lot-management-review.md
Due: none

test: Add 12 unit tests for LotService.create_lot()
  backend/tests/services/test_lot_service.py
  docs/plans/inventory-lot-improvement-plan.md
Due: mypy

Add unit tests for Lot API, Stock Calculation, and Frontend LotCreateForm
  backend/tests/api/v2/test_lot_api_v2.py
  backend/tests/services/test_stock_calculation.py
  docs/reviews/inventory-lot-management-review_merged.md
  docs/reviews/inventory_lot_review.md
  frontend/src/features/inventory/components/AdhocLotCreateForm.test.tsx
Due: prettier, eslint, mypy

feat: implement Phase 1 lot detail expansion (shipping_date, financials)
  backend/alembic/versions/e69e24e713cc_add_lot_details_shipping_cost_sales_tax.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/infrastructure/persistence/models/lot_receipt_models.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/tests/api/v2/test_lot_api_v2.py
  frontend/src/features/inventory/components/AdhocLotCreateForm.test.tsx
  frontend/src/features/inventory/components/AdhocLotCreateForm.tsx
  frontend/src/features/inventory/components/adhocLotCreateSchema.ts
Due: prettier, eslint, mypy, openapi-sync

feat(phase1): enhance lot management with phase1 db refactor, search, and labeling
  backend/alembic/versions/52d19845846f_update_v_lot_details_view_phase1.py
  backend/alembic/versions/e69e24e713cc_add_lot_details_shipping_cost_sales_tax.py
  backend/alembic/versions/phase1_db_refactor.py
  backend/app/application/services/forecasts/forecast_generator.py
  backend/app/application/services/inventory/inbound_receiving_service.py
  backend/app/application/services/inventory/intake_history_service.py
  backend/app/application/services/inventory/label_service.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/infrastructure/clients/lot_client.py
  backend/app/infrastructure/persistence/models/lot_receipt_models.py
  backend/app/infrastructure/persistence/models/views_models.py
  backend/app/infrastructure/persistence/repositories/allocation_repository.py
  backend/app/presentation/api/routes/inventory/lots_router.py
  backend/app/presentation/api/v2/lot/router.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/openapi.json
  backend/pyproject.toml
  backend/sql/views/create_views.sql
  backend/tests/api/v2/test_lot_api_v2.py
  backend/tests/api/v2/test_lot_label_api.py
  backend/tests/api/v2/test_lot_search_api.py
  backend/tests/conftest.py
  backend/tests/db_utils.py
  backend/tests/infrastructure/test_db_schema_phase1.py
  backend/uv.lock
  backend/verify_db_schema.py
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/components/LotFilterBar.tsx
  frontend/src/features/inventory/components/LotSearchPanel.tsx
  frontend/src/features/inventory/components/LotTable.tsx
  frontend/src/features/inventory/hooks/useLotLabel.ts
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/inventory/state.ts
  frontend/src/features/inventory/utils/lot-columns.tsx
  frontend/src/hooks/api/useLotSearch.ts
  frontend/src/shared/libs/normalize.ts
  frontend/src/types/api.d.ts
  tools/find_orphans.py
Due: prettier, eslint, mypy, openapi-sync

feat: implement virtual scroll and component refactoring for inventory table
  backend/alembic/versions/1234567890ab_add_lot_master_aggregation_trigger.py
  backend/app/infrastructure/persistence/models/lot_master_model.py
  backend/tests/infrastructure/test_db_triggers.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/inventory/components/AdhocLotCreateForm.tsx
  frontend/src/features/inventory/components/InventoryLotList.tsx
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/components/InventoryTableColumns.tsx
  frontend/src/features/inventory/components/InventoryTableDialogs.tsx
  frontend/src/features/inventory/hooks/useLotFilters.test.ts
  frontend/src/features/inventory/hooks/useLotFilters.ts
  frontend/src/features/withdrawals/components/QuickWithdrawalDialog.test.tsx
  frontend/src/shared/components/data/DataTable.tsx
  frontend/src/shared/utils/decimal.ts
Due: prettier, eslint, mypy

refactor(inventory): consolidate dialog state with useInventoryDialogs hook
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/hooks/useInventoryDialogs.ts
Due: prettier, eslint

chore: update npm and Python dependencies (minor/patch only)
  backend/app/infrastructure/clients/lot_client.py
  backend/pyproject.toml
  backend/uv.lock
  docs/MAJOR_VERSION_UPGRADES.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/dashboard/components/TopProductsChart.tsx
  frontend/src/features/dashboard/components/WarehouseDistributionChart.tsx
  frontend/src/features/inventory/components/InventoryLotList.tsx
Due: prettier, eslint, mypy

style: apply Prettier and Ruff formatting
  backend/app/application/services/common/relation_check_service.py
  backend/app/application/services/test_data/inventory.py
  backend/app/application/services/test_data/withdrawals.py
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/display/badge.tsx
  frontend/src/features/allocations/hooks/useAutoAllocateHandler.test.ts
  frontend/src/features/dashboard/components/WarehouseDistributionChart.tsx
  frontend/src/features/inventory/components/AdhocLotCreateForm.test.tsx
  frontend/src/features/inventory/components/AdhocLotCreateForm.tsx
  frontend/src/features/inventory/components/InventoryLotActions.tsx
  frontend/src/features/inventory/components/InventoryLotList.tsx
  frontend/src/features/inventory/components/adhocLotCreateSchema.ts
  frontend/src/shared/components/data/DataTable.tsx
  frontend/src/shared/components/data/StatusBadge.tsx
Due: prettier, eslint, mypy

feat(test): add dedicated test database service
  TEST_DB_USAGE.md
  docker-compose.yml
Due: none

chore(deps): remove unused frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: prettier

fix(tests): update 'lots' table references to 'lot_receipts'
  backend/app/application/services/test_data/utils.py
  backend/scripts/update_inventory_view.py
  backend/scripts/verify_unit_conversion.py
  backend/tests/api/test_products.py
  backend/tests/api/test_suppliers.py
  backend/tests/api/test_warehouses.py
  backend/tests/integration/admin/test_bulk_export_integration.py
Due: mypy

docs: add phase1-remaining-fixes.md for upcoming fixes
  docs/tasks/phase1-remaining-fixes.md
Due: none

docs: clarify CI vs local Docker test DB setup
  TEST_DB_USAGE.md
Due: none

fix(tests): revert bulk export test to use "lots" API key
  backend/tests/integration/admin/test_bulk_export_integration.py
Due: mypy

refactor(api): rename bulk export key from "lots" to "lot_receipts"
  backend/app/presentation/api/routes/admin/bulk_export_router.py
  backend/tests/integration/admin/test_bulk_export_integration.py
Due: mypy

Enforce single-row expansion in inventory table
  backend/app/application/services/inventory/inventory_service.py
  backend/sql/views/create_views.sql
  docs/plans/inventory-lot-improvement-plan-additional.md
  docs/standards/state-management.md
  frontend/src/features/inventory/components/InventoryByProductTable.tsx
  frontend/src/features/inventory/components/InventoryBySupplierTable.tsx
  frontend/src/features/inventory/components/InventoryByWarehouseTable.tsx
  frontend/src/features/inventory/components/InventoryLotList.tsx
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/components/InventoryTableComponents.tsx
  frontend/src/features/inventory/components/LotSearchPanel.tsx
  frontend/src/features/inventory/hooks/useInventoryPageState.ts
  frontend/src/features/inventory/state.ts
  frontend/src/features/inventory/types/InventoryAggregationTypes.ts
  frontend/src/shared/components/data/DataTable.tsx
  frontend/src/shared/libs/normalize.ts
Due: prettier, eslint, mypy

Add consumed quantity tracking for lot receipts
  backend/alembic/versions/a1b2c3d4e5f6_add_consumed_quantity.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/inventory_models.py
  backend/app/infrastructure/persistence/models/lot_receipt_models.py
  backend/app/infrastructure/persistence/models/withdrawal_line_model.py
  docs/design/inventory_view_strategy.md
  docs/plans/inventory-lot-improvement-plan-additional.md
  frontend/src/features/inventory/components/AdhocLotCreateForm.tsx
  frontend/src/features/inventory/components/InventoryTableComponents.tsx
  frontend/src/features/inventory/components/LotTable.tsx
  frontend/src/features/inventory/hooks/useLotColumns.tsx
  frontend/src/features/inventory/pages/InventoryItemDetailPage.tsx
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/shared/components/data/LotStatusIcon.tsx
  frontend/src/shared/components/data/StatusBadge.tsx
  frontend/src/shared/utils/status.test.ts
  frontend/src/shared/utils/status.ts
  scripts/recalculate_consumed_quantity.py
Due: prettier, eslint, mypy

fix: resolve mypy redefinition error and update check-pr workflow
  .agent/workflows/check-pr.md
  backend/app/application/services/alerts/alert_service.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/application/services/test_data/inventory.py
  backend/app/application/services/test_data/withdrawals.py
  backend/app/infrastructure/persistence/models/lot_receipt_models.py
  backend/app/presentation/api/routes/admin/admin_router.py
  frontend/src/features/inventory/components/AdhocLotCreateForm.tsx
  frontend/src/features/inventory/components/AdhocLotFormFinancials.tsx
  frontend/src/features/inventory/components/LotSearchPanel.tsx
  frontend/src/shared/components/data/DataTable.tsx
  frontend/src/shared/components/data/LotStatusIcon.tsx
  frontend/src/shared/components/data/StatusBadge.tsx
Due: prettier, eslint, mypy

fix: apply frontend formatting and update check-pr to include format step
  .agent/workflows/check-pr.md
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/display/badge.tsx
  frontend/src/features/allocations/hooks/useAutoAllocateHandler.test.ts
  frontend/src/features/inventory/components/InventoryTableComponents.tsx
  frontend/src/shared/utils/status.ts
Due: prettier, eslint

fix: resolve backend mypy errors by renaming hybrid expression and updating config
  backend/app/infrastructure/persistence/models/lot_receipt_models.py
  backend/pyproject.toml
Due: mypy

fix: disable prettier-plugin-tailwindcss to resolve CI discrepancies
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/display/badge.tsx
  frontend/src/features/allocations/hooks/useAutoAllocateHandler.test.ts
  frontend/src/shared/components/data/StatusBadge.tsx
Due: prettier, eslint

Consolidate task documentation
  docs/README.md
  docs/tasks/2026-01-12_usability_improvements.md
  docs/tasks/2026-01-14_db_ui_fixes_and_export.md
  docs/tasks/INTAKE_HISTORY_INVESTIGATION.md
  docs/tasks/backlog.md
  docs/tasks/code_quality_improvements.md
  docs/tasks/date_utils_consolidation.md
  docs/tasks/delete_dialog_refactoring.md
  docs/tasks/e2e_testing.md
  docs/tasks/filter_components_standardization.md
  docs/tasks/future_improvements.md
  docs/tasks/phase1-remaining-fixes.md
  docs/tasks/recharts_dashboard_implementation.md
  docs/tasks/sap_integration.md
Due: none

Consolidate task documentation (#418)
  docs/README.md
  docs/tasks/2026-01-12_usability_improvements.md
  docs/tasks/2026-01-14_db_ui_fixes_and_export.md
  docs/tasks/INTAKE_HISTORY_INVESTIGATION.md
  docs/tasks/backlog.md
  docs/tasks/code_quality_improvements.md
  docs/tasks/date_utils_consolidation.md
  docs/tasks/delete_dialog_refactoring.md
  docs/tasks/e2e_testing.md
  docs/tasks/filter_components_standardization.md
  docs/tasks/future_improvements.md
  docs/tasks/phase1-remaining-fixes.md
  docs/tasks/recharts_dashboard_implementation.md
  docs/tasks/sap_integration.md
Due: none

chore: upgrade dependencies and fix test data generation
  .agent/workflows/migration-safety.md
  backend/alembic/versions/6ea7f2902c6a_merge_heads_for_zod_upgrade.py
  backend/alembic/versions/a1b2c3d4e5f7_add_consumed_quantity.py
  backend/app/application/services/auth/user_service.py
  backend/app/application/services/test_data/inventory.py
  backend/app/application/services/test_data/withdrawals.py
  backend/app/presentation/api/routes/admin/admin_router.py
  backend/pyproject.toml
  backend/scripts/create_admin.py
  backend/uv.lock
  docs/MAJOR_VERSION_UPGRADES.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/delivery-places/components/DeliveryPlaceForm.tsx
  frontend/src/features/orders/hooks/useOrders.test.tsx
  frontend/src/features/product-mappings/components/ProductMappingForm.tsx
  frontend/src/features/uom-conversions/components/UomConversionForm.tsx
  frontend/src/features/warehouse-delivery-routes/components/WarehouseDeliveryRouteForm.tsx
  frontend/src/features/warehouses/components/WarehouseForm.tsx
  tools/check_migration_safety.sh
Due: prettier, eslint, mypy

fix(inventory): Fix lot count display and improve UI spacing
  backend/alembic/versions/2a9b62dd46a0_add_reserved_quantity_active_to_v_lot_.py
  backend/alembic/versions/783df7fbb1a5_fix_v_inventory_summary_lot_count.py
  backend/alembic/versions/d4e5f6g7h8i9_add_default_accounts.py
  frontend/src/features/inventory/components/InventoryLotList.tsx
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/hooks/useInventoryTableLogic.ts
  frontend/src/shared/components/data/DataTable.tsx
Due: prettier, eslint, mypy

fix(inventory): Use DB available_quantity and add test data documentation
  docs/testing/inventory-test-data-scenarios.md
  frontend/src/features/inventory/components/InventoryLotActions.tsx
Due: prettier, eslint

fix(inventory): Fix lot display, count accuracy, and UI improvements (#419)
  .agent/workflows/migration-safety.md
  backend/alembic/versions/2a9b62dd46a0_add_reserved_quantity_active_to_v_lot_.py
  backend/alembic/versions/6ea7f2902c6a_merge_heads_for_zod_upgrade.py
  backend/alembic/versions/783df7fbb1a5_fix_v_inventory_summary_lot_count.py
  backend/alembic/versions/a1b2c3d4e5f7_add_consumed_quantity.py
  backend/alembic/versions/d4e5f6g7h8i9_add_default_accounts.py
  backend/app/application/services/auth/user_service.py
  backend/app/application/services/test_data/inventory.py
  backend/app/application/services/test_data/withdrawals.py
  backend/app/presentation/api/routes/admin/admin_router.py
  backend/pyproject.toml
  backend/scripts/create_admin.py
  backend/uv.lock
  docs/MAJOR_VERSION_UPGRADES.md
  docs/testing/inventory-test-data-scenarios.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/delivery-places/components/DeliveryPlaceForm.tsx
  frontend/src/features/inventory/components/InventoryLotActions.tsx
  frontend/src/features/inventory/components/InventoryLotList.tsx
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/features/inventory/hooks/useInventoryTableLogic.ts
  frontend/src/features/orders/hooks/useOrders.test.tsx
  frontend/src/features/product-mappings/components/ProductMappingForm.tsx
  frontend/src/features/uom-conversions/components/UomConversionForm.tsx
  frontend/src/features/warehouse-delivery-routes/components/WarehouseDeliveryRouteForm.tsx
  frontend/src/features/warehouses/components/WarehouseForm.tsx
  frontend/src/shared/components/data/DataTable.tsx
  tools/check_migration_safety.sh
Due: prettier, eslint, mypy

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  mypy: any of: ^backend/ and \.py$
  openapi-sync: any of: ^backend/app/presentation/schemas/.*\.py$
