Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

.pre-commit-config.yaml:

# リポジトリ直下の .pre-commit-config.yaml
repos:
  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true

      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

  # Backend - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend - Mypy (Type Check)
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (Backend)
        entry: bash -c 'cd backend && uv run mypy app/' --
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # OpenAPI Schema Sync - regenerate when backend schemas change
  - repo: local
    hooks:
      - id: openapi-sync
        name: OpenAPI Schema Sync
        entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
        language: system
        files: ^backend/app/presentation/schemas/.*\.py$
        pass_filenames: false

feat(logging): suppress sqlalchemy noise and fix frontend concurrent request_id race condition
  backend/app/core/database.py
  backend/app/core/logging.py
  backend/app/core/server_log_handler.py
  backend/uv.lock
  frontend/src/shared/api/http-client.ts
Due: prettier, eslint, mypy

chore: update openapi schema, lockfile and remove verification script
  backend/openapi.json
  backend/uv.lock
  frontend/src/types/api.d.ts
Due: prettier, eslint

Structured logging, request_id correlation and DB-backed server_logs (WARNING/ERROR) (#446)
  backend/alembic/versions/e4c1a2b3c4d5_add_server_logs_table.py
  backend/app/core/database.py
  backend/app/core/logging.py
  backend/app/core/server_log_handler.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/logs_models.py
  backend/app/infrastructure/persistence/models/system_models.py
  backend/app/main.py
  backend/app/middleware/logging.py
  backend/app/presentation/api/routes/system/system_router.py
  backend/app/presentation/schemas/system/system_schemas.py
  backend/openapi.json
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/features/client-logs/api.ts
  frontend/src/features/client-logs/pages/ClientLogsPage.tsx
  frontend/src/shared/api/http-client.ts
  frontend/src/shared/utils/logger.ts
  frontend/src/shared/utils/request-id.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat: add short_name field to master models and implement backLink navigation
  backend/alembic/versions/8821aca11e53_add_short_name_to_delivery_places.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/infrastructure/persistence/repositories/customer_item_delivery_setting_repository.py
  backend/app/presentation/api/routes/masters/status_router.py
  backend/app/presentation/schemas/masters/customer_item_delivery_setting_schema.py
  backend/app/presentation/schemas/masters/masters_schema.py
  backend/openapi.json
  frontend/src/features/customer-items/delivery-settings/DeliverySettingsSection.tsx
  frontend/src/features/customer-items/delivery-settings/api.ts
  frontend/src/features/customers/components/CustomerForm.tsx
  frontend/src/features/customers/components/CustomerFormFields.tsx
  frontend/src/features/customers/components/customerFormSchema.ts
  frontend/src/features/customers/pages/CustomerDetailPage.tsx
  frontend/src/features/customers/pages/CustomersListPage.tsx
  frontend/src/features/delivery-places/components/DeliveryPlaceForm.tsx
  frontend/src/features/masters/hooks/useMasterStatus.ts
  frontend/src/features/masters/pages/MastersPage.tsx
  frontend/src/features/supplier-products/pages/SupplierProductsPage.tsx
  frontend/src/features/suppliers/components/SupplierForm.tsx
  frontend/src/features/suppliers/pages/SupplierDetailPage.tsx
  frontend/src/features/suppliers/pages/SuppliersListPage.tsx
  frontend/src/features/warehouses/components/WarehouseForm.tsx
  frontend/src/features/warehouses/pages/WarehouseDetailPage.tsx
  frontend/src/shared/components/layout/PageHeader.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat: add backLink navigation to all master ListPages
  frontend/src/features/customer-items/pages/CustomerItemsListPage.tsx
  frontend/src/features/delivery-places/pages/DeliveryPlacesListPage.tsx
  frontend/src/features/product-mappings/pages/ProductMappingsListPage.tsx
  frontend/src/features/products/pages/ProductsListPage.tsx
  frontend/src/features/warehouse-delivery-routes/pages/WarehouseDeliveryRoutesListPage.tsx
  frontend/src/features/warehouses/pages/WarehousesListPage.tsx
Due: prettier, eslint

refactor: migrate from TanstackTable to DataTable component
  frontend/src/features/roles/pages/RolesListPage.tsx
  frontend/src/features/roles/pages/columns.tsx
  frontend/src/features/users/pages/UsersListPage.tsx
  frontend/src/features/users/pages/columns.tsx
  frontend/src/shared/components/data/TanstackTable.test.tsx
  frontend/src/shared/components/data/TanstackTable.tsx
  frontend/src/shared/components/data/index.ts
  frontend/src/shared/components/index.ts
Due: prettier, eslint

feat: Unify master page UX and implement short_name field (#447)
  backend/alembic/versions/8821aca11e53_add_short_name_to_delivery_places.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/infrastructure/persistence/repositories/customer_item_delivery_setting_repository.py
  backend/app/presentation/api/routes/masters/status_router.py
  backend/app/presentation/schemas/masters/customer_item_delivery_setting_schema.py
  backend/app/presentation/schemas/masters/masters_schema.py
  backend/openapi.json
  frontend/src/features/customer-items/delivery-settings/DeliverySettingsSection.tsx
  frontend/src/features/customer-items/delivery-settings/api.ts
  frontend/src/features/customer-items/pages/CustomerItemsListPage.tsx
  frontend/src/features/customers/components/CustomerForm.tsx
  frontend/src/features/customers/components/CustomerFormFields.tsx
  frontend/src/features/customers/components/customerFormSchema.ts
  frontend/src/features/customers/pages/CustomerDetailPage.tsx
  frontend/src/features/customers/pages/CustomersListPage.tsx
  frontend/src/features/delivery-places/components/DeliveryPlaceForm.tsx
  frontend/src/features/delivery-places/pages/DeliveryPlacesListPage.tsx
  frontend/src/features/masters/hooks/useMasterStatus.ts
  frontend/src/features/masters/pages/MastersPage.tsx
  frontend/src/features/product-mappings/pages/ProductMappingsListPage.tsx
  frontend/src/features/products/pages/ProductsListPage.tsx
  frontend/src/features/roles/pages/RolesListPage.tsx
  frontend/src/features/roles/pages/columns.tsx
  frontend/src/features/supplier-products/pages/SupplierProductsPage.tsx
  frontend/src/features/suppliers/components/SupplierForm.tsx
  frontend/src/features/suppliers/pages/SupplierDetailPage.tsx
  frontend/src/features/suppliers/pages/SuppliersListPage.tsx
  frontend/src/features/users/pages/UsersListPage.tsx
  frontend/src/features/users/pages/columns.tsx
  frontend/src/features/warehouse-delivery-routes/pages/WarehouseDeliveryRoutesListPage.tsx
  frontend/src/features/warehouses/components/WarehouseForm.tsx
  frontend/src/features/warehouses/pages/WarehouseDetailPage.tsx
  frontend/src/features/warehouses/pages/WarehousesListPage.tsx
  frontend/src/shared/components/data/TanstackTable.test.tsx
  frontend/src/shared/components/data/TanstackTable.tsx
  frontend/src/shared/components/data/index.ts
  frontend/src/shared/components/index.ts
  frontend/src/shared/components/layout/PageHeader.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix(masters): fix customer_items service data loss and add edit functionality
  backend/app/application/services/masters/customer_items_service.py
  docs/review/PRODUCT_IDENTIFICATION_DESIGN_REVIEW.md
  docs/tasks/MASTER_DATA_FIELD_ALIGNMENT_TASKS.md
  frontend/src/features/customer-items/components/CustomerItemDetailDialog.tsx
  frontend/src/features/customer-items/components/CustomerItemsTable.tsx
  frontend/src/features/customer-items/pages/CustomerItemsListPage.tsx
Due: prettier, eslint, mypy

fix(customer-items): preserve existing values in edit form and fix test data syntax
  backend/app/application/services/test_data/masters.py
  frontend/src/features/customer-items/components/CustomerItemForm.tsx
  frontend/src/features/customer-items/pages/CustomerItemsListPage.tsx
Due: prettier, eslint, mypy

chore(frontend): disable ESLint rules for complex dialog components
  frontend/src/features/customers/components/CustomerDetailDialog.tsx
  frontend/src/features/products/components/ProductDetailDialog.tsx
  frontend/src/features/suppliers/components/SupplierDetailDialog.tsx
  frontend/src/features/users/components/UserDetailDialog.tsx
  frontend/src/features/users/components/UserEditForm.tsx
  frontend/src/features/warehouses/components/WarehouseDetailDialog.tsx
Due: prettier, eslint

Add supplier/customer item migration plan
  docs/plan/supplier_customer_item_migration_plan.md
Due: none

docs(plan): add supplier_items migration implementation plan
  docs/plan/SUPPLIER_ITEMS_MIGRATION_PLAN.md
Due: none

docs(plan): Add supplier_items/customer_items implementation plan v2.1
  docs/plan/supplier_customer_items_implementation_plan_v2.1.md
  docs/plan/supplier_customer_items_implementation_plan_v2.md
Due: none

Add supplier/customer item migration plan (DDL & API design) (#449)
  docs/plan/SUPPLIER_ITEMS_MIGRATION_PLAN.md
  docs/plan/supplier_customer_item_migration_plan.md
  docs/plan/supplier_customer_items_implementation_plan_v2.1.md
  docs/plan/supplier_customer_items_implementation_plan_v2.md
Due: none

feat(smartread): add requestId/results route automation infrastructure
  backend/alembic/versions/9086177e83a1_add_smartread_requests_table.py
  backend/app/application/services/smartread/smartread_service.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/infrastructure/smartread/client.py
  docs/smartread_prompt_requestid_autorun.md
Due: mypy

feat(smartread): add API endpoints for requestId automation
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/smartread_schema.py
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat(smartread): add frontend hooks for requestId automation
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/hooks.ts
Due: prettier, eslint

feat(smartread): Implement automated OCR workflow using requestId/results route (#450)
  backend/alembic/versions/9086177e83a1_add_smartread_requests_table.py
  backend/app/application/services/smartread/smartread_service.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/infrastructure/smartread/client.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/smartread_schema.py
  backend/openapi.json
  docs/smartread_prompt_requestid_autorun.md
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat(smartread): Integrate UI improvements and automated workflow logic
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadManagedTaskList.tsx
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
  frontend/src/features/rpa/smartread/components/SmartReadSavedDataList.tsx
  frontend/src/features/rpa/smartread/components/SmartReadSettingsModal.tsx
  frontend/src/features/rpa/smartread/db/export-cache.ts
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  frontend/src/features/rpa/smartread/utils/csv-transformer.ts
  seed_smartread_dummy.py
Due: prettier, eslint

fix(smartread): use DB data directly for result view and fix 500 error
  backend/alembic/versions/e4c1a2b3c4d5_add_server_logs_table.py
  backend/app/application/services/smartread/smartread_service.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  docs/ocr_order_register_ai_handoff.md
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint, mypy

fix(smartread): use fresh UoW session in background task
  backend/app/presentation/api/routes/rpa/smartread_router.py
Due: mypy

fix(frontend): PRの型エラーとスキーマ同期不整合を修正
  backend/openapi.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/rpa/smartread/db/export-cache.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint

fix: PR指摘事項の修正
  backend/app/presentation/api/routes/rpa/smartread_router.py
  frontend/src/features/rpa/smartread/utils/csv-transformer.test.ts
  frontend/src/features/rpa/smartread/utils/csv-transformer.ts
Due: prettier, eslint, mypy

feat(smartread): Integrate automated OCR workflow and UI improvements (#451)
  backend/alembic/versions/e4c1a2b3c4d5_add_server_logs_table.py
  backend/app/application/services/smartread/smartread_service.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/openapi.json
  docs/ocr_order_register_ai_handoff.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadManagedTaskList.tsx
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
  frontend/src/features/rpa/smartread/components/SmartReadSavedDataList.tsx
  frontend/src/features/rpa/smartread/components/SmartReadSettingsModal.tsx
  frontend/src/features/rpa/smartread/db/export-cache.ts
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  frontend/src/features/rpa/smartread/utils/csv-transformer.test.ts
  frontend/src/features/rpa/smartread/utils/csv-transformer.ts
  frontend/src/types/api.d.ts
  seed_smartread_dummy.py
Due: prettier, eslint, mypy

docs: OCR受注登録機能のドキュメント整備
  docs/shipping/HANDOFF.md
  docs/shipping/implementation_plan.md
  docs/shipping/ocr_order_register_ai_handoff.md
  docs/shipping/task.md
Due: none

feat(backend): 出荷用マスタデータのDBモデルとマイグレーション追加
  backend/alembic/versions/40516792d7f0_add_shipping_master_tables.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/shipping_master_models.py
  seed_shipping_master_dummy.py
Due: mypy

fix(backend): Resolve import errors and complete shipping master implementation
  backend/app/application/services/shipping_master/__init__.py
  backend/app/application/services/shipping_master/shipping_master_service.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/shipping_master_router.py
  backend/app/presentation/schemas/shipping_master_schema.py
  backend/openapi.json
  docs/ocr_order_register_ai_handoff.md
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat(frontend): Add shipping master list page (Phase 1 frontend)
  backend/seed_shipping_master_dummy.py
  frontend/src/MainRoutes.tsx
  frontend/src/features/masters/pages/MastersPage.tsx
  frontend/src/features/shipping-master/api.ts
  frontend/src/features/shipping-master/components/ShippingMasterFilters.tsx
  frontend/src/features/shipping-master/components/ShippingMasterTable.tsx
  frontend/src/features/shipping-master/pages/ShippingMasterListPage.tsx
Due: prettier, eslint, mypy

feat(backend): Phase 2 - Order register service and API endpoints
  backend/app/application/services/order_register/__init__.py
  backend/app/application/services/order_register/order_register_service.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/order_register_router.py
  backend/app/presentation/schemas/order_register_schema.py
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

docs: Update task.md to reflect Phase 2 completion
  docs/shipping/task.md
Due: none

feat(backend): Add default customer code 100427105 for OCR processing
  backend/app/application/services/order_register/order_register_service.py
Due: mypy

fix(frontend): Remove duplicate /api prefix in shipping-master API URLs
  frontend/src/features/shipping-master/api.ts
Due: prettier, eslint

feat(frontend): Refactor shipping master table to show all 21 columns with DataTable
  frontend/src/features/shipping-master/components/ShippingMasterTable.tsx
  frontend/src/features/shipping-master/components/shipping-master-columns.tsx
Due: prettier, eslint

feat: Add Excel import functionality for shipping masters
  backend/app/presentation/api/routes/shipping_master_router.py
  frontend/src/features/shipping-master/components/ShippingMasterImportDialog.tsx
  frontend/src/features/shipping-master/pages/ShippingMasterListPage.tsx
Due: prettier, eslint, mypy

feat(shipping-master): 管理者リセット機能と行削除機能を追加
  backend/app/application/services/shipping_master/shipping_master_service.py
  backend/app/presentation/api/routes/shipping_master_router.py
  frontend/src/features/shipping-master/components/ShippingMasterTable.tsx
  frontend/src/features/shipping-master/components/shipping-master-columns.tsx
  frontend/src/features/shipping-master/pages/ShippingMasterListPage.tsx
Due: prettier, eslint, mypy

feat(shipping): OCR受注登録機能のバックエンド強化と500エラー修正
  backend/app/application/services/common/export_service.py
  backend/app/application/services/order_register/order_register_service.py
  backend/app/application/services/shipping_master/shipping_master_service.py
  backend/app/presentation/api/routes/order_register_router.py
  backend/app/presentation/api/routes/shipping_master_router.py
  docs/shipping/task.md
  frontend/src/MainRoutes.tsx
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint, mypy

fix(shipping): Excelインポート時の値を文字列型に強制変換（前ゼロ保持のため）
  backend/app/presentation/api/routes/shipping_master_router.py
Due: mypy

feat: improve OCR data resilience by storing delivery date/quantity as string and add export script
  backend/alembic/versions/cdd8f9f2f79a_change_order_register_row_columns_to_.py
  backend/app/application/services/order_register/order_register_service.py
  backend/app/infrastructure/persistence/models/shipping_master_models.py
  docs/shipping/task.md
  export_order_register_rows.py
  seed_ocr_dummy.py
Due: mypy
