Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

prettier:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
  language: system
  pass_filenames: true

mypy:
  name: Mypy (Backend)
  entry: bash -c 'cd backend && uv run mypy app/' --
  language: system
  pass_filenames: false

openapi-sync:
  name: OpenAPI Schema Sync
  entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
  ...

feat: Excel View フェーズ2完了（編集・削除操作の強化）
  docs/project/EXCEL_VIEW_IMPROVEMENT_PLAN.md
  docs/project/PHASE1-4_IMPLEMENTATION_PLAN.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/confirm-dialog.tsx
  frontend/src/components/ui/context-menu.tsx
  frontend/src/features/inventory/components/LotTable.tsx
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/LotInfoGroups.tsx
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
  frontend/src/shared/components/data/LotStatusIcon.tsx
  frontend/src/shared/utils/status.ts
Due: prettier, eslint

feat: Excel View 常時編集モード化（編集ボタン不要）
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/LotInfoGroups.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/ShipmentTable.tsx
Due: prettier, eslint

feat: Excel View UI改善（入力欄高さ統一・成績書日付・納入先追加ボタン）
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/LotInfoGroups.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/ShipmentTable.tsx
Due: prettier, eslint

docs: Excel View進捗状況を更新（Phase 1-2完了、UI改善完了）
  docs/project/EXCEL_VIEW_NEXT_STEPS.md
Due: none

fix(backend): Pydanticスキーマの型不一致による500エラーを修正
  backend/alembic/versions/3a0f933dd9bc_add_coa_issue_date_to_allocation_.py
  backend/app/application/services/allocations/suggestion.py
  backend/app/infrastructure/persistence/models/inventory_models.py
  backend/app/presentation/schemas/allocations/allocation_suggestions_schema.py
  frontend/src/features/allocations/api.ts
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/AddDestinationDialog.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/ShipmentTable.tsx
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix(frontend): 入力中のフォーカス喪失を防ぐためローカルステートを導入
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/LotInfoGroups.tsx
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
Due: prettier, eslint

feat(inventory): 納入先追加機能の修正、マスタ同期の実装、および型エラーの解消
  backend/app/application/services/allocations/suggestion.py
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
Due: prettier, eslint, mypy

docs: プロジェクトドキュメントの更新（オートセーブ、マスタ同期、残課題の追記）
  docs/project/EXCEL_VIEW_IMPROVEMENT_PLAN.md
  docs/project/EXCEL_VIEW_NEXT_STEPS.md
Due: none

Add Excel View archive actions and update docs
  docs/project/EXCEL_VIEW_IMPROVEMENT_PLAN.md
  docs/project/EXCEL_VIEW_NEXT_STEPS.md
  frontend/src/features/inventory/components/LotArchiveDialog.tsx
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/features/inventory/components/excel-view/types.ts
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
Due: prettier, eslint

Implement monthly destination report
  .gitignore
  backend/app/application/services/reports/__init__.py
  backend/app/application/services/reports/report_service.py
  backend/app/application/services/test_data/reports.py
  backend/app/application/services/test_data_generator.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/reports/__init__.py
  backend/app/presentation/api/routes/reports/report_router.py
  backend/app/presentation/schemas/reports/__init__.py
  backend/app/presentation/schemas/reports/report_schema.py
  docs/project/EXCEL_VIEW_IMPROVEMENT_PLAN.md
  docs/project/EXCEL_VIEW_NEXT_STEPS.md
  frontend/src/MainRoutes.tsx
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/config/feature-config.ts
  frontend/src/constants/routes.ts
  frontend/src/features/reports/api.ts
  frontend/src/features/reports/components/MonthlyReportPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

Align report sample defaults
  backend/app/application/services/test_data/reports.py
Due: mypy

fix(excel-view): 入力不可バグの修正とデバッグログの削除
  docs/project/BACKLOG.md
  frontend/src/features/inventory/components/LotArchiveDialog.tsx
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/AddDestinationDialog.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/LotInfoGroups.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/ShipmentTable.tsx
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
Due: prettier, eslint

fix(excel-view): 罫線が途切れる問題を修正
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/ShipmentTable.tsx
Due: prettier, eslint

feat(permissions): 月次レポートルートの権限設定を追加
  frontend/src/features/auth/permissions/config.ts
Due: prettier, eslint

refactor(excel-view): コードレビュー指摘事項の対応
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/ShipmentTable.tsx
Due: prettier, eslint

docs: 数量変更デバウンス処理タスクをExcel View残課題に追加
  docs/project/EXCEL_VIEW_NEXT_STEPS.md
Due: none

feat(auth): リフレッシュトークン（HTTP-only Cookie）の実装
  backend/app/application/services/auth/auth_service.py
  backend/app/core/config.py
  backend/app/core/security.py
  backend/app/presentation/api/routes/auth/auth_router.py
  backend/check_env.py
  docs/deployment/WINDOWS_ENV_VARS.md
  frontend/src/features/auth/AuthContext.tsx
  frontend/src/shared/api/http-client.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

chore: OpenAPIスキーマとフロントエンド型定義を更新
  backend/openapi.json
  frontend/package-lock.json
  frontend/src/types/api.d.ts
Due: prettier, eslint

fix: 実行中サーバーのスキーマと型定義を同期
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint

feat(auth): リフレッシュトークン（HTTP-only Cookie）の実装 (#535)
  backend/app/application/services/auth/auth_service.py
  backend/app/core/config.py
  backend/app/core/security.py
  backend/app/presentation/api/routes/auth/auth_router.py
  backend/check_env.py
  backend/openapi.json
  docs/deployment/WINDOWS_ENV_VARS.md
  frontend/package-lock.json
  frontend/src/features/auth/AuthContext.tsx
  frontend/src/shared/api/http-client.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

feat: 出荷用マスタのエクスポート機能とインポート時の自動同期オプションを実装
  backend/alembic/versions/0085f02d2f77_add_display_name_and_update_uniqueness_.py
  backend/app/application/services/shipping_master/shipping_master_service.py
  backend/app/application/services/shipping_master/shipping_master_sync_service.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/presentation/api/routes/shipping_master_router.py
  backend/tests/api/test_shipping_master_router.py
  backend/tests/services/test_shipping_master_sync_service.py
  docs/project/MASTER_ALIGNMENT_PLAN.md
  docs/project/SHIPPING_MASTER_AUTO_SYNC_DESIGN.md
  frontend/src/features/masters/pages/MastersPage.tsx
  frontend/src/features/shipping-master/api.ts
  frontend/src/features/shipping-master/components/ShippingMasterImportDialog.tsx
  frontend/src/features/shipping-master/pages/ShippingMasterListPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

Add shipping master targeted fields and sync improvements
  backend/alembic/versions/486eb9ffe359_add_targeted_shipping_master_fields.py
  backend/alembic/versions/62a340dbe783_recreate_views_after_schema_changes.py
  backend/app/application/services/order_register/order_register_service.py
  backend/app/application/services/shipping_master/shipping_master_service.py
  backend/app/application/services/shipping_master/shipping_master_sync_service.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/infrastructure/persistence/models/shipping_master_models.py
  backend/app/infrastructure/persistence/models/supplier_item_model.py
  backend/app/presentation/api/routes/masters/delivery_places_router.py
  backend/app/presentation/api/routes/shipping_master_router.py
  backend/app/presentation/schemas/shipping_master_schema.py
  backend/sql/views/create_views.sql
  frontend/src/features/shipping-master/api.ts
  frontend/src/features/shipping-master/components/ShippingMasterSyncDialog.tsx
  frontend/src/features/shipping-master/components/shipping-master-columns.tsx
  frontend/src/features/shipping-master/pages/ShippingMasterListPage.tsx
  frontend/src/types/api.ts
  scripts/investigate_shipping_master_sync.py
Due: prettier, eslint, mypy, openapi-sync

Fix TypeScript errors and address code review feedback
  backend/app/application/services/shipping_master/shipping_master_sync_service.py
  frontend/src/features/shipping-master/components/ShippingMasterEditDialog.tsx
  frontend/src/features/shipping-master/components/ShippingMasterSyncDialog.tsx
  scripts/investigate_shipping_master_sync.py
Due: prettier, eslint, mypy

feat: 出荷用マスタの材質コード・発注情報対応と担当者自動割り当て (#536)
  backend/alembic/versions/0085f02d2f77_add_display_name_and_update_uniqueness_.py
  backend/alembic/versions/486eb9ffe359_add_targeted_shipping_master_fields.py
  backend/alembic/versions/62a340dbe783_recreate_views_after_schema_changes.py
  backend/app/application/services/order_register/order_register_service.py
  backend/app/application/services/shipping_master/shipping_master_service.py
  backend/app/application/services/shipping_master/shipping_master_sync_service.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/infrastructure/persistence/models/shipping_master_models.py
  backend/app/infrastructure/persistence/models/supplier_item_model.py
  backend/app/presentation/api/routes/masters/delivery_places_router.py
  backend/app/presentation/api/routes/shipping_master_router.py
  backend/app/presentation/schemas/shipping_master_schema.py
  backend/sql/views/create_views.sql
  backend/tests/api/test_shipping_master_router.py
  backend/tests/services/test_shipping_master_sync_service.py
  docs/project/MASTER_ALIGNMENT_PLAN.md
  docs/project/SHIPPING_MASTER_AUTO_SYNC_DESIGN.md
  frontend/src/features/masters/pages/MastersPage.tsx
  frontend/src/features/shipping-master/api.ts
  frontend/src/features/shipping-master/components/ShippingMasterEditDialog.tsx
  frontend/src/features/shipping-master/components/ShippingMasterImportDialog.tsx
  frontend/src/features/shipping-master/components/ShippingMasterSyncDialog.tsx
  frontend/src/features/shipping-master/components/shipping-master-columns.tsx
  frontend/src/features/shipping-master/pages/ShippingMasterListPage.tsx
  frontend/src/types/api.ts
  scripts/investigate_shipping_master_sync.py
Due: prettier, eslint, mypy, openapi-sync

docs: OCR結果エラー削除機能の設計書を追加
  docs/project/ocr-error-deletion-design.md
Due: none

fix: align OCR delete and SAP cache refresh
  backend/app/application/services/ocr/ocr_deletion_service.py
  backend/app/application/services/sap/sap_material_service.py
  backend/app/application/services/sap/sap_reconciliation_service.py
  backend/app/presentation/api/routes/integration/sap_router.py
  backend/app/presentation/schemas/integration/sap_schema.py
  frontend/src/features/sap-integration/api.ts
  frontend/src/features/sap-integration/components/DataFetchTab.tsx
  frontend/src/types/api.d.ts
  frontend/src/types/api.ts
Due: prettier, eslint, mypy, openapi-sync

feat: SAPキャッシュ自動再取得機能（洗い替え方式）の実装
  backend/app/application/services/sap/sap_cache_manager.py
  backend/app/application/services/sap/sap_material_service.py
Due: mypy

docs: SAPキャッシュ自動再取得機能の設計書を追加
  docs/project/sap-cache-auto-refresh-design.md
Due: none

feat: OCR結果エラー削除機能の実装
  backend/app/application/services/ocr/ocr_deletion_service.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/app/presentation/schemas/ocr_import_schema.py
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/components/ActionButtons.tsx
  frontend/src/features/ocr-results/components/DeleteConfirmDialog.tsx
  frontend/src/features/ocr-results/hooks/useOcrActions.ts
  frontend/src/features/ocr-results/hooks/useOcrStatusOperations.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix: Exclude zero-quantity suggestions from lot_count and fix token refresh retry logic
  backend/app/application/services/reports/report_service.py
  frontend/src/shared/api/http-client.ts
Due: prettier, eslint, mypy

fix: split view recreation SQL
  backend/alembic/versions/62a340dbe783_recreate_views_after_schema_changes.py
Due: mypy

claude/ocr error deletion design pdZNk (#537)
  backend/alembic/versions/62a340dbe783_recreate_views_after_schema_changes.py
  backend/app/application/services/ocr/ocr_deletion_service.py
  backend/app/application/services/reports/report_service.py
  backend/app/application/services/sap/sap_cache_manager.py
  backend/app/application/services/sap/sap_material_service.py
  backend/app/application/services/sap/sap_reconciliation_service.py
  backend/app/presentation/api/routes/integration/sap_router.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/app/presentation/schemas/integration/sap_schema.py
  backend/app/presentation/schemas/ocr_import_schema.py
  docs/project/ocr-error-deletion-design.md
  docs/project/sap-cache-auto-refresh-design.md
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/components/ActionButtons.tsx
  frontend/src/features/ocr-results/components/DeleteConfirmDialog.tsx
  frontend/src/features/ocr-results/hooks/useOcrActions.ts
  frontend/src/features/ocr-results/hooks/useOcrStatusOperations.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  frontend/src/features/sap-integration/api.ts
  frontend/src/features/sap-integration/components/DataFetchTab.tsx
  frontend/src/shared/api/http-client.ts
  frontend/src/types/api.d.ts
  frontend/src/types/api.ts
Due: prettier, eslint, mypy, openapi-sync

fix: 出荷用マスタ同期APIのレスポンスキー名を修正
  backend/app/application/services/shipping_master/shipping_master_service.py
  backend/tests/api/test_shipping_master_router.py
Due: mypy

docs: プロジェクト全体のテスト・ロギング不足監査レポート作成
  docs/project/TEST_LOGGING_AUDIT_2026-02-03.md
Due: none

test: テスト失敗の修正（ShippingMaster, 認証依存性, ロール追加）
  backend/app/core/security.py
  backend/app/presentation/api/routes/auth/auth_router.py
  backend/tests/api/test_auth_logout.py
  backend/tests/api/test_auth_refresh_token.py
  backend/tests/api/v2/test_priority_sorting.py
  backend/tests/services/test_shipping_master_sync_service.py
  backend/tests/test_orders_refactored.py
  backend/tests/test_validation.py
  backend/tests/unit/test_security_tokens.py
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

fix: test_get_order_success の403エラーを修正
  backend/tests/test_orders_refactored.py
Due: mypy

feat: P0-2〜P0-5 ロギング追加とテスト作成
  backend/app/application/services/ocr/ocr_import_service.py
  backend/app/application/services/ocr/ocr_sap_complement_service.py
  backend/app/application/services/order_register/order_register_service.py
  backend/app/presentation/api/routes/inventory/lots_router.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/app/presentation/api/routes/order_register_router.py
  backend/tests/services/test_ocr_deletion_service.py
  backend/tests/services/test_ocr_import_service.py
  backend/tests/services/test_order_register_service.py
Due: mypy

feat: P1-1/P1-4 SmartReadサービス・RPAルーターにロギング追加
  backend/app/application/services/smartread/analyze_service.py
  backend/app/application/services/smartread/completion_service.py
  backend/app/presentation/api/routes/rpa/cloud_flow_router.py
  backend/app/presentation/api/routes/rpa/layer_code_router.py
  backend/app/presentation/api/routes/rpa/material_delivery_simple_router.py
  backend/app/presentation/api/routes/rpa/rpa_router.py
Due: mypy

feat: P1-2 SmartReadルーター全29エンドポイントにロギング追加
  backend/app/presentation/api/routes/rpa/smartread_router.py
Due: mypy

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  mypy: any of: ^backend/ and \.py$
  openapi-sync: any of: ^backend/app/presentation/schemas/.*\.py$
