Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

prettier:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
  language: system
  pass_filenames: true

mypy:
  name: Mypy (Backend)
  entry: bash -c 'cd backend && uv run mypy app/' --
  language: system
  pass_filenames: false

openapi-sync:
  name: OpenAPI Schema Sync
  entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
  ...

refactor: OCRステータス操作ロジックを分割
  frontend/src/features/ocr-results/hooks/useOcrStatusOperations.ts
Due: prettier, eslint

refactor: 納品書進捗表示の判定ロジックを分離
  frontend/src/features/rpa/material-delivery-note/components/MaterialDeliveryRunProgress.tsx
Due: prettier, eslint

refactor: OCR結果テーブルの表示責務を分離
  frontend/src/features/ocr-results/components/OcrResultsTable.tsx
Due: prettier, eslint

refactor: 入荷予定一覧ページの状態管理を分離
  frontend/src/features/inbound-plans/pages/InboundPlansListPage.tsx
Due: prettier, eslint

refactor: DBブラウザページのモデルを抽出
  frontend/src/features/debug-db/pages/DbBrowserPage.tsx
Due: prettier, eslint

refactor: 新規ロット入庫フォームを要素分割
  frontend/src/features/inventory/components/forms/NewLotIntakeForm.tsx
Due: prettier, eslint

refactor: 入庫登録ページのデータ準備を分離
  frontend/src/features/inventory/pages/AdhocLotCreatePage.tsx
Due: prettier, eslint

refactor: 単位換算フォームの入力部品を分割
  frontend/src/features/uom-conversions/components/UomConversionForm.tsx
Due: prettier, eslint

refactor: ロットロックダイアログを構成要素化
  frontend/src/features/inventory/components/LotLockDialog.tsx
Due: prettier, eslint

refactor: 実行履歴ページの表示要素を分離
  frontend/src/features/rpa/material-delivery-note/pages/RunsListPage.tsx
Due: prettier, eslint

refactor: SmartReadアップロード処理を分離
  frontend/src/features/rpa/smartread/components/SmartReadUploadPanel.tsx
Due: prettier, eslint

refactor: SAPログタブの表示ブロックを分離
  frontend/src/features/sap-integration/components/LogsTab.tsx
Due: prettier, eslint

feat: フロントエンドの型エラーを修正し、CIチェックを通過するように調整
  frontend/src/components/ui/form/form-components.tsx
  frontend/src/features/allocations/components/ReservationCancelDialog.test.tsx
  frontend/src/features/allocations/hooks/useLotAllocationLogic.ts
  frontend/src/features/debug-db/pages/DbBrowserPage.tsx
  frontend/src/features/inbound-plans/api.ts
  frontend/src/features/inbound-plans/components/InboundPlanLinesTable.tsx
  frontend/src/features/makers/components/MakerForm.tsx
  frontend/src/features/makers/pages/MakersPage.tsx
  frontend/src/features/orders/components/AllocationDialog.tsx
  frontend/src/features/supplier-products/components/SupplierProductForm.tsx
Due: prettier, eslint

fix: Geminiの型エラー修正を改善（any削除、型安全性向上）
  frontend/src/components/ui/form/form-components.tsx
  frontend/src/features/allocations/hooks/useLotAllocationLogic.ts
  frontend/src/features/inbound-plans/components/InboundPlanLinesTable.tsx
  frontend/src/features/supplier-products/components/SupplierProductForm.tsx
Due: prettier, eslint

fix: テストデータ生成時の500エラーを修正
  backend/app/application/services/test_data/masters.py
Due: mypy

fix: テストデータ生成の追加カラム不整合を修正
  backend/app/application/services/test_data/forecasts.py
  backend/app/application/services/test_data/missing_mappings.py
  backend/app/application/services/test_data/notifications.py
Due: mypy

DBブラウザの不整合修正とフォーマット調整
  backend/app/infrastructure/persistence/models/forecast_models.py
  backend/app/presentation/api/routes/debug/db_browser_router.py
  backend/tests/api/test_debug_db_browser.py
  backend/tests/integration/admin/test_test_data_generation.py
  frontend/src/features/debug-db/api.ts
  frontend/src/features/debug-db/components/DbObjectList.tsx
  frontend/src/features/debug-db/hooks.ts
  frontend/src/features/debug-db/pages/DbBrowserPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

DBブラウザの有効化とUIの型エラーを修正
  frontend/src/features/debug-db/components/DbObjectList.tsx
Due: prettier, eslint

fix: テストデータ生成のモデル-DB不整合を包括修正
  backend/alembic/sql/add_table_column_comments.sql
  backend/alembic/versions/phase1_final_column_cleanup.py
  backend/app/application/services/test_data/adjustments.py
  backend/app/application/services/test_data/audit_logs.py
  backend/app/application/services/test_data/material_order_forecasts.py
  backend/app/application/services/test_data/shipping_master.py
  backend/app/application/services/test_data/withdrawals.py
  backend/app/infrastructure/persistence/models/forecast_models.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/tests/conftest.py
  backend/tests/integration/admin/test_test_data_generation.py
Due: mypy

refactor: 後方互換エイリアスを一掃
  backend/app/application/services/allocations/cancel.py
  backend/app/application/services/allocations/fefo.py
  backend/app/application/services/allocations/search.py
  backend/app/application/services/allocations/utils.py
  backend/app/application/services/common/quantity_service.py
  backend/app/application/services/inventory/adjustment_service.py
  backend/app/application/services/inventory/inbound_receiving_service.py
  backend/app/application/services/inventory/intake_history_service.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/application/services/masters/product_mappings_service.py
  backend/app/application/services/orders/order_import_service.py
  backend/app/application/services/orders/order_service.py
  backend/app/application/services/orders/validation_service.py
  backend/app/application/services/test_data/inventory_scenarios.py
  backend/app/infrastructure/clients/lot_client.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/forecast_models.py
  backend/app/infrastructure/persistence/models/inventory_models.py
  backend/app/infrastructure/persistence/models/supplier_item_model.py
  backend/app/infrastructure/persistence/models/views_models.py
  backend/app/infrastructure/persistence/repositories/lot_repository.py
  backend/app/infrastructure/persistence/repositories/products_repository.py
  backend/app/presentation/api/routes/admin/admin_healthcheck_router.py
  backend/app/presentation/api/routes/masters/product_mappings_router.py
  backend/app/presentation/api/routes/orders/confirmed_lines_router.py
  backend/fix_supplier_part_numbers.py
  backend/scripts/verify_uom_conversion.py
  backend/tests/api/test_masters_permanent_delete_auth.py
  backend/tests/services/test_adjustment_service.py
  backend/tests/services/test_inbound_receiving_service.py
  backend/tests/services/test_lot_service.py
  backend/tests/services/test_withdrawal_service.py
Due: mypy

docs: RPA Status レガシーエイリアス削除をバックログに追加
  docs/project/BACKLOG.md
Due: none

fix: テストデータ生成の通知CHECK制約違反とキャンセルボタン修正
  backend/app/application/services/test_data/notifications.py
  frontend/src/features/admin/pages/AdminPage.tsx
Due: prettier, eslint, mypy

fix: LotReservationHistory テストデータの old_values/new_values を個別カラムに修正
  backend/app/application/services/test_data/audit_logs.py
Due: mypy

fix: clear_data に漏れていたテーブルを追加
  backend/app/application/services/test_data/utils.py
Due: mypy

fix: テストデータ生成の同期レスポンス対応で進捗404を解消
  frontend/src/features/admin/pages/AdminPage.tsx
Due: prettier, eslint

fix: 生CSV取込とマスタ補間対応でフォーキャストCSVインポートを安定化
  backend/app/application/services/material_order_forecast_service.py
  backend/tests/integration/test_material_order_forecast.py
Due: mypy

fix: フォーキャスト補完をビュー化し出荷用マスタ同期を改善
  backend/app/application/services/material_order_forecast_service.py
  backend/app/application/services/shipping_master/shipping_master_sync_service.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/views_models.py
  backend/sql/views/create_views.sql
  backend/tests/services/test_shipping_master_sync_service.py
Due: mypy

fix: 次区で納入先名を補完するフォーキャストビュー修正
  backend/sql/views/create_views.sql
Due: none

fix: 同期前に出荷用マスタ空欄を自動補完
  backend/app/application/services/shipping_master/shipping_master_service.py
  backend/tests/api/test_shipping_master_router.py
Due: mypy

chore: 表示名短縮運用のバックログを追加
  docs/project/BACKLOG.md
Due: none

fix: 同期時の得意先名・仕入先名補完を強化
  backend/app/application/services/shipping_master/shipping_master_service.py
  backend/app/application/services/shipping_master/shipping_master_sync_service.py
  backend/tests/api/test_shipping_master_router.py
Due: mypy

feat: SAP名補完機能の実装（バックエンド/フロントエンド）
  backend/app/application/services/shipping_master/shipping_master_service.py
  backend/app/presentation/api/routes/shipping_master_router.py
  backend/scripts/check_sap_keys.py
  backend/tests/api/test_shipping_master_router.py
  backend/tests/db_utils.py
  frontend/src/features/shipping-master/api.ts
  frontend/src/features/shipping-master/pages/ShippingMasterListPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

chore: 未使用のmutationをコメントアウト
  backend/scripts/verify_prefill_dev.py
  frontend/src/features/shipping-master/pages/ShippingMasterListPage.tsx
Due: prettier, eslint, mypy

chore: 検証用スクリプトの削除とドキュメントの更新（SAP名称補完機能スキップ対応）
  backend/scripts/verify_prefill_dev.py
Due: mypy

fix: テスト修正と型エラーの最終調整
  backend/app/presentation/api/routes/debug/db_browser_router.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/openapi.json
  backend/tests/integration/test_smartread_integration.py
  backend/tests/test_allocations_refactored.py
  frontend/src/features/debug-db/hooks.ts
Due: prettier, eslint, mypy

material-order-forecasts: add delete action and strict csv month handling
  backend/app/application/services/material_order_forecast_service.py
  backend/app/presentation/api/routes/material_order_forecast_router.py
  backend/app/presentation/schemas/material_order_forecast_schema.py
  backend/tests/integration/test_material_order_forecast.py
  frontend/src/features/material-order-forecasts/api.ts
  frontend/src/features/material-order-forecasts/components/ForecastImportDialog.tsx
  frontend/src/features/material-order-forecasts/components/ForecastImportForm.tsx
  frontend/src/features/material-order-forecasts/components/ForecastTable.tsx
  frontend/src/features/material-order-forecasts/hooks/useMaterialOrderForecasts.ts
  frontend/src/features/material-order-forecasts/pages/MaterialOrderForecastsPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

material-order-forecasts: replace row delete with month bulk delete
  backend/app/application/services/material_order_forecast_service.py
  backend/app/presentation/api/routes/material_order_forecast_router.py
  frontend/src/features/material-order-forecasts/api.ts
  frontend/src/features/material-order-forecasts/components/ForecastTable.tsx
  frontend/src/features/material-order-forecasts/hooks/useMaterialOrderForecasts.ts
  frontend/src/features/material-order-forecasts/pages/MaterialOrderForecastsPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

feat: 材料発注フォーキャスト削除機能と対象月CSV自動判定 (#552)
  backend/app/application/services/material_order_forecast_service.py
  backend/app/presentation/api/routes/material_order_forecast_router.py
  backend/app/presentation/schemas/material_order_forecast_schema.py
  backend/tests/integration/test_material_order_forecast.py
  frontend/src/features/material-order-forecasts/api.ts
  frontend/src/features/material-order-forecasts/components/ForecastImportDialog.tsx
  frontend/src/features/material-order-forecasts/components/ForecastImportForm.tsx
  frontend/src/features/material-order-forecasts/components/ForecastTable.tsx
  frontend/src/features/material-order-forecasts/hooks/useMaterialOrderForecasts.ts
  frontend/src/features/material-order-forecasts/pages/MaterialOrderForecastsPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  mypy: any of: ^backend/ and \.py$
  openapi-sync: any of: ^backend/app/presentation/schemas/.*\.py$
