Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

.pre-commit-config.yaml:

# リポジトリ直下の .pre-commit-config.yaml
repos:
  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true

      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

  # Backend - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend - Mypy (Type Check)
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (Backend)
        entry: bash -c 'cd backend && uv run mypy app/' --
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # OpenAPI Schema Sync - regenerate when backend schemas change
  - repo: local
    hooks:
      - id: openapi-sync
        name: OpenAPI Schema Sync
        entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
        language: system
        files: ^backend/app/presentation/schemas/.*\.py$
        pass_filenames: false

docs: Add Phase2 plan for UI labels and field name unification
  docs/project/CODE_SYSTEM_DEFINITION.md
Due: none

feat(frontend): Phase1 UI integration - supplier_item_id mandatory
  frontend/src/features/customer-items/api.ts
  frontend/src/features/customer-items/components/CustomerItemForm.tsx
  frontend/src/features/customer-items/components/CustomerItemFormBasicSection.tsx
  frontend/src/features/customer-items/components/CustomerItemsTable.tsx
  frontend/src/features/customer-items/hooks/useCustomerItemsPage.ts
  frontend/src/features/inventory/pages/ExcelPortalPage.tsx
  frontend/src/features/supplier-products/api.ts
  frontend/src/features/supplier-products/components/SupplierProductsTable.tsx
  frontend/src/features/supplier-products/hooks/index.ts
  frontend/src/features/supplier-products/hooks/useSupplierProductsPageState.ts
  frontend/src/features/supplier-products/hooks/useSupplierProductsQuery.ts
  frontend/src/features/withdrawals/components/QuickMappingSetupDialog.tsx
Due: prettier, eslint

docs: Define 2-code system architecture (no internal product code)
  CLAUDE.md
  docs/project/CODE_SYSTEM_DEFINITION.md
Due: none

docs: Add new session prompt to prevent AI misconceptions
  docs/project/NEW_SESSION_PROMPT.md
Due: none

fix(frontend): Change product_code labels from 先方品番 to メーカー品番 in lot screens
  backend/alembic/versions/phase1_sku_enforcement.py
  frontend/src/features/inventory/components/LotCreateForm.tsx
  frontend/src/features/inventory/components/LotEditFields.tsx
  frontend/src/features/inventory/hooks/useLotColumns.tsx
  frontend/src/features/inventory/utils/lot-columns.tsx
Due: prettier, eslint, mypy

fix(frontend): Remove circular product_group_id dependency from SupplierProductForm
  frontend/src/features/supplier-products/components/SupplierProductForm.tsx
  frontend/src/features/supplier-products/components/SupplierProductsTable.tsx
  frontend/src/features/supplier-products/hooks/useSupplierProductsPageState.ts
  frontend/src/features/supplier-products/pages/SupplierProductsPage.tsx
Due: prettier, eslint

refactor: Remove unnecessary fields from supplier/customer item forms
  frontend/src/features/customer-items/components/CustomerItemForm.tsx
  frontend/src/features/customer-items/components/CustomerItemFormBasicSection.tsx
  frontend/src/features/customer-items/components/CustomerItemFormDialog.tsx
  frontend/src/features/customer-items/components/customerItemFormSchema.ts
  frontend/src/features/supplier-products/components/SupplierProductForm.tsx
  frontend/src/features/supplier-products/components/SupplierProductsTable.tsx
Due: prettier, eslint

feat: Add required base_unit field to supplier_items and consolidate product data
  backend/alembic/versions/9d7943ef324a_make_supplier_items_base_unit_not_null.py
  backend/app/presentation/api/routes/masters/supplier_items_router.py
  backend/app/presentation/schemas/masters/supplier_items_schema.py
  backend/openapi.json
  frontend/src/features/supplier-products/api.ts
  frontend/src/features/supplier-products/components/SupplierProductForm.tsx
  frontend/src/features/supplier-products/pages/SupplierProductsPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

refactor(frontend): Remove obsolete fields and update to use new supplier_items schema
  frontend/src/features/customer-items/api.ts
  frontend/src/features/customer-items/components/CustomerItemBasicTab.tsx
  frontend/src/features/customer-items/components/CustomerItemTable.tsx
  frontend/src/features/customer-items/components/CustomerItemsFilter.tsx
  frontend/src/features/customer-items/components/CustomerItemsTable.tsx
  frontend/src/features/customer-items/hooks/useCustomerItemsPage.ts
  frontend/src/features/customer-items/pages/CustomerItemsListPage.tsx
  frontend/src/features/supplier-products/api.ts
  frontend/src/features/supplier-products/components/SupplierProductsTable.tsx
  frontend/src/features/supplier-products/types/bulk-operation.ts
  frontend/src/features/supplier-products/utils/supplier-product-csv.ts
  frontend/src/features/withdrawals/components/QuickMappingSetupDialog.tsx
Due: prettier, eslint

fix: ocr results download and resolve frontend dependency error (apply formatting)
  backend/app/presentation/api/routes/ocr_results_router.py
  frontend/vite.config.ts
Due: prettier, eslint, mypy

fix: unify AlertDialog usage to mock version and remove problematic Radix UI dependency
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/features/ocr-results/components/ExportDialog.tsx
  frontend/src/features/rpa/components/HistoryTable.tsx
  frontend/src/features/rpa/pages/MaterialDeliverySimplePage.tsx
  frontend/vite.config.ts
Due: prettier, eslint

feat: restore ocr_results view and implement auto-refresh on mount (fix lint)
  frontend/src/features/ocr-results/hooks/useOcrPageLogic.ts
Due: prettier, eslint

fix: finalize ocr download fixes and frontend unification
  backend/tests/unit/test_forecast_provisional_orders.py
Due: mypy

fix: ocr results download issues and frontend dependency error (#511)
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/tests/unit/test_forecast_provisional_orders.py
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/features/ocr-results/components/ExportDialog.tsx
  frontend/src/features/ocr-results/hooks/useOcrPageLogic.ts
  frontend/src/features/rpa/components/HistoryTable.tsx
  frontend/src/features/rpa/pages/MaterialDeliverySimplePage.tsx
Due: prettier, eslint, mypy

wip: Fix attribute names
  backend/app/application/services/allocations/fefo.py
  backend/app/application/services/allocations/mapping_validator.py
  backend/app/application/services/allocations/utils.py
  backend/app/application/services/common/quantity_service.py
  backend/app/application/services/forecasts/forecast_import_service.py
  backend/app/application/services/inventory/intake_history_service.py
  backend/app/application/services/inventory/inventory_service.py
  backend/app/application/services/inventory/label_service.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/inventory/withdrawal_service.py
  backend/app/application/services/master_import/import_service.py
  backend/app/application/services/masters/customer_items_service.py
  backend/app/application/services/masters/product_mappings_service.py
  backend/app/application/services/orders/order_import_service.py
  backend/app/application/services/orders/order_service.py
  backend/app/application/services/orders/validation_service.py
  backend/app/application/services/test_data/inventory.py
  backend/app/application/services/test_data/inventory_scenarios.py
  backend/app/application/services/test_data/masters.py
  backend/app/core/db_error_parser.py
  backend/app/infrastructure/clients/lot_client.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/infrastructure/persistence/models/supplier_item_model.py
  backend/app/infrastructure/persistence/repositories/lot_repository.py
  backend/app/infrastructure/persistence/repositories/products_repository.py
  backend/app/infrastructure/persistence/repositories/rpa_repository.py
  backend/app/presentation/api/routes/admin/admin_router.py
  backend/app/presentation/api/routes/admin/bulk_export_router.py
  backend/app/presentation/api/routes/forecasts/forecasts_router.py
  backend/app/presentation/api/routes/inventory/lots_router.py
  backend/app/presentation/api/routes/masters/supplier_items_router.py
  backend/app/presentation/api/routes/masters/uom_conversions_router.py
  backend/app/presentation/api/routes/masters/warehouse_delivery_routes_router.py
  backend/app/presentation/api/routes/orders/confirmed_lines_router.py
  backend/app/presentation/api/routes/orders/order_lines_router.py
  backend/app/presentation/schemas/import_schema.py
Due: mypy, openapi-sync

wip: Fix product_group_id and is_primary references
  backend/app/presentation/api/routes/admin/bulk_export_router.py
  backend/app/presentation/api/routes/masters/status_router.py
Due: mypy

fix: Remove products feature, use supplier-products instead
  frontend/src/MainRoutes.tsx
Due: prettier, eslint

fix(frontend): Replace @/features/products imports with @/features/supplier-products
  frontend/src/features/allocations/hooks/useLotAllocationLogic.ts
  frontend/src/features/forecasts/components/AddForecastDialog.tsx
  frontend/src/features/forecasts/pages/ForecastListPage.tsx
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
  frontend/src/features/inventory/pages/AdhocLotCreatePage.tsx
  frontend/src/features/product-mappings/pages/ProductMappingsListPage.tsx
  frontend/src/features/uom-conversions/hooks/useUomConversionsPageState.ts
  frontend/src/features/warehouse-delivery-routes/pages/WarehouseDeliveryRoutesListPage.tsx
  frontend/src/features/withdrawals/components/LotFilterSection.tsx
  frontend/src/hooks/api/useMastersQuery.ts
Due: prettier, eslint

fix(frontend): Update WarehouseDeliveryRouteForm Product interface
  frontend/src/features/warehouse-delivery-routes/components/WarehouseDeliveryRouteForm.tsx
Due: prettier, eslint

fix(docker): add package-lock.json to frontend watch list to ensure dependency updates
  docker-compose.yml
Due: none

fix: Fix customer_items_service and remove /products route
  backend/app/application/services/masters/customer_items_service.py
  frontend/package-lock.json
  frontend/src/MainRoutes.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/auth/permissions/config.ts
  frontend/src/features/masters/pages/MastersPage.tsx
  package-lock.json
Due: prettier, eslint, mypy

fix(frontend): Remove duplicate メーカー品番マスタ card on MastersPage
  frontend/src/features/masters/pages/MastersPage.tsx
Due: prettier, eslint

feat: Make lot_number nullable and add Excel View editing
  backend/alembic.ini
  backend/alembic/versions/baseline_2026_01_27_baseline_2026_01_27.py
  backend/alembic/versions/e1ffaa651bdb_make_lot_number_nullable_with_.py
  backend/app/application/services/inventory/inbound_receiving_service.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/infrastructure/persistence/models/lot_master_model.py
  backend/app/infrastructure/persistence/models/lot_receipt_models.py
  frontend/src/features/inventory/components/LotCreateForm.tsx
  frontend/src/features/inventory/components/LotEditFields.tsx
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/LotInfoGroups.tsx
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
  frontend/src/features/inventory/hooks/useLotColumns.tsx
  frontend/src/features/inventory/hooks/useLotFilters.ts
  frontend/src/features/inventory/utils/lot-columns.tsx
  frontend/src/shared/libs/normalize.ts
Due: prettier, eslint, mypy

chore: Update CODE_SYSTEM_DEFINITION and related changes
  backend/alembic/versions/e1ffaa651bdb_make_lot_number_nullable_with_.py
  backend/app/application/services/common/soft_delete_utils.py
  backend/app/application/services/inventory/inventory_service.py
  backend/app/application/services/masters/customer_items_service.py
  backend/app/application/services/orders/order_service.py
  backend/app/application/services/test_data/inventory_scenarios.py
  backend/app/application/services/test_data/masters.py
  backend/app/application/services/test_data/utils.py
  backend/app/application/services/test_data_generator.py
  backend/app/infrastructure/persistence/models/order_groups_models.py
  backend/app/infrastructure/persistence/models/orders_models.py
  backend/app/infrastructure/persistence/models/views_models.py
  backend/app/presentation/api/routes/admin/admin_healthcheck_router.py
  backend/app/presentation/api/routes/masters/uom_conversions_router.py
  backend/app/presentation/schemas/import_schema.py
  backend/openapi.json
  backend/recreate_inventory_views.sql
  backend/scripts/list_tables.py
  backend/scripts/verify_data_gen.py
  backend/sql/views/create_views.sql
  docs/project/CODE_SYSTEM_DEFINITION.md
  frontend/src/features/admin/pages/AdminPage.tsx
  frontend/src/features/auth/permissions/config.ts
  frontend/src/features/auth/permissions/utils.ts
  frontend/src/features/customer-items/api.ts
  frontend/src/features/inventory/components/excel-view/ProductHeader.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat: Add SAP integration menu and test data generation
  backend/app/application/services/test_data/sap.py
  backend/app/application/services/test_data_generator.py
  frontend/src/components/layouts/GlobalNavigation.tsx
Due: prettier, eslint, mypy

fix: Initialize system config on database reset
  backend/app/presentation/api/routes/admin/admin_router.py
Due: mypy

refactor: expand feature visibility control and improve OCR test data generation
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/constants/features.ts
  frontend/src/features/admin/pages/SystemSettingsPage.tsx
Due: prettier, eslint

refactor(frontend/backend): fix console errors and expand OCR test data
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/features/admin/pages/SystemSettingsPage.tsx
Due: prettier, eslint

fix(backend): resolve all remaining mypy type errors
  backend/alembic/archive/981e944594b8_fix_timestamp_timezone.py
  backend/alembic/versions/baseline_2026_01_27_baseline_2026_01_27.py
  backend/scripts/check_performance.py
  backend/scripts/verify_unit_conversion.py
Due: mypy

fix(rpa): prevent 404 console errors on unset cloud flow config
  backend/app/presentation/api/routes/rpa/cloud_flow_router.py
  frontend/src/features/rpa/api.ts
Due: prettier, eslint, mypy

fix(smartread): refresh task list after file upload
  frontend/src/features/rpa/smartread/components/SmartReadUploadPanel.tsx
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint

docs: add SmartRead OCR completion notification feature to backlog
  docs/project/BACKLOG.md
Due: none

docs: add SmartRead upload/watch processing unification task
  docs/project/BACKLOG.md
Due: none

feat(scripts): add database backup script with full data export
  backend/.gitignore
  backend/backups/README.md
  backend/scripts/backup_database.py
Due: mypy

docs: add shipping text replacement specification comparison
  docs/project/shipping_text_replacement_spec.md
Due: none

docs: add master data consolidation implementation record
  docs/project/MASTER_CONSOLIDATION_IMPLEMENTATION.md
Due: none
