Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

prettier:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
  language: system
  pass_filenames: true

mypy:
  name: Mypy (Backend)
  entry: bash -c 'cd backend && uv run mypy app/' --
  language: system
  pass_filenames: false

openapi-sync:
  name: OpenAPI Schema Sync
  entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
  ...

fix(smartread): 本番環境でOCRタスクが同期・表示されない不具合を修正
  backend/app/application/services/smartread/smartread_service.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
  frontend/src/features/rpa/smartread/hooks.ts
Due: prettier, eslint, mypy

fix(smartread): resolve infinite loading by correcting status check and optimize DB insert performance
  backend/app/application/services/smartread/smartread_service.py
  backend/app/infrastructure/smartread/client.py
Due: mypy

fix(smartread): resolve 500 error in sync and fix v3/v3/ URL duplication
  backend/app/application/services/smartread/smartread_service.py
  backend/app/infrastructure/smartread/client.py
Due: mypy

fix(smartread): 同期成功時の自動リロード改善とログ出力の復活
  backend/app/application/services/smartread/smartread_service.py
  frontend/src/features/rpa/smartread/hooks.ts
Due: prettier, eslint, mypy

fix(smartread): CSV変換ロジックの改善（番号なしカラム対応）と調査ログの追加
  backend/app/application/services/smartread/csv_transformer.py
  backend/app/application/services/smartread/smartread_service.py
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/rpa/smartread/utils/csv-transformer.ts
Due: prettier, eslint, mypy

fix(smartread): カラム名のゆらぎ対応とパースエラー時の値保持を改善
  backend/app/application/services/smartread/csv_transformer.py
  frontend/src/features/rpa/smartread/utils/csv-transformer.ts
Due: prettier, eslint, mypy

fix(smartread): prettier format
  backend/app/application/services/smartread/csv_transformer.py
  backend/app/application/services/smartread/smartread_service.py
  frontend/src/features/rpa/smartread/hooks.ts
Due: prettier, eslint, mypy

fix(smartread): 同期ボタンでキャッシュをスキップするように修正
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
Due: prettier, eslint

fix(smartread): 横持ちデータ表示とCSVダウンロード機能を復元
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
Due: prettier, eslint

debug(smartread): デバッグログ追加
  frontend/src/features/rpa/smartread/hooks.ts
Due: prettier, eslint

docs(smartread): 同期問題の調査レポートを追加
  docs/smartread/smartread_sync_issue_report.md
Due: none

fix(smartread): _is_empty_detail の判定条件を修正し全項目チェックに変更
  backend/app/application/services/smartread/csv_transformer.py
Due: mypy

fix(smartread): UI完全書き直し - 横持ちタブ表示と変換ボタン方式に変更
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
Due: prettier, eslint

feat(smartread): 4パターンのサンプルデータ生成を実装
  backend/app/application/services/test_data/smartread.py
  backend/app/application/services/test_data/utils.py
  backend/app/application/services/test_data_generator.py
  backend/seed_smartread_dummy.py
  seed_smartread_dummy.py
Due: mypy

feat(smartread): タスク詳細ページの自動データ取得を実装
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
Due: prettier, eslint

feat(smartread): 手動変換した縦持ちデータのDB保存機能を実装
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/smartread_schema.py
  backend/openapi.json
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
  frontend/src/features/rpa/smartread/hooks/useResultDataLoader.ts
  frontend/src/features/rpa/smartread/hooks/useTransformToLong.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

refactor(smartread): 自動変換・重複防止・手動ボタン削除の実装
  backend/app/application/services/smartread/smartread_service.py
  backend/tests/test_smartread_service.py
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
  frontend/src/features/rpa/smartread/hooks/useTransformToLong.ts
Due: prettier, eslint, mypy

feat(smartread): 列順序制御の実装 - csv_transformer定義に基づく表示順
  frontend/src/features/rpa/smartread/components/SmartReadCsvTable.tsx
  frontend/src/features/rpa/smartread/utils/column-order.test.ts
  frontend/src/features/rpa/smartread/utils/column-order.ts
Due: prettier, eslint

fix(smartread): force同期パラメータ追加でDB保存問題を修正
  backend/app/presentation/api/routes/rpa/smartread_router.py
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/hooks.ts
Due: prettier, eslint, mypy

feat(smartread): 開発モード用デバッグUIを追加
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
Due: prettier, eslint

feat: OCR結果リアルタイム表示 + テストデータ生成統合
  backend/alembic/versions/add_v_ocr_results_view.py
  backend/app/application/services/test_data/shipping_master.py
  backend/app/application/services/test_data/smartread.py
  backend/app/application/services/test_data_generator.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/sql/views/create_views.sql
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  seed_ocr_dummy.py
  seed_shipping_master_dummy.py
Due: prettier, eslint, mypy

chore: update openapi.json and api.d.ts
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint

feat(logging): errorLoggerを拡張し主要機能に成功ログを追加
  frontend/src/features/allocations/hooks/mutations/useAllocationMutation.ts
  frontend/src/features/allocations/hooks/mutations/useCancelReservationMutation.ts
  frontend/src/features/allocations/hooks/mutations/useCommitAllocationMutation.ts
  frontend/src/features/forecasts/hooks/index.ts
  frontend/src/features/forecasts/hooks/useForecastMutations.ts
  frontend/src/features/orders/hooks/useOrders.ts
  frontend/src/features/users/hooks/index.ts
  frontend/src/features/withdrawals/hooks/useWithdrawals.ts
  frontend/src/services/error-logger.ts
Due: prettier, eslint

feat(error-handling): エラー処理を統一しユーザーフレンドリーメッセージを実装
  frontend/src/features/allocations/hooks/mutations/useAllocationMutation.ts
  frontend/src/features/allocations/hooks/useAllocationSaver.ts
  frontend/src/features/assignments/hooks/useAssignments.ts
  frontend/src/features/inventory/hooks/useLotActions.ts
  frontend/src/features/masters/hooks/useMasterImport.ts
  frontend/src/features/orders/hooks/useOrdersListLogic.ts
  frontend/src/features/rpa/material-delivery-note/hooks/index.ts
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/utils/errors/api-error-handler.ts
Due: prettier, eslint

fix(frontend): TypeScript型エラーを修正しコード品質を改善
  docs/review/PR_SUMMARY_453.md
  frontend/src/features/allocations/hooks/mutations/useAllocationMutation.ts
  frontend/src/features/allocations/hooks/mutations/useCancelReservationMutation.ts
  frontend/src/features/allocations/hooks/mutations/useCommitAllocationMutation.ts
  frontend/src/features/allocations/hooks/useAllocationSaver.ts
  frontend/src/features/forecasts/hooks/index.ts
  frontend/src/features/forecasts/hooks/useForecastMutations.ts
  frontend/src/features/masters/hooks/useMasterImport.ts
  frontend/src/features/rpa/material-delivery-note/hooks/index.ts
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/users/hooks/index.ts
  frontend/src/features/withdrawals/hooks/useWithdrawals.ts
  frontend/src/utils/errors/api-error-handler.ts
Due: prettier, eslint

fix(frontend): problem.detailの型ガードを追加
  frontend/src/utils/errors/api-error-handler.ts
Due: prettier, eslint

fix(backend): Uvicornログに時刻表示を追加&regex deprecation警告を修正
  backend/app/core/logging.py
  backend/app/presentation/api/v2/lot/router.py
Due: mypy

feat(logging): errorLoggerを拡張し主要機能に成功ログを追加 (#454)
  backend/app/core/logging.py
  backend/app/presentation/api/v2/lot/router.py
  docs/review/PR_SUMMARY_453.md
  frontend/src/features/allocations/hooks/mutations/useAllocationMutation.ts
  frontend/src/features/allocations/hooks/mutations/useCancelReservationMutation.ts
  frontend/src/features/allocations/hooks/mutations/useCommitAllocationMutation.ts
  frontend/src/features/allocations/hooks/useAllocationSaver.ts
  frontend/src/features/assignments/hooks/useAssignments.ts
  frontend/src/features/forecasts/hooks/index.ts
  frontend/src/features/forecasts/hooks/useForecastMutations.ts
  frontend/src/features/inventory/hooks/useLotActions.ts
  frontend/src/features/masters/hooks/useMasterImport.ts
  frontend/src/features/orders/hooks/useOrders.ts
  frontend/src/features/orders/hooks/useOrdersListLogic.ts
  frontend/src/features/rpa/material-delivery-note/hooks/index.ts
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/users/hooks/index.ts
  frontend/src/features/withdrawals/hooks/useWithdrawals.ts
  frontend/src/services/error-logger.ts
  frontend/src/utils/errors/api-error-handler.ts
Due: prettier, eslint, mypy

feat(smartread): Add debug logging for vertical conversion investigation
  frontend/src/features/rpa/smartread/utils/column-order.ts
  frontend/src/features/rpa/smartread/utils/csv-transformer.test.ts
  frontend/src/features/rpa/smartread/utils/csv-transformer.ts
Due: prettier, eslint

feat(smartread): Add detailed extraction logging to diagnose column name mismatch
  frontend/src/features/rpa/smartread/utils/csv-transformer.ts
Due: prettier, eslint

feat(smartread): Add NOT FOUND logging for field extraction
  frontend/src/features/rpa/smartread/utils/csv-transformer.ts
Due: prettier, eslint

fix(smartread): Handle full-width numbers in CSV column names
  frontend/src/features/rpa/smartread/utils/csv-transformer.test.ts
  frontend/src/features/rpa/smartread/utils/csv-transformer.ts
Due: prettier, eslint

feat(smartread): Add errorLogger integration for transform operations
  frontend/src/features/rpa/smartread/hooks/useTransformToLong.ts
Due: prettier, eslint

docs: Add SmartRead logging gaps task documentation
  docs/tasks/smartread-logging-gaps.md
Due: none

feat(smartread): Add errorLogger to useResultDataLoader and document cache-to-DB flow
  docs/tasks/smartread-logging-gaps.md
  frontend/src/features/rpa/smartread/hooks/useResultDataLoader.ts
Due: prettier, eslint

feat(ocr-results): Move status legend to table header and add pagination
  docs/tasks/smartread-cache-db-save-inconsistency.md
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

feat(ocr-results): Prioritize OCR data fields and add missing columns
  backend/sql/views/create_views.sql
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

fix(views): Support multiple JSON key variations in v_ocr_results
  backend/sql/views/create_views.sql
Due: none

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  mypy: any of: ^backend/ and \.py$
  openapi-sync: any of: ^backend/app/presentation/schemas/.*\.py$
