Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

.pre-commit-config.yaml:

# リポジトリ直下の .pre-commit-config.yaml
repos:
  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true

      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

  # Backend - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend - Mypy (Type Check)
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (Backend)
        entry: bash -c 'cd backend && uv run mypy app/' --
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # OpenAPI Schema Sync - regenerate when backend schemas change
  - repo: local
    hooks:
      - id: openapi-sync
        name: OpenAPI Schema Sync
        entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
        language: system
        files: ^backend/app/presentation/schemas/.*\.py$
        pass_filenames: false

test: P1-3 SmartReadサービスの包括的テスト追加
  backend/tests/services/test_smartread_analyze_service.py
  backend/tests/services/test_smartread_config_service.py
  backend/tests/services/test_smartread_task_service.py
  backend/tests/services/test_smartread_watch_service.py
Due: mypy

feat: P2-1〜P2-2 サービス・ルーターのロギング追加
  backend/app/application/services/allocations/candidate_service.py
  backend/app/application/services/forecasts/forecast_service.py
  backend/app/application/services/master_import/import_service.py
  backend/app/application/services/shipping_master/shipping_master_sync_service.py
  backend/app/presentation/api/routes/allocations/allocations_router.py
  backend/app/presentation/api/routes/debug/db_browser_router.py
  backend/app/presentation/api/routes/orders/orders_router.py
Due: mypy

test: P2-3 レポートサービス・APIテスト作成
  backend/tests/api/test_reports.py
  backend/tests/services/test_report_service.py
Due: mypy

docs: テスト監査レポート更新と完了タスクマーク
  backend/alembic/versions/62a340dbe783_recreate_views_after_schema_changes.py
  backend/alembic/versions/af2153ad0efc_restore_views_and_fix_fk_typo.py
  backend/app/application/services/ocr/ocr_import_service.py
  backend/app/application/services/shipping_master/shipping_master_service.py
  backend/app/application/services/shipping_master/shipping_master_sync_service.py
  backend/app/application/services/smartread/analyze_service.py
  backend/app/application/services/smartread/watch_service.py
  backend/app/infrastructure/persistence/models/orders_models.py
  backend/app/infrastructure/smartread/client.py
  backend/app/presentation/api/routes/auth/auth_router.py
  backend/app/presentation/api/routes/inventory/lots_router.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/app/presentation/api/routes/order_register_router.py
  backend/app/presentation/api/routes/orders/orders_router.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/allocations/allocation_suggestions_schema.py
  backend/tests/api/test_reports.py
  backend/tests/services/test_ocr_import_service.py
  backend/tests/services/test_order_register_service.py
  backend/tests/services/test_report_service.py
  backend/tests/services/test_smartread_watch_service.py
  docs/project/BACKLOG.md
  docs/project/TEST_LOGGING_AUDIT_2026-02-03.md
  frontend/src/components/auth/AccessGuard.tsx
  frontend/src/shared/utils/status.ts
  frontend/src/types/api.d.ts
  frontend/vitest.config.ts
Due: prettier, eslint, mypy, openapi-sync

fix: Radix UI context-menuパッケージ追加とP0タスク完了マーク
  docs/project/TEST_LOGGING_AUDIT_2026-02-03.md
  frontend/package-lock.json
  frontend/src/types/api.d.ts
Due: prettier, eslint

feat: SmartRead関連サービスの包括的テスト追加 (Week 7対応)
  backend/tests/services/test_smartread_analyze_service.py
  backend/tests/services/test_smartread_client_service.py
  backend/tests/services/test_smartread_export_service.py
  backend/tests/services/test_smartread_pad_runner_service.py
  backend/tests/services/test_smartread_request_service.py
  backend/tests/services/test_smartread_simple_sync_service.py
  docs/project/TEST_LOGGING_AUDIT_2026-02-03.md
Due: mypy

docs: Week 7完了マークと最終監査サマリ更新
  docs/project/TEST_LOGGING_AUDIT_2026-02-03.md
Due: none

chore: OpenAPI型定義を最新のバックエンドスキーマに同期
  frontend/src/types/api.d.ts
Due: prettier, eslint

fix: マイグレーションのearly returnを削除してビュー再作成を実行
  backend/alembic/versions/62a340dbe783_recreate_views_after_schema_changes.py
  backend/alembic/versions/af2153ad0efc_restore_views_and_fix_fk_typo.py
Due: mypy

refactor(migrations): 中間マイグレーションからビュー再生成処理を削除
  backend/alembic/versions/af2153ad0efc_restore_views_and_fix_fk_typo.py
  backend/alembic/versions/products_to_product_groups.py
  docs/project/BACKLOG.md
Due: mypy

feat(migrations): Alembic hooksによるビュー自動再生成の実装
  backend/alembic/env.py
  backend/alembic/versions/62a340dbe783_recreate_views_after_schema_changes.py
Due: mypy

refactor(migrations): 中間マイグレーションからビュー再生成処理を削除 (#539)
  backend/alembic/env.py
  backend/alembic/versions/62a340dbe783_recreate_views_after_schema_changes.py
  backend/alembic/versions/af2153ad0efc_restore_views_and_fix_fk_typo.py
  backend/alembic/versions/products_to_product_groups.py
  docs/project/BACKLOG.md
Due: mypy

feat: 材料発注フォーキャスト機能を実装
  backend/alembic/versions/8d90d504f80e_add_makers_master_and_material_order_.py
  backend/app/application/services/material_order_forecast_service.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/maker_models.py
  backend/app/infrastructure/persistence/models/material_order_forecast_models.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/material_order_forecast_router.py
  backend/app/presentation/schemas/material_order_forecast_schema.py
  docs/project/forecast_simple_design.md
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat(frontend): 材料発注フォーキャストのテーブルヘッダー表示を改善（リファクタリング込み）
  frontend/src/features/material-order-forecasts/components/ForecastTable.tsx
Due: prettier, eslint

feat: 材料発注フォーキャストの改善、システム改名(Lossy)、および品質向上のためのリファクタリング
  backend/app/application/services/material_order_forecast_service.py
  backend/app/core/config.py
  backend/openapi.json
  backend/tests/integration/test_material_order_forecast.py
  frontend/index.html
  frontend/package.json
  frontend/src/MainRoutes.tsx
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/config/feature-config.ts
  frontend/src/constants/routes.ts
  frontend/src/features/auth/permissions/config.ts
  frontend/src/features/makers/api.ts
  frontend/src/features/makers/components/MakerColumns.tsx
  frontend/src/features/makers/components/MakerDialogs.tsx
  frontend/src/features/makers/components/MakerForm.tsx
  frontend/src/features/makers/components/MakerStats.tsx
  frontend/src/features/makers/hooks/useMakers.ts
  frontend/src/features/makers/pages/MakersPage.tsx
  frontend/src/features/masters/pages/MastersPage.tsx
  frontend/src/features/material-order-forecasts/api.ts
  frontend/src/features/material-order-forecasts/components/ForecastFilterBar.tsx
  frontend/src/features/material-order-forecasts/components/ForecastImportDialog.tsx
  frontend/src/features/material-order-forecasts/components/ForecastImportForm.tsx
  frontend/src/features/material-order-forecasts/hooks/useMaterialOrderForecasts.ts
  frontend/src/features/material-order-forecasts/pages/MaterialOrderForecastsPage.tsx
  frontend/src/types/api.ts
Due: prettier, eslint, mypy

feat: 材料発注フォーキャスト改善、システム改名(Lossy)、品質向上リファクタリング (#540)
  backend/alembic/versions/8d90d504f80e_add_makers_master_and_material_order_.py
  backend/app/application/services/material_order_forecast_service.py
  backend/app/core/config.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/maker_models.py
  backend/app/infrastructure/persistence/models/material_order_forecast_models.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/material_order_forecast_router.py
  backend/app/presentation/schemas/material_order_forecast_schema.py
  backend/openapi.json
  backend/tests/integration/test_material_order_forecast.py
  docs/project/forecast_simple_design.md
  frontend/index.html
  frontend/package.json
  frontend/src/MainRoutes.tsx
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/config/feature-config.ts
  frontend/src/constants/routes.ts
  frontend/src/features/auth/permissions/config.ts
  frontend/src/features/makers/api.ts
  frontend/src/features/makers/components/MakerColumns.tsx
  frontend/src/features/makers/components/MakerDialogs.tsx
  frontend/src/features/makers/components/MakerForm.tsx
  frontend/src/features/makers/components/MakerStats.tsx
  frontend/src/features/makers/hooks/useMakers.ts
  frontend/src/features/makers/pages/MakersPage.tsx
  frontend/src/features/masters/pages/MastersPage.tsx
  frontend/src/features/material-order-forecasts/api.ts
  frontend/src/features/material-order-forecasts/components/ForecastFilterBar.tsx
  frontend/src/features/material-order-forecasts/components/ForecastImportDialog.tsx
  frontend/src/features/material-order-forecasts/components/ForecastImportForm.tsx
  frontend/src/features/material-order-forecasts/components/ForecastTable.tsx
  frontend/src/features/material-order-forecasts/hooks/useMaterialOrderForecasts.ts
  frontend/src/features/material-order-forecasts/pages/MaterialOrderForecastsPage.tsx
  frontend/src/types/api.d.ts
  frontend/src/types/api.ts
Due: prettier, eslint, mypy, openapi-sync

feat: Add Phase 9 fields for Excel View enhancements
  backend/alembic/versions/a6aaf793e361_add_phase9_fields_minimal.py
  backend/app/infrastructure/persistence/models/inventory_models.py
  backend/app/infrastructure/persistence/models/lot_receipt_models.py
  backend/app/presentation/schemas/allocations/allocation_suggestions_schema.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/openapi.json
  docs/project/EXCEL_VIEW_IMPROVEMENT_PLAN.md
  docs/project/EXCEL_VIEW_NEXT_STEPS.md
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat(frontend): Implement Phase 9.1 - Lot remarks UI
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/features/inventory/components/excel-view/types.ts
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
Due: prettier, eslint

feat(backend): Add page-level notes to customer_item_delivery_settings
  backend/alembic/versions/90a78d0097ef_add_notes_to_customer_item_delivery_.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/presentation/schemas/masters/customer_item_delivery_setting_schema.py
  backend/openapi.json
  docs/project/PHASE9_IMPLEMENTATION_STATUS.md
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

docs: Add comprehensive guide for Phase 9 next session
  docs/project/PHASE9_NEXT_SESSION.md
Due: none

feat(excel-view): ページ全体のメモUI実装 (Phase 9 page-level notes)
  frontend/src/features/customer-items/delivery-settings/api.ts
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/types.ts
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
  frontend/src/shared/libs/normalize.ts
Due: prettier, eslint

feat(excel-view): セル別コメント機能実装 (Phase 9.2 cell-level comments)
  backend/app/presentation/schemas/allocations/allocation_suggestions_schema.py
  frontend/src/features/allocations/api.ts
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix(excel-view): セル別コメント保存後のキャッシュ無効化を追加
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
Due: prettier, eslint

fix(excel-view): allocationSuggestionsキャッシュ無効化を改善
  frontend/src/features/allocations/hooks/api/useAllocationSuggestions.ts
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
Due: prettier, eslint

feat(excel-view): Phase 9.3 手動出荷日UI実装
  backend/app/presentation/schemas/allocations/allocation_suggestions_schema.py
  frontend/src/features/allocations/api.ts
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

docs: Phase 9実装状況を記録、既知の問題を追加
  docs/project/EXCEL_VIEW_NEXT_STEPS.md
Due: none

fix(excel-view): 納入先5件以下の罫線バグ修正を試行（未完了）
  docs/project/EXCEL_VIEW_NEXT_STEPS.md
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/ShipmentTable.tsx
Due: prettier, eslint

docs: Phase 9-11 残タスク完了のための引き継ぎプロンプト作成
  docs/project/HANDOFF_EXCEL_VIEW_PHASE9_REMAINING.md
Due: none

fix(allocations): Phase 9 comment/shipment date永続化処理を追加
  backend/app/application/services/allocations/suggestion.py
  backend/openapi.json
Due: mypy

fix(excel-view): CSS Gridで罫線バグを修正
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/ShipmentTable.tsx
Due: prettier, eslint

fix(excel-view): DateGridに右ボーダーを追加
  frontend/src/features/inventory/components/excel-view/subcomponents/DateGrid.tsx
Due: prettier, eslint

docs: Phase 9-11 実装進捗と残課題を記録
  docs/project/HANDOFF_EXCEL_VIEW_PHASE9_REMAINING.md
Due: none

docs: 罫線バグの詳細調査結果を追記
  docs/project/HANDOFF_EXCEL_VIEW_PHASE9_REMAINING.md
Due: none

feat(excel-view): Phase 10-11 ロット分割と在庫調整理由を実装
  backend/app/application/services/inventory/lot_service.py
  backend/app/presentation/api/routes/inventory/lots_router.py
  backend/app/presentation/schemas/inventory/adjustment_reason_schema.py
  backend/app/presentation/schemas/inventory/lot_split_schema.py
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/components/LotQuantityUpdateDialog.tsx
  frontend/src/features/inventory/components/LotSplitDialog.tsx
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat(excel-view): Phase 10.3 スマート分割機能を実装
  backend/app/application/services/inventory/lot_service.py
  backend/app/presentation/api/routes/inventory/lots_router.py
  backend/app/presentation/schemas/inventory/smart_split_schema.py
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/components/SmartLotSplitDialog.tsx
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat(excel-view): ExcelViewPageにスマート分割機能を統合
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
Due: prettier, eslint

feat(excel-view): Phase 11 入庫数量更新ダイアログを統合
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
Due: prettier, eslint

docs: Phase 10-11 実装完了を記録
  docs/project/HANDOFF_EXCEL_VIEW_PHASE9_REMAINING.md
Due: none

feat(excel-view): 入庫数調整理由にテンプレート選択機能を追加
  frontend/src/features/inventory/components/LotQuantityUpdateDialog.tsx
Due: prettier, eslint
