Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

.pre-commit-config.yaml:

# リポジトリ直下の .pre-commit-config.yaml
repos:
  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true

      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

  # Backend - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend - Mypy (Type Check)
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (Backend)
        entry: bash -c 'cd backend && uv run mypy app/' --
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # OpenAPI Schema Sync - regenerate when backend schemas change
  - repo: local
    hooks:
      - id: openapi-sync
        name: OpenAPI Schema Sync
        entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
        language: system
        files: ^backend/app/presentation/schemas/.*\.py$
        pass_filenames: false

Add jiku pattern matching rules and require delivery place jiku
  backend/alembic/versions/7f1d2c3b4a5e_add_jiku_match_pattern_to_shipping_master.py
  backend/app/application/services/common/export_service.py
  backend/app/application/services/shipping_master/shipping_master_service.py
  backend/app/application/services/shipping_master/shipping_master_sync_service.py
  backend/app/application/services/smartread/csv_transformer.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/infrastructure/persistence/models/shipping_master_models.py
  backend/app/presentation/api/routes/masters/delivery_places_router.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/app/presentation/schemas/import_schema.py
  backend/app/presentation/schemas/masters/masters_schema.py
  backend/app/presentation/schemas/shipping_master_schema.py
  backend/sql/views/create_views.sql
  frontend/src/features/delivery-places/components/DeliveryPlaceForm.tsx
  frontend/src/features/delivery-places/components/DeliveryPlacesTable.tsx
  frontend/src/features/rpa/smartread/utils/csv-transformer.ts
  frontend/src/features/shipping-master/components/ShippingMasterEditDialog.tsx
  frontend/src/features/shipping-master/components/shipping-master-columns.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

Fix delivery-place response compatibility and add backlog task
  backend/app/presentation/schemas/masters/masters_schema.py
  docs/project/BACKLOG.md
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

Add seed script for jiku pattern matching test data
  backend/scripts/seed_jiku_pattern_test_data.py
Due: mypy

Sort OCR results by import batch order
  backend/app/presentation/api/routes/ocr_results_router.py
Due: mypy

feat: OCR軸パターンマッチング対応と出荷マスタ軸設定 (#553)
  backend/alembic/versions/7f1d2c3b4a5e_add_jiku_match_pattern_to_shipping_master.py
  backend/app/application/services/common/export_service.py
  backend/app/application/services/shipping_master/shipping_master_service.py
  backend/app/application/services/shipping_master/shipping_master_sync_service.py
  backend/app/application/services/smartread/csv_transformer.py
  backend/app/infrastructure/persistence/models/masters_models.py
  backend/app/infrastructure/persistence/models/shipping_master_models.py
  backend/app/presentation/api/routes/masters/delivery_places_router.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/app/presentation/schemas/import_schema.py
  backend/app/presentation/schemas/masters/masters_schema.py
  backend/app/presentation/schemas/shipping_master_schema.py
  backend/scripts/seed_jiku_pattern_test_data.py
  backend/sql/views/create_views.sql
  docs/project/BACKLOG.md
  frontend/src/features/delivery-places/components/DeliveryPlaceForm.tsx
  frontend/src/features/delivery-places/components/DeliveryPlacesTable.tsx
  frontend/src/features/rpa/smartread/utils/csv-transformer.ts
  frontend/src/features/shipping-master/components/ShippingMasterEditDialog.tsx
  frontend/src/features/shipping-master/components/shipping-master-columns.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix: WarehouseResponseのwarehouse_typeをNullable対応
  backend/app/presentation/schemas/masters/masters_schema.py
  backend/tests/api/test_warehouses.py
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

Revert "fix: WarehouseResponseのwarehouse_typeをNullable対応"
  backend/app/presentation/schemas/masters/masters_schema.py
  backend/tests/api/test_warehouses.py
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix: 出荷マスタ同期の倉庫自動作成でwarehouse_typeをexternalに設定
  backend/app/application/services/shipping_master/shipping_master_sync_service.py
Due: mypy

feat: データ整合性チェッカー（管理画面 + 起動時通知 + 手動スクリプト）
  backend/app/application/services/admin/data_integrity_service.py
  backend/app/main.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/admin/__init__.py
  backend/app/presentation/api/routes/admin/data_integrity_router.py
  backend/app/presentation/schemas/admin/data_integrity_schema.py
  backend/scripts/fix_data_integrity.py
  docs/project/BACKLOG.md
  frontend/src/MainRoutes.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/admin/components/ViolationsTable.tsx
  frontend/src/features/admin/pages/DataMaintenancePage.tsx
  frontend/src/features/auth/permissions/config.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

システム設定にデータ整合性メンテナンスメニューを追加、テストとエラー管理の強化
  backend/app/application/services/admin/data_integrity_service.py
  backend/tests/api/test_data_integrity_api.py
  backend/tests/unit/application/services/admin/test_data_integrity_service.py
  frontend/src/features/admin/pages/SystemSettingsPage.tsx
Due: prettier, eslint, mypy

fix: テストDB接続問題の解消とテスト環境の改善
  Makefile
  backend/app/infrastructure/persistence/models/lot_receipt_models.py
  backend/tests/conftest.py
  backend/tests/unit/application/services/admin/test_data_integrity_service.py
  docker-compose.test.yml
  docker-compose.yml
  docs/project/BACKLOG.md
  package.json
  scripts/setup_test_db.py
  setup-test-db.sh
Due: mypy

wip
  audit_schema.py
  backend/alembic/baseline_2026_02_06.sql
  backend/alembic/env.py
  backend/alembic/sql_utils.py
  backend/alembic/versions/57a61e701331_merge_multiple_heads.py
  backend/alembic/versions/baseline_2026_02_06_baseline_2026_02_06.py
  backend/audit_schema.py
  debug_sql_split.py
  scripts/setup_test_db.py
Due: mypy

docs: CLAUDE.mdに保護対象ファイルのルールを追加
  CLAUDE.md
Due: none

sql: ベースラインSQLを厳密に再生成された状態に復元
  backend/alembic/baseline_2026_02_06.sql
Due: none

test: ロールの重複挿入を削除しベースラインデータを利用するように修正
  backend/tests/api/test_adjustments.py
  backend/tests/api/test_logs_websocket.py
  backend/tests/api/test_roles.py
  backend/tests/api/v2/test_priority_sorting.py
  backend/tests/conftest.py
  backend/tests/test_orders_refactored.py
Due: mypy

fix: stabilize test environment and add missing index
  .agent/workflows/test.md
  backend/app/application/services/allocations/fefo.py
  backend/app/application/services/orders/order_service.py
  backend/app/domain/order/state_machine.py
  backend/tests/api/test_adjustments.py
  backend/tests/api/test_logs_websocket.py
  backend/tests/api/test_operation_logs.py
  backend/tests/api/test_orders.py
  backend/tests/api/test_users.py
  backend/tests/api/v2/test_order_api_v2.py
  backend/tests/conftest.py
  backend/tests/services/test_csv_transformer.py
  backend/tests/services/test_order_filtering.py
  backend/tests/services/test_order_service.py
  backend/tests/test_orders_refactored.py
  docs/project/BACKLOG.md
  scripts/setup_test_db.py
Due: mypy

chore: cleanup old migrations and fix alembic import
  backend/alembic/baseline_2026_01_27.sql
  backend/alembic/env.py
  backend/alembic/versions/0085f02d2f77_add_display_name_and_update_uniqueness_.py
  backend/alembic/versions/2d9f9a0b6b1c_add_order_no_to_lot_master.py
  backend/alembic/versions/3a0f933dd9bc_add_coa_issue_date_to_allocation_.py
  backend/alembic/versions/3b2e9d3f0a1c_add_master_versions.py
  backend/alembic/versions/486eb9ffe359_add_targeted_shipping_master_fields.py
  backend/alembic/versions/4b1a9c7d2e10_move_order_no_to_lot_receipts_and_unique_received_date.py
  backend/alembic/versions/4c8a76985218_create_notification_table.py
  backend/alembic/versions/4e9ab10f6031_add_rpa_jobs_and_sap_linkage_support.py
  backend/alembic/versions/62a340dbe783_recreate_views_after_schema_changes.py
  backend/alembic/versions/73e14976215a_add_all_table_and_column_comments.py
  backend/alembic/versions/7556ff2f06c0_merge_phase1_branches.py
  backend/alembic/versions/7f1d2c3b4a5e_add_jiku_match_pattern_to_shipping_master.py
  backend/alembic/versions/8af504933821_add_guest_user_and_role.py
  backend/alembic/versions/8c2f3e1a9d4b_add_smartread_data_versions.py
  backend/alembic/versions/8d90d504f80e_add_makers_master_and_material_order_.py
  backend/alembic/versions/90a78d0097ef_add_notes_to_customer_item_delivery_.py
  backend/alembic/versions/9d7943ef324a_make_supplier_items_base_unit_not_null.py
  backend/alembic/versions/a5ec9cd27093_remove_product_groups_extend_supplier_.py
  backend/alembic/versions/a6aaf793e361_add_phase9_fields_minimal.py
  backend/alembic/versions/a9f36409b674_add_product_group_id_foreign_keys_to_.py
  backend/alembic/versions/af2153ad0efc_restore_views_and_fix_fk_typo.py
  backend/alembic/versions/b20a425f473c_add_is_system_user_flag.py
  backend/alembic/versions/b2cabaab67f5_remove_obsolete_customer_items_columns.py
  backend/alembic/versions/b5945cb23f8d_add_display_strategy_to_notifications.py
  backend/alembic/versions/baseline_2026_01_27_baseline_2026_01_27.py
  backend/alembic/versions/c2f9f55b2f6a_add_remarks_to_v_lot_details.py
  backend/alembic/versions/c80c28cd0a5a_allow_multiple_primary_per_supplier.py
  backend/alembic/versions/df2c7a6b5a9c_add_capacity_warranty_to_supplier_items.py
  backend/alembic/versions/e1ffaa651bdb_make_lot_number_nullable_with_.py
  backend/alembic/versions/fe5ee626e71c_fix_view_aliases_phase1.py
  backend/alembic/versions/phase1_complete_migration.py
  backend/alembic/versions/phase1_final_column_cleanup.py
  backend/alembic/versions/phase1_sku_enforcement.py
  backend/alembic/versions/products_to_product_groups.py
Due: mypy

feat: add startup alembic revision check and remove invalid merge file
  backend/alembic/versions/57a61e701331_merge_multiple_heads.py
  backend/app/main.py
Due: mypy

fix: update makefile and add missing frontend dependency
  Makefile
  frontend/package-lock.json
Due: prettier

chore: sync package-lock.json from docker container
  frontend/package-lock.json
Due: prettier

refactor: extract startup checks to app/core/startup.py
  backend/app/core/startup.py
  backend/app/main.py
Due: mypy

Align pre-commit Ruff with CI version
  .pre-commit-config.yaml
  backend/app/core/startup.py
Due: mypy

style: format existing files with ruff (consistent with CI)
  backend/scripts/verify_unit_conversion.py
  backend/test_sap_data.py
  backend/tests/api/v2/test_lot_api_v2.py
  backend/tests/integration/test_export_route_resolution.py
  backend/tests/services/test_lot_display.py
  backend/tests/services/test_temporary_lot.py
Due: mypy

feat(rpa): SmartRead管理者用アップロード機能の実装 (型修正・フォーマット対応)
  backend/app/application/services/smartread/admin_upload_service.py
  backend/app/application/services/smartread/smartread_service.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/rpa/__init__.py
  backend/app/presentation/api/routes/rpa/smartread_admin_router.py
  backend/app/scripts/test_smartread_admin_upload.py
  docs/smartread-api-v3-specs.md
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadAdminUploadModal.tsx
  frontend/src/features/rpa/smartread/hooks/file-hooks.ts
  frontend/src/features/rpa/smartread/hooks/index.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

chore: sync openapi schema and typescript types
  backend/openapi.json
Due: none

fix(frontend): resolve TS error in adminUploadHybrid by using apiClient directly
  frontend/src/features/rpa/smartread/api.ts
Due: prettier, eslint

feat(rpa): SmartRead管理者用アップロード機能の実装 (#556)
  backend/app/application/services/smartread/admin_upload_service.py
  backend/app/application/services/smartread/smartread_service.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/rpa/__init__.py
  backend/app/presentation/api/routes/rpa/smartread_admin_router.py
  backend/app/scripts/test_smartread_admin_upload.py
  backend/openapi.json
  docs/smartread-api-v3-specs.md
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadAdminUploadModal.tsx
  frontend/src/features/rpa/smartread/hooks/file-hooks.ts
  frontend/src/features/rpa/smartread/hooks/index.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

docs: optimize check-pr workflow execution order
  .agent/workflows/check-pr.md
Due: none

build: update dependencies and backlog
  backend/openapi.json
  backend/pyproject.toml
  backend/uv.lock
  docs/project/BACKLOG.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/types/api.d.ts
Due: prettier, eslint

chore: downgrade python to 3.12 and modernise frontend build
  backend/Dockerfile
  backend/pyproject.toml
  backend/uv.lock
  docs/development/setup/setup.md
  docs/operations/PRODUCTION_SETUP.md
  docs/operations/PRODUCTION_UPDATE_GUIDE.md
  frontend/vite.config.ts
Due: prettier, eslint

build: upgrade ruff to v0.15.0 and modernize enums (StrEnum)
  .pre-commit-config.yaml
  backend/app/application/services/common/job_tracker.py
  backend/app/application/services/ocr/ocr_sap_complement_service.py
  backend/app/application/services/sap/sap_reconciliation_service.py
  backend/app/domain/allocation_policy.py
  backend/app/infrastructure/persistence/models/inbound_models.py
  backend/app/infrastructure/persistence/models/inventory_models.py
  backend/app/infrastructure/persistence/models/lot_reservation_history_model.py
  backend/app/infrastructure/persistence/models/lot_reservations_model.py
  backend/app/infrastructure/persistence/models/withdrawal_models.py
  backend/app/presentation/schemas/inventory/inbound_schema.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/app/presentation/schemas/inventory/withdrawal_schema.py
  backend/pyproject.toml
  backend/tests/api/test_masters_permanent_delete_auth.py
  backend/uv.lock
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix(ci): Python 3.13→3.12 統一、fakerのoptional-dependencies対応
  .github/workflows/ci.yml
  .github/workflows/quality.yml
Due: none

fix(ci): schema-syncで全optional-dependenciesをインストール
  .github/workflows/quality.yml
Due: none

fix: api.d.tsをESLint対象外にしてCI型同期チェックを修正
  frontend/eslint.config.js
  frontend/src/types/api.d.ts
Due: prettier, eslint

chore(frontend): ESLint緩和リストを削減し、デッドコードを削除 (バックログ 1-A)
  docs/project/BACKLOG.md
  frontend/eslint.config.js
  frontend/src/features/allocations/hooks/mutations/index.ts
  frontend/src/features/allocations/hooks/mutations/useAllocationMutation.test.tsx
  frontend/src/features/allocations/hooks/mutations/useAllocationMutation.ts
Due: prettier, eslint

refactor: Phase 1 & 2 完了 - 巨大API分割のリファクタリングと型競合の解消、小規模ファイルの基準適合化
  frontend/src/features/allocations/api.ts
  frontend/src/features/allocations/components/lots/LotAllocationHeader.tsx
  frontend/src/features/allocations/constants.ts
  frontend/src/features/allocations/hooks/state/useAutoSelection.ts
  frontend/src/features/allocations/types/index.ts
Due: prettier, eslint
