Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

.pre-commit-config.yaml:

# リポジトリ直下の .pre-commit-config.yaml
repos:
  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true

      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

  # Backend - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend - Mypy (Type Check)
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (Backend)
        entry: bash -c 'cd backend && uv run mypy app/' --
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # OpenAPI Schema Sync - regenerate when backend schemas change
  - repo: local
    hooks:
      - id: openapi-sync
        name: OpenAPI Schema Sync
        entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
        language: system
        files: ^backend/app/presentation/schemas/.*\.py$
        pass_filenames: false

Integrate inventory scenarios into admin test data
  backend/app/application/services/test_data/inventory_scenarios.py
  backend/app/application/services/test_data_generator.py
  backend/scripts/generate_test_inventory.py
Due: mypy

Add RPA orchestrator tests and document gaps
  backend/tests/services/test_system_config_service.py
  backend/tests/unit/test_material_delivery_orchestrator.py
  docs/test-review.md
Due: mypy

Add RPA orchestrator tests and document gaps (#421)
  backend/tests/services/test_system_config_service.py
  backend/tests/unit/test_material_delivery_orchestrator.py
  docs/test-review.md
Due: mypy

Add test catalog documentation
  backend/README.md
  docs/README.md
  docs/testing/test_catalog.md
Due: none

Add test catalog documentation (#422)
  backend/README.md
  docs/README.md
  docs/testing/test_catalog.md
Due: none

fix(inventory): Resolve inventory inconsistency and display issues
  backend/alembic/versions/b77dcffc2d98_fix_inventory_views_consistency.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/test_data/inventory_scenarios.py
  backend/app/application/services/test_data/withdrawals.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/openapi.json
  backend/tests/services/test_lot_display.py
  docs/TODO.md
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

style: accept ruff formatting
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/test_data/inventory_scenarios.py
  backend/scripts/generate_test_inventory.py
  backend/tests/services/test_lot_display.py
Due: mypy

fix(frontend): sync LotCreate/Response types with backend
  frontend/src/factories/lot-factory.ts
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
  frontend/src/features/inventory/pages/AdhocLotCreatePage.tsx
Due: prettier, eslint

[統合] 在庫シナリオ生成の共通化と在庫表示不整合の修正 (#420)
  backend/alembic/versions/b77dcffc2d98_fix_inventory_views_consistency.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/test_data/inventory_scenarios.py
  backend/app/application/services/test_data/withdrawals.py
  backend/app/application/services/test_data_generator.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/openapi.json
  backend/scripts/generate_test_inventory.py
  backend/tests/services/test_lot_display.py
  docs/TODO.md
  frontend/src/factories/lot-factory.ts
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
  frontend/src/features/inventory/pages/AdhocLotCreatePage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat: enforce UTC consistency and standardize timestamp schema
  backend/alembic/versions/981e944594b8_fix_timestamp_timezone.py
  backend/app/application/services/alerts/alert_service.py
  backend/app/application/services/common/job_tracker.py
  backend/app/application/services/orders/order_service.py
  backend/app/core/config.py
  backend/app/infrastructure/persistence/models/orders_models.py
  backend/app/infrastructure/persistence/models/product_supplier_models.py
  docs/decisions/20260118_review_findings.md
Due: mypy

fix(export): strip timezones from excel export for openpyxl compatibility
  backend/app/presentation/api/routes/admin/bulk_export_router.py
Due: mypy

feat: enforce UTC consistency and standardize timestamp schema (#423)
  backend/alembic/versions/981e944594b8_fix_timestamp_timezone.py
  backend/app/application/services/alerts/alert_service.py
  backend/app/application/services/common/job_tracker.py
  backend/app/application/services/orders/order_service.py
  backend/app/core/config.py
  backend/app/infrastructure/persistence/models/orders_models.py
  backend/app/infrastructure/persistence/models/product_supplier_models.py
  backend/app/presentation/api/routes/admin/bulk_export_router.py
  docs/decisions/20260118_review_findings.md
Due: mypy

docs: テストデータ生成システム改善計画書を追加
  docs/plans/test-data-generation-plan.md
Due: none

docs: トレーサビリティシナリオを計画書に追加
  docs/plans/test-data-generation-plan.md
Due: none

docs: 手動出庫・分納・極端なエッジケースを追加
  docs/plans/test-data-generation-plan.md
Due: none

docs: テストデータ生成計画書 v1.1 - CI安定性・再現性対応
  docs/plans/test-data-generation-plan.md
Due: none

Update database docs for lot receipt schema
  backend/README.md
  docs/db/data_dictionary.md
  docs/db/er_diagram.md
  docs/db/schema.md
Due: none

docs: テストデータ生成計画書 v1.2 - 発注提案・需要予測統合
  docs/plans/test-data-generation-plan.md
Due: none

Update database docs for lot receipt schema (#424)
  backend/README.md
  docs/db/data_dictionary.md
  docs/db/er_diagram.md
  docs/db/schema.md
Due: none

Add test data plan for inbound orders and mappings
  docs/plans/test-data-generation-plan-additional.md
Due: none

docs: update DDL and ER diagram documentation
  backend/sql/schema_latest.sql
  docs/db/er_diagram.md
  docs/db/schema.md
Due: none

chore: add Any type reduction task and archive old reviews
  docs/archive/reviews/PROJECT_REVIEW_REPORT_20251222.md
  docs/archive/reviews/PROJECT_REVIEW_REPORT_claude.md
  docs/archive/reviews/PROJECT_REVIEW_REPORT_codex.md
  docs/archive/reviews/PROJECT_REVIEW_REPORT_gemini.md
  docs/archive/reviews/PROJECT_REVIEW_REPORT_local_claude.md
  docs/tasks/any-type-reduction.md
Due: none

docs: consolidate documentation into docs/ directory
  backend/README.md
  docs/dev/backend-setup.md
  docs/dev/frontend-setup.md
  docs/dev/testing.md
  docs/standards/frontend-style-guide.md
  docs/testing/test-data-spec.md
  frontend/README.md
Due: prettier

docs: update DDL, ER diagrams, and consolidate documentation (#427)
  backend/README.md
  backend/sql/schema_latest.sql
  docs/archive/reviews/PROJECT_REVIEW_REPORT_20251222.md
  docs/archive/reviews/PROJECT_REVIEW_REPORT_claude.md
  docs/archive/reviews/PROJECT_REVIEW_REPORT_codex.md
  docs/archive/reviews/PROJECT_REVIEW_REPORT_gemini.md
  docs/archive/reviews/PROJECT_REVIEW_REPORT_local_claude.md
  docs/db/er_diagram.md
  docs/db/schema.md
  docs/dev/backend-setup.md
  docs/dev/frontend-setup.md
  docs/dev/testing.md
  docs/standards/frontend-style-guide.md
  docs/tasks/any-type-reduction.md
  docs/testing/test-data-spec.md
  frontend/README.md
Due: prettier

chore: automate type generation checks and update workflows
  .agent/workflows/check-pr.md
  .github/workflows/quality.yml
  frontend/package.json
Due: prettier

feat: テスト基盤実装 - E2E P0 6本とskip/xfail解消
  .github/workflows/ci.yml
  backend/tests/error_scenarios/test_constraints.py
  backend/tests/error_scenarios/test_validation_errors.py
  backend/tests/unit/test_quantity.py
  docs/plans/comprehensive-test-strategy.md
  docs/test-review.md
  docs/testing.md
  frontend/e2e/fixtures/api-client.ts
  frontend/e2e/fixtures/auth.ts
  frontend/e2e/fixtures/db-reset.ts
  frontend/e2e/fixtures/pages/BasePage.ts
  frontend/e2e/fixtures/pages/OrderDetailPage.ts
  frontend/e2e/fixtures/pages/OrderListPage.ts
  frontend/e2e/fixtures/pages/index.ts
  frontend/e2e/specs/p0/e2e-01-order-flow.spec.ts
  frontend/e2e/specs/p0/e2e-02-save-persistence.spec.ts
  frontend/e2e/specs/p0/e2e-03-double-submit.spec.ts
  frontend/e2e/specs/p0/e2e-04-permission.spec.ts
  frontend/e2e/specs/p0/e2e-05-list-filter.spec.ts
  frontend/e2e/specs/p0/e2e-06-error-handling.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
Due: prettier, eslint, mypy

docs: test-review.md P0項目完了マーク更新
  docs/test-review.md
Due: none

test: 異常系テスト拡充 - 400/404/409/422エラー仕様固定
  backend/tests/error_scenarios/test_bad_request_errors.py
  backend/tests/error_scenarios/test_conflict_errors.py
  backend/tests/error_scenarios/test_not_found_errors.py
Due: mypy

docs: test-review.md 異常系テスト完了マーク更新
  docs/test-review.md
Due: none

fix: アーカイブボタンを常に表示するよう修正
  frontend/src/features/inventory/components/InventoryLotActions.tsx
Due: prettier, eslint

Add calendar settings and business day calculation
  backend/alembic/versions/aa1b2c3d4e5f_add_calendar_tables.py
  backend/app/application/services/calendar_service.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/calendar_models.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/system/calendar_router.py
  backend/app/presentation/schemas/calendar/__init__.py
  backend/app/presentation/schemas/calendar/calendar_schemas.py
  frontend/src/MainRoutes.tsx
  frontend/src/components/auth/RoleGuard.tsx
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/calendar/api.ts
  frontend/src/features/calendar/hooks.ts
  frontend/src/features/calendar/index.ts
  frontend/src/features/calendar/pages/CalendarSettingsPage.tsx
Due: prettier, eslint, mypy, openapi-sync

feat: Improve test data generation with historical data and admin UI
  backend/app/application/services/test_data/inbound.py
  backend/app/application/services/test_data/orchestrator.py
  backend/app/application/services/test_data/orders.py
  backend/app/application/services/test_data/withdrawals.py
  backend/app/presentation/api/routes/admin/test_data.py
  docs/tasks/backlog.md
  frontend/src/features/admin/pages/AdminPage.tsx
Due: prettier, eslint, mypy

feat: Fix Mypy errors
  backend/app/application/services/calendar_service.py
  backend/app/application/services/test_data/calendar_wrapper.py
  backend/app/application/services/test_data/calendars.py
  backend/app/application/services/test_data/inbound.py
  backend/app/application/services/test_data/orders.py
  backend/app/application/services/test_data/utils.py
  backend/app/application/services/test_data/withdrawals.py
  backend/app/application/services/test_data_generator.py
Due: mypy

feat: Implement async test data generation and fix Forecast List performance
  backend/alembic/versions/36386d722bab_merge_calendar_and_test_data_heads.py
  backend/app/application/services/forecasts/forecast_service.py
  backend/app/application/services/job_manager.py
  backend/app/application/services/test_data/orchestrator.py
  backend/app/application/services/test_data_generator.py
  backend/app/infrastructure/persistence/models/orders_models.py
  backend/app/presentation/api/routes/admin/test_data.py
  frontend/src/features/admin/pages/AdminPage.tsx
Due: prettier, eslint, mypy

docs: Add user feedback tasks to backlog
  docs/tasks/backlog.md
Due: none

style: Apply Prettier fixes
  backend/app/presentation/api/routes/system/calendar_router.py
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/features/calendar/pages/CalendarSettingsPage.tsx
  pr_description.txt
Due: prettier, eslint, mypy

chore: Update types and format code (check-pr)
  backend/openapi.json
  frontend/src/MainRoutes.tsx
  frontend/src/features/calendar/hooks.ts
  frontend/src/types/api.d.ts
  pr_description.txt
Due: prettier, eslint

fix(e2e): Poll for async test data generation completion
  frontend/e2e/fixtures/api-client.ts
Due: prettier, eslint
