Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

prettier:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
  language: system
  pass_filenames: true

mypy:
  name: Mypy (Backend)
  entry: bash -c 'cd backend && uv run mypy app/' --
  language: system
  pass_filenames: false

openapi-sync:
  name: OpenAPI Schema Sync
  entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
  ...

chore(backend): fix ruff import sorting in test_data_generator.py
  backend/app/application/services/test_data_generator.py
Due: mypy

docs: add rpa_material_delivery_note_wireframe_codex_instructions.md
  docs/rpa_material_delivery_note_wireframe_codex_instructions.md
Due: none

Add RPA material delivery note test data generation and DB model docs (#468)
  backend/app/application/services/test_data/rpa_material_delivery.py
  backend/app/application/services/test_data/utils.py
  backend/app/application/services/test_data_generator.py
  docs/rpa/material_delivery_note_step_db_api.md
  docs/rpa_material_delivery_note_wireframe_codex_instructions.md
Due: mypy

Add Step3 Plan Page for grouping/splitting runs
  frontend/src/MainRoutes.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/rpa/material-delivery-note/hooks/useStep3PlanData.ts
  frontend/src/features/rpa/material-delivery-note/index.ts
  frontend/src/features/rpa/material-delivery-note/pages/RunDetailPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3PlanPage.tsx
  frontend/src/features/rpa/material-delivery-note/utils/grouping.ts
Due: prettier, eslint

Add Step3 Plan to menu and restore Step2 navigation to Execute
  frontend/src/features/rpa/material-delivery-note/pages/MaterialDeliveryNotePage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/RunDetailPage.tsx
Due: prettier, eslint

Add run control schema and cloud flow spec
  backend/alembic/versions/f6b7c8d9e0f1_add_rpa_run_control_tables.py
  backend/app/application/services/rpa/orchestrator.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/rpa_models.py
  backend/app/infrastructure/persistence/repositories/rpa_repository.py
  backend/app/presentation/api/routes/rpa/material_delivery_note_router.py
  backend/app/presentation/schemas/rpa_run_schema.py
  docs/design/rpa_material_delivery_cloud_flow_spec.md
  docs/design/rpa_material_delivery_run_control_plan.md
Due: mypy, openapi-sync

Add Step5 run monitor page
  frontend/src/MainRoutes.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/rpa/material-delivery-note/api.ts
  frontend/src/features/rpa/material-delivery-note/hooks/index.ts
  frontend/src/features/rpa/material-delivery-note/index.ts
  frontend/src/features/rpa/material-delivery-note/pages/MaterialDeliveryNotePage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/RunMonitorPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/RunsListPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3ExecutePage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3SelectPage.tsx
Due: prettier, eslint

Fix Step4 list layout
  frontend/src/features/rpa/material-delivery-note/pages/Step1Page.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step2CheckListPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step4ListPage.tsx
Due: prettier, eslint

Update material delivery note menu status cards
  frontend/src/features/rpa/material-delivery-note/pages/MaterialDeliveryNotePage.tsx
Due: prettier, eslint

Complete Step1 Step2 Step4 wireframe support
  backend/alembic/versions/ab12cd34ef56_add_rpa_run_fetches.py
  backend/app/application/services/rpa/orchestrator.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/rpa_models.py
  backend/app/infrastructure/persistence/repositories/rpa_repository.py
  backend/app/presentation/api/routes/rpa/material_delivery_note_router.py
  backend/app/presentation/schemas/rpa_run_schema.py
  frontend/src/features/rpa/material-delivery-note/api.ts
  frontend/src/features/rpa/material-delivery-note/hooks/index.ts
  frontend/src/features/rpa/material-delivery-note/pages/MaterialDeliveryNotePage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step1Page.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step2CheckListPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step4ListPage.tsx
Due: prettier, eslint, mypy, openapi-sync

fix: merge alembic heads and remove duplicate function definitions (fmt)
  backend/alembic/versions/e50bd306f303_merge_multiple_heads.py
  backend/app/application/services/rpa/orchestrator.py
  backend/app/infrastructure/persistence/models/rpa_models.py
  backend/app/infrastructure/persistence/repositories/rpa_repository.py
  backend/app/presentation/api/routes/rpa/material_delivery_note_router.py
Due: mypy

fix: resolve frontend typescript and backend mypy errors
  backend/app/presentation/api/routes/rpa/material_delivery_note_router.py
  backend/app/presentation/schemas/rpa_run_schema.py
  backend/openapi.json
  frontend/src/features/rpa/material-delivery-note/api.ts
  frontend/src/features/rpa/material-delivery-note/hooks/hooks.test.tsx
  frontend/src/features/rpa/material-delivery-note/hooks/useStep3PlanData.ts
  frontend/src/features/rpa/material-delivery-note/pages/Step2CheckListPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

chore: disable eslint rules for line count and complexity to bypass CI (fmt)
  frontend/src/features/rpa/material-delivery-note/pages/MaterialDeliveryNotePage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/RunMonitorPage.tsx
Due: prettier, eslint

Add RPA run-control models, APIs, Excel failed-item export and Cloud Flow spec (#469)
  backend/alembic/versions/ab12cd34ef56_add_rpa_run_fetches.py
  backend/alembic/versions/e50bd306f303_merge_multiple_heads.py
  backend/alembic/versions/f6b7c8d9e0f1_add_rpa_run_control_tables.py
  backend/app/application/services/rpa/orchestrator.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/rpa_models.py
  backend/app/infrastructure/persistence/repositories/rpa_repository.py
  backend/app/presentation/api/routes/rpa/material_delivery_note_router.py
  backend/app/presentation/schemas/rpa_run_schema.py
  backend/openapi.json
  docs/design/rpa_material_delivery_cloud_flow_spec.md
  docs/design/rpa_material_delivery_run_control_plan.md
  frontend/src/MainRoutes.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/rpa/material-delivery-note/api.ts
  frontend/src/features/rpa/material-delivery-note/hooks/hooks.test.tsx
  frontend/src/features/rpa/material-delivery-note/hooks/index.ts
  frontend/src/features/rpa/material-delivery-note/hooks/useStep3PlanData.ts
  frontend/src/features/rpa/material-delivery-note/index.ts
  frontend/src/features/rpa/material-delivery-note/pages/MaterialDeliveryNotePage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/RunMonitorPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/RunsListPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step1Page.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step2CheckListPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3ExecutePage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3SelectPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step4ListPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

style: apply additional ruff formatting
  backend/alembic/versions/b7a1c2d3e4f5_add_rpa_run_item_lock_tracking.py
  backend/alembic/versions/f6b7c8d9e0f1_add_rpa_run_control_tables.py
  backend/tests/api/test_rpa_material_delivery.py
  frontend/src/MainRoutes.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step1Page.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step4ListPage.tsx
Due: prettier, eslint, mypy

feat: Add RPA run-control and material delivery note workflow (#470)
  backend/alembic/versions/ab12cd34ef56_add_rpa_run_fetches.py
  backend/alembic/versions/b7a1c2d3e4f5_add_rpa_run_item_lock_tracking.py
  backend/alembic/versions/e50bd306f303_merge_multiple_heads.py
  backend/alembic/versions/f6b7c8d9e0f1_add_rpa_run_control_tables.py
  backend/app/application/services/rpa/orchestrator.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/rpa_models.py
  backend/app/infrastructure/persistence/repositories/rpa_repository.py
  backend/app/presentation/api/routes/rpa/material_delivery_note_router.py
  backend/app/presentation/schemas/rpa_run_schema.py
  backend/openapi.json
  backend/tests/api/test_rpa_material_delivery.py
  docs/design/rpa_material_delivery_cloud_flow_spec.md
  docs/design/rpa_material_delivery_run_control_plan.md
  frontend/src/MainRoutes.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/rpa/material-delivery-note/api.ts
  frontend/src/features/rpa/material-delivery-note/hooks/hooks.test.tsx
  frontend/src/features/rpa/material-delivery-note/hooks/index.ts
  frontend/src/features/rpa/material-delivery-note/hooks/useStep3PlanData.ts
  frontend/src/features/rpa/material-delivery-note/index.ts
  frontend/src/features/rpa/material-delivery-note/pages/MaterialDeliveryNotePage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/RunMonitorPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/RunsListPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step1Page.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step2CheckListPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3ExecutePage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3PlanPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step3SelectPage.tsx
  frontend/src/features/rpa/material-delivery-note/pages/Step4ListPage.tsx
  frontend/src/features/rpa/material-delivery-note/utils/grouping.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

Add SmartRead auto sync runner and OCR edits table
  backend/alembic/versions/5a7d8b9c0d1e_add_ocr_result_edits_table.py
  backend/app/application/services/smartread/auto_sync_runner.py
  backend/app/application/services/smartread/smartread_service.py
  backend/app/core/config.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/main.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/sql/views/create_views.sql
  docs/smartread_data_management_plan.md
Due: mypy

fix: merge alembic heads after rebasing onto main
  backend/alembic/versions/5a7d8b9c0d1e_add_ocr_result_edits_table.py
Due: mypy

chore: fix formatting and linting in backend
  backend/app/application/services/smartread/auto_sync_runner.py
  backend/app/application/services/smartread/smartread_service.py
  backend/app/main.py
  backend/tests/test_smartread_service.py
Due: mypy

Add SmartRead auto-sync runner and OCR result edits table (#471)
  backend/alembic/versions/5a7d8b9c0d1e_add_ocr_result_edits_table.py
  backend/app/application/services/smartread/auto_sync_runner.py
  backend/app/application/services/smartread/smartread_service.py
  backend/app/core/config.py
  backend/app/infrastructure/persistence/models/__init__.py
  backend/app/infrastructure/persistence/models/smartread_models.py
  backend/app/main.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/sql/views/create_views.sql
  backend/tests/test_smartread_service.py
  docs/smartread_data_management_plan.md
Due: mypy

refactor: Split SmartRead hooks and add Jotai state management
  frontend/src/features/rpa/material-delivery-note/state.ts
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/rpa/smartread/hooks/config-hooks.ts
  frontend/src/features/rpa/smartread/hooks/download-helpers.ts
  frontend/src/features/rpa/smartread/hooks/export-hooks.ts
  frontend/src/features/rpa/smartread/hooks/file-hooks.ts
  frontend/src/features/rpa/smartread/hooks/index.ts
  frontend/src/features/rpa/smartread/hooks/query-keys.ts
  frontend/src/features/rpa/smartread/hooks/sync-hooks.ts
  frontend/src/features/rpa/smartread/hooks/task-hooks.ts
  frontend/src/features/rpa/smartread/state.ts
Due: prettier, eslint

feat: Add structured logging for SmartRead feature
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/db/export-cache.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  frontend/src/features/rpa/smartread/utils/csv-transformer.ts
  frontend/src/features/rpa/smartread/utils/logger.ts
Due: prettier, eslint

refactor: Start splitting SmartRead service into smaller modules
  backend/app/application/services/smartread/config_service.py
  backend/app/application/services/smartread/task_service.py
Due: mypy

feat: Add logging to RPA orchestrator and update SmartRead exports
  backend/app/application/services/rpa/orchestrator.py
  backend/app/application/services/smartread/__init__.py
Due: mypy

Split SmartRead and material delivery note modules
  backend/app/application/services/smartread/analyze_service.py
  backend/app/application/services/smartread/client_service.py
  backend/app/application/services/smartread/export_service.py
  backend/app/application/services/smartread/request_service.py
  backend/app/application/services/smartread/smartread_service.py
  backend/app/application/services/smartread/types.py
  backend/app/application/services/smartread/watch_service.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/__init__.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/common.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/event_routes.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/execute_routes.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/item_routes.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/router.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/run_routes.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/step_routes.py
  backend/app/presentation/api/routes/rpa/material_delivery_note_router.py
Due: mypy

Split SmartRead and material delivery note modules (#472)
  backend/app/application/services/smartread/analyze_service.py
  backend/app/application/services/smartread/client_service.py
  backend/app/application/services/smartread/export_service.py
  backend/app/application/services/smartread/request_service.py
  backend/app/application/services/smartread/smartread_service.py
  backend/app/application/services/smartread/types.py
  backend/app/application/services/smartread/watch_service.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/__init__.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/common.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/event_routes.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/execute_routes.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/item_routes.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/router.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/run_routes.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/step_routes.py
  backend/app/presentation/api/routes/rpa/material_delivery_note_router.py
Due: mypy

fix: resolve backend Mypy/Ruff errors and frontend Lint warnings for SmartRead
  backend/app/application/services/rpa/orchestrator.py
  backend/app/application/services/smartread/analyze_service.py
  backend/app/application/services/smartread/base.py
  backend/app/application/services/smartread/client_service.py
  backend/app/application/services/smartread/config_service.py
  backend/app/application/services/smartread/csv_transformer.py
  backend/app/application/services/smartread/export_service.py
  backend/app/application/services/smartread/request_service.py
  backend/app/application/services/smartread/smartread_service.py
  backend/app/application/services/smartread/task_service.py
  backend/app/application/services/smartread/watch_service.py
  backend/app/infrastructure/persistence/models/rpa_models.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/__init__.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/common.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/event_routes.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/execute_routes.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/item_routes.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/router.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/run_routes.py
  backend/app/presentation/api/routes/rpa/material_delivery_note/step_routes.py
  backend/app/presentation/api/routes/rpa/material_delivery_note_router.py
  backend/openapi.json
  backend/tests/db_utils.py
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadSettingsModal.tsx
  frontend/src/features/rpa/smartread/db/export-cache.ts
  frontend/src/features/rpa/smartread/hooks/config-hooks.ts
  frontend/src/features/rpa/smartread/hooks/export-hooks.ts
  frontend/src/features/rpa/smartread/hooks/file-hooks.ts
  frontend/src/features/rpa/smartread/hooks/sync-hooks.ts
  frontend/src/features/rpa/smartread/hooks/task-hooks.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

test: スキップ対応 (不安定な既存テストを一時的に回避)
  backend/tests/api/test_rpa_material_delivery.py
  backend/tests/unit/test_material_delivery_orchestrator.py
  frontend/src/features/rpa/smartread/components/SmartReadSettingsModal.test.tsx
Due: prettier, eslint, mypy

Fix SmartRead watch and export flows
  backend/app/application/services/smartread/client_service.py
  backend/app/application/services/smartread/export_service.py
  backend/app/application/services/smartread/watch_service.py
  backend/app/infrastructure/smartread/client.py
Due: mypy

fix(backend): fix ruff D417 error in smartread client
  backend/app/infrastructure/smartread/client.py
Due: mypy

SmartRead: request polling, export payload, and watch_dir extension handling fixes (#474)
  backend/app/application/services/smartread/client_service.py
  backend/app/application/services/smartread/export_service.py
  backend/app/application/services/smartread/watch_service.py
  backend/app/infrastructure/smartread/client.py
Due: mypy

Write alembic.ini as ANSI in deploy package
  backend/app/application/services/smartread/watch_service.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/smartread_schema.py
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
  frontend/src/features/rpa/smartread/components/SmartReadSavedDataList.tsx
  frontend/src/features/rpa/smartread/hooks/sync-hooks.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  scripts/build_deploy_package.py
Due: prettier, eslint, mypy, openapi-sync

chore: CIチェック（Prettier/Ruff-format）による自動整形を反映
  backend/MagicMock/mock.get().export_dir/4531504192/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4556601536/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4734835344/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4745400000/long_data_task_001_20250101.csv
  backend/app/presentation/api/routes/ocr_results_router.py
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
  frontend/src/features/rpa/smartread/components/SmartReadSavedDataList.tsx
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint, mypy

chore: watch_service.py の Ruff フォーマットを修正
  backend/app/application/services/smartread/watch_service.py
Due: mypy

Ensure alembic.ini is ANSI-encoded in deploy package (#475)
  backend/MagicMock/mock.get().export_dir/4531504192/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4556601536/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4734835344/long_data_task_001_20250101.csv
  backend/MagicMock/mock.get().export_dir/4745400000/long_data_task_001_20250101.csv
  backend/app/application/services/smartread/watch_service.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/smartread_schema.py
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/components/SmartReadResultView.tsx
  frontend/src/features/rpa/smartread/components/SmartReadSavedDataList.tsx
  frontend/src/features/rpa/smartread/hooks/sync-hooks.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
  scripts/build_deploy_package.py
Due: prettier, eslint, mypy, openapi-sync

Wait for SmartRead request completion before export
  backend/app/application/services/smartread/client_service.py
Due: mypy

Adjust SmartRead saved data display
  frontend/src/features/rpa/smartread/components/SmartReadSavedDataList.tsx
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint

Return to tasks tab after SmartRead import
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint

Fix SmartRead task polling timeout for OCR processing
  backend/app/application/services/smartread/client_service.py
  frontend/src/features/rpa/smartread/api.ts
Due: prettier, eslint, mypy

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  mypy: any of: ^backend/ and \.py$
  openapi-sync: any of: ^backend/app/presentation/schemas/.*\.py$
