Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

prettier:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
  language: system
  pass_filenames: true

mypy:
  name: Mypy (Backend)
  entry: bash -c 'cd backend && uv run mypy app/' --
  language: system
  pass_filenames: false

openapi-sync:
  name: OpenAPI Schema Sync
  entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
  ...

feat(migration): Add Alembic migration for v_ocr_results view update
  backend/alembic/versions/9972b886f379_update_v_ocr_results_view_support_key_.py
Due: mypy

Commit test data generation results
  backend/app/application/services/smartread/csv_transformer.py
  backend/app/application/services/test_data_generator.py
  backend/app/presentation/api/routes/ocr_results_router.py
  frontend/src/features/rpa/smartread/db/export-cache.ts
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/rpa/smartread/hooks/useResultDataLoader.ts
  frontend/src/features/rpa/smartread/hooks/useTransformToLong.ts
Due: prettier, eslint, mypy

fix(frontend): adjust task_date in SmartRead background save and fix TS7023 error
  frontend/src/features/rpa/smartread/db/export-cache.ts
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/rpa/smartread/hooks/useResultDataLoader.ts
Due: prettier, eslint

SmartRead: normalize CSV keys, persist cache save flag, align API field, and persist test-data generation (#455)
  backend/app/application/services/smartread/csv_transformer.py
  backend/app/application/services/test_data_generator.py
  backend/app/presentation/api/routes/ocr_results_router.py
  frontend/src/features/rpa/smartread/db/export-cache.ts
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/rpa/smartread/hooks/useResultDataLoader.ts
  frontend/src/features/rpa/smartread/hooks/useTransformToLong.ts
Due: prettier, eslint, mypy

feat(smartread): Vertical conversion improvements and robust cache persistence (#456)
  backend/alembic/versions/9972b886f379_update_v_ocr_results_view_support_key_.py
  backend/app/application/services/smartread/csv_transformer.py
  backend/app/application/services/test_data_generator.py
  backend/app/presentation/api/routes/ocr_results_router.py
  backend/sql/views/create_views.sql
  docs/tasks/smartread-cache-db-save-inconsistency.md
  docs/tasks/smartread-logging-gaps.md
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
  frontend/src/features/rpa/smartread/db/export-cache.ts
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/rpa/smartread/hooks/useResultDataLoader.ts
  frontend/src/features/rpa/smartread/hooks/useTransformToLong.ts
  frontend/src/features/rpa/smartread/utils/column-order.ts
  frontend/src/features/rpa/smartread/utils/csv-transformer.test.ts
  frontend/src/features/rpa/smartread/utils/csv-transformer.ts
Due: prettier, eslint, mypy

Document OCR results column customization notes
  docs/ocr-results-column-customization.md
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

fix(frontend): stabilize OCR results table columns (single file with ESLint override) and adjust column widths
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

OCR結果画面の改善：行レベルの入力編集、出荷票プレビュー、及びデータ整合性の修正 (#457)
  docs/ocr-results-column-customization.md
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

Improve OCR results table editing layout
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

fix(frontend): resolve TS2322 error by narrowing field type in Editable cells
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

fix(frontend): resolve ESLint autofocus warning and clean up directives
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

fix(frontend): adjust quantity input width and header layout for stacked columns
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

fix(frontend): align right edges of Lot No and Quantity input boxes
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

OCR結果画面のレイアウト改善、入力編集機能、およびデータ整合性の修正 (#458)
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

Reorder OCR results columns
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

Reorder OCR results columns (#459)
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint

Add OCR results export download
  backend/app/presentation/api/routes/ocr_results_router.py
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint, mypy

fix(frontend): fix TypeScript error in ocrResultsApi.exportExcel by using http wrapper
  frontend/src/features/ocr-results/api.ts
Due: prettier, eslint

Add SmartRead watch dir handoff notes
  backend/app/application/services/smartread/smartread_service.py
  docs/smartread_watchdir_handoff.md
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint, mypy

OCR結果のエクスポート機能を追加（バックエンド + フロントエンド） (#460)
  backend/app/presentation/api/routes/ocr_results_router.py
  frontend/src/features/ocr-results/api.ts
  frontend/src/features/ocr-results/pages/OcrResultsListPage.tsx
Due: prettier, eslint, mypy

fix(frontend): resolve SmartRead TypeScript errors for TanStack Query v5 compatibility
  frontend/src/features/rpa/smartread/hooks.ts
Due: prettier, eslint

Add SmartRead watch-dir handoff notes and watch-dir logging/console diagnostics (#461)
  backend/app/application/services/smartread/smartread_service.py
  docs/smartread_watchdir_handoff.md
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint, mypy

Fix .env file loading for production environment
  backend/.env.production.example
  backend/app/core/config.py
  backend/lot-management.service.example
  backend/start_production.sh
  docs/PRODUCTION_SETUP.md
  docs/fixes/ENV_FILE_LOADING_FIX.md
Due: mypy

Fix .env file loading for production environment (#462)
  backend/.env.production.example
  backend/app/core/config.py
  backend/lot-management.service.example
  backend/start_production.sh
  docs/PRODUCTION_SETUP.md
  docs/fixes/ENV_FILE_LOADING_FIX.md
Due: mypy

Add environment variable checking tools
  backend/app/presentation/api/routes/admin/health_router.py
  backend/check_env.py
  docs/PRODUCTION_SETUP.md
Due: mypy

Add environment variable checking tools (#463)
  backend/app/presentation/api/routes/admin/health_router.py
  backend/check_env.py
  docs/PRODUCTION_SETUP.md
Due: mypy

Fix crypto.randomUUID compatibility issue
  frontend/src/shared/utils/request-id.ts
Due: prettier, eslint

Fix crypto.randomUUID compatibility issue (#464)
  frontend/src/shared/utils/request-id.ts
Due: prettier, eslint

Add SmartRead API diagnose flow
  backend/app/application/services/smartread/smartread_service.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/smartread_schema.py
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint, mypy, openapi-sync

Fix: Save task to DB when processing watch directory files
  backend/app/application/services/smartread/smartread_service.py
Due: mypy

Add SmartRead API diagnose flow (requestId + export) and UI trigger (#465)
  backend/app/application/services/smartread/smartread_service.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/schemas/smartread_schema.py
  frontend/src/features/rpa/smartread/api.ts
  frontend/src/features/rpa/smartread/pages/SmartReadPage.tsx
Due: prettier, eslint, mypy, openapi-sync

Add production update guide and troubleshooting documentation
  docs/PRODUCTION_UPDATE_GUIDE.md
  docs/troubleshooting/FRONTEND_DB_CONNECTION_CHECK.md
Due: none

Fix alembic.ini Japanese comment encoding
  backend/alembic.ini
Due: none

Fix SmartRead task sync and data validation flow
  backend/alembic.ini
  backend/app/application/services/smartread/smartread_service.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/rpa/smartread/hooks/useResultDataLoader.ts
Due: prettier, eslint, mypy

Fix FastAPI response model and mypy errors
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/api/routes/shipping_master_router.py
Due: mypy

Fix SmartRead task sync and data validation flow (#466)
  backend/alembic.ini
  backend/app/application/services/smartread/smartread_service.py
  backend/app/presentation/api/routes/rpa/smartread_router.py
  backend/app/presentation/api/routes/shipping_master_router.py
  docs/PRODUCTION_UPDATE_GUIDE.md
  docs/troubleshooting/FRONTEND_DB_CONNECTION_CHECK.md
  frontend/src/features/rpa/smartread/hooks.ts
  frontend/src/features/rpa/smartread/hooks/useResultDataLoader.ts
Due: prettier, eslint, mypy

Add stalled warning and overview doc
  backend/alembic/versions/b7a1c2d3e4f5_add_rpa_run_item_lock_tracking.py
  backend/app/application/services/rpa/orchestrator.py
  backend/app/infrastructure/persistence/models/rpa_models.py
  backend/app/infrastructure/persistence/repositories/rpa_repository.py
  backend/app/presentation/api/routes/rpa/material_delivery_note_router.py
  backend/app/presentation/schemas/rpa_run_schema.py
  backend/tests/api/test_rpa_material_delivery.py
  docs/rpa/material_delivery_note_api.md
  docs/rpa/material_delivery_note_overview.md
  frontend/src/components/ui/display/progress.tsx
  frontend/src/features/rpa/material-delivery-note/api.ts
  frontend/src/features/rpa/material-delivery-note/hooks/index.ts
  frontend/src/features/rpa/material-delivery-note/pages/RunDetailPage.tsx
Due: prettier, eslint, mypy, openapi-sync

Fix code quality issues and sync API schema
  backend/app/application/services/rpa/orchestrator.py
  backend/app/infrastructure/persistence/repositories/rpa_repository.py
  backend/app/presentation/api/routes/rpa/material_delivery_note_router.py
  backend/openapi.json
  frontend/src/components/ui/display/progress.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

Add stalled-run warning and activity icons; add PAD loop overview doc (#467)
  backend/alembic/versions/b7a1c2d3e4f5_add_rpa_run_item_lock_tracking.py
  backend/app/application/services/rpa/orchestrator.py
  backend/app/infrastructure/persistence/models/rpa_models.py
  backend/app/infrastructure/persistence/repositories/rpa_repository.py
  backend/app/presentation/api/routes/rpa/material_delivery_note_router.py
  backend/app/presentation/schemas/rpa_run_schema.py
  backend/openapi.json
  backend/tests/api/test_rpa_material_delivery.py
  docs/rpa/material_delivery_note_api.md
  docs/rpa/material_delivery_note_overview.md
  frontend/src/components/ui/display/progress.tsx
  frontend/src/features/rpa/material-delivery-note/api.ts
  frontend/src/features/rpa/material-delivery-note/hooks/index.ts
  frontend/src/features/rpa/material-delivery-note/pages/RunDetailPage.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

Add RPA material delivery note test data
  backend/app/application/services/test_data/rpa_material_delivery.py
  backend/app/application/services/test_data/utils.py
  backend/app/application/services/test_data_generator.py
  docs/rpa/material_delivery_note_step_db_api.md
Due: mypy

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  mypy: any of: ^backend/ and \.py$
  openapi-sync: any of: ^backend/app/presentation/schemas/.*\.py$
