Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

.pre-commit-config.yaml:

# リポジトリ直下の .pre-commit-config.yaml
repos:
  # Frontend - Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: true

      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

  # Backend - Ruff (lint + format)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend - Mypy (Type Check)
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (Backend)
        entry: bash -c 'cd backend && uv run mypy app/' --
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # OpenAPI Schema Sync - regenerate when backend schemas change
  - repo: local
    hooks:
      - id: openapi-sync
        name: OpenAPI Schema Sync
        entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
        language: system
        files: ^backend/app/presentation/schemas/.*\.py$
        pass_filenames: false

feat(frontend): UOM変換ページに担当仕入先の自動選択を実装
  frontend/src/features/uom-conversions/hooks/useUomConversionsPageState.ts
Due: prettier, eslint

feat(frontend): 担当仕入先フィルタの共通ロジックを実装
  frontend/src/features/assignments/components/SupplierFilterCheckbox.tsx
  frontend/src/features/assignments/components/index.ts
  frontend/src/features/assignments/hooks/index.ts
  frontend/src/features/assignments/hooks/useSupplierFilter.ts
Due: prettier, eslint

refactor: migrate all pages to use common useSupplierFilter hook
  frontend/src/features/inbound-plans/components/InboundPlansList.tsx
  frontend/src/features/inbound-plans/pages/InboundPlansListPage.tsx
  frontend/src/features/inventory/components/IntakeHistoryTab.tsx
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/orders/components/OrdersFilters.tsx
  frontend/src/features/orders/hooks/useOrdersListLogic.ts
  frontend/src/features/orders/pages/OrdersListPage.tsx
  frontend/src/features/uom-conversions/hooks/useUomConversionsPageState.ts
  frontend/src/features/withdrawals/hooks/useWithdrawalFormState.ts
Due: prettier, eslint

feat: add supplier assignment warning to ExcelViewPage
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
Due: prettier, eslint

feat: add supplier filter to ExcelPortalPage
  frontend/src/features/inventory/pages/ExcelPortalPage.tsx
Due: prettier, eslint

feat: 担当仕入先フィルタ統合コンポーネント化と不具合修正 (最終)
  docs/project/supplier-filter-auto-enable-issue.md
  docs/project/supplier-filter-set-implementation-plan.md
  frontend/src/features/assignments/components/MySupplierAssignmentDialog.tsx
  frontend/src/features/assignments/components/SupplierAssignmentWarning.tsx
  frontend/src/features/assignments/components/SupplierFilterSet.tsx
  frontend/src/features/assignments/components/index.ts
  frontend/src/features/assignments/hooks/useSupplierFilter.ts
  frontend/src/features/inbound-plans/pages/InboundPlansListPage.tsx
  frontend/src/features/inventory/components/IntakeHistoryTab.tsx
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/pages/ExcelPortalPage.tsx
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/orders/pages/OrdersListPage.tsx
  frontend/src/features/uom-conversions/pages/UomConversionsPage.tsx
  frontend/src/features/withdrawals/pages/WithdrawalsListPage.tsx
Due: prettier, eslint

feat(assignments): remove primary user concept and rename related components/routes
  frontend/src/MainRoutes.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/assignments/components/AddAssignmentDialog.tsx
  frontend/src/features/assignments/components/PrimaryBadge.tsx
  frontend/src/features/assignments/components/SupplierAssignmentEditDialog.tsx
  frontend/src/features/assignments/components/SupplierAssignmentSummary.tsx
  frontend/src/features/assignments/components/SupplierAssignmentTable.tsx
  frontend/src/features/assignments/components/UserSupplierAssignmentDialog.tsx
  frontend/src/features/assignments/components/UserSupplierAssignmentList.tsx
  frontend/src/features/assignments/components/index.ts
  frontend/src/features/assignments/hooks/index.ts
  frontend/src/features/assignments/hooks/useAssignments.ts
  frontend/src/features/assignments/hooks/useMySuppliers.ts
  frontend/src/features/assignments/hooks/useSupplierAssignmentsList.ts
  frontend/src/features/assignments/hooks/useSupplierFilter.ts
  frontend/src/features/assignments/pages/SupplierAssignmentsPage.tsx
  frontend/src/features/assignments/types.ts
  frontend/src/features/inventory/components/IntakeHistoryTab.tsx
  frontend/src/features/inventory/hooks/useLotColumns.tsx
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/masters/pages/MastersPage.tsx
  frontend/src/features/uom-conversions/hooks/useUomConversionsPageState.ts
  frontend/src/features/withdrawals/hooks/useWithdrawalFormState.ts
Due: prettier, eslint

fix: 担当割り当てのバグ修正と主担当概念の廃止 (v2)
  backend/app/application/services/assignments/assignment_service.py
  backend/app/presentation/api/routes/assignments/assignment_router.py
  backend/app/presentation/api/routes/masters/status_router.py
  backend/app/presentation/api/routes/orders/orders_router.py
  frontend/src/features/assignments/components/MySupplierAssignmentDialog.tsx
  frontend/src/features/assignments/components/SupplierAssignmentEditDialog.tsx
  frontend/src/features/assignments/hooks/useAssignments.ts
  frontend/src/features/assignments/hooks/useMySuppliers.ts
  frontend/src/features/assignments/hooks/useSupplierAssignmentsList.ts
  frontend/src/features/assignments/hooks/useSupplierFilter.ts
  frontend/src/features/assignments/pages/SupplierAssignmentsPage.tsx
  frontend/src/features/auth/permissions/config.ts
  frontend/src/features/inventory/components/InventoryBySupplierTable.tsx
  frontend/src/features/inventory/pages/AdhocLotCreatePage.tsx
  frontend/src/features/masters/hooks/useMasterStatus.ts
  frontend/src/features/masters/pages/MastersPage.tsx
  frontend/src/features/orders/api.ts
  frontend/src/shared/api/assignments.ts
  frontend/src/shared/hooks/useAssignments.ts
Due: prettier, eslint, mypy

Add route permission validation test
  backend/app/presentation/api/routes/admin/admin_router.py
  backend/app/presentation/api/routes/system/system_router.py
  frontend/src/contexts/SystemSettingsContext.tsx
  frontend/src/features/admin/components/PageVisibilityEditor.tsx
  frontend/src/features/auth/permissions/validate-routes.test.ts
  frontend/src/features/auth/permissions/validate-routes.ts
Due: prettier, eslint, mypy

fix: Rename prioritize_primary to prioritize_assigned and resolve type errors
  backend/app/application/services/inventory/inbound_service.py
  backend/app/application/services/inventory/inventory_service.py
  backend/app/application/services/inventory/label_service.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/orders/order_service.py
  backend/app/presentation/api/routes/assignments/assignment_router.py
  backend/app/presentation/api/routes/inventory/inbound_plans_router.py
  backend/app/presentation/api/routes/inventory/lots_router.py
  backend/app/presentation/api/routes/orders/orders_router.py
  backend/app/presentation/api/v2/inventory/router.py
  backend/app/presentation/api/v2/lot/router.py
  backend/app/presentation/schemas/inventory/inbound_schema.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/openapi.json
  backend/tests/api/v2/test_priority_sorting.py
  frontend/src/factories/lot-factory.ts
  frontend/src/features/assignments/hooks/useMySuppliers.ts
  frontend/src/features/inbound-plans/components/InboundPlansList.tsx
  frontend/src/features/inbound-plans/pages/InboundPlansListPage.tsx
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/components/InventoryTableColumns.tsx
  frontend/src/features/inventory/hooks/useFilterOptions.ts
  frontend/src/features/inventory/hooks/useInventoryPageState.ts
  frontend/src/features/inventory/pages/InventoryPage.tsx
  frontend/src/features/inventory/state.ts
  frontend/src/features/orders/api.ts
  frontend/src/shared/libs/normalize.ts
  frontend/src/shared/types/aliases.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

feat: マスタ機能の表示制御を細分化し、継承ロジックを改善
  frontend/src/MainRoutes.tsx
  frontend/src/config/feature-config.ts
  frontend/src/contexts/SystemSettingsContext.tsx
  frontend/src/features/admin/components/PageVisibilityEditor.tsx
Due: prettier, eslint

Normalize page-visibility (backend+frontend) and add RBAC route-permission validation test (#518)
  backend/app/presentation/api/routes/admin/admin_router.py
  backend/app/presentation/api/routes/system/system_router.py
  frontend/src/MainRoutes.tsx
  frontend/src/config/feature-config.ts
  frontend/src/contexts/SystemSettingsContext.tsx
  frontend/src/features/admin/components/PageVisibilityEditor.tsx
  frontend/src/features/auth/permissions/validate-routes.test.ts
  frontend/src/features/auth/permissions/validate-routes.ts
Due: prettier, eslint, mypy

fix: Navigation bug and Mypy consistency error
  backend/app/presentation/api/routes/system/system_router.py
  frontend/src/MainRoutes.tsx
Due: prettier, eslint, mypy

fix: 仕入先担当管理のアクセス制限修正と新規ユーザーへのデフォルトロール付与
  backend/app/application/services/auth/user_service.py
  frontend/e2e/specs/regression/access-control.spec.ts
  frontend/src/features/auth/permissions/config.ts
Due: prettier, eslint, mypy

fix: Add null safety checks in AccessGuard for allowedRoles
  frontend/src/components/auth/AccessGuard.tsx
Due: prettier, eslint

Remove OCR table second row collapse/toggle functionality completely
  frontend/src/features/ocr-results/components/OcrResultsTable.tsx
  frontend/src/features/ocr-results/pages/OcrResultEditModal.tsx
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
Due: prettier, eslint

Revert to db0beca9: Remove collapse functionality and show full text
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/features/ocr-results/pages/useOcrColumns.tsx
Due: prettier, eslint

Separate lot/inbound/quantity into individual columns and fix text alignment
  frontend/src/features/ocr-results/pages/useOcrColumns.tsx
Due: prettier, eslint

Improve OCR table visual spacing and consistency
  frontend/src/features/ocr-results/components/OcrResultsTable.tsx
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/features/ocr-results/pages/useOcrColumns.tsx
  frontend/src/shared/components/data/DataTable.tsx
Due: prettier, eslint

Reduce row height and optimize column widths for better density
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/features/ocr-results/pages/useOcrColumns.tsx
Due: prettier, eslint

Further reduce width for 4-digit columns (quantity, jiku, delivery)
  frontend/src/features/ocr-results/pages/useOcrColumns.tsx
Due: prettier, eslint

feat(ocr): UI背景色の統一、レイアウトの分離、および入力リセットバグの修正
  docs/project/BACKLOG.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/tooltip.tsx
  frontend/src/features/ocr-results/components/ActionButtons.tsx
  frontend/src/features/ocr-results/components/FilterCard.tsx
  frontend/src/features/ocr-results/components/OcrResultsTable.tsx
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/features/ocr-results/pages/useOcrColumns.tsx
  frontend/src/shared/components/data/DataTable.tsx
Due: prettier, eslint

Improve OCR table UI: empty cell frames, lighter borders, readable text wrapping
  frontend/src/features/ocr-results/components/OcrResultsTable.tsx
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/features/ocr-results/pages/useOcrColumns.tsx
  frontend/src/shared/components/data/DataTable.tsx
Due: prettier, eslint

Inline Excel-like cell editing for OCR results and lighter table UI (#517)
  docs/project/BACKLOG.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/tooltip.tsx
  frontend/src/features/ocr-results/components/ActionButtons.tsx
  frontend/src/features/ocr-results/components/FilterCard.tsx
  frontend/src/features/ocr-results/components/OcrResultsTable.tsx
  frontend/src/features/ocr-results/pages/OcrResultEditModal.tsx
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/features/ocr-results/pages/useOcrColumns.tsx
  frontend/src/index.css
  frontend/src/shared/components/data/DataTable.tsx
Due: prettier, eslint

fix: テスト不整合の修正 (InventoryService引数名) とフロントエンドルート定義の同期
  backend/tests/services/test_inventory_service_primary_staff.py
  frontend/src/features/auth/permissions/config.ts
  frontend/src/features/auth/permissions/validate-routes.test.ts
Due: prettier, eslint, mypy

fix(frontend): config.ts のルート定義を詳細化してテストをパスさせる
  frontend/src/features/auth/permissions/config.ts
Due: prettier, eslint

fix(e2e): ログインUIの変更に対応してP0テストを修正
  frontend/e2e/fixtures/api-client.ts
  frontend/e2e/fixtures/login-helper.ts
  frontend/e2e/specs/p0/e2e-01-order-flow.spec.ts
  frontend/e2e/specs/p0/e2e-02-save-persistence.spec.ts
  frontend/e2e/specs/p0/e2e-03-double-submit.spec.ts
  frontend/e2e/specs/p0/e2e-04-permission.spec.ts
  frontend/e2e/specs/p0/e2e-05-list-filter.spec.ts
  frontend/e2e/specs/p0/e2e-06-error-handling.spec.ts
Due: prettier, eslint

fix(e2e): ログインヘルパーのタイミング調整
  frontend/e2e/fixtures/login-helper.ts
Due: prettier, eslint

fix(backend): DBリセット時のデッドロック問題を修正
  backend/app/presentation/api/routes/admin/admin_router.py
Due: mypy

fix(e2e): generateTestDataのタイムアウトを120秒に延長
  frontend/e2e/fixtures/api-client.ts
Due: prettier, eslint

fix(backend): ruff-formatによる自動フォーマット適用
  backend/app/core/database.py
  backend/app/presentation/api/routes/admin/test_data.py
  docker-compose.yml
  docs/project/BACKLOG.md
  frontend/e2e/fixtures/api-client.ts
  frontend/e2e/specs/p0/e2e-04-permission.spec.ts
  permission_test_result.txt
  reset_db_result.txt
  test_reset_db.py
Due: prettier, eslint, mypy

feat(e2e): テストDB分離と一般ユーザー作成の修正
  backend/app/presentation/api/routes/admin/admin_router.py
  frontend/e2e/specs/p0/e2e-01-order-flow.spec.ts
Due: prettier, eslint, mypy

fix(e2e): API権限テストの期待値とURL期待値を修正
  frontend/e2e/specs/p0/e2e-04-permission.spec.ts
Due: prettier, eslint

docs: E2Eテストの残存問題をバックログに追加
  docs/project/BACKLOG.md
Due: none

chore(frontend): 型定義を再生成
  frontend/src/types/api.d.ts
Due: prettier, eslint

fix(e2e): E2Eテスト修正 - テストDB分離と一般ユーザー作成 (#520)
  backend/app/core/database.py
  backend/app/presentation/api/routes/admin/admin_router.py
  backend/app/presentation/api/routes/admin/test_data.py
  backend/tests/services/test_inventory_service_primary_staff.py
  docker-compose.yml
  docs/project/BACKLOG.md
  frontend/e2e/fixtures/api-client.ts
  frontend/e2e/fixtures/login-helper.ts
  frontend/e2e/specs/p0/e2e-01-order-flow.spec.ts
  frontend/e2e/specs/p0/e2e-02-save-persistence.spec.ts
  frontend/e2e/specs/p0/e2e-03-double-submit.spec.ts
  frontend/e2e/specs/p0/e2e-04-permission.spec.ts
  frontend/e2e/specs/p0/e2e-05-list-filter.spec.ts
  frontend/e2e/specs/p0/e2e-06-error-handling.spec.ts
  frontend/src/features/auth/permissions/config.ts
  frontend/src/features/auth/permissions/validate-routes.test.ts
  frontend/src/types/api.d.ts
  permission_test_result.txt
  reset_db_result.txt
  test_reset_db.py
Due: prettier, eslint, mypy

docs: E2E socket hang up エラーの調査レポートを追加
  backend/openapi.json
  docs/investigation/e2e-socket-hang-up-investigation.md
  docs/project/BACKLOG.md
  permission_test_result.txt
  reset_db_result.txt
  test_reset_db.py
Due: none

docs: update backlog with latest e2e test status and known issues (db reset conflict)
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/admin/admin_router.py
  backend/app/presentation/api/routes/dashboard/dashboard_router.py
  docs/project/BACKLOG.md
  frontend/e2e/specs/p0/e2e-02-save-persistence.spec.ts
  frontend/e2e/specs/p0/e2e-04-permission.spec.ts
  frontend/src/services/api.ts
  frontend/src/shared/libs/admin-api.ts
Due: prettier, eslint, mypy

fix(db): use advisory lock instead of terminating backends for reset-database
  backend/app/core/database.py
Due: mypy
