Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

prettier:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
  language: system
  pass_filenames: true

mypy:
  name: Mypy (Backend)
  entry: bash -c 'cd backend && uv run mypy app/' --
  language: system
  pass_filenames: false

openapi-sync:
  name: OpenAPI Schema Sync
  entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
  ...

chore: forecasts_router.py の product_group_id を supplier_item_id に修正
  backend/app/application/services/allocations/group_suggestion.py
  backend/app/application/services/allocations/suggestion.py
  backend/app/application/services/forecasts/forecast_service.py
  backend/app/presentation/api/routes/forecasts/forecasts_router.py
  backend/app/presentation/api/v2/forecast/router.py
Due: mypy

fix(inventory): Excelビューの不具合修正 (得意先品番表示、在庫なし時の404回避)
  backend/app/application/services/inventory/inventory_service.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/application/services/masters/customer_items_service.py
  backend/app/infrastructure/clients/lot_client.py
  backend/app/presentation/api/routes/inventory/lots_router.py
  backend/app/presentation/api/v2/inventory/router.py
  backend/app/presentation/api/v2/lot/router.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/app/presentation/schemas/masters/customer_items_schema.py
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix(schemas): Add validation_alias to accept product_group_id from frontend
  backend/app/presentation/schemas/masters/customer_items_schema.py
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix: Remove product_group_id requirement from customer_items schema
  backend/app/presentation/schemas/masters/customer_items_schema.py
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix: バックエンドスキーマ統一でフロントエンドビルド成功
  backend/app/presentation/schemas/allocations/allocation_suggestions_schema.py
  backend/app/presentation/schemas/allocations/allocations_schema.py
  backend/app/presentation/schemas/masters/masters_schema.py
  backend/app/presentation/schemas/masters/uom_conversions_schema.py
  backend/app/presentation/schemas/masters/warehouse_delivery_routes_schema.py
  backend/app/presentation/schemas/orders/orders_schema.py
  backend/openapi.json
  frontend/src/features/forecasts/components/ForecastDetailCard/OrderAllocationInline.tsx
  frontend/src/features/forecasts/components/ForecastDetailCard/PlanningAllocationPanel.tsx
  frontend/src/features/forecasts/components/ForecastDetailCard/useWarehouseData.ts
  frontend/src/features/forecasts/hooks/useForecastMutations.ts
  frontend/src/features/forecasts/hooks/useOrdersForForecast.ts
  frontend/src/features/orders/api.ts
  frontend/src/features/orders/hooks/allocationCalculations.test.ts
  frontend/src/features/orders/hooks/useOrderLineAllocation.ts
  frontend/src/features/orders/hooks/useOrderLineComputed.test.ts
  frontend/src/features/orders/hooks/useOrderLineComputed.ts
  frontend/src/features/orders/hooks/useOrders.test.tsx
  frontend/src/features/warehouse-delivery-routes/api.ts
  frontend/src/features/warehouse-delivery-routes/components/WarehouseDeliveryRouteForm.tsx
  frontend/src/features/warehouse-delivery-routes/pages/columns.tsx
  frontend/src/shared/libs/normalize.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix(schemas): Add serialization_alias to CustomerItem.supplier_item_id
  backend/app/presentation/schemas/masters/customer_items_schema.py
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

chore: allocations_router.py および auto.py の引当呼び出しを supplier_item_id に修正
  backend/app/application/services/allocations/auto.py
  backend/app/application/services/allocations/candidate_service.py
  backend/app/application/services/allocations/fefo.py
  backend/app/application/services/allocations/suggestion_base.py
  backend/app/application/services/inventory/lot_service.py
  backend/app/infrastructure/persistence/repositories/lot_repository.py
  backend/app/presentation/api/routes/allocations/allocations_router.py
Due: mypy

docs: Add Gemini handoff document for Phase1 backend migration
  docs/project/HANDOFF_TO_GEMINI.md
Due: none

docs: add Phase1 cleanup verification report
  docs/project/PHASE1_VERIFICATION_REPORT.md
Due: none

wip: rename product_group_id to supplier_item_id in frontend (Phase1)
  frontend/src/features/allocations/api.ts
  frontend/src/features/allocations/components/allocation-list/line-based/helpers.ts
  frontend/src/features/allocations/components/lots/AllocationRowContainer.tsx
  frontend/src/features/allocations/components/lots/LotAllocationPanel.tsx
  frontend/src/features/allocations/components/lots/hooks/useForecastData.ts
  frontend/src/features/allocations/components/orders/OrderAndLineListPane.tsx
  frontend/src/features/allocations/components/orders/OrderLinesPaneView.tsx
  frontend/src/features/allocations/hooks/api/useAllocationCandidates.ts
  frontend/src/features/allocations/hooks/api/useAllocationSuggestions.ts
  frontend/src/features/allocations/hooks/state/useAllocations.ts
  frontend/src/features/allocations/hooks/state/useAutoSelection.ts
  frontend/src/features/allocations/hooks/useAllocationSaver.ts
  frontend/src/features/allocations/hooks/useAutoAllocateHandler.test.ts
  frontend/src/features/allocations/hooks/useAutoAllocateHandler.ts
  frontend/src/features/allocations/hooks/useCandidateLotFetcher.ts
  frontend/src/features/allocations/hooks/useChangeAllocationHandler.ts
  frontend/src/features/allocations/hooks/useLotAllocation.test.tsx
  frontend/src/features/allocations/hooks/useLotAllocationLogic.ts
  frontend/src/features/allocations/store/allocation-context.ts
  frontend/src/features/allocations/utils/allocationCalculations.test.ts
  frontend/src/features/allocations/utils/priority.ts
  frontend/src/features/dashboard/components/TopProductsChart.tsx
  frontend/src/features/forecasts/api.ts
  frontend/src/features/inbound-plans/api.ts
  frontend/src/features/intake-history/api.ts
  frontend/src/features/inventory/api.ts
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
  frontend/src/features/inventory/state.ts
  frontend/src/features/inventory/utils/filterCandidates.test.ts
  frontend/src/features/inventory/utils/filterCandidates.ts
  frontend/src/features/inventory/utils/groupLots.ts
  frontend/src/features/uom-conversions/api.ts
  frontend/src/features/uom-conversions/components/UomConversionForm.tsx
  frontend/src/features/uom-conversions/hooks/useUomConversionsPageState.ts
  frontend/src/features/warehouse-delivery-routes/api.ts
  frontend/src/features/warehouse-delivery-routes/components/WarehouseDeliveryRouteForm.tsx
  frontend/src/features/warehouse-delivery-routes/pages/columns.tsx
  frontend/src/features/withdrawals/api.ts
  frontend/src/mocks/handlers/lot-handlers.ts
  frontend/src/types/api.d.ts
Due: prettier, eslint

fix: remove trailing slash from assignments POST endpoint
  frontend/src/shared/api/assignments.ts
Due: prettier, eslint

docs: Add Gemini prompt for backend P1 migration
  PROMPT_FOR_GEMINI.md
Due: none

chore: 引当および予測関連の product_group_id を supplier_item_id に置換 (Phase 1)
  backend/app/application/services/allocations/auto.py
  backend/app/application/services/allocations/fefo.py
  backend/app/application/services/allocations/schemas.py
  backend/app/application/services/allocations/search.py
  backend/app/application/services/allocations/suggestion.py
  backend/app/application/services/allocations/suggestion_base.py
  backend/app/application/services/forecasts/forecast_service.py
  backend/app/presentation/api/routes/allocations/allocations_router.py
  backend/app/presentation/api/v2/allocation/router.py
  backend/app/presentation/schemas/allocations/allocation_suggestions_schema.py
  backend/app/presentation/schemas/allocations/allocations_schema.py
  backend/app/presentation/schemas/forecasts/forecast_schema.py
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

fix: WarehouseDeliveryRouteのAPIにおける product_group 参照を supplier_item に修正 (ruff対応)
  backend/app/presentation/api/routes/masters/warehouse_delivery_routes_router.py
  backend/scripts/verify_warehouse_routes.py
Due: mypy

fix: Forecast Suggestions APIでproduct_group_idを受け入れ可能に修正 (ruff対応)
  backend/app/presentation/api/v2/forecast/router.py
Due: mypy

feat: Add view diagnostics with diff comparison in admin UI
  backend/app/presentation/api/routes/admin/admin_router.py
  frontend/src/features/admin/pages/SystemSettingsPage.tsx
Due: prettier, eslint, mypy

docs: Add Phase1 root cause fix documentation for Gemini
  GEMINI_TASK.md
  docs/project/PHASE1_ROOT_CAUSE_FIX.md
Due: none

feat: Add production hotfix script in backend directory
  backend/fix_phase1_production.py
Due: mypy

docs: Add production hotfix guide for Phase1 issues
  HOTFIX_PHASE1.md
  scripts/fix_view_direct.py
Due: none

feat: Add admin UI for Phase1 view diagnostics and fix
  backend/PHASE1_VIEW_FIX_GUIDE.md
  backend/app/presentation/api/routes/admin/admin_router.py
  frontend/src/features/admin/pages/SystemSettingsPage.tsx
Due: prettier, eslint, mypy

feat(scripts): Add Phase1 view fix script for all environments
  fix_view_production.sql
  scripts/fix_phase1_views.sh
Due: none

fix: Frontend key duplication error and supplier_item_id transition (prettier対応)
  frontend/src/features/inventory/pages/ExcelPortalPage.tsx
Due: prettier, eslint

feat: Add build/deploy commands to Makefile
  Makefile
  README.md
Due: none

feat: complete phase 1 migration and fix post-migration issues
  backend/PRODUCTION_VIEW_FIX.md
  backend/VIEW_FIX_README.md
  backend/alembic/versions/7556ff2f06c0_merge_phase1_branches.py
  backend/alembic/versions/fe5ee626e71c_fix_view_aliases_phase1.py
  backend/alembic/versions/phase1_complete_migration.py
  backend/app/presentation/schemas/inventory/inventory_schema.py
  backend/app/presentation/schemas/masters/customer_items_schema.py
  backend/check_and_fix_view.py
  backend/dump_view_definition.py
  backend/fix_view_direct.sql
  backend/openapi.json
  backend/table_data_sample.sql
  backend/table_schemas.sql
  backend/verify_view_fix.py
  backend/view_definition.sql
  docs/project/PHASE1_IMPACT_ANALYSIS.md
  docs/project/PHASE1_IMPLEMENTATION_PLAN.md
  frontend/src/features/inventory/components/InventoryTable.tsx
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy, openapi-sync

docs: Move completed task 1-0 (Docker unified dev) to ARCHIVE.md
  docs/project/ARCHIVE.md
  docs/project/BACKLOG.md
Due: none

fix: Add UTF-8 encoding fix for Windows
  backend/fix_phase1_production.py
Due: mypy

fix: Frontend fix for Excel View URL and Backend compatibility update (prettier対応)
  frontend/src/features/customer-items/api.ts
  frontend/src/features/inventory/pages/ExcelPortalPage.tsx
  scripts/fix_phase1_views_test.py
Due: prettier, eslint

feat: ビルド高速化とスキーマ診断機能の拡張
  backend/app/presentation/api/routes/admin/admin_router.py
  frontend/src/features/admin/pages/SystemSettingsPage.tsx
  frontend/src/features/admin/types.ts
  scripts/build_deploy_package.py
Due: prettier, eslint, mypy

feat(scripts): Add cross-platform Python version of Phase1 view fix
  scripts/fix_phase1_views.py
Due: none

feat: Docker統一開発環境の整備 (#526)
  CLAUDE.md
  Makefile
  README.md
  backend/openapi.json
  frontend/Dockerfile
  frontend/package.json
  frontend/src/types/api.d.ts
Due: prettier, eslint

fix: Phase1完了後環境でのビュー修正スクリプトを更新
  scripts/fix_phase1_views.py
Due: none

fix: OpenAPI型定義を再生成
  frontend/src/types/api.d.ts
Due: prettier, eslint

docs: 完了済みE2EテストタスクをARCHIVE.mdに移動
  docs/project/ARCHIVE.md
  docs/project/BACKLOG.md
Due: none

docs: 認証・認可システムの再設計提案をバックログに追加
  docs/project/BACKLOG.md
  docs/project/authentication-and-authorization-redesign.md
Due: none

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  mypy: any of: ^backend/ and \.py$
  openapi-sync: any of: ^backend/app/presentation/schemas/.*\.py$
