Repository cybons-lab/Lot-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, mypy, openapi-sync

prettier:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npx eslint --fix "${@#frontend/}"' --
  language: system
  pass_filenames: true

mypy:
  name: Mypy (Backend)
  entry: bash -c 'cd backend && uv run mypy app/' --
  language: system
  pass_filenames: false

openapi-sync:
  name: OpenAPI Schema Sync
  entry: bash -c 'cd backend && uv sync --no-dev -q && PYTHONPATH=. uv run python scripts/export_openapi.py >/dev/null 2>&1 && cd ../frontend && npm run typegen >/dev/null 2>&1 && cd .. && git add backend/openapi.json frontend/src/types/api.d.ts && cd backend && uv sync -q'
  ...

docs: 認証・認可システム再設計の実装ガイドを追加
  docs/project/authentication-authorization-implementation-guide.md
Due: none

docs: BACKLOGに最優先タスク2件を追加
  docs/fastapi_vite_test_deploy_design.md
  docs/project/BACKLOG.md
Due: none

docs: SmartRead CSVフォーマット調査レポートを追加
  docs/smartread_csv_validation_report.md
Due: none

feat: Windowsデプロイ用スクリプトの実装とSmartRead調査レポートの追加
  scripts/deploy/windows/DEPLOY_GUIDE_WINDOWS.md
  scripts/deploy/windows/config.json.template
  scripts/deploy/windows/restart_server.bat
  scripts/deploy/windows/start_server.bat
  scripts/deploy/windows/start_server.py
  scripts/deploy/windows/stop_server.bat
  scripts/deploy/windows/stop_server.py
Due: none

feat: デプロイページへのアクセス許可設定を修正し、ナビゲーションを追加
  backend/app/core/config.py
  backend/app/main.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/admin/__init__.py
  backend/app/presentation/api/routes/admin/deploy_router.py
  docs/fastapi_vite_full_design.md
  frontend/src/MainRoutes.tsx
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/config/feature-config.ts
  frontend/src/constants/routes.ts
  frontend/src/features/admin/api/deploy.ts
  frontend/src/features/admin/pages/AdminPage.tsx
  frontend/src/features/admin/pages/DeployPage.tsx
  frontend/src/features/auth/permissions/config.ts
  frontend/src/utils/errors/index.ts
  scripts/build_deploy_package.py
  scripts/deploy/windows/config.json
  scripts/deploy/windows/restart_server.bat
  scripts/deploy/windows/start_server.bat
  scripts/deploy/windows/start_server.py
  scripts/deploy/windows/stop_server.bat
  scripts/deploy/windows/stop_server.py
Due: prettier, eslint, mypy

docs: SmartRead CSVバリデーション調査結果の反映とバックログ追加
  docs/project/BACKLOG.md
  docs/smartread_csv_validation_report.md
Due: none

fix: 複数のバックエンドテスト失敗（認証、在庫フィルター、RPAセッション同期、マスタ初期化不整合）を修正
  Makefile
  backend/app/application/services/allocations/confirm.py
  backend/app/application/services/inventory/inventory_service.py
  backend/app/infrastructure/persistence/repositories/rpa_repository.py
  backend/tests/api/test_allocations.py
  backend/tests/api/test_masters_permanent_delete_auth.py
  backend/tests/conftest.py
  backend/tests/test_allocations_refactored.py
Due: mypy

chore: 最新のAPIスキーマに合わせて型定義を更新
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint

fix: 複数のバックエンドテスト失敗（認証、在庫フィルター、RPAセッション同期、マスタ初期化不整合）を修正 (#529)
  Makefile
  backend/app/application/services/allocations/confirm.py
  backend/app/application/services/inventory/inventory_service.py
  backend/app/core/config.py
  backend/app/infrastructure/persistence/repositories/rpa_repository.py
  backend/app/main.py
  backend/app/presentation/api/routes/__init__.py
  backend/app/presentation/api/routes/admin/__init__.py
  backend/app/presentation/api/routes/admin/deploy_router.py
  backend/openapi.json
  backend/tests/api/test_allocations.py
  backend/tests/api/test_masters_permanent_delete_auth.py
  backend/tests/conftest.py
  backend/tests/test_allocations_refactored.py
  docs/fastapi_vite_full_design.md
  docs/fastapi_vite_test_deploy_design.md
  docs/project/ARCHIVE.md
  docs/project/BACKLOG.md
  docs/project/authentication-and-authorization-redesign.md
  docs/project/authentication-authorization-implementation-guide.md
  docs/smartread_csv_validation_report.md
  frontend/src/MainRoutes.tsx
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/config/feature-config.ts
  frontend/src/constants/routes.ts
  frontend/src/features/admin/api/deploy.ts
  frontend/src/features/admin/pages/AdminPage.tsx
  frontend/src/features/admin/pages/DeployPage.tsx
  frontend/src/features/auth/permissions/config.ts
  frontend/src/types/api.d.ts
  frontend/src/utils/errors/index.ts
  scripts/build_deploy_package.py
  scripts/deploy/windows/DEPLOY_GUIDE_WINDOWS.md
  scripts/deploy/windows/config.json
  scripts/deploy/windows/config.json.template
  scripts/deploy/windows/restart_server.bat
  scripts/deploy/windows/start_server.bat
  scripts/deploy/windows/start_server.py
  scripts/deploy/windows/stop_server.bat
  scripts/deploy/windows/stop_server.py
Due: prettier, eslint, mypy

Add allocations and inventory review document
  docs/project/reviews/20250204_allocations_inventory_review.md
Due: none

Harden deploy zip extraction validation
  backend/app/presentation/api/routes/admin/deploy_router.py
Due: mypy

Add confirm.py review document
  docs/project/reviews/20250204_confirm_review.md
Due: none

Harden deploy zip extraction validation (#531)
  backend/app/presentation/api/routes/admin/deploy_router.py
Due: mypy

docs: Remove redundant auth redesign doc, keep implementation guide
  docs/project/authentication-and-authorization-redesign.md
Due: none

feat(auth): Implement Phase 1 - Backend auth redesign with require_role/require_write_permission
  backend/app/presentation/api/routes/auth/auth_router.py
  backend/app/presentation/api/routes/dashboard/dashboard_router.py
  backend/app/presentation/api/routes/inventory/lots_router.py
  backend/app/presentation/api/routes/orders/orders_router.py
Due: mypy

feat(auth): Implement Phase 2 - Frontend guest auto-login and GUEST_PERMISSIONS
  frontend/src/components/auth/AccessGuard.tsx
  frontend/src/features/auth/AuthContext.tsx
  frontend/src/features/auth/pages/ForbiddenPage.tsx
  frontend/src/features/auth/permissions/guest-permissions.ts
Due: prettier, eslint

feat(auth): Remove guest column from system settings UI
  frontend/src/features/admin/components/PageVisibilityEditor.tsx
  frontend/src/features/admin/pages/SystemSettingsPage.tsx
  frontend/src/types/system.ts
Due: prettier, eslint

fix(auth): Fix guest-login query to properly filter by guest role
  backend/app/presentation/api/routes/auth/auth_router.py
Due: mypy

feat(migration): Add guest user and role creation migration
  backend/alembic/versions/8af504933821_add_guest_user_and_role.py
Due: mypy

feat(auth): Add system user protection to prevent deletion of guest/admin
  backend/alembic/versions/8af504933821_add_guest_user_and_role.py
  backend/alembic/versions/b20a425f473c_add_is_system_user_flag.py
  backend/app/infrastructure/persistence/models/auth_models.py
  backend/app/presentation/api/routes/admin/users_router.py
Due: mypy

fix: ログイン画面での自動ゲストログイン抑制とデプロイドキュメント改善
  frontend/src/features/auth/AuthContext.tsx
  scripts/build_deploy_package.py
Due: prettier, eslint

fix: ゲストユーザーのログインページリダイレクトとメニュー表示を修正
  frontend/src/components/layouts/GlobalNavigation.tsx
  frontend/src/features/auth/pages/LoginPage.tsx
Due: prettier, eslint

feat: DB初期化時にテスト用一般ユーザーを自動作成
  backend/alembic/versions/a4b7d88246db_add_test_regular_user.py
Due: mypy

refactor: システムユーザー初期化をマイグレーションからSQLスクリプトに移行
  backend/alembic/versions/a4b7d88246db_add_test_regular_user.py
  backend/scripts/init_db.py
  backend/sql/init_system_users.sql
Due: mypy

chore: Regenerate OpenAPI types
  backend/openapi.json
  frontend/src/types/api.d.ts
Due: prettier, eslint

chore: pre-commitフックでルーター変更時もOpenAPI型を自動生成
  .pre-commit-config.yaml
Due: none

fix: コードレビュー指摘事項の修正
  backend/alembic/versions/8af504933821_add_guest_user_and_role.py
  backend/app/presentation/api/routes/orders/orders_router.py
  frontend/src/types/api.d.ts
Due: prettier, eslint, mypy

fix: ゲストユーザーのメニュー表示制御を修正し、入荷予定メニューを非表示化
  frontend/src/components/layouts/GlobalNavigation.tsx
Due: prettier, eslint

docs: Phase 1-4 実装計画を改善
  docs/project/PHASE1-4_IMPLEMENTATION_PLAN.md
Due: none

fix: スキーマ整合性チェックを実際のDB構造に合わせて修正
  backend/app/presentation/api/routes/admin/admin_router.py
Due: mypy

feat: OCR結果ページの置換ロジック修正とエクスポート同期の強化
  backend/app/presentation/api/routes/ocr_results_router.py
  docs/project/shipping_text_replacement_spec.md
  frontend/src/features/ocr-results/hooks/useOcrRowInputs.ts
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/features/ocr-results/utils/ocr-utils.ts
Due: prettier, eslint, mypy

fix: 納期クリア時の連動不備およびエクスポート時の空欄保持ロジックの修正
  backend/app/presentation/api/routes/ocr_results_router.py
  frontend/src/features/ocr-results/hooks/useOcrRowInputs.ts
Due: prettier, eslint, mypy

fix: 循環依存の解消とユーザークリア時の計算値フォールバック削除
  frontend/src/features/ocr-results/components/OcrResultsTable.tsx
  frontend/src/features/ocr-results/hooks/useOcrEditPersistence.ts
  frontend/src/features/ocr-results/hooks/useOcrRowInputs.ts
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/features/ocr-results/utils/ocr-utils.ts
Due: prettier, eslint

fix: OCR結果ページの置換ロジック修正とエクスポート同期の強化 (#533)
  backend/app/presentation/api/routes/admin/admin_router.py
  backend/app/presentation/api/routes/ocr_results_router.py
  docs/project/PHASE1-4_IMPLEMENTATION_PLAN.md
  docs/project/shipping_text_replacement_spec.md
  frontend/src/features/ocr-results/components/OcrResultsTable.tsx
  frontend/src/features/ocr-results/hooks/useOcrEditPersistence.ts
  frontend/src/features/ocr-results/hooks/useOcrRowInputs.ts
  frontend/src/features/ocr-results/pages/OcrResultsTableCells.tsx
  frontend/src/features/ocr-results/utils/ocr-utils.ts
Due: prettier, eslint, mypy

feat: ExcelViewの緊急修正（TMPロット非表示 & 倉庫選択削除）
  frontend/src/MainRoutes.tsx
  frontend/src/constants/routes.ts
  frontend/src/features/auth/permissions/validate-routes.test.ts
  frontend/src/features/inventory/components/excel-view/ExcelViewPage.tsx
  frontend/src/features/inventory/components/excel-view/LotSection.tsx
  frontend/src/features/inventory/components/excel-view/subcomponents/LotInfoGroups.tsx
  frontend/src/features/inventory/components/excel-view/types.ts
  frontend/src/features/inventory/components/excel-view/useExcelViewData.ts
  frontend/src/features/inventory/pages/ExcelPortalPage.tsx
Due: prettier, eslint

fix: 新規ロット追加後の画面更新問題を修正
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
Due: prettier, eslint

fix: キャッシュ無効化を確実に完了させてからダイアログを閉じる
  frontend/src/features/inventory/components/QuickLotIntakeDialog.tsx
Due: prettier, eslint

feat: Excel View フェーズ1完了（視覚的改善とタイムゾーン修正）
  docs/project/EXCEL_VIEW_NEXT_STEPS.md
  frontend/src/features/inventory/components/InboundPlanTable.tsx
  frontend/src/features/inventory/components/InventoryTableComponents.tsx
  frontend/src/features/inventory/hooks/useLotColumns.tsx
  frontend/src/features/inventory/utils/lot-columns.tsx
  frontend/src/shared/components/data/StatusBadge.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  mypy: any of: ^backend/ and \.py$
  openapi-sync: any of: ^backend/app/presentation/schemas/.*\.py$
